[2021-10-14 14:43] #279 closed, assigned to nobody

[2021-10-19 13:48] Tornaco commented on #330
@kaniwow Are you OK?

[2021-10-19 14:16] Tornaco commented on #304
@Hidarihitomi  Toast 图标的问题可以试试把目标app的lsp作用域也勾选上。

[2021-10-20 08:17] aboutZZ commented on #275
+1
每次都要强制关机

[2021-10-20 09:29] Tornaco commented on #275
乖巧模式里加了哪些app呢。。

[2021-10-20 09:34] Tornaco commented on #335
我也是miui12.5 自己测试是没问题的。
你可以把data/system/thanos
日志发出来看看。

[2021-10-20 09:36] Tornaco commented on #334
有必要后面安排个插件。

[2021-10-20 09:42] caliban511 commented on #335
感谢回复，请大佬有空看看：
[thanox-init.log](https://github.com/Tornaco/Thanox/files/7380069/thanox-init.log)
[thanox-core.log](https://github.com/Tornaco/Thanox/files/7380070/thanox-core.log)

[2021-10-20 13:32] PuerNya commented on #330
works fine

[2021-10-21 08:10] asky88 opened #338 "微信代收-群通知相关建议"
**Is your feature request related to a problem? Please describe.**
微信代收插件不能显示@所有人的信息详情，只显示“微信收到新通知”，但“小程序服务通知”“登录微信电脑端”等通知也使用这个描述，让人难以分辨是被发广告了，还是有群通知

**Describe the solution you'd like**
有没有条件可以显示@所有人的消息详情，或者单独将群通知描述为：收到群通知

[2021-10-21 15:47] lancehub opened #339 "图标包在智能冻结页面不生效"
在 设置- 外观 - 图标包 内选择一个图标包后，Thanox 智能冻结页面仍然显示软件自带的图标，其他界面均能正常显示出图标包内的图标。清除软件缓存无效。版本 3.0-beta1-prc。2.5 版本也有此问题。

[2021-10-22 04:04] SukiEva opened #340 "尽力省电自定义"
**Is your feature request related to a problem? Please describe.**
目前尽力省电开启后会直接关闭后台启动记录、权限访问记录和隐匿记录，而不开启的话，后台启动记录写入过多会导致打开后应用卡死。

**Describe the solution you'd like**
希望可以自定义尽力省电内容，可以自由开关上述3个记录，另外希望提供只记录后台启动阻止选项，而不记录允许（允许太多了）🥰

**Describe alternatives you've considered**
Nope

**Additional context**
Nope

[2021-10-23 13:05] marklezhao opened #341 "3.0b1错误显示测试版图标"
**Describe the bug（现象描述）**
A clear and concise description of what the 主界面中测试版图标还在，功能是完整版的功能

**To Reproduce**（如何复现）
点进去就能看到

**Screenshots**（截图）
![98E52024-DA8E-4EC7-B506-E15A89AF4245](https://user-images.githubusercontent.com/60564677/138557335-212134ba-cc05-4c13-8973-8604360d104a.jpeg)

**Version（发现问题的版本）:**
 - OS: Android 11
 - Version: 3.0beta1 (GitHub下载)
 - LSPosed: 1.6.2 ，没用(过)magisk模块

**A

[2021-10-24 14:05] PuerNya opened #343 "请求支持 Zygisk API"
最新释出的 Magisk Canary 提供了 Zygisk API 并且禁止在 Zygisk 开启的同时使用 Riru 这让很多 Riru 模组赖以生存的环境变得不是那么良好，所以吞拿考虑一下提供 Zygisk 版本不？

[2021-10-24 15:32] SukiEva commented on #343
不如坐等rikka适配zygisk🐱

[2021-10-24 15:33] PuerNya commented on #343
你好，两个干的是同一件事而且 Riru 加载时机比 Zygisk API 提供的早，谢谢

[2021-10-27 08:34] H3nryM4 opened #344 "功能建议：乖巧模式规则分类与备注"
按照应用对规则进行分类 或按照字母排序。
并且可以针对单条规则添加备注。

[2021-10-27 08:39] H3nryM4 commented on #344
分类功能实现困难的话也可以在规则前面添加个应用图标以表明规则对应的应用。

[2021-10-27 10:41] GSWXXN opened #345 "开启 后台运行-显示通知，设备软重启"
复现步骤
1. 清理某应用后台
2. 对该应用取消勾选后台运行，开启显示通知
3. 桌面点击应用图标启动
4. 系统界面短暂卡死后软重启

关闭显示通知后，应用运行正常

Thanox版本: 3.0 beta2

系统版本
小米11 Ultra 开发版 21.10.25
MIUI 12.5
Android 12

[2021-10-27 10:47] GSWXXN commented on #345
日志文件对 115(com.ylmf.androidclient) 执行上述步骤
[log.zip](https://github.com/Tornaco/Thanox/files/7425437/log.zip)

[2021-10-27 12:08] huyuxin95 opened #346 "[Android 12] 系统死机重启"
[code]

麻烦根据开发者文档提示适配Android 12，多谢

https://developer.android.google.cn/about/versions/12/behavior-changes-12?hl=zh-cn#pending-intent-mutability

[2021-10-27 12:53] Tornaco commented on #345
@GSWXXN  Will fix it.

[2021-10-27 12:53] Tornaco commented on #346
@huyuxin95 👍

[2021-10-27 13:30] Tornaco commented on #330
Thanks. then we close this issue.

[2021-10-27 13:32] Tornaco commented on #341
@marklezhao Beta 版本都会显示这个图标（alpha应该也显示，可能是bug了之前的alpha版本都没显示）。

[2021-10-27 13:34] Tornaco commented on #343
周末刷下magisk文档，又来活了。

[2021-10-29 12:33] Tornaco commented on #345
https://github.com/Tornaco/Thanox/releases/tag/v3.0-beta3 @GSWXXN

[2021-10-29 12:33] Tornaco commented on #346
https://github.com/Tornaco/Thanox/releases/tag/v3.0-beta3 @huyuxin95

[2021-10-29 15:33] GSWXXN commented on #345
新版本不会再软重启，但是点击通知详情没有反应![IMG_20211029_233324.jpg](https://user-images.githubusercontent.com/34705923/139462601-042df00d-df6f-4a08-bad6-6cc42017d29f.jpg)

[2021-10-30 12:11] Gokou-Ruri opened #348 "希望程序列表可以在APP名称后面标上APP包名。"
例如女娲石的微信增强包名称也是“微信”，图标也一样，经常会把这俩选错。
或者有些APP的“共存版”名称也和原版相同。
希望可以同时显示包名来精确定位APP。

[2021-10-30 13:18] Gokou-Ruri opened #349 "可否hook NovaLauncher使其支持启动suspend状态的APP？"
或者有没有其它办法能直接在启动器`抽屉`里启动挂起状态的APP？我更喜欢用抽屉而不是桌面图标。
冻结的APP挺多的，生成一大堆代理apk也不太合适。

[2021-10-31 00:41] nonlog opened #350 "刷机再恢复数据后，thanox的功能少了很多"
**Describe the bug（现象描述）**
    使用的是最新测试版thanox，刷机再恢复数据功能少了几个，已激活lsposed和magisk模块
**To Reproduce**（如何复现）
    如上
Steps to reproduce the behavior:（复现步骤）
1. Go to '...'（进入XXX）
2. Click on '....'（点击XXX）
3. Scroll down to '....'（下滑到XXX）
4. See error（发现错误XXX）

**Expected behavior**（期望结果）
    恢复所有功能

**Screenshots**（截图）

![Screenshot_20211031-081620979](https://user-images.githubusercontent.com/61723005/1

[2021-10-31 01:07] Tornaco commented on #350
1. Magisk方式激活的本来就这些功能。
2. Xposed和Magisk模块两种激活方式二选一，不要同时。

建议看下wiki：https://tornaco.github.io/Thanox/2-Install-Activate/

如果还有问题在open这个问题吧

[2021-11-01 13:31] ghost opened #351 "一加8Pro 卡片模糊无效"
一加8Pro  安卓10  氢os   卡片模糊第一次打开最近任务时有效以后无效
尝试：把一加桌面加到lsp里，没用。
[Thanox:3.0-beta3-prc]

[2021-11-02 16:02] a1342966673 opened #352 "[Android12 v3.0-beat3]系统无故死机重启"
系统无故重启，目前发现的几次重启现象均为关屏状态时触发，不知如何复现
查Lsposed日志，锁定到重启时间得知thanox代码报错
其中一次重启时日志如下

`[ 2021-11-02T23:32:55.023     1000: 12194: 12237 E/LSPosed-Bridge  ] java.lang.ClassCastException: java.lang.Boolean cannot be cast to java.lang.Integer
	at github.tornaco.android.thanos.services.xposed.hooks.q.ops.OpsServiceRegistryQ$2.beforeHookedMethod(Unknown Source:42)
	at de.robv.android.xposed.LspHooker.handleHo

[2021-11-03 11:53] littlepony0 opened #353 "点击最近任务，再点返回键，弹出重选桌面"
复现步骤

nova设为默认桌面，系统自带桌面shady launcher(launcher3)为最近任务提供器。
1.点击最近任务键
2.点击返回键或者全部清除最近任务卡片
3.弹出“将nova设为主屏幕应用

Thanox版本: 3.0+(Thanox 2 无此问题)
系统版本
havoc 3.12
Android 10
包名
com.teslacoilsw.launcher
com.android.launcher3

[2021-11-03 11:57] Tornaco commented on #353
@littlepony0 提供下日志吧，另外把你的配置导出个备份发出来看下。

[2021-11-03 12:25] Tornaco commented on #353
[code]

把这个情景模式关掉试试呢？

[2021-11-03 12:25] Tornaco commented on #353
@littlepony0

[2021-11-03 12:31] littlepony0 commented on #353
@Tornaco 我把这个情景模式删了还是这样，而且我也没启用情景模式。

[2021-11-03 12:40] littlepony0 commented on #353
@Tornaco 刚才弄错了，重启后thanox未激活(我忘记在lsp重新启用thanox了)。再次重启后还是要重选桌面。

[2021-11-03 12:42] Tornaco commented on #352
[thanox_3.0-beta3-22-2d26360-prc(3060137).apk.zip](https://github.com/Tornaco/Thanox/files/7467544/thanox_3.0-beta3-22-2d26360-prc.3060137.apk.zip)

@a1342966673 试试这个版本，自测现在没有报这个错误了。

[2021-11-03 12:42] Tornaco commented on #346
Close since fixed.

[2021-11-03 12:43] Tornaco commented on #345
[thanox_3.0-beta3-22-2d26360-prc(3060137).apk.zip](https://github.com/Tornaco/Thanox/files/7467554/thanox_3.0-beta3-22-2d26360-prc.3060137.apk.zip)

@GSWXXN  再试试这个，修了一下点击跳转。

[2021-11-04 05:05] a1342966673 commented on #352
安装到目前暂未发现设备重启现象，可认定问题已解决(′▽`〃)

[2021-11-04 09:30] GSWXXN commented on #345
没有问题啦，可以正常跳转

[2021-11-06 17:03] kiddin9 opened #355 "最新 v3.0 rc1-4 play版 magisk方式无法激活,"
magisk中已安装Thanox-Core, Riru显示有成功载入thanox模块, 但是重启多次Thanox中依然显示未激活.

系统版本
OneUI 3.1
Android 11

[2021-11-06 18:18] PuerNya commented on #355
@kiddin9 请提供 log

[2021-11-08 13:19] k10876 opened #356 "情景模式 无法使用sh命令"
**Describe the bug（现象描述）**
使用示例中的 Sh example 示例，发生异常（使用sh.exe命令时也是如此）

**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
1. 启用情景模式 > 示例中的 Sh example
2. 关屏后重新打开
3. Toast 并没有按预期显示

**Expected behavior**（期望结果）
toast显示Thanox版本

**Version（发现问题的版本）:**
 - OS: 9.0
 - Version 2.5.4
 -
[logging.zip](https://github.com/Tornaco/Thanox/files/7497182/logging.zip)
[logs.zip](https://github.com/Tornac

[2021-11-08 17:39] lancehub commented on #339
![Screenshot_20211109-012654_Trebuchet](https://user-images.githubusercontent.com/48330922/140790946-85733c26-ab87-4c1e-bbc2-1ee1fc778518.png)
![Screenshot_20211109-012701_Trebuchet](https://user-images.githubusercontent.com/48330922/140790958-98cae652-41ec-4fdf-81ab-7a76e3a437f1.png)

版本：v3.0-rc1-3
问题依然存在，且图标形状也不规则了。

[2021-11-09 11:35] Tornaco commented on #353
@littlepony0 现在有日志了吗？

[2021-11-09 11:36] Tornaco commented on #344
@V-arc  OK

[2021-11-13 18:28] suroot66 opened #357 "乖巧模式打开后，辅助功能全部失效"
1. 问题描述：
    在打开乖巧模式后，像fv悬浮球、全局复制等需要辅助功能的app，就获取不到辅助功能权限了。我在无障碍设置中打开了对应辅助功能开关，但是app却依然判定我没有开启辅助功能。而一旦关闭乖巧模式，这些app立刻就恢复正常了。
2. 初步发现
    1. 是由于“阻止后台服务重启”开关造成的问题，关闭这个开关后，再使用“休眠应用”的乖巧模式就不会造成辅助功能失灵了
    2. 问题发生时，并不是100%的所有辅助功能都失灵了，所有手动在设置中开启的辅助功能都没有效果，但那些通过root获取辅助功能权限的app却能够成功获取。例如auto.js、femind等app支持通过root权限一键开启辅助功能，这个方式是成功的。
 3. 版本
     - 安卓10
     - thanox 3.0-alpha-6-db4e3f1-prc
     - Lsposed 1.6

[2021-11-17 07:25] zkqsky opened #358 "在arrow os 12 下，版本号为v3.0-rc1-3部分权限管理无效"
框架 lsposed
测试发现声音、定位、储存读写禁用后软件依旧可以访问这些权限，摄像机权限管理正常，除这些以外的其他权限还没有试过。

[2021-11-18 06:08] andystarmk commented on #355
s10也是这个现象。
![68f8e118a65bb117d0542ee9114047c](https://user-images.githubusercontent.com/94593605/142361541-ef1eef71-775f-452f-bac2-398a12fb6591.jpg)
![f4fd3d0d4e458d81e9170b538de6228](https://user-images.githubusercontent.com/94593605/142361546-28b498ba-85e1-46bc-ade4-a86835f5400f.jpg)
![6b6efa3ba502b1881e256f1d4faf7b4](https://user-images.githubusercontent.com/94593605/142361551-80a090ab-f6d4-49f

[2021-11-18 06:12] HHH3366 opened #359 "手动更换应用配置模板ui无变化"
exThmUI 安卓11 版本3.0 alpha3，后来直升rc1。都有这个问题（已恢复过默认配置）

[2021-11-18 06:19] HHH3366 commented on #359
刚发现，应用模板菜单的已选项ui是跟着自动配置模板的首选走的，不过选其他模板还是不会变

[2021-11-18 11:12] Tornaco commented on #359
@HHH3366 能截图描述一下吗？没理解到你的意思。

[2021-11-18 11:14] Tornaco commented on #357
不要对辅助功能app开启乖巧模式呢? app提供的辅助功能是会启用一个专用服务的。

[2021-11-18 11:47] HHH3366 commented on #359
![GIF-211118_193803](https://user-images.githubusercontent.com/51955828/142409796-69a13078-a9d5-4716-9cbe-1416f6bbdb98.gif)

[2021-11-20 02:03] LQOS8720 opened #360 "安卓12thanox微信代收插件不能正常使用"
设备信息： 红米K40 MIUI12.5 21.11.17 安卓版本12
thanox pro信息：3.0-rc1-4-60c4d86-row  谷歌商店下载安装
具体表现：消息代收插件已安装并重启 点击模拟消息无反应，实际测试微信无后台也不推送消息。

[2021-11-20 04:22] Tornaco commented on #360
@LQOS8720 日志发下

[2021-11-20 04:23] Tornaco commented on #359
@HHH3366 你是说右上角弹出来的选择模块的对话框UI，没有选中当前模板吗？

[2021-11-20 04:46] HHH3366 commented on #359
大概是这个意思

[2021-11-20 11:28] Tornaco commented on #359
@HHH3366 哦 这个Dialog本意是就是不会做模板匹配的，后面会调整Dialog样式。

[2021-11-21 04:00] suroot66 commented on #357
嗯嗯，确实，单独关闭对fv悬浮球的乖巧模式就正常了
那就没问题了

[2021-11-21 14:12] Tornaco commented on #349
@Gokou-Ruri 后续会有其他解决方案。等等。

[2021-11-21 15:20] daiaji opened #361 "权限设置里没有忽略，这个挺有用的，有些软件不给权限就fc。"
![Screenshot_20211121-233942782](https://user-images.githubusercontent.com/25875791/142768662-06a1d52a-0cb7-4ddb-94ed-2d9aed12ac77.jpg)

是隐匿模式吗？
但其实有很多权限请求都可以抛出空白处理。
比方说写短信。
建议能加的在权限管理里都加上，可以提高易用性。
虽然实现和隐匿差不多，但用途有点不一样。
还有就是似乎没有单独的开关用于控制fcm拉起应用，有时候app用fcm推广告，就很烦，这时候希望单独禁止。或者通讯软件希望砍掉除了fcm以外的自启方式，这个是默认行为吗？但如果fcm被拿来推广告了,就只能写规则？这里易用性有点糟糕，黑阈貌似可以单独允许同步、广播、FCM唤醒应用，开关细粒度到这个程度就行了，不用分开同步、广播、FCM，很少会用到需要分开这三的情

[2021-11-23 10:51] Tornaco commented on #359
@HHH3366 rc2 UI 已经调整。暂时关闭。

[2021-11-23 10:52] Tornaco commented on #348
@Gokou-Ruri 3.0-rc2已经支持，如有问题再讨论。

[2021-11-26 10:59] hanxin1997 opened #363 "搜索应用速度很慢，搜索完也会卡在加载"
搜索应用速度很慢，搜索完也会卡在加载

**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
1. 进入任何需要搜索应用的功能项）
2. 搜索任意应用
3. 就会发现搜索很慢有时候搜索不出来一直转圈圈，搜索完也会一直转圈圈，好像一些字母不会比如j，而且转圈圈只能返回。

**Expected behavior**（期望结果）
解决
**Screenshots**（截图）
![QQ图片20211126185401](https://user-images.githubusercontent.com/58620096/143570241-6b15105f-61c0-4035-b48e-90023d77df67.jpg)

**Version（发现问题的版本）:**
 - OS: 安卓11  miui 12.5.6
 - Ve

[2021-11-26 11:09] hanxin1997 opened #364 "希望增加批量添加快捷方式"
使用智能冻结，经常还要一个个创建快捷方式，很麻烦，希望出一个 一键创建快捷方式或者批量

[2021-11-27 04:36] Tornaco commented on #363
@hanxin1997 试试这个呢 https://app.circleci.com/pipelines/github/Tornaco/Thanox/82/workflows/3783da52-7361-44c7-ac36-f2d810c229fa/jobs/78/artifacts

[2021-11-27 04:48] hanxin1997 commented on #363
这个没问题了

[2021-11-27 04:52] LQOS8720 commented on #360
手机恢复出厂设置后，消息代收插件正常使用。

[2021-12-02 01:45] rink-lin opened #365 "任务清理对部分应用不生效"
软件为3.0rc2
发现任务清理对支付宝，爱奇艺不生效，划掉卡片无反应，依然会在后台运行。

系统是Android11。

[2021-12-02 08:06] ashurajo commented on #263
@Tornaco 大佬有空看看喵？

[2021-12-09 09:49] loave opened #366 "情景模式中休眠对微信不生效"
休眠对微信不生效
设备：一加8t
版本：2.5.4

配置情景模式如下

[
{
"name": "休眠应用",
"description": "锁屏后休眠inactive中非当前的应用",
"priority": 1,
"condition": "screenOff == true",
"actions": [
"for (String s : globalVarOf$inactive){if(s != activity.getFrontAppPackage() ){activity.setInactive(s)}};"
]
}
]

inactive中配置bilibili和微信，锁屏后稍等一会，再解锁，在thanox中查看服务状态，bilibili已经是休眠状态，微信不是休眠状态

[2021-12-09 11:00] Tornaco commented on #363
Close since it has been fixed.

[2021-12-09 11:04] Tornaco commented on #365
@rink-lin 请提供日之后在开启本issue。感谢。

[2021-12-09 11:06] Tornaco commented on #356
@k10876 执行个其他命令可以成功吗？

[2021-12-09 11:06] Tornaco commented on #355
请各位大哥提供日志后在开启本issue。

[2021-12-09 11:28] k10876 commented on #356
我用了用到sh命令的脚本，但是没有起到作用

从 Windows 版邮件发送

发件人: Tornaco
发送时间: 2021年12月9日 19:06
收件人: Tornaco/Thanox
抄送: k10876; Mention
主题: Re: [Tornaco/Thanox] 情景模式 无法使用sh命令 (Issue #356)

@k10876 执行个其他命令可以成功吗？
—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-12-09 12:59] Gokou-Ruri opened #367 "情景模式杀死应用能不能只杀Activity而不使用force-stop？"
有些应用使用BACK键以后，Activity依旧存在，双击最近任务键（或其它触发“切换上一个程序”的方式）总是会切换回这个程序，典型例子比如v2rayNG、微信QQ等国产毒瘤、冰箱（IceBox）等等。我想让这些特定的程序在BACK键以后Activity被杀掉，避免“切换到上一个程序”时又回到这个程序，但又不能让这些程序被彻底杀死，例如微信QQ等程序需要后台保持推送，v2rayNG则需要后台运行保持其功能。

[2021-12-10 13:48] ImpXada opened #368 "关于App搜索列表App重复出现的问题"
**Describe the bug（现象描述）**
1.应用管理搜索应用会重复显示整个搜索结果2次到n次
2.禁用服务、广播或者活动时，会出现按钮复原但实际已经禁用的bug
3.禁用服务、广播时，点击全不或者全部时，大概率无法当场刷新状态

**To Reproduce**（如何复现）
1的复现方法，第二次进入应用列表进行搜索应用，会重复循环显示搜索结果
2的复现方法，打开服务广播或者活动管理，禁用任意组件，此时不返回上一级，而是滑动屏幕，将被禁用的选项划出屏幕，再划回来，会出现按钮自动复原，但实际上已经禁用的现象
3的复现方法，不稳定，点击全部或者全不，较大概率出现（大约是在软件被禁用列表较长时出现）点击全部或者全不按钮后，按钮状态并没有及时刷新，需要退出重进一次或多次解决
**Expected behavior**（期望结果）
1.只显示一次
2和3.状态变更及时或者加入强制等待时间

[2021-12-10 13:50] ImpXada opened #369 "文字语言的描述"
是否可以将全不和全部改为全部启用及全部禁止，第一次使用时会略微有些混沌

[2021-12-13 06:27] Tornaco commented on #367
@Gokou-Ruri   你可以试试在应用管理---微信---最近任务---强制隐藏这些应用的最近任务。可以满足你的需求吧。

[2021-12-13 09:01] Tornaco commented on #368
@ImpXada  问题2、3已经修复，可以验证下这个测试版本：https://app.circleci.com/pipelines/github/Tornaco/Thanox/99/workflows/dbb4b49c-d4c7-4a16-922c-7db05076e9dc/jobs/94/artifacts

问题1，后续会结合多用户进行优化。

[2021-12-13 13:09] Gokou-Ruri commented on #367
隐藏最近任务卡片以后“双击Recent键”或者其它切换上一个程序的功能还是会切换回这个程序，隐藏最近任务卡片并不影响这个功能。（例如Xposed Edge Pro就有这个功能）只有结束Activity才能避免切回去。
而且隐藏卡片这个功能好像时灵时不灵，不知道为什么。

[2021-12-17 06:26] csy19960309 commented on #285
「自启动」是指后台启动的设置中允许微信后台启动么？我勾上了微信，但是仍然因Failed to broadcast to stopped app而无法拉起应用。

[2021-12-19 10:50] huyuxin95 commented on #346
这是来自邮箱的自动回复邮件。
 
您好，我已收到你的发送的邮件，我将会尽快给您回复。

[2021-12-22 06:39] MMCYY opened #370 "情景模式导入示例以后，就算删掉了，重启后又出现。"
我用的最新版，xp方式激活，系统是
miui12.5.20，安卓11。
情景模式里，刚开始没有选择导入示例，一切正常。有一次点了一下导入示例以后，用完把所有导入的事例都删了，重启手机又有了，再删掉，重启手机又有了。这应该是Bug吧。

[2021-12-23 05:06] Gokou-Ruri opened #371 "能否禁止APP把自己添加到电池优化白名单（未优化）？"
有些具有root权限的APP会将自己添加到电池优化白名单来防止自己被杀死，而且不提供给用户关闭这个操作的开关，例如SwiftBackup。

[2021-12-23 09:41] Tornaco commented on #370
@MMCYY 日志发一下。暂时关闭这个issue，等你补充了日志再打开~

[2021-12-23 09:41] #370 closed, assigned to nobody

[2021-12-23 14:35] recycle007 commented on #367
只是要移出多任务而不杀后台的话，用task.removeTasksForPackage(from)就好了

[2021-12-26 10:16] #363 closed, assigned to nobody

[2021-12-26 10:16] #341 closed, assigned to nobody

[2021-12-26 10:17] #345 closed, assigned to Tornaco

[2021-12-26 10:17] #346 closed, assigned to Tornaco

[2021-12-26 10:17] #350 closed, assigned to nobody

[2021-12-26 10:17] #348 closed, assigned to Tornaco

[2021-12-26 10:17] #359 closed, assigned to Tornaco

[2021-12-26 12:57] Gokou-Ruri commented on #367
谢谢您的提议！似乎这个办法也不能避免切换最近一个APP时，切换回冰箱的activity。
而且在Thanox里一直隐藏冰箱的最近任务卡片，依旧会切换回去。
Xposed Edge Pro的功能是指下面这个（即双击Recent键的效果），作用是切换到之前一个APP，从冰箱里打开APP时，之前的APP就是冰箱，只要冰箱的activity还在，就肯定会切回冰箱，和最近任务的卡片是否隐藏好像没什么关系。
![image](https://user-images.githubusercontent.com/26711804/147408846-ddac756d-765a-40bc-8f32-20c3cfa28a91.png)

[2021-12-28 08:36] xiaostrong opened #372 "情景模式 wifiState.ssid 做为条件不生效"
**Describe the bug（现象描述）**

配置文件示例

[code]

**To Reproduce**（如何复现）
将上述配置导入情景模式，并开启。
开关WIFI，连接上名为CERNET的WIFI。

**Expected behavior**（期望结果）
执行动作，toast 显示当前WIFI状态与SSID

**Screenshots**（截图）
无

**Version（发现问题的版本）:**
 - OS: [e.g. Android 11]
 - Version [e.g. v2.5-2]
 - Version [e.g. v3.0-release-rpc]

**Additional context**（其他信息）
LSPosed

** Logs**（日志文件）
[logcat.log](https://github.com/Tornaco/Thanox/fi

[2021-12-29 01:22] gwc12412 commented on #343
活永远干不完，加油⛽哈哈哈

[2021-12-30 15:35] 006hjy opened #373 "自动重置默认桌面"
版本 3.1.1-row
谷歌商店购买，已激活。
lsposed框架激活thanox，仅勾选系统框架
红米k20p尊享版
系统版本号：QQ3A.200805.001
PixelExperience_Plus_raphael-10.0-20201226-0051-OFFICIAL

一个问题：
我是PixelExperience安卓10

安卓10不能用magisk激活，我用xposed激活以后，未做任何设置。

我是底部三键导航栏，点击多任务键进入多任务界面后，想要返回桌面，默认桌面被重置，弹出选择默认桌面的提示。

每次进入多任务界面都会重置默认桌面。而直接点home键返回桌面就不会。
bug复现视频：
https://wwe.lanzoup.com/iB34Wy5pnna

[2021-12-30 19:10] 006hjy commented on #373
不仅仅会重置默认桌面，还会重置默认安装器

[2021-12-30 20:16] cytokine-storm opened #374 "希望能添加联网权限控制"
用于禁止某些系统应用的WiFi联网权限。谢谢！

[2021-12-30 20:22] YouandYu commented on #373
总要选择安装器，我还以为手机系统的问题。现在知道是灭霸的问题了！

[2021-12-31 06:07] Tornaco commented on #263
@ashurajo 3.1.1已支持。

[2021-12-31 06:07] #263 closed, assigned to Tornaco

[2021-12-31 06:08] Tornaco commented on #373
@YouandYu 已经定位到原因，稍后会发布测试版本。

[2021-12-31 06:09] Tornaco commented on #353
@littlepony0 已经定位到原因，稍后会发布测试版本。

[2021-12-31 07:50] 006hjy commented on #373
刚刚的测试版中这个问题被解决了。请尽快更新到谷歌商店。

[2021-12-31 12:09] Tornaco commented on #353
Fixed since v3.2 https://github.com/Tornaco/Thanox/releases/tag/v3.2

[2021-12-31 12:09] #353 closed, assigned to Tornaco

[2021-12-31 12:09] Tornaco commented on #373
Fixed since v3.2 https://github.com/Tornaco/Thanox/releases/tag/v3.2

[2021-12-31 12:09] #373 closed, assigned to Tornaco

[2022-01-02 08:26] LiangPro commented on #328
![image](https://user-images.githubusercontent.com/55148219/147870238-1e42d59c-9076-40e1-927b-fafbd08132c9.png)
软件版本：thanox_3.2-prc.3060350.apk
安卓9，三方miui12同样遇到问题
微信代收开关无效

[2022-01-03 14:53] yusichun opened #375 "返回主桌面一直重复提示把xxx设为主屏幕应用"
**Describe the bug（现象描述）**
任意界面返回主桌面，一直重复提示把xxx设为主屏幕应用，老版本没有这个问题，选择始终设置还是会弹出

**To Reproduce**（如何复现）
以上
Steps to reproduce the behavior:（复现步骤）
以上

**Expected behavior**（期望结果）
立即修复
 expected to happen.（描述一下期望的结果）
不提示

**Screenshots**（截图）
![Screenshot_20220103-224925](https://user-images.githubusercontent.com/79388494/147944527-fb395957-94d7-4fce-b28d-95c0631c412c.jpg)

**Version（发现问题的版本）:**
 - OS:

[2022-01-03 14:53] yusichun commented on #375
![Screenshot_20220103-224931](https://user-images.githubusercontent.com/79388494/147945024-e3e57cfe-7e77-480f-bd45-90f7fc64f025.jpg)

[2022-01-03 14:58] yusichun commented on #375
日志
[thanox-core.log](https://github.com/Tornaco/Thanox/files/7802542/thanox-core.log)
[thanox-init.log](https://github.com/Tornaco/Thanox/files/7802543/thanox-init.log)

[2022-01-03 18:11] YouandYu commented on #375
3.2不是修复了吗？怎么还发这问题。

[2022-01-04 09:56] Tornaco commented on #375
@yusichun 请在3.2版本上测试。如果还是有问题在打开该issue。

[2022-01-04 09:56] #375 closed, assigned to nobody

[2022-01-04 10:04] yusichun commented on #375
因为你酷安没更新，所以我安装了以后还有问题才发的

---- 回复的原邮件 ----
| 发件人 | ***@***.***> |
| 日期 | 2022年01月04日 02:11 |
| 收件人 | ***@***.***> |
| 抄送至 | ***@***.******@***.***> |
| 主题 | Re: [Tornaco/Thanox] 返回主桌面一直重复提示把xxx设为主屏幕应用 (Issue #375) |

3.2不是修复了吗？怎么还发这问题。

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mobile for iOS or Android.
You are receiving this bec

[2022-01-04 10:08] HeiZiSama commented on #375
@yusichun 酷安不更新的

[2022-01-04 20:17] c-08 opened #376 "权限管理无效"
所以问题反馈请务必提供更详细的信息。

系统版本 安卓12 小米MIUI21.12.4

Thanox pro 3.1.1  zygisk lsposed版

权限管理没有效果，手机自带应用权限管理允许微信定位，thanox禁止定位。微信还是获取到定位

[2022-01-05 20:08] c-08 commented on #376
基本上所以应用权限 都失效

[2022-01-11 04:39] Cuddly-Red-Fox opened #378 "【问题反馈】只要激活了Thanox，不做其他任何的配置和设置，从相机的左下角预览框打开照片进入相册会卡住"
问题描述

只要激活了Thanox，不做其他任何的配置和设置，从相机的左下角预览框打开照片进入相册会卡住，约卡住15-30秒才进入相册打开照片，（如不激活Thanox则不存在该问题，预览框打开相册可以秒开）

问题复现步骤
1，通过LSP勾选系统框架，激活Thanox，然后重启，使软件激活（软件未进行任何设置，均为默认初始化状态）。
2，随后打开相机，通过相机页面左下角预览框点击，进入相册查看已经拍摄的照片（或刚刚拍摄的照片）。
整个相机会卡住，画面和整个系统停顿一动不动约15秒到30秒才会打开相册进入对应照片。
（如果在相机中拍完照片，然后回到桌面单独打开相册APP则不受影响，仅通过相机的预览框进入相册照片时存在该问题。）

期望结果
希望修复此问题或错误。

以下是截图与录屏存档（该问题截图无法体现，录屏及截图文件见附件或注明链接）

系统版本Android11（Evolution X

[2022-01-11 06:38] hahazy0 opened #379 "3.2版本划卡清理无效"
**Describe the bug（现象描述）**
系统运存越来越少，之前3.0版本不会

**Expected behavior**（期望结果）
效果和3.0一样

**Version（发现问题的版本）:**
 - OS: 安卓11 coloros11
 - Version v3.2

[2022-01-11 06:40] hahazy0 commented on #379
lsp激活

[2022-01-11 17:26] goxmxi opened #380 "miui12.5和13安卓12的显示当前活动功能用不了"
**Describe the bug（现象描述）**
A clear and concise description of what the bug is.（简洁的描述该bug的现象）
打开显示当前活动后没有显示窗口，显示网络详情能正常使用，权限全都给了，没看到thanox有申请无障碍和悬浮窗权限

**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
1. Go to '...'（进入XXX）
2. Click on '....'（点击XXX）
3. Scroll down to '....'（下滑到XXX）
4. See error（发现错误XXX）

**Expected behavior**（期望结果）
A clear and concise description of what you expected to

[2022-01-12 01:05] #379 closed, assigned to nobody

[2022-01-13 05:56] littlepony0 opened #381 "希望能添加清理分享面板、打开方式、浏览器功能"
就是意图清理[github](https://github.com/TigerBeanst/RnIntentClean)的功能。
但意图清理依赖riru-ifw模块，更新极其繁琐。且在android10+上，ifw有导致系统重启或功能失效的问题。

[2022-01-13 07:49] Cuddly-Red-Fox commented on #378
经过测试，最高版本3.0-beta1-prc 版本不存在该问题，该版本以及之前的版本，不存在该问题，高于该版本以上的全部版本均存在该问题。

[2022-01-13 13:59] Tornaco commented on #380
@goxmxi thanox不需要额外申请任何权限即可显示当前活动；如不显示应该是兼容问题；请补充日志后再开启issue。

[2022-01-13 13:59] #380 closed, assigned to nobody

[2022-01-13 14:00] Tornaco commented on #378
@asuszwbUbuntu OK 我看下

[2022-01-14 00:51] Tornaco commented on #378
@asuszwbUbuntu 我在evo android11上测试未复现该问题。 麻烦再提供下/data/system/thanos_xxx下的日志。
同时最好做如下测试：
1. 卡住的同时，不停地点击屏幕
2. 10秒左右，系统可能会提示程序无响应
3. 把/data/anr下的日志也发出来

----------------

[2022-01-15 04:02] Oosl opened #382 "任务清理/划卡 XP模式下”失效“"
**Describe the bug（现象描述）**
工作模式为Xposed激活，打开任务清理后，划后台卡片无法清理部分应用。比较直观的现象为有通知的应用（如支付宝）划卡后，通知仍在，而用xposed egde杀死当前应用的方式，通知也会被一起杀掉。

**To Reproduce**（如何复现）
1、打开支付宝任务清理
2、让支付宝在后台，让联系人发一个消息，通知栏弹出通知。
3、多任务划卡关掉支付宝，通知栏仍有支付宝的通知。

**Expected behavior**（期望结果）
第3步划掉支付宝时，支付宝的通知也会清除。

**Screenshots**（截图）
![enable_kill](https://user-images.githubusercontent.com/27420243/149607771-c6ef29bd-42ec-4e0f-ab33-570433a3e3c

[2022-01-15 04:17] Tornaco commented on #382
@Oosl  从你的日志看，是thanox兼容问题，导致thanox未检测到任务被移除的事件，因此支付宝并未被清理。

麻烦上传下你的rom里的一个文件：/system/framework/services.jar 我看下能否修复。

[2022-01-15 04:30] Oosl commented on #382
[services.zip](https://github.com/Tornaco/Thanox/files/7874233/services.zip)

ok，还有一个开机初始化的时候有一个Adding TV input services的错误，需要再开一个issue么

[2022-01-15 04:32] Tornaco commented on #382
@Oosl 那个不是错误，正常开发打印的trace日志。

[2022-01-15 04:35] Oosl commented on #382
好吧，我看是抛出异常打印，以为是异常行为。（略微强迫症😂正常启动日志里有个“异常”打印

[2022-01-15 05:23] Tornaco commented on #382
@Oosl https://app.circleci.com/pipelines/github/Tornaco/Thanox/145/workflows/ba0b26ac-93ff-4548-ba7e-5f3957d364ca/jobs/141/artifacts

试试这个版本，我加了日志，试完了日志再发下。

[2022-01-15 05:53] Oosl commented on #382
测试了，还是没生效，这是日志
[logging.zip](https://github.com/Tornaco/Thanox/files/7874330/logging.zip)

[2022-01-15 07:22] Tornaco commented on #382
@Oosl 要不手动吧日志删了，xposed里重新勾选一下重启，再试试，并抓日志。

你发的日志看起来不是最新测试版thanox。确保安装上面链接中的版本。

[2022-01-15 07:31] Oosl commented on #382
[logging.zip](https://github.com/Tornaco/Thanox/files/7874480/logging.zip)
删除日志重新勾选重启后的日志，不过上面最新的安装后我play买的无法激活专业版，是试用版，不知是否会有影响

[2022-01-15 08:13] Oosl commented on #382
再反馈一个情况，当使用 Xposed edge pro 的“结束前台”快捷方式（ 不会移除多任务） + Thanox 情景模式中的 Task removal时，Thanox是能够正确感知到应用被杀死，然后移除多任务的。说明Thanox其实是能收到应用被杀死的事件？

[2022-01-15 12:49] Tornaco commented on #382
日志还是不对啊。。你同时还装了play版本？

[2022-01-15 12:56] Oosl commented on #382
完整是这样的。
1. 之前一直安装使用的play版本，并用此版本给你反馈了最初的日志。
2. 你发了刚编译的新版后，我下载安装，包名不同所以我发现手机上有两个Thanox。
3. 于是我到Lsposed里取消了play的thanox（但是没有卸载play版本）并勾选启用了你发的测试版本。
4. 重启后给你反馈了第二份日志。
5. 你说日志不对，我删除日志，重新勾选测试版，重启后给你反馈了第三份日志。

[2022-01-15 13:03] Tornaco commented on #382
[thanox_3.2-26-f9af629-prc(3060350).apk.zip](https://github.com/Tornaco/Thanox/files/7875002/thanox_3.2-26-f9af629-prc.3060350.apk.zip)

@Oosl

好吧，情况有点复杂，你就用我给你发的这个吧，pro版本一定要取消激活。

[2022-01-15 13:04] Oosl commented on #382
ok，是取消激活的没错，只是没卸载。我再测测这个

[2022-01-15 13:38] Oosl commented on #382
[logging.zip](https://github.com/Tornaco/Thanox/files/7875054/logging.zip)

[2022-01-16 02:47] Tornaco commented on #372
[thanox_3.2-28-a2db6b0-dirty-prc(3060350).apk.zip](https://github.com/Tornaco/Thanox/files/7876277/thanox_3.2-28-a2db6b0-dirty-prc.3060350.apk.zip)

@xiaostrong 麻烦测试下这个开发版本，并抓取/data/system/thanos_xxx下的日志打包发出来。

[2022-01-16 02:49] Tornaco commented on #382
@Oosl 已定位到原因，测试下：https://app.circleci.com/pipelines/github/Tornaco/Thanox/146/workflows/428c6691-64e3-435a-879e-0d42829df8f6/jobs/142/artifacts

[2022-01-16 02:58] Oosl commented on #382
@Tornaco 最新版测试Ok了，划卡工作正常了。划掉应用对应的通知也没了

[2022-01-16 04:41] Tornaco commented on #382
OK, Thanks

[2022-01-16 04:41] #382 closed, assigned to Tornaco

[2022-01-16 13:00] littlepony0 opened #384 "应用取消智能冻结后未取消检活请启"
取消智能冻结的应用或从冻结列表移除的应用，不会自动取消勾选"检测到活动请求时启用该APP"

[2022-01-17 05:20] xiaostrong commented on #372
测试 WIFI SSID 为 CU_dds4， 对应配置文件也已修改。
[logging.zip](https://github.com/Tornaco/Thanox/files/7879164/logging.zip)

[2022-01-17 10:12] Tornaco commented on #372
@xiaostrong 试试这个 https://app.circleci.com/pipelines/github/Tornaco/Thanox/149/workflows/bb75216f-e756-4f69-b1a3-48157b57f855/jobs/145/artifacts

如果还不行就继续发下日志。

[2022-01-18 11:22] xiaostrong commented on #372
[logging.zip](https://github.com/Tornaco/Thanox/files/7888593/logging.zip)

[2022-01-18 13:31] Tornaco commented on #372
你确定这个日志是装了 https://app.circleci.com/pipelines/github/Tornaco/Thanox/149/workflows/bb75216f-e756-4f69-b1a3-48157b57f855/jobs/145/artifacts 这个版本了？麻烦确认下。

[2022-01-18 16:14] xiaostrong commented on #372
应该就是这个版本的，我是直接覆盖安装的，会有影响么。

我又打包了一份日志，你看下这个正确不。

[logging2022-01-19.zip](https://github.com/Tornaco/Thanox/files/7890590/logging2022-01-19.zip)

![Screenshot_20220119-001014569](https://user-images.githubusercontent.com/12859414/149975069-072851d2-356e-410f-86c9-af94768e145d.jpg)

[2022-01-20 02:39] Tornaco commented on #372
[thanox_3.2-39-e93fc5a-prc(3060350).apk.zip](https://github.com/Tornaco/Thanox/files/7901858/thanox_3.2-39-e93fc5a-prc.3060350.apk.zip)

那个日志我也不理解。我手动打了包，用这个再试试，试玩日志发我下。**这次我们手动清空一下日志文件：装完重启手机之前手动把data/system/thanos_xxx/logging这个文件夹删除。**

@xiaostrong

[2022-01-20 03:12] xiaostrong commented on #372
adb 安装。然后重启。开关情景模式，模板启动thanox情景模式有效。

开关WiFi，测试配置不生效。

[logging2022-01-20.zip](https://github.com/Tornaco/Thanox/files/7901982/logging2022-01-20.zip)

![892725ee4095f66ec7a918b6ab30a98](https://user-images.githubusercontent.com/12859414/150265547-bc61c054-92f3-457f-bd32-fa5315310e6e.jpg)

[2022-01-20 10:23] Tornaco commented on #372
这句话是啥意思。。

@xiaostrong 看日志，wifi变化的事件已经发出：
[code]

现在的问题是啥来着？你的情景模式脚本匹配的是CU_dds4这个ssid吗？

[2022-01-20 15:12] xiaostrong commented on #372
意思是导入的默认情景模式有效，例如杀死thanox后重新启动。这个导入的示例配置生效。

需求是匹配到指定 ssid，执行指定动作。

启用配置文件，匹配到 CU_dds4，没有执行 Toast 。

[code]

[2022-01-21 10:51] Tornaco commented on #372
@xiaostrong https://app.circleci.com/pipelines/github/Tornaco/Thanox/154/workflows/75e90777-80e1-458a-89a0-e89129aacd2b/jobs/150/artifacts

测试下这个，应该好了。

[2022-01-21 12:57] xiaostrong commented on #372
@Tornaco 现在正常了

[2022-01-21 12:58] #372 closed, assigned to Tornaco

[2022-01-23 02:52] Star-ZER0 opened #385 "[建议]在解冻App时同时解冻指定的App"
例：解冻Muse Dash时同时解冻Taptap（为了正版验证）
解冻Arcaea时同时解冻Google Play 游戏（游戏进度同步）
解冻Google Camera时解冻Google 框架和Google Play 服务（支持库）
万分感谢！已入正支持！
愿项目越来越好

[2022-01-24 11:28] i-CraftY opened #386 "智能冻结后，启动App闪退、无反应"
**Describe the bug（现象描述）**
A clear and concise description of what the bug is.（简洁的描述该bug的现象）
冻结后，创建快捷方式后，点击桌面图标，打不开app只会一闪而过或者没反应，多次点击后可能仍无效，甚至直接进入Thanox
以挂起方式冻结，需要点击两次，第一次点击会弹框

**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
1. 冻结应用，创建快捷方式
2. 点击快捷方式图标
**Expected behavior**（期望结果）
A clear and concise description of what you expected to happen.（描述一下期望的结果）
点击快捷方式，打不开
挂起，出现弹框
**Screensh

[2022-01-26 02:11] Tornaco commented on #386
@OopsSnap 3.2之前的版本点击快捷方式可以启动吗？ 创建的代理app能启动冻结的app吗？

[2022-01-26 04:17] Gokou-Ruri commented on #386
这个bug其实是Thanox存在了很久的问题了……2020年底我刚开始用Thanox就存在这个问题，智能冻结以后的APP偶尔需要点击多次才能启动（和上面那位用户一样是一闪而过，点击5-10次以上才可以启动）。
另外还有这个问题：https://github.com/Tornaco/Thanox/issues/265#issuecomment-814773681
APP自己结束某个Activity或Activity出现异常崩溃时，APP会被Thanox冻结。
我认为第二个问题和第一个问题有可能是同一个问题。

[2022-01-26 07:31] black11191 opened #387 "对于分身无法进行冻结"
在智能冻结中 无法冻结炼妖壶中的应用
 它在冻结时即使显示冻结也是假冻结
而冰箱可以做到完美冻结
机型 小米10s   版本:12.5

[2022-01-26 08:27] Tornaco commented on #386
https://app.circleci.com/pipelines/github/Tornaco/Thanox/161/workflows/238c555b-c215-465b-8628-8a0cff680f69/jobs/157/artifacts

试试这个能启动了吗？

[2022-01-26 11:49] i-CraftY commented on #386
3.2入的坑，启动是没问题的，只是快捷方式有几率打不开app出现一闪而过的问题。
关于挂起的问题酷安上有讨论
![Screenshot_2022-01-26-19-54-04-349_com miui gallery](https://user-images.githubusercontent.com/42453713/151158754-111e8f66-f83f-4395-af59-19305a92fcc2.jpg)

创建代理app没有这些问题

[2022-01-26 12:24] i-CraftY commented on #386
依旧存在需要点击多次才能启动的问题，唯一不同是没有遇到一闪而过的情况而是直接没反应
1.26 ，20点以后做的测试，测试app仍为支付宝（com.eg.android.AlipayGphone）
[logging.zip](https://github.com/Tornaco/Thanox/files/7941633/logging.zip)

[2022-01-26 13:07] Gokou-Ruri commented on #386
“挂起”功能开发者说过以后会优化这个功能的： https://github.com/Tornaco/Thanox/issues/349#issuecomment-974824850

[2022-01-26 13:13] Gokou-Ruri commented on #378
有同样的问题，但奇怪的是只有MIUI相机才会这样，其它第三方相机（包括谷歌相机）不会出现这个情况。

[2022-01-26 13:16] Tornaco commented on #378
@Gokou-Ruri  https://app.circleci.com/pipelines/github/Tornaco/Thanox/161/workflows/238c555b-c215-465b-8628-8a0cff680f69/jobs/157 这个呢，这个是最新的，可能对你的问题有修复。

[2022-01-26 13:19] Gokou-Ruri commented on #385
建议学习情景模式用法，你可以自由发挥。
提供思路：例如你可以让Thanox检测到A程序处于前台时，解冻B程序。
还有Tasker、XposedEdgePro等软件也能做到类似效果，思路都差不多，如果不想编写情景模式的话也可以尝试这些软件的图形化操作方案。

[2022-01-26 13:29] Tornaco commented on #386
[code]

上面是截取的一段日志，看起来确实是支付宝被启动了，2s左右之后又回到了桌面；日志中并未出现异常错误，不知道为啥会遮掩，很奇怪。你要不再截取一段启动快捷方式过程中的完整adb log；我尽量看下吧。

[2022-01-26 13:30] Tornaco commented on #386
挂起启动会弹出对话框这个问题后面我会想办法优化，现在这个对话框是系统的活动拦截器弹出的，暂时没法屏蔽。

[2022-01-26 13:33] Tornaco commented on #385
确实可以考虑基于情景模式拓展，可以参考情景的 `pkg`包管理相关 API：https://tornaco.github.io/Thanox/6-Profile/#0512-pkg

[2022-01-26 14:05] i-CraftY commented on #386
[log.zip](https://github.com/Tornaco/Thanox/files/7942217/log.zip)

[log.zip](https://github.com/Tornaco/Thanox/files/7942223/log.zip)
只复现了一次

[2022-01-26 14:23] ytskuh opened #388 "禁用调节屏幕亮度的权限不起作用"
**Describe the bug（现象描述）**
任意限制某具有调节屏幕亮度能力的应用的“调节屏幕亮度"权限，它依然可以调节

**To Reproduce**（如何复现）
1. Pixel 4 刷入 flame-sq1a.220105.002-factory-635ac9dd
2. patch boot.img 并烧写
3. 安装 magisk
4. 安装 Riru, Riru - LSPosed 模块
5. 安装 Thanox
6. 激活 Thanox
7. 安装任意会调节屏幕亮度的App（例如 Metro 大都会，在二维码界面会把屏幕亮度调至最大）
8. 禁用该 App 调节屏幕亮度的权限，该app依然可以调节屏幕亮度

**Expected behavior**（期望结果）
应用不再能调节亮度

**Screenshots**（截图）
[![7Olnv4.png](https:

[2022-01-26 14:32] Gokou-Ruri commented on #378
刚才我把Play版冻结并在LSP里禁用了Play版，安装了这个CI版并在LSP中启用，重启系统后MIUI相机能正常迅速调用图库预览照片了。
卸载CI版本，解冻Play版并在LSP中启用，重启系统后相机问题复现。
感谢开发者！希望此版本能尽快发布到Google Play。🙏

[2022-01-27 04:00] ytskuh commented on #358
确实如此，还有调整屏幕亮度的权限也无效 #388

[2022-01-27 04:42] ytskuh commented on #374
附议

[2022-01-28 00:41] Oosl commented on #382
好像现在划卡清理又有异常，偶尔能正常工作，偶尔又不行。
我测试发现好像是手动从桌面打开app，就能划卡清理。但是好像用xposed edge那些启动app的划卡就无法清理。（只是根据情况猜测
这是[logging打包](https://wwe.lanzouo.com/ibrcXzc3cwj)。
（抱歉，手机无法上传附件

[2022-01-28 08:11] fmcong opened #389 "需求建议:权限管理内的某权限进行管理时列表添加筛选排序(新增针对始终允许,前台允许和拒绝的综合排序)"
建议:权限管理内的某权限进行管理时列表添加筛选排序(新增针对始终允许,前台允许和拒绝的综合排序)

在现在有的排序上增加对已修改的权限设置状态排序,

始终允许,前台允许和拒绝的不同状态经行筛选,

例如:我需要寻找第三方应用内,按始终允许的状态排列,寻找我对哪些应用做了放行允许并经行修改
可以争对某一权限的某些已经放行的权限进行多应用的权限修改.

希望增加该筛选项,如已有该功能望告知.谢谢

[2022-01-28 11:03] recreationx opened #390 "乖巧模式在免费版的UI下依旧能被勾选"
**Describe the bug（现象描述）**
乖巧模式的按钮在免费版 App Manager -> 选择App并查看其选项下可以被勾选

**To Reproduce**（如何复现）
综上所述

**Expected behavior**（期望结果）
UI应该对该页面中未解锁的模式进行一个提醒或者隐藏。

**Version（发现问题的版本）:**
 - OS: Android 12
 - Version: 3.3.1

**Additional context**（其他信息）
NIL.

** Logs**（日志文件）
Unrelated.

[2022-01-28 14:25] yizhidiandian opened #391 "在3.3.1版本智能冻结不能在添加应用之后自动打开“检测活动启用app”"
在上个版本是可以自己打开这个开关的

[2022-01-28 16:07] Gokou-Ruri opened #392 "Play beta 3.3.1 版导致APP的无障碍服务无法使用"
**Describe the bug（现象描述）**
更新了3.3.1版以后，Android系统设置——无障碍内的所有第三方APP无障碍服务全部消失，只剩下Google的声音增强器、声音通知、实时转写这三个。且第三方APP的无障碍服务实际也无法使用。在LSP内禁用Thanox重启操作系统后一切恢复正常。
3.3.1版修复了#378 的问题，但似乎带来了新的严重bug……

**Version（发现问题的版本）:**
 - OS: Android 11
 - Version 3.3.1-row (Google Play)

[server_logging.zip](https://github.com/Tornaco/Thanox/files/7994000/server_logging.zip)

[2022-01-28 16:15] Gokou-Ruri opened #393 "希望取消对Thanox安装来源的识别判定"
目前Thanox Play版会识别安装来源，只有从Play安装才能通过正版检查，但是新版本出现了严重问题时（例如#392 ），无法从Play回退到旧版本，如果开发者无法快速修复问题，用户就只能持续使用这个存在问题的最新版本了。

[2022-01-28 16:22] Gokou-Ruri commented on #393
没有Thanox Pro 3.3.0安装包。

[2022-01-28 17:12] Gokou-Ruri commented on #393
谢谢提供的下载方法，成功了。

[2022-01-28 17:51] #393 closed, assigned to nobody

[2022-01-29 07:19] hanxin1997 opened #394 "模块是否考虑增加zygisk版本"
随着日卡卡的存储重定向出zygisk，后面的主流应该是zygisk，而且zygisk有更成熟的隐藏方案，是否考虑将依赖riru模块的thanox模块转换为zygisk版，或者两个版本同时存在？

[2022-01-29 14:32] huangg233 opened #395 "ColorOS12权限管理屏幕亮度无效果"
**Describe the bug（现象描述）**
A clear and concise description of what the bug is.（简洁的描述该bug的现象）

**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
1. Go to '...'（进入XXX）
2. Click on '....'（点击XXX）
3. Scroll down to '....'（下滑到XXX）
4. See error（发现错误XXX）

**Expected behavior**（期望结果）
A clear and concise description of what you expected to happen.（描述一下期望的结果）

**Screenshots**（截图）
If applicable, a

[2022-01-29 14:36] huangg233 commented on #395
禁止了支付宝微信,收款还是能调节屏幕亮度

[2022-01-30 08:29] STTecCEO opened #396 "magisk激活导致偶发性异常重启"
现象描述
magisk激活后不定时黑屏重启，频率一天一到两次

发现问题的版本
 - OS: [Android 11]
 - Version [v3.3.1-prc]

其他信息
偶发性异常重启后开机无限软重启，强制关机重启后正常

** Logs**

[anr_2022-01-30-15-54-21-337.zip](https://github.com/Tornaco/Thanox/files/7965549/anr_2022-01-30-15-54-21-337.zip)

[2022-01-31 18:25] STTecCEO opened #397 "magisk激活导致魅族应用商店无法正常下载"
现象描述
magisk激活后魅族应用商店(索尼定制版)无法正常获取任务下载链接  换xp激活立马正常

发现问题的版本

OS: [Android 11]
Version [v3.3.1-prc]

![Screenshot_20220201-021951](https://user-images.githubusercontent.com/35169436/151851042-ddf45c5c-abb5-4a7a-bd1b-c9a9d842914a.png)

[2022-02-02 11:15] Gluneklairo opened #398 "希望能添加已冻结app在列表中显示的开关，而不是直接排在前面"
**Is your feature request related to a problem? Please describe.**
已冻结的app一般不需要进行后台限制，而且冻结的app有可能是较隐私的app，不适合放在前面

**Describe the solution you'd like**
添加一个专门显示已冻结app的列表选单（截图中的列表选单）

**Describe alternatives you've considered**
或者直接排在最后

**Additional context**
![Screenshot_20220202-191002_Thanox Pro~2](https://user-images.githubusercontent.com/65527723/152143798-a996d91c-af8d-4e2b-97e7-d6c3cf7564e5

[2022-02-02 11:18] Hidarihitomi opened #399 "乖巧模式休眠应用时间限定"
乖巧模式的停止服务休眠应用目前都是返回即停/休眠，相对来说有点太激进。休眠应用希望可以加个时间限定，应用返回后台后多久休眠。

[2022-02-03 02:50] linsui opened #400 "F-Droid"
**Is your feature request related to a problem? Please describe.**
Could this app be published on F-Droid? It seems it's not fully open-sourced.

**Describe the solution you'd like**
If this app can be built from source I can help package it for F-Droid.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Addit

[2022-02-03 11:20] Gokou-Ruri commented on #392
补充：装回3.3.0以后问题再次复发（刚开始安装3.3.0那几天还好，重启了几次手机以后，突然就复发了），可能是因为重装3.3.0没有删除Thanox配置文件所以问题又复现了，但是清除Thanox数据重新配置数百个APP实在太麻烦了，希望开发者能修复这个bug……现在无障碍服务全都跪了，就剩下谷歌的那3个了。
日志文件已经上传。

续：目前退回了3.2.0，重启了3、4次后，无障碍服务依旧正常，我再观察几天看看。

[2022-02-03 13:44] Tornaco commented on #392
@Gokou-Ruri 关闭情景模式的uiautomation引擎试试呢？等过完年我再看看。

[2022-02-03 14:16] Gokou-Ruri commented on #392
感谢提供的解决方案！确实有效，更新到3.3.1后关闭UIAutomation引擎，无障碍服务回来了。目前这样就行了，等您什么时候有空了再解决这个问题就好。

[2022-02-05 05:58] PianCat opened #402 "冻结应用功能异常"
**Describe the bug（现象描述）**
在Android 12上启用冻结应用功能中的挂起功能后，无法正常从桌面启动应用

**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
1.随意冻结一个应用，且启用挂起功能
2.从桌面点击该应用图标
3.无法打开应用，且弹出设置已停止运行

**Expected behavior**（期望结果）
无报错，且该应用从挂起状态中恢复并打开

**Screenshots**（截图）
![Screenshot_20220205-135635_Lawnchair](https://user-images.githubusercontent.com/50688679/152630586-7428694a-3f84-4232-b129-88142488edd6.png)

**Ve

[2022-02-05 07:06] Tornaco commented on #402
试试 https://app.circleci.com/pipelines/github/Tornaco/Thanox/166/workflows/ea81e991-307b-4999-9d71-1937cdec9720/jobs/160/artifacts

[2022-02-05 07:07] Tornaco commented on #386
@OopsSnap 再试试 https://app.circleci.com/pipelines/github/Tornaco/Thanox/166/workflows/ea81e991-307b-4999-9d71-1937cdec9720/jobs/160/artifacts

[2022-02-05 09:26] Tornaco commented on #400
@linsui I'm afraid not, Thanox is not 100% open-sourced for now. Thanks~

[2022-02-05 09:28] linsui commented on #400
Will it be fully open source in the future? I thought I can just wait?

[2022-02-05 09:53] Tornaco commented on #400
Yes, but I can't guarantee when

[2022-02-05 09:59] linsui commented on #400
Thanks!

[2022-02-08 09:15] countrysideboy opened #403 "关于微信FCM测试"
一、基础环境。使用play版，国内版未测
二、FCM注册。全局科学，登录后观察com.google.android.gms.appid.xml文件是否生成，生成了就表明注册成功了
三、FCM推送条件(以下条件缺一不可)
1、在国外。
微信冷启动时，会检测你的ip，从而决定是否走fcm，这也是导致玄学的根本原因。
因此，把下列域名的请求走科学。如果不走科学，就算fcm暂时可以了，也不长久
short.weixin.qq.com
extshort.weixin.qq.com
dns.weixin.qq.com (测试发现非必要)
2、微信自己的通知无法送达。
这里，就是各种教程里电池优化，乖巧的根本原理了，就是让微信自己的通知服务收不到，才会走fcm。
如果微信自己的服务能接收，那么就不会通过FCM发信息了
四、如何判断此刻微信正在走FCM通道。
很简单，判断com.tencent.mm/co

[2022-02-08 09:17] countrysideboy commented on #403
希望能增加FCM是否连接、某服务是否运行、乖巧某服务等接口，用于情景模式脚本。期望实现：fcm可用时乖巧，不可用时豁免某些服务，走常规消息推送

[2022-02-09 08:23] i-CraftY commented on #386
抱歉现在才看到，还是复现了，好像比提issue的时候出现几率小了（不知道是不是错觉
[logging.zip](https://github.com/Tornaco/Thanox/files/8030786/logging.zip)
到

[2022-02-09 09:10] Tornaco commented on #386
@OopsSnap 能录个屏看下效果吗

[2022-02-09 13:17] Tornaco commented on #394
@hanxin1997 zygisk版本，请测试下是否工作： https://app.circleci.com/pipelines/github/Tornaco/Thanox/175/workflows/186ed892-0e6e-4994-84c7-5c4875aa92b9/jobs/169/artifacts

[2022-02-09 13:18] Tornaco commented on #343
@kaniwow zygisk版本，请测试下是否工作： https://app.circleci.com/pipelines/github/Tornaco/Thanox/175/workflows/186ed892-0e6e-4994-84c7-5c4875aa92b9/jobs/169/artifacts

[2022-02-09 13:18] #400 closed, assigned to nobody

[2022-02-09 13:21] Tornaco commented on #396
@STTecCEO 可以试试支持zygisk的版本 https://app.circleci.com/pipelines/github/Tornaco/Thanox/175/workflows/186ed892-0e6e-4994-84c7-5c4875aa92b9/jobs/169/artifacts

如果还是有问题，请同时抓一下data/system/thanos/logging以及data/tombstones

[2022-02-10 00:02] PuerNya commented on #343
好的 晚点测试

[2022-02-10 12:00] i-CraftY commented on #386
[logging.zip](https://github.com/Tornaco/Thanox/files/8040689/logging.zip)
**录屏：https://www.bilibili.com/video/BV1p34y117W4/**

包名：tw.nekomimi.nekogram
出现的几率是小了些

[2022-02-10 12:37] Tornaco commented on #386
![Screen Shot 2022-02-10 at 8 30 47 PM](https://user-images.githubusercontent.com/23255526/153409909-c1d1afe8-dd97-41b6-97de-f4a871f97272.png)

这个应用开启图中这个开关了吗？看日志好像没开？

[2022-02-10 12:39] Tornaco commented on #386
另外你刷的是哪个ROM，我看下我又没有资源复现一下试试

@OopsSnap

[2022-02-10 12:45] Gokou-Ruri commented on #386
我这边自从更新了这个功能开始，闪退现象就很少见了。
现在闪退虽然还是有，但好几天才能碰上一次，很难复现。

[2022-02-10 12:50] Gokou-Ruri commented on #391
不要光更新却不看更新日志，这个更改根本就不是从3.3.1才开始的。
https://github.com/Tornaco/Thanox/releases/tag/v3.3
另外：
https://github.com/Tornaco/Thanox/releases/tag/v3.4

[2022-02-10 13:03] Gokou-Ruri opened #404 "功能请求：希望智能冻结可以拦截意图(Intent)启动对应的APP"
例如从QQ的游戏中心启动游戏（该游戏被冻结）、从网页拉起APP（该APP被冻结）等场景。
目前“检测到活动请求时启用该App”这个选项只能在启动Activity时才能启动被冻结的APP，应用面比较窄。平时我个人见得比较多的场景是在搜索引擎中搜索到某个视频，但因为该网站客户端被冻结所以该页面只能拉起应用商店，或者点开某个网站页面，但因为客户端被冻结所以同样只能拉起应用商店……
适配这个可能比较麻烦，所以可以考虑像情景模式一样开放规则编写，让用户来编写和分享规则，或者加入到情景模式豪华套餐里也可以。

[2022-02-10 14:16] i-CraftY commented on #386
是打开的
![Screenshot_2022-02-10-22-17-22-053_github tornaco](https://user-images.githubusercontent.com/42453713/153426056-b076b897-6e06-41b1-90b2-b01730b9ef0e.jpg)

Android12 MIUI13开发版1.24
现在极少出现这种情况，复现有点难度

[2022-02-10 14:33] MC-ALL opened #405 "功能请求：增加以整个应用集为单位的选择"
在管理界面（比如乖巧模式）中，可以对整个应用集进行选取，方便管理，当然以上都可以用模板实现，比较麻烦

设想
把需要归为一类管理的软件（比如国内流氓软件）加入同一个应用集，在乖巧模式中只需要选择这个应用集就可，不需要单独选，后期安装了新软件，也只需要加入这个应用集，就可以应用这个应用集的设定。

[2022-02-10 14:37] Tornaco commented on #391
v3.5 已经加入多种开关，可按需调整。

[2022-02-10 14:37] #391 closed, assigned to nobody

[2022-02-10 14:37] Tornaco commented on #390
Fixed since v3.5

[2022-02-10 14:37] #390 closed, assigned to nobody

[2022-02-10 14:38] Tornaco commented on #386
OK 暂时关闭该issue。建议使用时打开检测活动请求后解冻的开关。

[2022-02-10 14:38] #386 closed, assigned to nobody

[2022-02-10 14:38] #385 closed, assigned to nobody

[2022-02-10 14:38] #378 closed, assigned to Tornaco

[2022-02-10 14:39] #365 closed, assigned to nobody

[2022-02-10 14:39] #402 closed, assigned to nobody

[2022-02-10 14:39] Tornaco commented on #402
Fix v3.5

[2022-02-10 14:40] #360 closed, assigned to nobody

[2022-02-10 14:40] #357 closed, assigned to nobody

[2022-02-10 14:40] Tornaco commented on #384
Fixed since v3.5

[2022-02-10 14:40] #384 closed, assigned to Tornaco

[2022-02-10 14:43] Tornaco commented on #405
之前有提过类似需求，后面会做，不过需要些时间。

[2022-02-10 16:04] DBinkCunese opened #406 "zygisk版在coloros开机解锁后软重启"
zygisk版在coloros11.2和coloros12都会开机解锁后软重启
[boot-2022-02-10-23-20-57_112439.zip](https://github.com/Tornaco/Thanox/files/8042429/boot-2022-02-10-23-20-57_112439.zip)
[bootlog-2022-02-10-23-52-18.zip](https://github.com/Tornaco/Thanox/files/8042428/bootlog-2022-02-10-23-52-18.zip)

[2022-02-10 16:09] luckyzyx opened #407 "刷入3.5prc导出的magisk模块后开机循环软重启"
**Describe the bug（现象描述）**
刷入模块后，开机到锁屏页面，3-5秒左右软重启，循环，禁用模块后正常启动

**To Reproduce**（如何复现）
1. 刷入模块
2. 重启
3. 开机到锁屏页面等待几秒
4. 软重启

**Expected behavior**（期望结果）
修bug

**Screenshots**（截图）
暂无

**Version（发现问题的版本）:**
 - OS: ColorOS12  Android11  一加9RT
 - Version 3.5 prc

**Additional context**（其他信息）
暂无

** Logs**（日志文件）
利用magisk模块 LogCatcher模块抓取的log
[蓝奏云log](https://luckyzyx.lanzouy.com/iIU1Dzvph7a)

[2022-02-11 08:01] qingcheng6 opened #408 "刷入3.5prc_zygisk_magisk模块后开机软重启"
**Describe the bug（现象描述）**
刷入模块后，开机到锁屏页面，3-5秒左右软重启，循环，禁用模块后正常启动

**To Reproduce**（如何复现）
刷入zygisk_thanox

**Expected behavior**（期望结果）
修复

**Screenshots**（截图）
无

**Version（发现问题的版本）:**
 - OS: [e.g. PixelExperience Android 12]
 - Version [e.g. v3.5]

[2022-02-11 12:15] i-CraftY commented on #386
[logging.zip](https://github.com/Tornaco/Thanox/files/8048472/logging.zip)
今晚出现的：com.xiaomi.router
以上的问题全都是在开启检测活动请求后解冻的情况下发生的
如果thanox在后台则闪退后会拉起thanox

https://user-images.githubusercontent.com/42453713/153589877-3f521507-d69c-4b32-bc09-8b58a22191fb.mp4

[2022-02-11 13:43] Tornaco commented on #406
@DBinkCunese  把你的thanox配置备份发我一下。我在coloros11.2测试，目前没发现重启问题。我用你的备份试试 。

[2022-02-11 17:55] DBinkCunese commented on #406
@Tornaco
你试试[Thanox-Backup-2022-02-12-01_51_14.zip](https://github.com/Tornaco/Thanox/files/8050713/Thanox-Backup-2022-02-12-01_51_14.zip)

[2022-02-12 12:50] STTecCEO commented on #396
[异常重启.zip](https://github.com/Tornaco/Thanox/files/8053388/default.zip) 使用中卡死重启,时间2.12 20:24
[loop.zip](https://github.com/Tornaco/Thanox/files/8053389/loop.zip) magisk仍然无法单独生效，会导致开机一解锁就卡死重启（设定 已停止运行），不解锁则无事发生。xp与magisk同时激活则能正常开机，同时在单独启用xp激活下失效的划卡清理也恢复正常，但Thanox里显示的补丁状态是 Xposed 。

[2022-02-13 14:39] Tornaco commented on #408
请测试 https://github.com/Tornaco/Thanox/releases/tag/v3.6

[2022-02-13 14:39] Tornaco commented on #407
请测试 https://github.com/Tornaco/Thanox/releases/tag/v3.6

[2022-02-13 14:39] Tornaco commented on #406
请测试 https://github.com/Tornaco/Thanox/releases/tag/v3.6

[2022-02-13 15:07] qingcheng6 opened #409 "刷入zygisk_thanox-3.6.zip软重启"
**Describe the bug（现象描述）**
同之前软重启情况相同，但这次刷入会禁用zygisk，强制开启zygisk后软重启

**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
1. 刷入zygisk_thanox-3.6.zip

**Expected behavior**（期望结果）
修复

**Screenshots**（截图）
![Screenshot_20220213-230459_Settings](https://user-images.githubusercontent.com/83507302/153759435-2ef98b1e-66fd-482e-bf46-fa0f49d4a151.png)

**Version（发现问题的版本）:**
 - OS: [e.g. Android 12]

[2022-02-13 15:10] qingcheng6 commented on #408
不行，问题依旧

[2022-02-13 15:11] luckyzyx commented on #407
非常遗憾，他还是循环重启，不过有丝毫好转，首次解锁后才循环重启，不解锁就一直那个解锁页面
[蓝奏logcatcher](https://luckyzyx.lanzouy.com/ikYAv001lpqj)

[2022-02-13 15:21] qingcheng6 opened #410 "添加"主题随系统变换"(请求)"
![Screenshot_20220213-232002_Edge](https://user-images.githubusercontent.com/83507302/153760028-200212cf-231e-4cb9-89d9-d27bf39f13fe.png)
类似这样
而且3.6版本貌似主题切换失败

[2022-02-14 02:24] Oosl commented on #410
主题列表的最下面有一个auto，就是随系统主题自动变

[2022-02-14 02:52] Oosl opened #411 "Zygisk-ColorOS-移花接木导致无法从桌面打开应用"
**Describe the bug（现象描述）**
在ColorOS上（cos11和cos12都存在该问题）通过riru或zygisk激活Thanox补丁后，移花接木处理过的应用，无法在桌面直接点击app图标启动，会提示`应用数据读取失败，无法启动应用`，但此时可以通过设置-应用信息里的打开按钮来打开此应用。另外使用xposed模式激活补丁就没问题。

**To Reproduce**（如何复现）
1、xposed模式下设置一个移花接木规则，测试可以正常生效。
2、lsposed中取消激活thanox，magisk中刷入zygisk-thanox补丁模块并重启。
3、启动后在系统桌面点击刚移花接木对应的应用，即刻复现该问题。

**Expected behavior**（期望结果）
zygisk工作模式下，移花接木生效的应用也可正常从桌面打开。

**Screenshots**（截图）

[2022-02-14 07:04] #397 closed, assigned to nobody

[2022-02-15 14:33] Tornaco commented on #409
试试这个。。https://app.circleci.com/pipelines/github/Tornaco/Thanox/183/workflows/db310b56-5926-4bcb-880c-2cdeadbf93bf/jobs/174/artifacts

[2022-02-15 14:34] Tornaco commented on #408
试试这个。。https://app.circleci.com/pipelines/github/Tornaco/Thanox/183/workflows/db310b56-5926-4bcb-880c-2cdeadbf93bf/jobs/174/artifacts

[2022-02-15 14:34] Tornaco commented on #407
试试这个。。https://app.circleci.com/pipelines/github/Tornaco/Thanox/183/workflows/db310b56-5926-4bcb-880c-2cdeadbf93bf/jobs/174/artifacts

[2022-02-15 14:34] Tornaco commented on #406
试试这个。。https://app.circleci.com/pipelines/github/Tornaco/Thanox/183/workflows/db310b56-5926-4bcb-880c-2cdeadbf93bf/jobs/174/artifacts

[2022-02-15 14:51] luckyzyx commented on #407
这个不重启了，修好了，好耶

[2022-02-15 14:51] #407 closed, assigned to nobody

[2022-02-16 05:25] xiuhu318 opened #412 "“通知记录”里面重现消息后，该app消息无法清除。"
第一次用这个，出错了，不会删除，看#413

[2022-02-16 05:38] xiuhu318 opened #413 "“通知记录”里面重现消息后，该app消息无法清除。"
我在thanox的消息记录功能里面选择重现滴答清单的消息，然后发现滴答清单的消息都无法清空了。

**To Reproduce**（如何复现）
1. 打开thanos，点击通知记录。
2. 选择该记录，点击重现。

**Expected behavior**（期望结果）
就像正常软件弹出消息那样，可以点击通知跳转滴答清单

**Version（发现问题的版本）:**
 - 安卓版本11，miui版本12.5 21.12.8（开发版）（系统版本，例如Android 6.0.1）
 - thanox版本3.6prc，滴答清单版本6.1.9.6

![image](https://user-images.githubusercontent.com/80893803/154202848-2c204de6-e7a0-4eb0-a42c-cf22c4516fc0.png)

** Logs**（日志文

[2022-02-16 05:56] xiuhu318 commented on #413
重装滴答清单已经恢复

[2022-02-16 08:44] laerhu opened #414 "智能冻结“检测活动启动 app” 全局设置和首次启动无效"
**Describe the bug（现象描述）**
1. 全局设置无效：智能冻结 - 设置 - 打开“开启检测到活动启用app” 后 - app manger 里 app 的该设置未被打开
2. 首次启动无效：打开被冻结 app 的“开启检测到活动启用app” 选项后，不能直接生效（需要先手动解冻才行）

**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
1. **新系统首次使用 thanox**，智能冻结 - 设置 - 保持所有选项的默认关闭状态
2. 智能冻结 - 添加 app，长按 app - app manager - 发现 “检测到活动启用 app” 开关是关闭的 (**全局设置无效**)
3. 在 app manager 启用该选项后再用其他活动启动被冻结的 app；发现被冻结的 app 没启动 (**

[2022-02-16 08:52] Tornaco commented on #414
@laerhu 拼多多网页发出来。

那个所谓全局开关的作用可能大家有误解，下次我会把说明写详细一些。

[2022-02-16 08:55] laerhu commented on #414
[https://m.pinduoduo.com](https://m.pinduoduo.com)

[2022-02-16 10:07] i-CraftY opened #415 "v3.6智能冻结（以PM disable方式冻结)"检测到活动请求时打开"失效"
**Describe the bug（现象描述）**
A clear and concise description of what the bug is.（简洁的描述该bug的现象）
点击支付宝扫一扫快捷方式，或是点击浏览器中“打开APP"，均无法启动app
**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
点击支付宝扫一扫快捷方式，或是点击浏览器中“打开APP"

**Expected behavior**（期望结果）
A clear and concise description of what you expected to happen.（描述一下期望的结果）
不会检测到请求
**Screenshots**（截图）
If applicable, add screenshots to help explain

[2022-02-17 13:59] occultID opened #416 "移花接木目标活动启动后内容缺失以及状态栏消失"
现象描述：
下厨房、微博、最右、咪咕音乐、京东读书、全历史、云听等APP在使用移花接木功能来跳广告后，目标activity即APP主页activity启动后会出现内容缺失（比如全历史首页功能按钮不显示标题）或状态栏短暂出现又消失（以上除云听外所有APP）的问题；其中下厨房还会出现无论点击主页哪个项目，都只会跳转回首页activity的问题；云听在开启移花接木后启动无法跳转到首页activity而是闪退。

对于以上问题，如果使用blocker直接启动目标activity均不会出现，只在thanox移花接木启动目标activity时会出现

截图：
移花接木规则
![Screenshot_2022-02-17-21-48-23-276_github.tornaco.android.thanos.jpg](https://user-images.githubusercontent.com/84

[2022-02-18 05:37] xiuhu318 commented on #413
。。好像并没有解决。还是无法清理

[2022-02-20 05:25] entr0pia opened #417 "[Feature request] 易用性改进"
1. magisk (zygisk) 模块随apk自动更新
2. 应用休眠和运行的状态标识以不同颜色显示

![Screenshot_20220220-132339](https://user-images.githubusercontent.com/30486766/154829706-0e6dabeb-0ee0-4518-be54-687ea1bbad9d.png)

[2022-02-21 04:11] i-CraftY commented on #415
#386
问题出现频率上升

[2022-02-21 04:20] i-CraftY commented on #415
v3.71未修复

[2022-02-21 06:21] Tornaco commented on #415
@OopsSnap 是lsp还是zygisk呢 。。日志贴一下，另外确认下是否开启了测试app的“活动检测启用”开关。

[2022-02-21 07:10] i-CraftY commented on #415
[logging(1).zip](https://github.com/Tornaco/Thanox/files/8106971/logging.1.zip)

是LSP，一直开启活动检测启用的，测试时用的都是负一屏的扫一扫，另外以前的版本在文件管理器选择文件打开方式的时候也是会被启动的，现在都失效了

[2022-02-21 07:19] Tornaco commented on #415
@OopsSnap 从桌面可以启动码

[2022-02-21 07:21] i-CraftY commented on #415
从桌面快捷方式启动app没问题

[2022-02-21 08:29] i-CraftY commented on #415
@Tornaco

https://user-images.githubusercontent.com/42453713/154916367-f4553cda-be77-444d-852a-bf94f427a985.mp4
[logging(1)(1).zip](https://github.com/Tornaco/Thanox/files/8107560/logging.1.1.zip)
包名:com.ktls.fileinfo

最新版这问题又出来了，今天频繁遇到了。v3.6是最稳的

[2022-02-22 01:54] Taylor13Swift opened #418 "miui13在3.6.1、3.7、3.7.1上都有问题"
是bug吗还是我的设置问题。。3.6.1、3.7的微信代收一点开就闪退，情景模式保存不了。3.7.1的根本激活不了，只用面具或者lsp还是两者都开启都是未激活。所有的情景模式写进去不能保存，点了没反应，只能退出放弃保存

[2022-02-22 01:56] Taylor13Swift commented on #418
还有就是显示当前活动也不会显示，没有反应，权限什么的都已经开了

[2022-02-22 02:14] Tornaco commented on #418
日志发一下吧。

[2022-02-22 02:15] Tornaco commented on #418
情景模式也发一下

[2022-02-22 04:05] Taylor13Swift commented on #418
@Tornaco 打包过去了，劳烦作者大大尽快修复
https://xinpingtai.lanzouj.com/iblIx00g3wfc
Miui13 小米11 安卓12 版本3.7 lsp激活的

[2022-02-22 04:05] Taylor13Swift commented on #418
[
{
"name": "微信保活",
"description": "微信睡死时启动",
"priority": 1,
"condition": "pkgKilled == true && (pkgName == \"com.tencent.mm\")",
"actions": [
"ui.showShortToast(\"启动微信\");",
"activity.launchProcessForPackage(\"com.tencent.mm\")"
]
}
]

[2022-02-22 07:00] Tornaco commented on #418
@Taylor13Swift

暂时先手动删除这个文件，重启试试。

/data/system/thanos_xxxx/sec-data/u/0..../start.db

这是后台启动记录的数据库，不知道日志中显示为什么你这个文件损坏了导致一些异常。

[2022-02-22 07:05] Tornaco commented on #418
[thanox_3.7.2-prc(3060852).zip](https://github.com/Tornaco/Thanox/files/8114313/thanox_3.7.2-prc.3060852.zip)

激活问题可以更新到这个版本试试。

[2022-02-22 07:30] Taylor13Swift commented on #418
Perfect! 完美修复，谢谢啦

[2022-02-22 09:12] aoxuexiaoyao commented on #418
[
  {
    "name": "Task removal",
    "description": "应用被杀死时，移除任务（仅做示例，请自行优化）",
    "priority": 1,
    "condition": "pkgKilled == true",
    "actions": [
      "task.removeTasksForPackage(pkgName);"
    ]
  }
]
这模式3.71 3.72都不能用了 3.6可以

[2022-02-22 09:17] Tornaco commented on #418
不能用只指什么意思？

[2022-02-22 09:21] Taylor13Swift commented on #418
![Screenshot_2022-02-22-17-20-20-038_github tornaco android thanos](https://user-images.githubusercontent.com/62124320/155101521-a313dcb9-6f67-44ce-85df-9c9a59a2322c.jpg)
我不会写这个代码，我复制粘贴别人的，这个样子不是已经启用了嘛

[2022-02-22 09:48] i-CraftY commented on #415
找到原因了，上面的情况都是我用PM disable 冻结的，是在这种方式冻结下把检测请求功能削了吗，以前还挺好用的。。。用PM suspend 冻结就可以检测到请求

[2022-02-22 10:58] Cuddly-Red-Fox commented on #378
在Thanox APP更新至最新的3.7.1-prc，之后，该问题已不存在，似乎是已经修复了，非常感谢

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "Tornaco/Thanox"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年1月14日(星期五) 上午8:51
***@***.***&gt;;
**

[2022-02-22 12:59] aoxuexiaoyao commented on #418
就是应用被杀后 多任务不自动移除了
3.6 的时候一直用着没问题 3.7 没试 3.71 3.72 就不管用了

[2022-02-22 13:38] Tornaco commented on #418
应该是最近几个版本重构的时候这部分逻辑被破坏了，我修改了一下，你再测试下这个版本呢：

https://app.circleci.com/pipelines/github/Tornaco/Thanox/194/workflows/988b0147-7bcd-4251-b508-17ad5510f26c/jobs/183/artifacts

@[aoxuexiaoyao](https://github.com/aoxuexiaoyao)

[2022-02-22 14:08] aoxuexiaoyao commented on #418
这个可以用了 能自动移除了

[2022-02-23 07:57] Tornaco commented on #413
@xiuhu318 请先确认是否是thanox导致的，理论上通知能否清理不受thanox影响。你把thanox取消激活会有这个问题吗？

[2022-02-23 07:58] Tornaco commented on #412
dup #413

[2022-02-23 07:58] #412 closed, assigned to nobody

[2022-02-23 07:58] #394 closed, assigned to nobody

[2022-02-23 07:59] Tornaco commented on #396
@STTecCEO

最新版本测试了吗？

xp和magisk不能同时激活哦。

[2022-02-23 07:59] Tornaco commented on #410
请选择auto

[2022-02-23 07:59] #410 closed, assigned to nobody

[2022-02-23 08:08] #409 closed, assigned to nobody

[2022-02-23 08:09] #408 closed, assigned to nobody

[2022-02-23 13:43] Tornaco commented on #415
@OopsSnap 尝试修复了一下，你再试试这个CI上的测试版本

https://app.circleci.com/pipelines/github/Tornaco/Thanox/198/workflows/949d6116-ab77-430b-87a4-ccbe1d77cde6/jobs/186/artifacts

[2022-02-23 14:18] halloth opened #419 "后台启动的启动记录，点击统计环状图有怪触发"
**Describe the bug（现象描述）**
后台启动的启动记录页面，点击统计环状图有怪触发。顺时针点击最大的环块的区域，会按照下方次数列表顺序进入相应的app应用管理页面，点击其他环块则无反应

**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
1. 进入后台启动管理的启动记录页面
2. 顺时针点击统计图最大环块的不同区域
3. 会按照下方次数列表顺序进入相应的app应用管理页面
4. 点击其他环块则无反应

**Expected behavior**（期望结果）
点击环状统计图代表不同app的色块，进入到对应app的应用管理页面
**Screenshots**（截图）
![Screenshot_20220222-154318~2](https://user-images.githubusercontent

[2022-02-23 23:55] i-CraftY commented on #415
fixed
可不可以加一个批量创建快捷方式，昨天换成挂起，把快捷方式全删了，今天得手点了。。。

[2022-02-24 01:39] Tornaco commented on #418
先关闭这个问题，请关注接下来的正式版。

[2022-02-24 01:40] #418 closed, assigned to nobody

[2022-02-24 01:40] Tornaco commented on #415
先关闭这个问题，请关注接下来的正式版。

[2022-02-24 13:22] #406 closed, assigned to nobody

[2022-02-24 14:40] eryldgd opened #420 "查看通知记录，部分通知点击重现thanox会停止运行"
问题描述：查看通知记录点击重现thanox会停止运行

不是所有通知重现都会崩溃，目前已知就是Google Play、小爱同学、米窗的消息重现会崩溃

其它我什么也没做，因为其它功能没有问题。
这个通知记录也不常用！
还有就是我不知道问题出在哪为了避免乱搞出问题最好就哪里也不动了。
后来我把消息清空了还是一样出问题，也没法测试了
![Video_20220223_072059_33](https://user-images.githubusercontent.com/98635421/155542411-6e3e102f-fded-4bd0-ac34-b07498e799ea.gif)

thanox版本：3.7.1-prc
系统版本：Android 12 MIUI 13  22.2.21

日志：
[crash_github.tornaco.android.thanos_2022-02-

[2022-02-25 05:00] zzzzs3 opened #421 "一加桌面卡死"
1.系统版本：安卓10
2.Thanox版本：3.7.2-row    xpsed方式
3.问题描述：锁定屏幕后，解锁打开桌面，桌面有几率卡死
4.不激活无此问题
5.Thanox不配置问题依旧存在
6.日志文
[log.zip](https://github.com/Tornaco/Thanox/files/8138630/log.zip)
件

[2022-02-26 11:58] i-CraftY commented on #415
@Tornaco
论智能检活，v3.7.3和v3.3.1还是有差别，老版本易用性更强，经测试，新版也许只是修复了支付宝的问题。。
先看一下v3.3.1和v3.3.7 PM disable冻结的差别，可以看出**v3.3.1通过链接是可以唤醒京东的，而v3.3.7不行**
**v3.3.1:**https://www.bilibili.com/video/BV1gF411t7bB/
**v3.7.3:**https://www.bilibili.com/video/BV18r4y1r7wU/

以PM suspend冻结是可以解决上面的问题的,可以看出**一者唤醒淘宝，一者没有**
**v3.7.3(PM disable)**https://www.bilibili.com/video/BV1JY411G7pw/
**v3.7.3(PM suspend)**https://www.bilib

[2022-02-26 14:04] Tornaco commented on #420
@eryldgd 3.7.3 OK吗？

[2022-02-26 14:06] Tornaco commented on #417
1. 当前暂不支持。
2. 3.7.3已经区分开了
@entr0pia

[2022-02-26 14:06] #413 closed, assigned to nobody

[2022-02-26 14:07] #355 closed, assigned to nobody

[2022-02-26 14:07] #336 closed, assigned to nobody

[2022-02-26 14:08] Tornaco commented on #328
Fixed，代收已经不再是插件了~

[2022-02-26 14:08] #328 closed, assigned to Tornaco

[2022-02-26 14:10] Tornaco commented on #334
当前lsp补丁可以支持情景模式使用 back kill来实现这个返回清理的需求。
Magisk补丁目前由于缺少key事件相关的hooks，这个情景模式无法正常工作，后续会增加这个情景模式的支持。

[2022-02-26 14:10] #329 closed, assigned to nobody

[2022-02-26 14:10] #324 closed, assigned to nobody

[2022-02-26 14:11] #327 closed, assigned to Tornaco

[2022-02-26 14:11] #352 closed, assigned to Tornaco

[2022-02-26 14:11] #325 closed, assigned to nobody

[2022-02-26 14:12] #272 closed, assigned to nobody

[2022-02-26 14:22] Tornaco commented on #421
有几个问题确认下：
1. 之前的版本有这个问题吗？
2. 解锁后出现问题，是指第一次开机后第一次解锁，还是每次解锁都可能出现问题？
3. 桌面卡死后，桌面重启了对吧？系统有重启吗？

@zzzzs3

[2022-02-26 14:46] eryldgd commented on #420
试了试，没发现问题了！Good job.

[2022-02-26 14:46] #420 closed, assigned to Tornaco

[2022-02-27 02:40] i-CraftY commented on #404
#415
较为相似的需求

[2022-02-27 03:10] Gokou-Ruri commented on #415
道理我都懂，但是为什么要用这种野鸡广告平台贴视频？点进去一看好家伙，疯狂弹窗广告，唯独就是不能播放视频。国内有b站等，国外有ytb等，再不济github本身也能上传视频，虽然限制视频体积。

[2022-02-27 03:18] StrollStars commented on #334
@Tornaco 谢谢，最好能够像应用管理那样，能够针对指定应用，目前LSP补丁应该是一刀切的做法吧？

[2022-02-27 03:49] i-CraftY commented on #415
我的错，感谢提醒，浏览器装了uBlock Origin，我自己看起来是很干净的。。。

[2022-02-27 03:51] i-CraftY commented on #415
已更新视频链接，还在审核中，抱歉

[2022-02-27 05:10] Tornaco commented on #334
@StrollStars 可以指定app，全局变量自己控制

[2022-02-27 06:07] StrollStars commented on #334
@Tornaco 感谢指教，之前一直没留意。那返回清理和自动休眠，用的都是同一个全局变量是吗？

[2022-02-27 06:40] hanxin1997 opened #422 "是否可以让通知拉起智能冻结的软件"
如题，目前的话我使用小米push增强模块{https://github.com/vivian8421/MiPush-Enhance}这个模块可以实现被冻结的软件通过米推显示在通知栏，但是无法拉起app。
变灰的冻结方法，看push增强模块说一些限制无法显示。
![QQ图片888](https://user-images.githubusercontent.com/58620096/155871420-d23ba4b3-1be7-4cbd-9b7d-2d18cd98ee76.jpg)

[2022-02-27 09:33] #396 closed, assigned to nobody

[2022-02-27 09:34] Tornaco commented on #387
@black11191 多用户支持已经开始开发了，请测试下：https://app.circleci.com/pipelines/github/Tornaco/Thanox/208/workflows/e05d9ec6-5075-48d1-b541-ff6f7bb19dc9/jobs/195/artifacts

[2022-02-27 14:39] Gokou-Ruri opened #423 "force-stop智能冻结列表中的APP，但APP不会被立刻冻结。"
Thanox智能冻结在pm suspend模式下，通过Xposed Edge Pro、LMT Launcher等程序对Thanox智能冻结列表中的APP进行“强行停止”后，APP不会被Thanox冻结。必须在系统设置的APP管理页面点击“强行停止”按钮，或是在最近任务中划掉APP卡片，Thanox才能自动冻结该APP。

[2022-02-27 14:42] Tornaco commented on #423
@Gokou-Ruri 能传个日志吗？

[2022-02-27 15:21] Gokou-Ruri commented on #423
[thanox-core.log.zip](https://github.com/Tornaco/Thanox/files/8148890/thanox-core.log.zip)
只有pm suspend模式下才会出现这个问题。

如果是pm disable模式下解冻APP，再force-stop，则该APP会被自动disable。
而pm suspend模式下解冻APP，再force-stop（划掉卡片和系统APP管理强行停止除外），则该APP不会被自动suspend。

[2022-02-27 15:40] Gokou-Ruri commented on #423
![Screenshot_20220227-233908_Thanox_Pro](https://user-images.githubusercontent.com/26711804/155889140-1672495b-2f29-4933-9bd8-57c3d265b4cd.png)
刚才发现在智能冻结界面选“全部临时解冻列表中的应用”以后，返回Thanox主界面左上角显示不兼容。
[thanox-core.zip](https://github.com/Tornaco/Thanox/files/8148957/thanox-core.zip)
[thanox-init.zip](https://github.com/Tornaco/Thanox/files/8148958/thanox-init.zip)

[2022-02-27 20:16] Gokou-Ruri commented on #423
突然发现用Thanox执行suspend的APP，用root执行unsuspend无法恢复该APP……？这就……就很尴尬了。
有些APP我用tasker插件模式调用（例如Rotation），而这种启动方式不会被Thanox检活解冻。平时我是把它们冻结的，偶尔需要时才解冻。

[2022-02-27 23:41] Tornaco commented on #423
@Gokou-Ruri  看你的日誌裡面錯誤挺多的，麻煩用這個版本測試一下，https://app.circleci.com/pipelines/github/Tornaco/Thanox/214/workflows/a5a03253-a640-4942-8d8f-e2875d1d2963/jobs/201/artifacts

不管是否解決了你提到的問題，麻煩再把日誌發出來~

[2022-02-28 01:17] Gokou-Ruri commented on #423
[thanox-core.log.zip](https://github.com/Tornaco/Thanox/files/8149862/thanox-core.log.zip)
[thanox-init.log.zip](https://github.com/Tornaco/Thanox/files/8149863/thanox-init.log.zip)
确实发现只要启用了Thanox以后logcat里就会刷出一大堆警告和错误，不过看不太懂日志所以就没去管它……
测试版目前用第三方程序对APP进行强行停止可以触发Thanox自动冻结（suspend）。
但“全部临时解冻列表中的应用”因为免费版无法使用所以无法测试会不会出现[上面提到的那个情况](https://github.com/Tornaco/Thanox/issues/423#issuecomment-1053592654)。

[2022-02-28 01:31] Tornaco commented on #423
日志里报了很多包找不到的错误，很奇怪。com.pikcloud.pikpak 这个应用你是安装了吗？安装到哪个用户了？

没用什么特殊权限，你执行的什么命令？我晚一点试试。

[2022-02-28 01:39] Gokou-Ruri commented on #423
上个月安装过但很早就已经卸载了，当时是安装到user 0。
我是用root执行`pm unsuspend --user 0 com.pranavpandey.rotation`，返回`Package com.pranavpandey.rotation new suspended state: true`，但实际上该APP仍旧处于suspending状态，tasker插件无法调用它。必须用Thanox解冻后才能调用它。（有可能是SELinux的原因？）

[2022-02-28 15:16] finale-site opened #424 "可自主选择关闭提示语"
希望增加一个小功能，可以自主选择关闭情景或者冻结的提示语
![Screenshot_2022-02-28-23-11-37-816_com baidu tieba](https://user-images.githubusercontent.com/56009574/156008076-5625a3d5-0d48-4fc4-b404-2e44d648ed98.jpg)
如把上述的文字可以取消，感谢开发者！！！

[2022-03-01 07:16] zzzzs3 commented on #421
找到原因了，是因为我的动态刷新率模块问题。

[2022-03-01 07:27] zzzzs3 opened #425 "谷歌商店不能被冻结（PM suspend模式）"
1.系统版本：安卓10
2.Thanox版本：3.7.3-row xpsed方式
3.问题描述：将谷歌商店添加冻结，锁定屏幕后，服务虽停止但未冻结
4.不激活无此问题

5.谷歌paly服务可以使用PM suspend模式冻结
6.日志文件
[log.zip](https://github.com/Tornaco/Thanox/files/8159591/log.zip)

[2022-03-01 16:49] Gokou-Ruri commented on #334
建议先了解一下什么是变量，你可以添加不同的变量，并让不同的情景模式调用不同的变量。

[2022-03-03 13:59] yzfqplx opened #426 "添加一个全局指纹"
这个功能有助于帮助移植ROM睡死的问题，可参考重力工具箱的指纹

[2022-03-03 14:25] Gokou-Ruri commented on #426
不是很懂这是什么需求，描述不明，截图也无，既然已经有轮子了那Thanox就没必要再造一个了吧？

[2022-03-04 01:44] Gokou-Ruri opened #427 "通过情景模式返回杀进程会误杀程序"
**Describe the bug（现象描述）**
从程序A打开Chrome Custom Tab后，从Chrome Custom Tab返回程序A时会误杀程序A。

**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
1. 以酷安举例（不单单只是酷安），打开酷安，随意在酷安里打开某个外链，此时会通过Chrome Custom Tab打开此外链。
2. 在Chrome Custom Tab中按下返回键，返回酷安。
3. 这时酷安进程会被杀掉。

**Screenshots**（截图）
If applicable, add screenshots to help explain your problem.（通过截图更好的解释你的问题）

**Version（发现问题的版本）:**
 - OS: [Android 11]

[2022-03-04 01:47] Gokou-Ruri commented on #424
+1，现在Toast太多了，有时候操作比较快，都已经执行完了，后面几条Toast要等好几秒才会显示出来。

[2022-03-04 01:49] Gokou-Ruri commented on #381
同，这个太重要了。

[2022-03-05 02:26] ghost opened #428 "希望增加坚果云可选功能进行云备份功能"
作者大大。希望增加坚果云可选功能进行云备份功能。方便同步🤓

[2022-03-05 03:34] suka233 commented on #422
+1

[2022-03-05 04:00] #417 closed, assigned to nobody

[2022-03-05 04:11] Tornaco commented on #424
Please test this build when it's done: https://app.circleci.com/pipelines/github/Tornaco/Thanox/234/workflows/cd8f8357-95b5-438d-9275-4a075257aea8/jobs/219/artifacts

[2022-03-05 07:21] Gokou-Ruri opened #429 "通过suspend模式冻结某个程序后其依旧在后台运行是正常情况吗？"
现在对suspend的可靠性存疑了，刚才玩游戏的时候发现间歇性卡顿，打开3c toolbox一看谷歌相册在后台把小核心占满了，然后在Thanox里查看相册确实是被冻结的状态。
![Screenshot_20220305-130111_Nova_Launcher](https://user-images.githubusercontent.com/26711804/156872974-a93ac931-42a3-4ef7-905a-c99e0eba87c9.png)
![Screenshot_20220305-130125_3C_一体工具箱](https://user-images.githubusercontent.com/26711804/156872987-d85a5955-0714-465b-9565-50889004a786.png)

[2022-03-05 08:47] liu-cool-cmd commented on #429
@Gokou-Ruri 同问，我现在都用正常的disable了

[2022-03-05 09:02] Adlyq opened #430 "无法感知FCM推送"
**Describe the bug（现象描述）**
如题

**To Reproduce**（如何复现）
开启微信代收，FCM显示广播成功，等几分钟才有微信的通知（微信在乖巧模式）
情景模式的例子（收到推送时显示Toast，删了包名匹配）也没有提示
可以确定nekogram收到了FCM通知被唤醒

**Version（发现问题的版本）:**
 - OS: 安卓12，小米11，最新开发板内测
 - Version 3.8.1-row

** Logs**（日志文件）
暂不清楚日志存放位置

[2022-03-05 09:31] eryldgd opened #431 "冻结微信分身，但是后台显示主程序冻结"
冻结微信分身，但是后台显示主程序冻结

**Screenshots**（截图）

![IMG_20220305_170828](https://user-images.githubusercontent.com/98635421/156877248-4b68e095-665e-463f-9739-c76697f2a5f6.jpg)
![IMG_20220305_170941](https://user-images.githubusercontent.com/98635421/156877258-61fb4185-2e9c-4ac3-a223-065a4a3d5e5f.jpg)
![IMG_20220305_171013](https://user-images.githubusercontent.com/98635421/156877260-c15f161e-933c-4415-a105

[2022-03-05 09:44] Tornaco commented on #431
@eryldgd  这种问题修不了，就怪MIUI吧。

[2022-03-05 09:44] #431 closed, assigned to nobody

[2022-03-05 09:46] Tornaco commented on #429
suspend 通常用来做DPC管理；目前看系统的代码是系统会限制这些app的Activity启动。至于是否能从后台启动一些服务之类的就没仔细研究了。

[2022-03-05 09:53] Gokou-Ruri commented on #429
那我再观察一阵看看。

[2022-03-05 09:53] #429 closed, assigned to nobody

[2022-03-05 16:38] 20171213 opened #432 "最新版用magisk激活怎么切换为riru版"

[2022-03-06 08:10] StrollStars commented on #334
@Gokou-Ruri 谢谢，其实我想解决怎么用的问题。刚刚看了下《[指南](https://tornaco.github.io/Thanox/)》中《[情景模式](https://tornaco.github.io/Thanox/6-Profile.html)》的部分，感觉对于一般用户而言还是太专业了。
例如设置返回杀应用，在默认情况下，是不是先进入全局变量菜单项，在其中新增一个名为“backkill”的JSON，然后在里面添加应用才能生效？

[2022-03-06 08:35] Gokou-Ruri commented on #334
我觉得指南应该还算比较容易懂的，我也不会编程，但这个情景模式指南我也能大致看明白，不明白的地方多看看别人写的情景模式就好了。
你的理解没错，先添加全局变量，变量名随意，给变量里添加（赋值）应用并保存，然后编写情景模式，情景模式里调用的变量名必须是你刚才设置的变量名（例如`backkill`）。

[2022-03-06 14:41] xxxxme opened #433 "Translate donation page to English"
**Is your feature request related to a problem? Please describe.**
I'm interested in donation information. The donation page appears to be in Chinese, but I can only read English, and to a lesser extent Spanish and German.

**Describe the solution you'd like**
Please translate the donation page into English.

**Describe alternatives you've considered**
Alternately, if the text on the page would be

[2022-03-07 12:47] lazureice opened #434 "想要杀后台但是能收到通知，应该用哪个功能？"
我想要的功能类似多任务界面上滑杀后台，但是不需要手动清理，而是可以锁屏后自动清理。

我本来以为是“后台运行”。但是发现锁屏后应用被 force stop，无法再收到通知。
如果不 force stop，应该用哪个功能呢？

[2022-03-07 13:55] Tornaco commented on #434
如果什么功能都不用呢？

[2022-03-07 16:13] lazureice commented on #434
呃，什么功能都不开启，app会一直占用内存，锁屏也不会清理

[2022-03-07 16:13] #434 closed, assigned to nobody

[2022-03-08 04:08] xiuhu318 opened #435 "情景模式无法启动app进程。"
**Describe the bug（现象描述）**
情景模式无法启动被停止的app进程。

**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
1. 启动qq。
2. 打开thanox进程管理，选择qq，停止qq。

**Expected behavior**（期望结果）
qq进程被停止，然后情景模式进行恢复qq进程。

**实际结果
qq进程被停止，屏幕下方显示情景模式设置的提示语：启动QQ…，重复出现大约3次，然后结束，并没有重新启动qq进程。

**Screenshots**（截图）
![image](https://user-images.githubusercontent.com/80893803/157163302-7860314b-348f-48b6-b4e1-b21b1047e4c3.png)

**

[2022-03-08 05:38] xiuhu318 commented on #435
新增发现。thanox进程管理里面停止qq和微信会导致这两个软件开机自启动失效。多次重启均无法回复。最终我关机，然后开机恢复。该问题可以稳定复现，恢复方法有点玄学，不是很摸得清。

[2022-03-08 07:42] Gokou-Ruri commented on #427
补充：将Chrome和DeepL翻译都添加到“返回杀进程” 的情景模式变量和“智能冻结”列表中，在Chrome打开任意网页，长按选择文本，在弹出的文本菜单中选择DeepL翻译，打开DeepL翻译后，按返回键返回，这时DeepL会被杀死并冻结（suspend），但Chrome也会被杀死并冻结。
感觉是Thanox没有区分父进程和子进程？
我不懂Android开发，不清楚是不是应该叫父进程和子进程，但很显然从Chrome长按文本菜单里选DeepL翻译的话，可以看到系统最近任务里显示DeepL界面的图标是Chrome，是不是Thanox在这种情况下无法区分这是两个不同的程序，所以把它们一起杀掉了？

[2022-03-08 07:47] Gokou-Ruri commented on #434
要有通知就必须有后台，要想有后台的话就不能清理，需求互相矛盾无法实现。
这是又想马儿跑又不想马儿吃草？想收通知又不想程序耗电？那只能用iOS了。

[2022-03-08 10:21] lazureice commented on #434
@Gokou-Ruri
请问在多任务界面上滑关闭APP，这个叫什么？似乎既不是force stop，也不是常驻后台。

[2022-03-08 11:20] Gokou-Ruri commented on #434
Android默认操作逻辑就是多任务划掉只杀Activity，不force-stop。所以你这个需求没必要用Thanox。

[2022-03-09 09:28] nakixii opened #436 "建议给乖巧模式添加仅锁屏时触发功能"
因为我不需要收到QQ消息通知，而且QQ经常在锁屏时唤醒，所以把QQ加入了乖巧模式，且没有设置规则。但是这样会导致QQ进去之后需要加载一会儿才能收到消息，在持续使用的时候这样有点烦人，所以希望添加仅锁屏时触发功能。

[2022-03-09 09:54] halloth commented on #419
更新版本到3.9-row，激活方式lsposed，打开关闭电池选项里的尽力省电，依然会触发同样的怪现象。依照之前图示，具体现象就是点击环状图代表Google play服务的区域，会任意进入下方应用列表中某个app的详细管理页面。而点击环状图中除此之外的任何区域，都不会产生反应

[2022-03-10 10:37] Gokou-Ruri commented on #435
同样发现`activity.launchProcessForPackage`无法拉起程序的问题，版本3.9，但这个问题应该大约是3.5版前后就出现了。

[2022-03-10 13:28] Tornaco commented on #435
我试了这个API在Android R S上确实会有兼容问题问题
[code]

[2022-03-10 13:34] Tornaco commented on #435
https://app.circleci.com/pipelines/github/Tornaco/Thanox/239/workflows/eb85eac5-3000-406c-a010-9b453261ca99/jobs/223/artifacts

@xiuhu318 @Gokou-Ruri  等CI这个包出了可以试试。

[2022-03-10 13:35] Tornaco commented on #432
在等2个版本，应该就会恢复riru的支持。需要一些重构。

[2022-03-10 13:35] #424 closed, assigned to nobody

[2022-03-10 13:52] Adlyq commented on #430
你好，请问有解决办法吗

[2022-03-11 02:04] xiuhu318 commented on #435
android/out/app/outputs/apk/prc/debug/thanox_3.9-1-d3ec24c-prc(3061051).apk。
是使用点进链接最底下这个安装包吗？

[2022-03-11 02:06] xiuhu318 commented on #435
我手机系统更新到了13.0.0.1.13。安卓12。还没有适配的root包。过段时间测试

[2022-03-11 02:50] Tornaco commented on #435
OK

[2022-03-11 02:50] #421 closed, assigned to nobody

[2022-03-11 02:51] #387 closed, assigned to Tornaco

[2022-03-11 04:20] Gokou-Ruri commented on #435
测试有效！坐等Play版！

[2022-03-11 13:33] Tornaco commented on #430
@Adlyq  你的问题是啥？thanox没有检测到微信的GCM消息事件吗？
如果是这个问题请先抓一下日志。

[2022-03-12 03:03] Adlyq commented on #430
[log.zip](https://github.com/Tornaco/Thanox/files/8236919/log.zip)
日志（截取之前，FCM有收到通知）

[2022-03-12 13:44] #435 closed, assigned to Tornaco

[2022-03-12 14:04] Tornaco commented on #430
@Adlyq  Magisk版本暂时不支持微信代收哦。 代收入口后续会隐藏调。

[2022-03-12 14:07] Adlyq commented on #430
@Tornaco 能magiak xp一起开吗

[2022-03-12 14:15] Tornaco commented on #430
这个问题没意义。

[2022-03-12 14:15] #430 closed, assigned to nobody

[2022-03-12 14:29] Clorasun commented on #430
@Tornaco 微信无法显示消息详情，是失效了吗？

[2022-03-13 00:53] Tornaco commented on #430
@MRDQ123 有问题请具体描述，就这么一句话说了等于没说

[2022-03-13 03:32] ajdgsu opened #437 "thanox无法打开未加载图标的应用"
**Describe the bug（现象描述）**
A clear and concise description of what the bug is.（简洁的描述该bug的现象）
thanox无法打开未加载出缩略图的应用，打开就直接崩溃，重置软件也无效(在v3.9之前都没有这个问题)
**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
如图
![GIF-220313_110658](https://user-images.githubusercontent.com/45306865/158043289-ceeb74ce-fa51-455c-aa9a-391a4bfb6356.gif)

**Expected behavior**（期望结果）
A clear and concise description of w

[2022-03-13 04:00] Clorasun commented on #430
就是微信推送能收到但是推送只显示推送了几条消息，开了显示消息内容，但开不开一个样

[2022-03-13 04:25] Tornaco commented on #437
@ajdgsu  麻煩把/system/framework/framework.jar抓一下，發出來~

[2022-03-13 04:50] Tornaco commented on #437
@ajdgsu 順便測試一下這個版本 圖標是否可以正常加載。https://app.circleci.com/pipelines/github/Tornaco/Thanox/249/workflows/394411af-9b5b-4d55-af8e-682a2ef1e313/jobs/232/artifacts

[2022-03-13 07:10] ajdgsu commented on #437
没有问题，完全正常。不过每次进应用管理都需要超长时间加载(将近10秒)；以及这是这次的日志(如果需要的话)
[LSPosed_2022-03-13T15_14_06.967.zip](https://github.com/Tornaco/Thanox/files/8239111/LSPosed_2022-03-13T15_14_06.967.zip)

[2022-03-13 07:29] ajdgsu commented on #437
还有顺便问下在thanox里应用创建的后台终端进程也会被杀死是特性还是bug？(比如说用mt管理器里的终端模拟器使用nohup后台运行脚本，哪怕把oom_adj和oom_score_adj全改最小，划卡强退mt管理器也会导致脚本停止运行。只有正常退出mt管理器后再划卡脚本才不会被强退)

[2022-03-13 07:41] ajdgsu commented on #437
这是framework.jar
[framework.jar.7z.zip](https://github.com/Tornaco/Thanox/files/8239133/framework.jar.7z.zip)
其次我认为和它关系可能不是很大，三星有个奇怪的地方就是selinux怎么样都关不掉，永远都是enforcing，只有把selinux直接禁用掉才能关闭，而且目前android11、12也没法禁用selinux(好像一禁用就会瞬间被启用)

[2022-03-13 08:45] Tornaco commented on #437
@ajdgsu 杀死应用的工作方式是force-stop，mt管理器启动的任何进程都会被干掉。

[2022-03-13 08:45] Tornaco commented on #437
若图标可以正常加载，可关闭该issue

[2022-03-13 08:45] #437 closed, assigned to nobody

[2022-03-15 02:44] finale-site opened #438 "希望可以关闭情景模式的提醒"
我太喜欢thanox了，希望可以设置关闭情景模式的提醒
因为在看视频的时候，情景总是会中断退出视频播放。

[2022-03-18 16:34] MartinVon1021 opened #439 "MIUI点击下拉框磁铁后下拉框不消失"
**Describe the bug（现象描述）**
如标题

**To Reproduce**（如何复现）
如标题，点击“应用管理”磁铁。应用管理本身成功弹出，但是MIUI下拉框未消失。

**Expected behavior**（期望结果）
点击磁铁后，应用管理页面弹出，下拉框自动消失。

**Screenshots**（截图）

**Version（发现问题的版本）:**
 - MIUI 13，Thanox 3.9.2。每一个版本都这样。

**Additional context**（其他信息）
MIUI自带的大部分磁铁由于是开关功能，没有弹窗，所以不消失是正确的。以“滴答清单”为例的第三方APP，点击“添加任务“磁铁后，有弹窗显示，同时下拉框自动消失。

** Logs**（日志文件）

[2022-03-18 16:35] MartinVon1021 commented on #439
xposed版本

[2022-03-18 16:42] hui-shao opened #440 "移花接木-特定情况下可引发手机黑屏卡死"
**Describe the bug**
对某些 APP 启用移花接木规则去除开屏广告时，会导致手机黑屏卡死，无法响应，只能通过强制重启恢复。

**To Reproduce**
这里以“百词斩”为例。

1. 在 Thanox 配置移花接木规则（`com.jiongji.andriod.card/com.baicizhan.main.activity.LoadingPageActivity` -> `com.jiongji.andriod.card/com.baicizhan.main.activity.MainTabActivity`）
2. 在桌面打开“百词斩”APP
3. 手机卡死无响应，伴有发热现象。

**Screenshots**
无。（手机卡死无法截图）

**Version**
 - OS: Android 11.0  MIUI12.5
 - App Version: v

[2022-03-19 08:47] Tornaco commented on #440
@hui-shao  稍后测试下这个版本：https://app.circleci.com/pipelines/github/Tornaco/Thanox/255/workflows/9abb7163-e9a2-4939-a684-69a07b5f5b0f/jobs/238/artifacts

百词斩自己检测到LoadingPageActivity没完成后自己又启动了LoadingPageActivity，导致无限loop了。
[code]

[2022-03-19 09:24] hui-shao commented on #440
我的是 Google Play 版本，没有权限测试普通版。
可以等其它小伙伴帮忙测试下。
或者给个临时的激活码也可以 hui-shao@outlook.com

[2022-03-19 09:38] Tornaco commented on #440
@hui-shao 可以在xp里只激活国内版，重启后用pro版本进行设置。

[2022-03-19 09:47] hui-shao commented on #440
@Tornaco
测试成功。百词斩fc后不再出现卡死问题。
nice！

[2022-03-19 09:55] Tornaco commented on #438
请自行编辑情景模式。

[2022-03-19 09:55] #438 closed, assigned to nobody

[2022-03-19 09:58] Tornaco commented on #433
Donate page currently is designed only for PRC users, we should keep this issue until we have another general donate method rather than Wechat/Ali pay

[2022-03-19 10:00] #426 closed, assigned to nobody

[2022-03-19 10:01] Tornaco commented on #423
我试了shell命令接触suspend确实不行，抽时间我再看下原因吧。

[2022-03-19 10:22] Tornaco commented on #439
请测试：https://app.circleci.com/pipelines/github/Tornaco/Thanox/256/workflows/93d64e1d-15b1-499f-accc-259b33eac02a/jobs/239/artifacts

@MartinVon1021

[2022-03-19 10:33] #440 closed, assigned to Tornaco

[2022-03-19 10:37] MartinVon1021 commented on #439
OK it works

[2022-03-21 04:41] Matthew-Harris-36 opened #441 "Thanox3.8.1导致1password无法自动填充"
**Describe the bug（现象描述）**
一加7T，安卓10.当使用Thanox3.8.1时，1password会无法在设置中选择自动填充应用，而且也无法在软件登录页面弹出自动填充窗口。
![1Password无法选中自动填充应用](https://user-images.githubusercontent.com/62049321/159206254-66e946b6-eb4b-4dae-93df-087fd8c191cf.jpg)
下面是我的排除测试的步骤说明文档
[1password自动填充问题测试.docx](https://github.com/Tornaco/Thanox/files/8313133/1password.docx)

[2022-03-21 04:48] Matthew-Harris-36 commented on #441
安装github上的最新版3.9.1版本，问题已解决

[2022-03-21 12:23] Sfssup opened #442 "是否能提供一个单独的组件禁用功能"
一个一个禁用太难受了，建议增加一个单独的功能模块来管理组件
还有就是全局搜索，能直接搜索所有App的组件快速禁用

或者能读取ifw状态，利用Xposed能力压制

[2022-03-21 18:08] imol-ai commented on #433
So there is no way to get pro features for non-chinese users currently?

[2022-03-22 01:29] Tornaco commented on #433
@FadeDave77 From Google play store

[2022-03-22 01:32] Tornaco commented on #433
https://www.google.com/url?sa=t&source=web&rct=j&url=https://play.google.com/store/apps/details%3Fid%3Dgithub.tornaco.android.thanos.pro%26hl%3Dzh%26gl%3DUS%26referrer%3Dutm_source%253Dgoogle%2526utm_medium%253Dorganic%2526utm_term%253Dthanox%2Bpro%26pcampaignid%3DAPPU_1_Dic5YvSVGIaB0wSO24aoCQ&ved=2ahUKEwj01M2hydj2AhWGwJQKHY6tAZUQ5YQBegQIAxAC&usg=AOvVaw3uDGyJKltFLArbM60tYQFU

[2022-03-23 16:15] imol-ai commented on #433
Oh. Well, I don't use google so i guess that's sad for me then. I love it when apps include other ways to purchase premium features than google, but I do understand why using google's LVL api is convenient.
Thanks for you help though.

[2022-03-24 02:34] Sfssup commented on #442
- 现在标记库以 SDK 的方式提供。这意味着您可以轻松地将 LibChecker 中的规则库集成至您的应用。（详情参见：https://github.com/zhaobozhen/LibChecker-Rules-Bundle ）

[2022-03-25 08:09] MajoSissi opened #443 "情景模式，电量变化isCharging(是否在充电)，始终为false"
应用版本：3.8.1 ~ 3.9.3
系统UI版本：MIUI 12.5

最新稳定版到预览版，不管是否在充电isCharging测试始终为false

[2022-03-26 01:37] Tornaco commented on #443
请提供对应测试用的情景模式，以及日志。

[2022-03-26 01:37] #441 closed, assigned to nobody

[2022-03-26 01:38] Tornaco commented on #433
Good luck.

[2022-03-26 01:38] #433 closed, assigned to Tornaco

[2022-03-26 01:43] Tornaco commented on #442
痛点到底是什么？需要全局搜索？还是可以批量禁用？或者说希望直接集成LibChecker的规则?

[2022-03-26 02:42] MajoSissi opened #444 "情景模式，电量变化下isCharging、"
应用版本：3.8.1 ~ 3.9.3
系统版本：Android 11 , MIUI 12.5

最新稳定版到预览版，不管是否在充电'isCharging'测试始终为false

日志：

[2022-03-26 02:42] #444 closed, assigned to nobody

[2022-03-26 03:21] MajoSissi commented on #443
补充系统为 Android 11

测试的情景模式：
============================
[code]
============================

日志：
[logging.zip](https://github.com/Tornaco/Thanox/files/8354835/logging.zip)

测试视频：
https://user-images.githubusercontent.com/45786458/160222847-e83d22bd-f9ce-48f6-b7ef-236bef58cbbe.mp4

[2022-03-26 05:44] Matthew-Harris-36 opened #445 "Thanox导致1password填充功能失效"
一加7T，安卓10，LSP模块加载，之前发过issues。https://github.com/Tornaco/Thanox/issues/441#issue-1174882630
故障描述和判断是thanox的bug过程都已经描述过了，说下后续吧。更新到3.9.1后，只是暂时恢复了正常，重启手机之后再次出现故障，而且此后也一直存在。
希望开发者能尽快修复这个bug，没有了1password的自动填充，少了很多便利。
日志文件：[logging.zip](https://github.com/Tornaco/Thanox/files/8354751/logging.zip)

[2022-03-26 12:00] Tornaco commented on #445
@BlueDolphin9527 关闭-情景模式--设置---UIAuto引擎 试试。

[2022-03-26 12:27] Matthew-Harris-36 commented on #445
我试了两次，关闭和开启这项设置，没有变化，问题还是存在。

[2022-03-26 13:27] Tornaco commented on #445
@BlueDolphin9527 建议关闭这个引擎后，重新开关1passwoprd的辅助功能后试试。

[2022-03-26 13:33] Tornaco commented on #443
@RoyalSissi  试试 [这个版本](https://app.circleci.com/pipelines/github/Tornaco/Thanox/263/workflows/8da63673-1a4e-41c2-a4b3-16d8ddbb37fd/jobs/245)，新增了Battery API可以获取最新[电池状态](https://github.com/Tornaco/Thanox/blob/master/android/android_framework/base/src/main/java/github/tornaco/android/thanos/core/profile/state/BatteryState.kt)。注意，你的情景模式需要修改为：

[code]

[2022-03-26 14:24] Tornaco commented on #445
看日志1password是有一个辅助功能的。试过重置thanox的配置吗？没有试过的话可以试试，先排除是配置的问题还是兼容问题。
可以先备份一下thanox数据，再恢复为默认试试。

[2022-03-27 00:47] MajoSissi commented on #443
ok了

[2022-03-27 00:48] #443 closed, assigned to nobody

[2022-03-27 02:05] Kudryavka03 opened #446 "情景模式似乎有时候不起作用"
**Describe the bug（现象描述）**
如题

**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
我为thanox设定了两个情景模式
其中一个是
[
{
"name": "Auto pause",
"description": "自动墓碑",
"priority": 2,
"condition": "frontPkgChanged == true && globalVarOf$pause.contains(from)",
"actions": [
"activity.setInactive(from);",
"ui.ShowShortToast(\"setInactive\"+from);",
"su.exe(\"am set-standby-bucket \" +from +\" restricted

[2022-03-27 02:22] Kudryavka03 commented on #446
![Screenshot_20220327-102229_Shell.png](https://user-images.githubusercontent.com/23144521/160263899-8fc63202-617d-4cbc-b31e-3530279dc742.png)![Screenshot_20220327-102220_Shell.png](https://user-images.githubusercontent.com/23144521/160263900-30ef93ba-c190-4a4d-b7bf-d9269ad21606.png)

[2022-03-27 02:28] #446 closed, assigned to nobody

[2022-03-28 06:50] Gokou-Ruri opened #447 "多次随机重启"
**Describe the bug（现象描述）**
突发性的随机重启，可能发生在任何情况下。最快时甚至发生在刚开机的3分钟内。

**To Reproduce**（如何复现）
无法稳定复现

**Version（发现问题的版本）:**
 - OS: [e.g. Android 11]
 - Version [e.g. v3.9.3]（但并非特定该版本才会发生，实际上我持续搜集log的期间已经更新了多个版本。）

** Logs**（日志文件）
有部分日志并不是在随机重启（快速重启）完成后立刻提取的，因为快速重启后手机非常卡顿，所以有部分是在手动冷重启后提取的。
[20200328-1.zip](https://github.com/Tornaco/Thanox/files/8360200/20200328-1.zip)
[20220312-1.zip](https://github.co

[2022-03-29 09:05] fym35 opened #448 "Shizuku intengration"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Add optional working mode with [shizuku](https://github.com/RikkaApps/Shizuku) api for users without root permission, i know that everything c

[2022-03-29 09:54] Tornaco commented on #448
We are about to support
non-root mode in the coming months. One or two features at the beginning, maybe Smartfreeze and App manager.

[2022-03-29 14:04] Sfssup commented on #442
都需要
如果接入LibChecker规则，再来个新装应用自动禁用就更好了
痛点是管理组件很不方便，希望能把组件管理在首页整个功能图标，统一管理

[2022-03-29 14:09] Tornaco commented on #442
nice

| |
tornaco
|
|
***@***.***
|

---- 回复的原邮件 ----
| 发件人 | ***@***.***> |
| 日期 | 2022年03月29日 22:04 |
| 收件人 | ***@***.***> |
| 抄送至 | ***@***.******@***.***> |
| 主题 | Re: [Tornaco/Thanox] 是否能提供一个单独的组件禁用功能 (Issue #442) |

痛点到底是什么？需要全局搜索？还是可以批量禁用？或者说希望直接集成LibChecker的规则?

都需要
如果接入LibChecker规则，再来个新装应用自动禁用就更好了
痛点是管理组件很不方便，希望能把组件管理在首页整个功能图标，统一管理

—
Reply to this email directly, view it on GitHub, or un

[2022-03-30 05:55] wsadfgh2 opened #449 "不小心冻结了自身怎么办"
**Describe the bug（现象描述）**
手误把自身冻结了，打不开APP了

**To Reproduce**（如何复现）
直接冻结自身

**Expected behavior**（期望结果）
重新激活，解冻APP

[2022-03-30 06:07] wsadfgh2 commented on #449
没事了，用钛备份解冻了，冻结和解冻机制是一样的，谢谢！

[2022-03-30 06:08] #449 closed, assigned to nobody

[2022-03-31 02:59] Gokou-Ruri commented on #427
补充：“返回杀进程”在APP内返回（APP未退出或后台），但立刻按下桌面键或者多任务键（或者双击多任务键快速切换到另一个程序），会导致APP被误杀。Thanox没有识别到底是返回键退出（后台）了APP，还是其它方式退出（后台）了程序。

[2022-04-01 06:52] MajoSissi opened #450 "情景模式task，视频应用后台播放无最近任务检测不到"
应用版本：3.9.3
系统版本：Android 11，MIUI 12.5

测试我使用油管(com.google.android.youtube)，
油管后台小窗口播放，是没有最近任务卡片
task.hasTaskFromPackage()检测不到，返回false。

测试用例：
[code]

[2022-04-01 10:54] simplerick-simplefun opened #451 "微信代收无法拉起微信；情景模式启动app进程无法启动微信"
**Describe the bug（现象描述）**
微信代收功能：无法拉起微信；
情景模式启动app进程：无法启动微信

**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
1. 打开微信
2. 进入设置-应用信息（微信）-强行停止
3. 情景模式设置："condition": "fcmPushMessageArrived == true && pkgName == \"com.tencent.mm\"", "actions": ["activity.launchProcessForPackage(\"com.tencent.mm\")",]
4. 微信代收设置：拉起应用+显示消息内容
5. 通过其他微信账号发送给本机微信账号消息。此时能够接收fcm广播。此时thanox可以发出微信新消息通知。
6. 但是通过“开发

[2022-04-01 11:04] simplerick-simplefun commented on #451
尝试了：https://github.com/Tornaco/Thanox/issues/435
里面的测试包，解决了launchProcessForPackage的问题。微信拉起功能在这个测试包里面不能使用，无法测试。
希望能尽快修复好并更新到playstore。
另：未更新修复前，有没有/能否提供一个shell command来临时代替拉起微信这个功能？

[2022-04-02 08:01] #445 closed, assigned to nobody

[2022-04-02 08:02] Tornaco commented on #450
这个API的能力就是检测Task，如果没有task检测不到也是符合预期的。

请说明一下你的期望。

[2022-04-02 08:02] #450 closed, assigned to nobody

[2022-04-02 08:06] Tornaco commented on #447
日志里没看到相关线索，下次再出问题，同时抓一下lsp自带的日志。

[2022-04-02 08:06] #439 closed, assigned to Tornaco

[2022-04-02 08:31] MajoSissi commented on #450
我当时也在想算不算bug🤣
希望能检测应用是否在后台运行

[2022-04-03 03:03] Tornaco commented on #450
[code]

[2022-04-03 03:05] Tornaco commented on #451
Play商店早就更新到3.9.3了，加入beta计划。

[2022-04-03 03:45] MajoSissi commented on #450
感谢😊

[2022-04-03 06:20] topxuemu opened #452 "通知记录无记录"
**Describe the bug（现象描述）**
开启通知记录后无记录（之前有过一次正常记录），

**To Reproduce**（如何复现）
之前清除了两次记录，省点模式也关了

**Expected behavior**（期望结果）
可以看到通知记录

**Screenshots**（截图）
![Screenshot_2022-04-03-13-53-42-86_f2caa21d3de1d45abee5464dd1c275bf.jpg](https://user-images.githubusercontent.com/98678767/161414091-e59378c1-4a71-4e2c-b6eb-28653fb72177.jpg)

**Version（发现问题的版本）:**
 - OS: 安卓11
 - Version ：3.9.1
**Additional conte

[2022-04-03 06:39] topxuemu commented on #452
@topxuemu

[2022-04-03 09:01] #451 closed, assigned to nobody

[2022-04-03 09:15] simplerick-simplefun opened #453 "微信代收重复通知问题"
**Describe the bug（现象描述）**
A clear and concise description of what the bug is.（简洁的描述该bug的现象）

微信代收功能在收到由fcm发送的推送后，会由Thanox发送一条通知（见截图红框）。
相同的微信消息，fcm首先会有一个received+broadcast的推送（1）。
然后（微信app收到消息后）会有一个acked+broadcast的推送（2）。
四条FCM消息（received+broadcast   +   acked+broadcast）的ID是相同的。因为针对的微信消息是相同的。

**问题：**Thanox在（1）和（2）都会发送一次通知。实际上一条消息Thanox会发送两次通知，并且该消息的第二次通知会在微信app已经收到此消息后（此时很可能用户已经阅读过该条微信消息）。

**To R

[2022-04-03 09:50] simplerick-simplefun commented on #403
我这里测试了下，
domain:short.weixin.qq.com,
domain:extshort.weixin.qq.com,
这两个走代理不好用。
原因是我手机上微信app的dns请求是"szshort.weixin.qq.com"，没有上面这两个。
修改方式是去掉“domain:”，直接写：
"short.weixin.qq.com"。这样就会“匹配目标域名中任意部分”。

这里还有一点，我用的是https://github.com/Asterisk4Magisk/Xray4Magisk
这里关于纯字符串的匹配规则，xray的说明文档是错误的，而v2fly的说明文档是正确的。
Xray：https://xtls.github.io/config/dns.html#dnsobject

V2fly：https://www.v2fly.org/config/routing.html

[2022-04-03 18:08] RoyZ-iwnl opened #454 "Thanox pro 3.9和3.9.3谷歌商店版 与安卓12系统界面有冲突"
**Describe the bug（现象描述）**
A clear and concise description of what the bug is.（简洁的描述该bug的现象）
与Crdroid ROM的系统启动器有冲突，无法使用整个CRDROID系统界面
另外权限管理怎么更新更没了
**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
谷歌商店thanox pro付费版本 3.9和beta3.9.3

**Expected behavior**（期望结果）
A clear and concise description of what you expected to happen.（描述一下期望的结果）

**Screenshots**（截图）
If applicable, add screenshots to

[2022-04-04 00:31] RoyZ-iwnl commented on #454
另激活方式为zygisk，经调试使用LSPosed 激活没有问题

[2022-04-05 03:39] countrysideboy opened #455 "Try to suspend the process--墓碑模式探索"
如题，觉得目前的乖巧模式的不太压得住流氓们，app切换到后台后仍然占用cpu，于是探索使用冻结进程的方式，看作者大神后续能否增强(需要那种前台能用，后台压得死死的，切换回前台又恢复之前的会话)

在全局变量中添加 pause，把要压制的app添加进去；或者在目标应用详情，将电池设置为受限(为了检验效果，脚本与乖巧模式互斥，会自动关闭乖巧)

20220729更新：
1.修复未添加全局变量pause时脚本出错的bug;
2.添加参数自定义调整功能，其中DELAY = 45000，对应实现应用切回后台进入墓碑的等待时长（毫秒）；修改为SU_EXE = 1，则使用kill -19命令来压制进程，需打开su插件支持（默认SU_EXE = 0，使用系统api进行压制，无需su插件）。
情景模式脚本
[code]

[2022-04-05 03:42] countrysideboy commented on #403
好主意，这样等于一条规则匹配多个域名

[2022-04-05 03:48] countrysideboy commented on #455
目前已知问题:
1.好像压不住关联唤醒，压不住广播
2.使用冻结进程的方式，原脚本是用kill -19的方式，现在换成cgroup feeeze的方式，但从日志看，进程似乎仍会anr。

也许要写Xposed模块hook相关操作才能搞定上面的问题，但要处理后台自启，广播，wakelock，alarm，想想就麻烦，期待作者出暴力压制模式。目前thanox的权限管理够好用了，要是能压制后台，原生系统就更省电了。

[2022-04-05 10:38] Tornaco commented on #454
@RoyZ-CSGO 建议先用lsp激活，我会尝试复现修复这个问题，但是不确定什么时候能解决哦。

[2022-04-05 10:44] Tornaco commented on #455
都是人才啊，我会抽时间学习研究一下。

[2022-04-05 10:47] Tornaco commented on #453
@dangelization 分析的很仔细，后续会安装你的思路测试。

[2022-04-05 10:47] Tornaco commented on #452
@topxuemu 补丁下激活方式与日志。

[2022-04-05 10:57] snowzlm commented on #452
![Uploading Screenshot_2022-04-05-18-56-23-44_f2caa21d3de1d45abee5464dd1c275bf.jpg…]()

[2022-04-05 10:59] topxuemu commented on #452
@fenghuangmu

[2022-04-05 11:04] snowzlm commented on #452
![Screenshot_2022-04-05-18-56-23-44_f2caa21d3de1d45abee5464dd1c275bf](https://user-images.githubusercontent.com/102895281/161740471-68304bd6-9f51-4223-a9cc-7b50142a99e7.jpg)

[日志](https://muxiansheng.lanzouw.com/ifc2J02nwlpe)

[2022-04-05 11:18] snowzlm commented on #452
@Tornaco 已发截图与日志

[2022-04-05 12:32] Tornaco commented on #455
我编辑了一下这个issue，调整了一下代码格式化。

[2022-04-06 08:27] yezige commented on #403
@dangelization 2022-04-06 实测成功走fcm
![image](https://user-images.githubusercontent.com/11436166/161930675-3aaafe55-ab04-4ec4-a25d-44414d17984f.png)

[2022-04-09 10:03] 0xc0000142 opened #457 "Zygisk 下最近任务强制隐藏不生效"
[code]
（需要日志的话我再往上发

经测试在magisk下隐藏最近任务无效，xposed下可以
已经测试过先切换到别的应用再打开最近任务，仍然不隐藏
![Screenshot_2022-04-09-17-57-49-447_com miui home](https://user-images.githubusercontent.com/52188337/162566985-75920fd3-b5ad-46d0-9184-21b9d58ef884.png)

[2022-04-09 10:04] 0xc0000142 commented on #457
诶我new issue时候没叫我选模板诶（

[2022-04-10 05:24] tzfljuv commented on #455
最近我恰好在探索相关内容，但无奈自己没有安卓开发的能力，目前仅能做到脚本级别的冰冻后台（效率极度低下，基本就是暴力轮询）。Thanox在安卓平台层面应该能更好地处理相关功能实现。

@countrysideboy 你应该用到了cgroupv2的freezer功能，这个功能要求内核版本大于5.4、或者OEM将相关功能移植回低版本内核。而如果你的内核本来就支持了cgroupv2的freezer，那么你可以前往开发者选项 -> 对缓存应用暂停执行(Suspend execution for cached apps)

相关功能分析： https://juejin.cn/post/7078957393446453285

`kill -SIGCONT`会导致父进程异常，相关问题介绍： https://www.kernel.org/doc/Documentation/cgroup-v1/freeze

[2022-04-10 05:56] countrysideboy commented on #455
看来研究得很深入啊。一开始我是直接冻结整个uid 而非pid，但是发现应用异常退出后，无论是否解冻，app都无法再打开，很奇怪，才转而冻结pid

[2022-04-10 06:04] countrysideboy commented on #455
至于kill -19的方式，可能比较通用，但会anr，我试过去hook相关函数但没有成功。

另外就算能冻结成功，唤醒锁，闹钟，广播需要解决，不然还是会被关联唤醒。

[2022-04-11 07:13] Gokou-Ruri opened #458 "从Android 12.1托盘区点击图标无法启动被冻结程序"
冻结方式：suspend
版本：3.9.4
启动器：Pixel Launcher
从pixel启动器的托盘启动被冻结程序可以正常启动，但从全局托盘就启动不了，没有任何反应。

[2022-04-12 00:46] 20171213 opened #459 "隐匿功能只能在框架模式生效吗？"
magisk激活后没有效果

[2022-04-12 01:02] Vstory opened #460 "后台启动统计图问题"
**Describe the bug（现象描述）**
应用名称与启动拦截数据间距问题

**To Reproduce**
Steps to reproduce the behavior:
1. 点击『后台启动』选项，再点击右上角三点菜单；
2. 选择『启动记录』；
3. 可以看到，应用『AdGuard』的应用名称和拦截数据之间没有间隔。

**Expected behavior**
应用名称与拦截数据之间保持间距。

**Screenshots**
[![LZvO5n.jpg](https://s1.ax1x.com/2022/04/12/LZvO5n.jpg)](https://imgtu.com/i/LZvO5n)

**Version（发现问题的版本）:**
 - OS: Android 12
 - Version: 3.9.4-row

** Logs**
No.

[2022-04-12 05:10] samincqu opened #461 "Could you provide us the interface to get the "connected BT devices" list?"
**Is your feature request related to a problem? Please describe.**
Could you provide us the interface to get the "connected BT devices" list? Refer to your guidance I can only get the "bounded BT devices" in my MIUI. i.e. I have 3 Bluetooth devices bounded. Named A, B and C -- but they are not connected yet. Follow your guidance in Chapter 0.4.10. 蓝牙事件 I just want to create a scenario to start an

[2022-04-12 10:33] Vstory opened #462 "更改自定义应用集操作逻辑"
**Is your feature request related to a problem? Please describe.**
更改自定义应用集操作逻辑

**Describe the solution you'd like**
点击自定义的应用集时，默认打开应用集，而不是弹出选项菜单。
进入自定义应用集时，点击应用集内的应用默认进入该应用的应用管理而不是显示选项菜单。

[![Lm4gSJ.jpg](https://s1.ax1x.com/2022/04/12/Lm4gSJ.jpg)](https://imgtu.com/i/Lm4gSJ)
[![Lm46W4.jpg](https://s1.ax1x.com/2022/04/12/Lm46W4.jpg)](https://imgtu.com/i/Lm46W4)

[2022-04-13 02:49] Oosl opened #463 "Thanox 影响 Gboard 剪贴板的正常使用"
**Describe the bug（现象描述）**
LSPosed 启用 Thanox 后，在系统中任意复制文字，需要过一段时间后才会出现在 Gboard 的剪贴板中。
LSPosed 关闭 Thanox 后，在系统中复制文字后，内容会立即出现在 Gboard 的剪贴板。

**To Reproduce**（如何复现）
1、LSP 启用 Thanox，重启进入系统。
2、正常复制一段文字即可触发。此时Gboard的剪贴板没有复制的内容。通过Xposed edge的剪贴板则可以看到刚复制的内容。

**Expected behavior**（期望结果）
即使启用激活了Thanox，复制内容也会立即出现在gboard的剪贴板中。

**Screenshots**（截图）
https://user-images.githubusercontent.com/27420243/163089762-

[2022-04-13 12:47] CCJ623 commented on #463
我在k40和你一样的系统中也遇到了这样的问题

[2022-04-13 13:25] Tornaco commented on #463
@CCJ623 @Oosl 其他app可以正产访问剪贴板吗？ 我会尝试复现。

[2022-04-13 13:47] Oosl commented on #463
其他应用可以正常访问剪贴板，比如复制拼多多的口令，复制后gboard 剪贴板中虽然没有，但是打开拼多多能正常识别跳转到对应的页面。

[2022-04-13 13:48] Tornaco commented on #463
@Oosl 针对gboard的thanox配置，截个图看下。我在android12 MIUI上未复现该问题。

[2022-04-13 13:54] Oosl commented on #463
![Screenshot_20220413-215354_Thanox Pro.png](https://user-images.githubusercontent.com/27420243/163196271-759a3657-a8a2-40c2-8175-41536b954de4.png)

[2022-04-13 14:08] Tornaco commented on #463
@Oosl 我看了日志，你是启用过开发者的noroot了吗？另外确认下，你只勾选了LSP激活，magisk里没有安装其他thanox模块对吧。

[2022-04-13 14:14] Tornaco commented on #463
再看下gboard的权限管理截图，如果把其读取剪贴板权限关闭会导致这个问题。

[2022-04-13 14:42] Oosl commented on #463
1、noroot是瞎翻的时候看到一个之前没有的功能入口，无意中误点的。
2、只勾选了lsp模块，magisk中为安装thanox模块。

[2022-04-13 14:44] Oosl commented on #463
gboard的权限管理如下
![Screenshot_20220413-224315_Thanox Pro.png](https://user-images.githubusercontent.com/27420243/163206409-925da074-1dd2-4282-9060-a0d0190710ba.png)

但是我并没有启用thanox的权限管理功能哦。
![Screenshot_20220413-224333_Thanox Pro.png](https://user-images.githubusercontent.com/27420243/163206431-f4da9908-d7f0-4dba-85f4-474b85658694.png)

[2022-04-14 10:24] Tornaco commented on #452
目前看日志没找到原因，等下3.9.5版本，在里面加了日志，复现之后在发下日志。

[2022-04-14 10:26] snowzlm commented on #452
@Tornaco 好的

[2022-04-14 10:27] Tornaco commented on #463
执行一下这个命令，看下结果是什么？ @Oosl

[code]

[2022-04-14 10:42] Oosl commented on #463
[code]

[2022-04-14 13:48] Tornaco commented on #463
看起来权限没问题，而且也有访问剪贴记录 READ_CLIPBOARD: allow; time=+37s896ms ago。

建议试试恢复thanox为默认配置（可以先导出配置做备份），基于当前条件我也定位不出原因了。

[2022-04-14 13:51] Oosl commented on #463
@Tornaco 权限应该是没问题的，因为复制的内容是会出现在gboard里的，只是不是即时的，存在一个延时。

[2022-04-17 06:30] suroot66 opened #464 "无法终止部分app进程"
【问题】
Thanox无法终止应用Apkpure的进程
打开apkpure后，无论通过“一键加速”还是“任务清理”功能，都不能杀死其进程，尝试手动在thanox进程列表里长按apkpure终止进程，下拉刷新后该进程依然存在
（thanox功能对于其他app来说是正常生效的）
【环境】
Thanox 3.9.4-prc
激活方式: zygisk-lsposed 1.8.1
ROM: Flyme 9  设备: 魅族16s
安卓版本: 10
涉及app版本: apkpure 3.17.45
【复现】
100%复现
【其他现象】
在apkpure未从系统后台卡片划掉时，thanox中看到其有0个运行中的进程，有3个缓存中的进程：
![S20417-13591319(1)](https://user-images.githubusercontent.com/84700088/163703302-a4

[2022-04-17 06:33] suroot66 commented on #464
如果需要thanox日志，我可以提供哈😹

[2022-04-17 06:34] SukiEva commented on #442
App Manager和 Blocker 都可以全局搜索和批量禁用，个人感觉Blocker那种在线规则的模式更友好。

但是使用感觉是现在ifw并不能很好地禁用，thanox本身的禁用效果比上述两个好很多，如果能集成他们的优点就更好了👀

[2022-04-17 06:44] suroot66 commented on #459
应该是吧，我用lsp的时候都会提醒我需要对要隐匿的app勾选lsp作用域才能生效

[2022-04-17 08:42] i-CraftY opened #465 "智能冻结检活无效"
#415
还是一样的问题，v3.9.1以后的版本都无效
lsp的

[2022-04-17 11:22] suroot66 commented on #464
目前暂时通过黑阈app缓解了，我为apkpure单独设置了不活跃5min自动强行停止，于是划掉后台后5min那个进程就被杀掉了😋

[2022-04-17 13:33] Tornaco commented on #464
日志。

[2022-04-17 13:39] Tornaco commented on #465
3.9.1的方案虽然有用，技术上实现也简单。但是比较恶心的是会造成一些其他bug。目前没与找到更好的处理方式。

不要另开issue了，有了方案我会更新的。

[2022-04-17 13:39] #465 closed, assigned to nobody

[2022-04-17 13:39] Tornaco commented on #415
3.9.1的方案虽然有用，技术上实现也简单。但是比较恶心的是会造成一些其他bug。目前没与找到更好的处理方式。

不要另开issue了，有了方案我会更新的。

[2022-04-17 14:48] suroot66 commented on #464
https://wwt.lanzout.com/iRO8503dfl7a
早先的日志

[2022-04-17 16:29] countrysideboy commented on #250
也需要类似的功能，要是能加个api就好了

[2022-04-19 09:00] suroot66 opened #466 "情景模式中如何使用sh.exe的返回值？"
如题，比如我执行
`ui.showShortToast(sh.exe('echo 3'));`
将显示如下吐司：
![S20419-16465097(1)](https://user-images.githubusercontent.com/84700088/163968705-09e2e329-eeb9-4ff6-8f33-c118c805bd13.png)
现在我想要调用里面那个out的值，也就是3，请问用什么写法才能拿到那个3呢？

[2022-04-19 10:07] suroot66 commented on #466
解决了，sh.exe有bug，会调用失败，可能还会打断脚本运行
在插件中心安装su enabler后，改用su.exe就可以调用了

[2022-04-19 10:07] #466 closed, assigned to nobody

[2022-04-19 12:44] suroot66 commented on #464
问题原因似乎找到了，就是apkpure不知通过何种手段在我系统上启动了类似保活的进程。这有可能是flyme9独有的bug，也有可能是apkpure最近几个版本在很多系统上都出现了问题
当我执行命令`ps | grep com.apkpure.aegon`时，只能看到两个进程，是开发者选项里可以看到的进程：
![S20419-17031494(1)](https://user-images.githubusercontent.com/84700088/164005602-62b8a4c3-9bfc-4dd8-adaf-47c9507a243c.png)
但当我显示线程和完整信息时，`ps -ATf | grep com.apkpure.aegon`可以看到4个进程（划线处为pid）：
![图叨叨_20220419_171018(1)](https://user-images.githubus

[2022-04-21 16:42] Mc-user1688 opened #467 "打开后台运行勾选部分软件锁屏立即失效"
【问题】
后台运行打开勾选部分软件，一锁屏勾选的后台软件立即失效
![Screenshot_2022-04-22-00-34-01-840_github tornaco android thanos](https://user-images.githubusercontent.com/73388367/164508383-0aa10fc9-990f-4bef-907d-b2656ca84861.png)
【版本】
机型：Redmi K40 Pro
ROM：MIUI13
安卓版本：12
Thanox版本：3.9.4-prc
[logging.zip](https://github.com/Tornaco/Thanox/files/8532820/logging.zip)

[2022-04-21 23:50] Paranoid999 opened #468 "执行actor情景模式的时候出现不兼容"
**Describe the bug（现象描述）**
执行actor情景模式的时候出现不兼容

**To Reproduce**（如何复现）
创建FACT VALUE为“ceshi”的快捷方式到桌面，点击快捷方式图标，即可复现。（注：请用自己手机中已有的情景模式名字“name”替换掉举例中的“请替换”）

举例：
[
  {
    "name": "Profile shortcut '测试'",
    "description": "监听快捷方式'测试'启动事件",
    "priority": 2,
    "condition": "shortcutLaunched == true && shortcutValue == \"ceshi\"",
    "actions": [
      "thanos.getProfileManager().disableRuleByName

[2022-04-22 01:16] Tornaco commented on #468
请在最新版本上测试，这个问题之前修过。如果新版还有问题再open。

[2022-04-22 01:17] Tornaco commented on #467
没理解什么意思，请补充描述后再open。

[2022-04-22 01:17] #467 closed, assigned to nobody

[2022-04-22 01:28] Tornaco commented on #464
![Screen Shot 2022-04-22 at 9 26 03 AM](https://user-images.githubusercontent.com/23255526/164578518-c6e6f815-8c70-4968-8942-2f6530b82c74.png)

@suroot66 apkpure发一下，我只能下载到APKPure_v3.17.50_apkpure.com.apk 版本，另外在MIUI上，测试发现没有那2个奇怪的进程。

另外你可以CI上安装最新Thanox，进程管理UI有调整。
https://app.circleci.com/pipelines/github/Tornaco/Thanox/280/workflows/1cf65fa8-ea09-40fa-89a1-139c34cf620e/jobs/261/artifacts

[2022-04-22 03:03] suroot66 commented on #464
@Tornaco
不用发了，我刚刚也去试那个3.17.50了，还是不行，看来这里面一定有系统因素的，miui上没事😢
另外最新版的Thanox我试了，进程界面更详细了，不过好像没有“缓存中的进程了”？是去掉了，还是合并到“运行中”的里面去了🤔

[2022-04-22 07:52] Paranoid999 commented on #468
你好，又用最新版本3.9.4测试了，依然不兼容。

[2022-04-22 07:55] Paranoid999 commented on #468
我反馈不兼容问题反馈过4次，这4次都石沉大海，唉

[2022-04-22 13:04] Tornaco commented on #468
@Paranoid999 发下日志。你没必要抱怨，我也很忙，问题也要一个个处理，但凡issue描述清晰，且有日志的，我看到了能改的都会改。

[2022-04-22 13:06] Tornaco commented on #464
截个图如何？我发的截图不是缓存的吗？

[2022-04-22 13:08] Tornaco commented on #468
另外如果这个action要延迟的话，不建议用actor，可以直接用delay属性，例子：

[code]

[2022-04-22 13:09] #447 closed, assigned to nobody

[2022-04-22 14:07] Paranoid999 commented on #468
1、我也想发日志，但这个不兼容未生成日志。

2、我举例那个情景模式改成delay应该怎么改呢？因为actions部分，有两条需要立即执行，一条延迟执行。请问这种用delay应该怎么写？或者其他有效的写法都行，现在Thanox对延时执行的情景模式太不友好了，希望可以考虑出个解决方案。另外定时任务也没有，比如9点10分执行某某任务，但很无奈，Thanox目前不支持

[2022-04-22 14:32] Tornaco commented on #468
@Paranoid999 日志一定有，/data/system/thanos_xx/logging/xxx。  定时任务可以提需求啊，没见几个人提这个需求。

[2022-04-22 14:33] Tornaco commented on #468
另外你有什么好的解决方案也可以提出来，技术上我看能实现不。

[2022-04-22 15:36] suroot66 commented on #468
@Paranoid999 delayed不生效那个问题我也遇到过，你可以改用终端命令sleep，但是会导致sleep前的toast无法显示   或者你把脚本拆成两个，具体案例可以见我写的教程https://zhuanlan.zhihu.com/p/501431479

[2022-04-22 15:42] suroot66 commented on #468
定时任务装busybox，然后用crontab可以实现，thanox作为开机启动crond服务的工具人
不过比较折腾就是了，可能的话我也希望thanox能出一个定时的condition

[2022-04-22 16:01] nansi00 opened #469 "手机无限重启"
**Describe the bug（现象描述）**
在lsp中激活后手机会无限重启

**To Reproduce**（如何复现）
激活后会在随机时间内重启，之后进入桌面会进入循环重启

**Expected behavior**（期望结果）
希望解决问题，

**Version（发现问题的版本）:**
Flyme9  安卓11
软件版本3.9.4  3.9.3都试过

** Logs**（日志)
http://124.223.95.159:9002/s/MXTw

[2022-04-22 22:37] Bigbox02 commented on #464
之前也发现了，pure强行常驻后台，你可以试试老版本比如3.17.35

[2022-04-22 22:45] Paranoid999 commented on #468
@suroot66
感谢，以前就是用sleep延时，但sleep延时执行这段过程中，Thanox其他情景模式会失效，所以作者才推荐的用actor，然后actor各种不兼容。现在作者说用delay，但delay只能让actions部分整体延时，不能某个action单独延时。总之，Thanox处理延时还是不太友好，希望能慢慢改进。再次感谢你写的教程，辛苦了👍

[2022-04-22 22:50] Paranoid999 commented on #468
@suroot66
好的，我试试crontab

[2022-04-22 23:34] Paranoid999 commented on #468
@Tornaco
为了提供有用的log，我之前把log删除了之后开始测试的，测试完成未发现生成新的log（但以前版本会新生成）。然后我只能重启手机，再次测试，测试时间为6点12分0秒，请看这之后的log。

抱歉，实在是没找到上传附件的选项，刚开始用GitHub Issue，见谅

[2022-04-23 02:15] Tornaco commented on #468
@Paranoid999 日志传哪里去了，你不需要手动清理日志，全都发给我我来筛选就可以。

[2022-04-23 02:28] Paranoid999 commented on #468
上传到蓝奏了，https://wwc.lanzouj.com/b0dxxbdsh 密码:dada
麻烦再看一下吧

[2022-04-23 02:48] Tornaco commented on #469
@nansi00  https://app.circleci.com/pipelines/github/Tornaco/Thanox/283/workflows/dbeda6e9-c70b-4adb-9ae1-16c0b83bf2fd/jobs/264/artifacts
请测试这个版本。

[2022-04-23 03:25] Tornaco commented on #468
@Paranoid999 https://app.circleci.com/pipelines/github/Tornaco/Thanox/284/workflows/e4d3ca0b-c086-4f94-b17a-0c13ac9f2205/jobs/265/artifacts

试试这个。注意：你上面贴的情景模式有单次拼错了应该是`enable`

另外这个版本加了一个后门：如果priority < 0，那么这条情景模式会在新thread执行，意味着你可以随意使用sleep，而不影响其他情景模式。

[2022-04-23 04:45] suroot66 commented on #464
哦，真的耶，那可能是我看错了    不想折腾了😂刚回来旧版  还因为lsp变砖了，又救回来了   等到时候正式版发布了再折腾新的吧😂

[2022-04-23 04:46] suroot66 commented on #464
@Bigbox02 我直接用情景模式帮我杀了apkpure😏

[2022-04-23 05:42] Paranoid999 commented on #468
1、不兼容的问题测试了已解决，非常感谢！！👍👍👍👍👍👍

2、sleep延时还是有点小问题，比如同一个App设置了两个情景模式（一个是sleep延时，一个不是），等到开始执行的时候，两个情景模式都会延时。（非sleep那个情景模式也会被延时）

举例：
（注：请把两个情景模式的“全局变量”都添加同一个App，然后用这个App进行测试。关闭此App，测试gps关闭期间，蓝牙是否也被延时关闭）

情景模式一（sleep延时）：
[
{
"name": "自动开关GPS",
"description": "打开应用开启定位，应用回到后台20秒(1000毫秒＝1秒)后关闭定位。应用名单来自全局变量gps",
"priority": 2,
"condition": "if( hw.isLocationEnabled() == false && frontPkgChanged == true && g

[2022-04-23 06:04] Tornaco commented on #468
[code]

你仔细看一下这句话，你的第一条"priority"改了吗？

[2022-04-23 06:07] Paranoid999 commented on #468
明白了，原来是改这里。我再测试下

再请教下具体怎么改，
"priority": -1,这样吗？
还是"priority": priority < 0,
或者"priority":  < 0,

这几种只有"priority": -1,不提示语法错误。实测和之前一样。

不会是直接写到condition里边吧？

[2022-04-23 07:18] Paranoid999 commented on #468
priority < 0具体应该怎么改呢，能举个例子吗？

[2022-04-23 10:56] Tornaco commented on #468
priority = -1

[2022-04-23 11:04] brownfo opened #470 "Thanox可信初始化时遇到兼容性错误"
**Describe the bug（现象描述）**
重启偶现"核心初始化错误": Thanox可信初始化时遇到兼容性错误，可能会影响某些功能，请把/data/system/thanos/log下面的日志反馈给开发者

**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
尚不清楚，有时连续重启都显示不兼容，有时一直正常

**Expected behavior**（期望结果）
希望开发者能够根据日志修复这个问题，或者能帮忙找出是否我配置有问题

**Screenshots**（截图）
![Screenshot_2022-04-23-18-48-47-2026590606](https://user-images.githubusercontent.com/76164253/164891872-bead74d8-53e0

[2022-04-23 13:25] #468 closed, assigned to nobody

[2022-04-23 13:26] Tornaco commented on #470
@brownfo 请测试 https://app.circleci.com/pipelines/github/Tornaco/Thanox/287/workflows/bb857093-02b9-4176-822d-f90327f12edd/jobs/268/artifacts

[2022-04-23 13:26] Tornaco commented on #464
那就关闭这个问题了。

[2022-04-23 13:26] #464 closed, assigned to Tornaco

[2022-04-23 14:27] Tornaco commented on #460
请测试 https://app.circleci.com/pipelines/github/Tornaco/Thanox/288/workflows/3e8fcebc-5041-44ef-b097-0b174f76d6fa/jobs/269/artifacts

[2022-04-23 14:27] Tornaco commented on #419
请测试 https://app.circleci.com/pipelines/github/Tornaco/Thanox/288/workflows/3e8fcebc-5041-44ef-b097-0b174f76d6fa/jobs/269/artifacts

[2022-04-23 14:43] brownfo commented on #470
开发者你好，经过四次不规律的间断重启测试和使用后，问题未再复现，若有复现，我会及时反馈

[2022-04-24 23:01] gwc12412 opened #471 "12 L锁屏无法杀后台"
**Describe the bug（现象描述）**
锁屏无法杀后台

**Expected behavior**（期望结果）
锁屏可以杀后台

**Version（发现问题的版本）:**
 - OS: [e.g. Android 12 L]
 - Version [e.g. v3.9.4-prc ]

**Additional context**（其他信息）
一键加速可以杀后台，后台运行无法杀后台，已取消勾选应用

[2022-04-25 01:05] Tornaco commented on #471
请提供日志和配置截图。

[2022-04-25 01:05] #471 closed, assigned to nobody

[2022-04-25 04:28] Gokou-Ruri opened #472 "Android 12.1 以suspend模式冻结的APP无法通过支持的网页链接拉起"
示例链接：https://www.pixiv.net/artworks/97817436
之前在Android 11的时候，即使APP被冻结后，也能点击链接直接跳转APP，但在Android 12.1上却无法跳转了，点击链接会打开浏览器。只有当APP被解冻后，点击该链接才能跳转APP。（所有APP均是这个情况）
应用信息里已经启用了APP所有支持的链接：

![Screenshot_20220425-122423_Pixel 启动器](https://user-images.githubusercontent.com/26711804/165020742-ba9b14f6-0f64-454d-8366-62c688544d56.png)

**Version（发现问题的版本）:**
 - OS: [Android 12.1]
 - Version [Thanox Pro 3.9.4-row

[2022-04-25 06:26] gwc12412 opened #473 "12L锁屏无法杀后台"
**Describe the bug（现象描述）**
锁屏无法杀后台，一键加速可以杀后台。

**To Reproduce**（如何复现）
以酷安为例：
1. 打开酷安
2. 上滑回到主界面
3. 锁屏
4. 解锁屏幕打开酷安发现酷安依然是回到主界面之前的样子，没有启动过程
5. 尝试一键加速功能可以杀死酷安

**Expected behavior**（期望结果）
可以锁屏杀后台

**Screenshots**（截图）
![Screenshot_20220425-134403_Thanox](https://user-images.githubusercontent.com/18442546/165030057-ace6198b-e6ce-4d23-9f4f-e7fe3e5050fc.png)

**Version（发现问题的版本）:**
 - OS: [e.g. Android 12

[2022-04-25 10:21] Tornaco commented on #473
@gwc12412
https://app.circleci.com/pipelines/github/Tornaco/Thanox/289/workflows/6597fe81-4225-49d4-af89-839f1638edc5/jobs/270/artifacts

[2022-04-25 10:21] #470 closed, assigned to Tornaco

[2022-04-25 10:21] #469 closed, assigned to Tornaco

[2022-04-25 10:21] #460 closed, assigned to Tornaco

[2022-04-25 10:22] #419 closed, assigned to nobody

[2022-04-25 15:20] gwc12412 commented on #473
已经解决，作者大大效率很高，点赞🥰😋

[2022-04-25 23:52] hw1020 opened #474 "情景模式就可以加个省电模式的设置吗"
比如开启屏幕，就关闭省电模式，关闭屏幕就开起省电模式

[2022-04-26 04:30] suroot66 opened #475 "希望增加网络状态详细变化的condition"
**Is your feature request related to a problem? Please describe.**
【情景】
我希望监听网络状态变化的事件，从而动态修改当前dns
（dns会随着网络状态的切换而自动切换，我想使用自定义的dns，不得不在每次网络状态变化后都修改一次）

**Describe the solution you'd like**
【期望】
添加网络详细状态变化的判断条件，包括诸如4g 到 3g的变化、2g 到 wifi的变化，wifi时切换连接状态的变化（诸如从wifi1切换到wifi2、从wifi2掉线变为未连接状态）

**Describe alternatives you've considered**
【alternatives】
目前没有找到什么好的shell命令解决方案，只能通过vpn软件常驻后台来保持修改dns

**Additi

[2022-04-26 06:07] Guhe-o opened #476 "增加危险警告标识"
**Is your feature request related to a problem?
冻结软件界面能否新增一个类似appops那样的危险警告？不知道哪些禁了会无法开机

**Describe the solution you'd like**
冻结界面提示“该应用冻结可能导致无法开机”这样的警告语，对那些冻结百分百无法开机的将冻结按钮变成灰色

**Describe alternatives you've considered**

**Additional context**
![Screenshot_2022-04-26-14-04-46-406_moe shizuku redirectstorage](https://user-images.githubusercontent.com/67861307/165232708-efd3b4d6-31f1-4263-a7ae-e6

[2022-04-26 06:11] liu-cool-cmd commented on #476
@Termux000001 这。。。有点多余吧（

[2022-04-26 06:14] Guhe-o commented on #476
想省电又不敢下手😂

[2022-04-26 06:17] suroot66 commented on #476
刷个自救模块，无法开机自动解冻所有app😏

[2022-04-26 06:31] Guhe-o commented on #476
😃😃😃懂了，谢谢

[2022-04-26 16:34] Guhe-o opened #477 "Google服务异常"
问题描述：不知道是冻结了什么东西还是MIUI的问题，突然Google服务就没了，点击重试无反应，打开谷歌邮箱会提示英文

我尝试在lsp里把thanox关闭并重启手机，重启手机后恢复正常；但当我把thanox再次在lsp里打开并重启手机，这个问题再次出现

系统版本：
红米k40  MIUI 13 开发版 22.4.8 安卓13
thanox版本：
Pro版  3.9.4-row

![Screenshot_2022-04-26-23-56-42-239_github tornaco android thanos pro](https://user-images.githubusercontent.com/67861307/165348976-9a6bc6b2-07f9-485f-a1fe-c12dad144cbf.png)
![Screenshot_2022-04-26-23-54-43

[2022-04-26 16:35] Guhe-o commented on #477
最后一张图传错了
![Uploading Screenshot_2022-04-27-00-00-28-486_com.android.settings.png…]()

[2022-04-26 16:39] Guhe-o commented on #477
不知道怎么上传log，只好发到tg群里了

[2022-04-28 03:26] ONE223 opened #478 "问题反馈：Thanox影响app安装速度"
**Describe the bug（现象描述）**
A clear and concise description of what the bug is.（简洁的描述该bug的现象）
Thanox3.81版本，设备pixel5 安卓11。在安装thanox后发现应用安装的速度会受到影响，包括thanox的生成代理应用安装也会变得很慢。我之前使用pixel2安卓10系统也遇到同样的问题。
我尝试关闭thanox重启，应用安装速度恢复正常。
![Screenshot_20220428-112213](https://user-images.githubusercontent.com/68263164/165670103-38efd66b-22e6-43e9-a42d-d5ec242f4dc9.png)

[2022-04-28 03:27] Tornaco commented on #478
Thanox激活后不做任何配置有问题吗？

[2022-04-28 03:33] ONE223 commented on #478
App激活后不做任何配置安装速度恢复正常

[2022-04-28 11:30] Bigbox02 commented on #477
清除play数据缓存后试试，我的可以，不过我用基本功能一般不在lsp勾选模块也能正常使用，问下哪些功能是要勾选模块的，

[2022-04-28 11:44] Guhe-o commented on #477
@Bigbox02 尝试卸载更新，然而并没有意料之外的喜事🤣🤣

[2022-04-28 12:18] #477 closed, assigned to nobody

[2022-04-28 12:18] #476 closed, assigned to nobody

[2022-04-28 13:00] Tornaco commented on #474
是需要省点模式开关的API吗？还是要一条情景模式？没理解你想要什么？

[2022-04-29 02:19] recycle007 opened #479 "使用一段时间后输入法振动失效"
**Describe the bug（现象描述）**
使用几天后输入法振动就失效，一直以为是一加的原因，看酷安好多人说是thanox的缘故，而且我手机用一段时间在打开全屏应用或视频时会非常卡，也不知道这个是不是thanox的原因

**To Reproduce**（如何复现）
不知如何复现。。有时候几天一次，有时候用很久才出现，但基本都会发生，重启解决

**Expected behavior**（期望结果）
解决bug

**Screenshots**（截图）
截图无法体现

**Version（发现问题的版本）:**
 - OS: Android 10
 - Version v3.9.4
 - 老版本到现在一直都会发生

**Additional context**（其他信息）
Add any other context about the problem here.（其他的补充信息）

[2022-04-29 02:22] Tornaco commented on #479
Thanox本身提供的配置很多都是会对系统或app造成影响，所以很多时候如果你只是描述问题现象，我是无法分析定位的。

所以问题反馈请务必提供更详细的信息。

1. 系统版本

2. Thanox版本，补丁方式（xposed还是magisk？）

3. 问题现象的详细描述，有图或者视频更好

4. 不激活thanox有问题吗？

5. Thanox激活后不做任何配置有问题吗？

6. 按照app首頁最下面「反饋」的提示抓取日志并上传到issue里

[2022-04-29 03:00] recycle007 commented on #479
关键是这个问题随机出现，可能一个月出现一次。。中间要是重启过时间还得延长。。已经严重依赖thanox，还要不激活用几个月测试不激活有没有问题实在忍不了，相比之下半个月重启一次也可以忍受了。。主要我看酷安很多人提这个问题，以为是常见问题想问问有没有解决办法，麻烦开发者了😂

[2022-04-29 05:07] #473 closed, assigned to nobody

[2022-04-29 08:57] pgigli opened #480 "12L权限管理屏幕亮度失效"
1. 系统版本
Android 12
2. Thanox版本，补丁方式（xposed还是magisk？）
Lsposed
3. 问题现象的详细描述，有图或者视频更好
权限管理屏幕亮度管理失效，打开付款码亮度拉满
4. 不激活thanox有问题吗？

5. Thanox激活后不做任何配置有问题吗？

6.  按照app首頁最下面「反饋」的提示抓取日志并上传到issue里
[log.txt](https://github.com/Tornaco/Thanox/files/8589513/log.txt)

[2022-04-30 02:10] liu-cool-cmd opened #481 "Crdroid 系统界面崩溃"
**Describe the bug（现象描述）**
有时出现系统界面无响应，或者息屏后睡死
**To Reproduce**（如何复现）
未知

**Expected behavior**（期望结果）
不死机

**Screenshots**（截图）
If applicable, add screenshots to help explain your problem.（通过截图更好的解释你的问题）

**Version（发现问题的版本）:**
 - OS: Crdroid8 安卓12
 - Version 3.9.5-prc lsposed激活

**Additional context**（其他信息）
由于低复现率，不确定是不是由于thanox引发

** Logs**（日志文件）
务必将截取到的日志文件发到该issue里。

[thanox-init.log](https://gi

[2022-05-01 00:02] yyz0313 opened #482 "你好 能不能添加一个情景模式 超过十分钟未打开屏幕自动进入省电模式 打开屏幕自动退出"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-05-03 00:06] myflavor commented on #455
通过Hook安卓系统屏蔽ANR
![Screenshot_2022-05-03-08-02-14-587_me simpleHook](https://user-images.githubusercontent.com/45022747/166344929-1ae3d602-2777-4d82-bbf9-a2dcadbd7dfa.jpg)

[2022-05-03 04:48] myflavor commented on #455
[code]

[2022-05-03 10:24] KanoCifer opened #483 "Thanox导致GooglePlay无法进入"
![Screenshot_20220503-181518_Pixel 启动器.png](https://user-images.githubusercontent.com/57797351/166437708-17bb068a-33c6-4530-97ce-1c7034b9f422.png)排查了好久才发现是灭霸的原因，一直导致验证，没法进入，某些谷歌软件也连不上网络，一激活就这样面具和lsp激活都有这个问题。
3.9.5-row
安卓12L

貌似是最近才有的，我之前怎么用都没问题，很影响使用。进不去谷歌也看不见有没有更新Thanox，只能关掉。

[2022-05-03 10:31] #483 closed, assigned to nobody

[2022-05-03 13:44] KanoCifer commented on #477
我跟你一样的问题，不要对谷歌服务做任何操作，比如乖巧。我就是这样，搞了好久。。还以为版本问题

[2022-05-03 13:46] Gokou-Ruri opened #484 "[权限管理]可否新增“VPN状态检测”的权限？"
有些APP会检测VPN是否已开启，检测到VPN以后会要求用户必须关闭VPN才能使用，但我已经在VPN软件中禁用对此APP使用VPN，却已经无法使用。

![Screenshot_20220503-214153_要什么会员](https://user-images.githubusercontent.com/26711804/166464720-d478d965-8bdf-44a5-a32a-11ded4ef4883.png)

总是要手动关闭和开启VPN实在太麻烦了……Thanox可否实现屏蔽APP检测VPN状态的功能呢？或者欺骗APP VPN当前并未开启？（因为我已经在VPN软件内选择不处理此APP的流量，所以只要它自己检测不到VPN状态，应该就能在打开VPN的情况下继续使用此APP了。

[2022-05-03 13:51] Gokou-Ruri commented on #482
情景模式让开发者来写，那开发者做这个情景模式是为了什么？衣来伸手饭来张口可不是个好习惯。

[2022-05-03 13:52] Gokou-Ruri commented on #474
情景模式让开发者来写，那开发者做这个情景模式是为了什么？衣来伸手饭来张口可不是个好习惯。
而且和#482 重复了。

[2022-05-03 15:20] claydeck opened #485 "Play版无法安装及谷歌验证错误"
**Describe the bug（现象描述）**
Play版Thanox显示无法安装，包括测试版和普通版
此时会发现已经安装成功，但无法通过验证
**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
1. 在Play中安装Thanox，显示无法安装，但事实是成功安装了，Play这边依然是未安装状态，见截图1
2. 打开刚刚安装的Thanox Pro，验证错误，见截图2
3. 跳过验证可正常激活（已测试lsposed）
4. Play的其他应用均无此安装问题，且手机ROM为国际版ROM，自带谷歌服务，且通过shamiko对谷歌框架和Play商店隐藏了root以此通过saftynet检测（不知何这个有无关系）
5. Magisk、lsposed以zygisk运行

**Expected behavior**（期望结果）

[2022-05-05 05:30] ctq0720 opened #486 "LSP/面具zygisk分别激活失败"
系统版本MIUI13.0.5
安卓12
机型K30S
LSP勾选无效
面具刷入后显示未启用
清除软件数据/重启皆已尝试
![Screenshot_2022-05-05-12-38-46-340_com miui home](https://user-images.githubusercontent.com/80435296/166867801-67d15ade-0382-4f3a-8275-488cd4ef5655.jpg)

[2022-05-05 05:34] Guhe-o commented on #486
@ctq0720 额，按照大佬们的说法，要么发log，要么发生辰八字

[2022-05-05 06:16] #49 closed, assigned to Tornaco

[2022-05-06 04:27] zhuzebi commented on #436
这个可以用情景模式解决，解锁移出乖巧模式

[2022-05-06 05:08] myflavor opened #487 "应用安装速度慢到离谱，拨打电话选择手机号后卡在通话界面(此时没有打出去)"
**影响系统**
应用安装速度慢到离谱，拨打电话选择手机号后卡在通话界面(此时没有打出去)

**复现步骤**
自定义情景模式一段时间后复现
[code]

[2022-05-06 08:10] #487 closed, assigned to nobody

[2022-05-06 13:15] Tornaco commented on #485
@im20A0 如果连安装都失败的话，我也解决不了~

[2022-05-06 13:17] Tornaco commented on #479
建议不要对这个输入法最一些奇怪的设置再观察一下。最好能排查下是不是哪个配置导致的。暂时关闭issue。

[2022-05-06 13:17] #479 closed, assigned to nobody

[2022-05-06 13:42] liu-cool-cmd commented on #479
@Tornaco 是不是对输入法乖巧了

[2022-05-07 00:13] halloth commented on #419
测试结果总体良好，统计图触发可以相互对应了。另外触发范围稍微有点小问题

https://user-images.githubusercontent.com/80349988/167229708-754c243e-bddd-43f9-aa84-53c291c9b0c1.mp4

点击环带外正常无反应，点击环带内测一定范围仍会触发统计图内容

[2022-05-07 03:49] kelsilib commented on #486
框架会不会太老了

[2022-05-07 06:13] Wcoom opened #488 "红米K40pro无法安装su插件"
使用6519版zygisk的lsposed激活  安卓12
thanox的插件仓库su插件无法安装和本地安装，格式化data再次安装依旧无法安装和安装
Thanox-Core: BootStrap main: Xposed
Thanox-Core: registerFeature: thanox.feature.start.blocker
Thanox-Core: registerFeature: thanox.feature.privacy.data.cheat
Thanox-Core: registerFeature: thanox.feature.plugin.support
Thanox-Core: registerFeature: thanox.feature.privacy.field.imei
Thanox-Core: registerFeature: thanox.feat

[2022-05-07 06:14] Wcoom commented on #488
2022-05-07 13:34:01.119 W/Thanox-Core: SystemServiceLifecycle onStart: [github.tornaco.android.thanos.services.os.UserManagerService@6ab86c1, github.tornaco.android.thanos.services.app.ActivityManagerService@45d5e66, github.tornaco.android.thanos.services.os.ServiceManagerService@76875a7, github.tornaco.android.thanos.services.pm.PkgManagerService@17d2a54, github.tornaco.android.thanos.services.pm

[2022-05-07 06:19] Wcoom commented on #488
https://user-images.githubusercontent.com/105034279/167241507-b17424b5-2cd8-41e5-8232-9f7bbafb7619.mp4

点击安装后，无任何反馈，依旧在这个界面

[2022-05-07 11:40] Paranoid999 opened #489 "多用户里的机型信息被重置"
**Describe the [bug（现象描述）**]
多用户里的机型信息被重置，像在新手机登录新App那样。具体表现：①、user 10、user 11里的微信登录提示新机型（和从新手机登录时的情形一模一样）；②、user 11 QQ无法打开；③、多用户里的MIUI权限被重置；④、多用户里的手机管家设置也被重置。

**To Reproduce**（如何复现）
偶发复现（版本3.9.6，3.9.5的log都抓到了，麻烦看一下）

**Version（发现问题的版本）:**
 - OS: [ Android 10 (MIUI 12)]
 - Version [3.9.6，3.9.5，3.9.1，以及更早的某些版本也出现过这种问题]，

 -

** Logs**（日志文件）
@Tornaco 麻烦看一下

最新版本3.9.6提取的log：https://wwc.lanzouj.com/b

[2022-05-07 15:15] Wcoom commented on #488
rom是simplicity rom官改，MIUI13 22.4.27

[2022-05-08 00:36] #436 closed, assigned to nobody

[2022-05-08 15:24] victortoby commented on #403
我之前用android11是可以收到腾讯的FCM推送的，后来我刷了一个android12的包，然后发现按答主的操作不行，fcm收不到腾讯的推送，不知道问题出在哪里

[2022-05-08 15:30] victortoby commented on #403
更正一下，可能是我没有按照答主所说的冷启动一次微信。
我冷启动之后再把微信进程杀掉就能看到FCM中有腾讯的推送

[2022-05-09 00:45] anjiel opened #490 "功能请求：定时"
希望加入定时功能，时间戳转换计算比较麻烦（精确控制），且不确定耗电情况

[2022-05-09 04:42] Clorasun opened #491 "一键加速存在bug"
一键加速存在bug（这种bug是去掉了后台运行，勾选了任务清理仍然生效的）
对该bug进行了测试确实存在这种情况!
test相关图片:https://www.helloimg.com/images/2022/05/09/RNsTQg.jpg
版本:3.9.6-row thanox May0713:24:46
相关log文件:链接：https://www.123pan.com/s/CDzA-1TsOA

_使用 [FastHub-RE](https://github.com/LightDestory/FastHub-RE/) 从我的 meizu 18 Pro 发送_

[2022-05-09 08:35] Tornaco commented on #491
@MRDQ123 一键清理时跳过了有通知的应用，你可以关闭这个开关试试。

[code]

[2022-05-09 17:45] IzzySoft commented on #400
@Tornaco could you please let us know when you reach the "fully FOSS" state? Your app is currently [in my repo](https://apt.izzysoft.de/fdroid/index/apk/github.tornaco.android.thanos). @linsui pointed me to this issue and I agree this raises some difficulties. Criteria for my repo are slightly more relax than on F-Droid, so I just added the `NonFreeDep` anti-feature now (stating the app depends on

[2022-05-09 18:31] UISSD opened #492 "su enabler失效"
机型K50 miui13 13.0.10.0 稳定版, thanox版本为3.9.6-prc, 插件su enabler启用无效,情景模式的sh命令执行失败, 无论是以magisk还是lsposed方式激活都存在同样的问题

[2022-05-09 18:35] UISSD commented on #492
系统为安卓12
log文件:https://wwz.lanzouf.com/b03cy7uif
密码:gxpi

[2022-05-10 00:49] Tornaco commented on #400
@IzzySoft Thank you for your work, I personally am very willing to open source, but due to COV-2019, I need some of this app's revenue to live. I often work 12 hours a day and also take time out to maintain the app, if 100% open source, I am worried that I will lose some of the revenue, which will make my life stress bigger. In the future, when economic pressures are lessened, I will fully open it

[2022-05-11 05:12] Paranoid999 commented on #489
@Tornaco 麻烦看一下哈，真的太影响使用了，感谢，辛苦了

[2022-05-11 05:57] Tornaco commented on #489
@Paranoid999 激活什么都不做就这样？

[2022-05-11 07:37] Paranoid999 commented on #489
Thanox的某些版本没有这个问题（测试过很长时间），某些版本会有（更新了thanox很短时间就复现bug了），基本能确定就是Thanox的问题。

[2022-05-11 08:07] Tornaco commented on #489
@Paranoid999 建议你恢复thanox为默认数据试试，排除是你自己做的一些配置导致的还是thanox的bug（这个是bug的可能性较小）。这个问题暂时没有收到其他人反馈，我会回去复现，如果无法复现，那么这个问题我也无法解决。

[2022-05-11 12:15] tianshitiaoshi opened #493 "后台运行只有关闭不清理有通知的应用开关才能对对微信生效"
微信明明没有通知，但只有关闭这个开关才能对他生效

[2022-05-11 13:19] yezige commented on #403
歪个楼，12好用吗？bug多吗，想刷，已知的有哪些软件不兼容能告知下吗

[2022-05-11 16:50] yezige commented on #403
搞错了，还以为你刷了13

[2022-05-12 16:09] Wcoom commented on #492
巧了，我也是，反馈了一个周了

[2022-05-12 20:37] fmcong opened #494 "增加乖巧模式内规则检索功能"
现乖巧模式的设置内规则选项界面功能不全，在应用配置的服务管理界面添加规则进KEEP清单后很麻烦去修改。

希望在乖巧模式内的设置规则增加对已存在规则的筛选或者排序（同应用做一个可拓展抽屉）。

又或者可以直接在应用配置的服务管理内，增加对规则的修改：
例如：错误添加规则后可直接撤销或删除。
或显示标注该服务已存在KEEP清单内。

望采纳

[2022-05-13 01:45] Tornaco commented on #492
补充一下细节吧，执行哪个sh命令，失效是指什么。另外，sh命令是不需要su插件的，默认就可以支持。

最好有对应的情景模式也发出来，提问题最好方便别人能直接理解问题，或者有案例可以直接测试。

[2022-05-13 01:52] UISSD commented on #492
任何sh命令, 本来像熄屏清理电池优化白名单的, 后来发现空命令都不能执行, magisk已经授权了
![903274713394178842](https://user-images.githubusercontent.com/36440730/168195446-79eba605-382e-4793-91a7-91f6705b338b.jpg)
![184530674282942870](https://user-images.githubusercontent.com/36440730/168195469-5e818632-8c47-44a4-a135-461d69d43b7a.jpg)
![140358272912804533](https://user-images.githubusercontent.com/36440730/168195484-589ee9c3-3ff7-48

[2022-05-13 01:55] UISSD commented on #492
只有关闭SELinux(setenforce 0)才可以使用情景模式, 但是这样的话很多银行应用都使用不了, 很不方便

[2022-05-13 02:30] Tornaco commented on #492
换成su.exe("xxx")行吗？

[2022-05-13 02:53] UISSD commented on #492
不行, 和之前一样, 还是code=-1

[2022-05-13 06:31] Tornaco commented on #492
换成su之后测试的日志发一下

[2022-05-13 09:36] UISSD commented on #492
详细介绍看Readme.md
话说你这个log里面不会有什么敏感信息吧...
[Thanox log.zip](https://github.com/Tornaco/Thanox/files/8685914/Thanox.log.zip)
脚本内容:
`[
    {
        "name": "Screen off shell test",
        "description": "息屏Shell测试",
        "priority": 1,
        "condition": "screenOff == true",
        "actions": [
            "ui.showShortToast(sh.exe(\"su\"))"
        ]
    }
]`

[2022-05-13 09:53] Tornaco commented on #492
[code]

你没理解su的意思。看下我发的例子。

[2022-05-13 09:54] Tornaco commented on #492
@UISSD

[2022-05-13 10:20] UISSD commented on #492
[Thanox log.zip](https://github.com/Tornaco/Thanox/files/8686225/Thanox.log.zip)
用su.exe()测试了一遍, 详细介绍看Readme.md

[2022-05-13 13:44] Tornaco commented on #492
@UISSD 你没装su插件？

[2022-05-14 01:16] tianshitiaoshi commented on #493
似乎是使用fcm的原因

[2022-05-14 03:41] zhangbeihai9931 commented on #486
BL解了嗎？

[2022-05-14 05:44] UISSD commented on #492
这次装了
[Thanox log.zip](https://github.com/Tornaco/Thanox/files/8692333/Thanox.log.zip)

[2022-05-14 06:32] woshicuimianshi opened #495 "下列情景模式失效，有时候短时间内重复触发"
**下列情景模式在开机大概10分钟后会失效，有时候短时间内重复触发**
[
{
"name": "QQ进程优化单进程",
"description": "从QQ离开后 结束多余的进程",
"priority": 2,
"condition": "frontPkgChanged == true && from == \"com.tencent.mobileqq\"",
"actions": [
"Thread.sleep(1000);",
"su.exe(\"ps -ef|grep com.tencent.mobileqq:|grep -v :MSF|grep -v grep|awk '{print $2}'|xargs kill -9\")",
"ui.showShortToast(\"[已清理QQ进程]\")"
]
}
]
---------

上述情景模式失效，有时候短时间内重复触发

[2022-05-14 08:01] MajoSissi commented on #495
@woshicuimianshi 短时间重复触发很明显自己写的代码问题。。。延迟之后直接操作也没判断

[2022-05-15 21:13] IzzySoft commented on #400
Fully understood. Wish you best progress– and please let me know when the situation changed and I can lift the "mark".

[2022-05-16 15:51] ICCID0211 opened #496 "插件商店里的su enabler下载不了"
点击安装没反应，类原生12.1

[2022-05-16 15:52] ICCID0211 commented on #488
解决了吗兄弟，我也是这样的问题

[2022-05-17 00:53] Tornaco commented on #488
等下个版本

[2022-05-17 00:55] Tornaco commented on #488
@Wcoom 把你的日志也发一下。 sdcard/Android/data/github.tornaco...thanos/cache/log

[2022-05-17 00:56] Tornaco commented on #492
@UISSD 然后呢，su命令还是不能用吗？我看你的截图执行没问题了。

[2022-05-17 00:56] #491 closed, assigned to nobody

[2022-05-17 00:58] Tornaco commented on #495
建议使用delay属性来实现延迟功能，例如：
[code]

[2022-05-17 00:58] #495 closed, assigned to nobody

[2022-05-17 06:22] Wcoom commented on #488
我用蓝奏浏览器分享了[thanox的log], 下载链接:https://wwr.lanzoui.com/b031178gh  提取码 : gu51, 你可以不限速下载哦

[2022-05-18 07:13] UISSD commented on #492
嗯, 现在可以了

[2022-05-19 11:18] #496 closed, assigned to nobody

[2022-05-19 11:18] #492 closed, assigned to nobody

[2022-05-19 11:18] #489 closed, assigned to nobody

[2022-05-19 11:20] Tornaco commented on #488
@Wcoom 除了个日志还有一个路径下面的日志：sdcard/Android/data/github.tornaco...thanos/cache/log

这个也发下。

[2022-05-19 11:20] #482 closed, assigned to nobody

[2022-05-19 11:21] #485 closed, assigned to nobody

[2022-05-19 11:33] Wcoom commented on #488
在sdcard/Android/data/github.tornaco...thanos/文件下没有产生任何文件

[2022-05-20 13:22] Tornaco commented on #488
@Wcoom 用这个版本测试，出错了复制一下错误信息发出来。

https://app.circleci.com/pipelines/github/Tornaco/Thanox/304/workflows/d1d10d57-706e-45d4-a077-366175a46ded/jobs/282/artifacts

[2022-05-20 13:37] Wcoom commented on #488
没有错误信息提示，点击安装后和上面视频一样无任何反应错误提示又继续在仓库插件页面

[2022-05-20 13:49] Tornaco commented on #488
/sdcard/Android/data/github.tornaco.android.thanos/cache/logs

再确认下这个路径下有没有日志？没有日志我也无法解决了。

[2022-05-20 14:52] Tornaco commented on #488
再试试这个呢 https://app.circleci.com/pipelines/github/Tornaco/Thanox/305/workflows/4c7dcc4a-6515-4ee2-b764-9435ea0e565c/jobs/283/artifacts

[2022-05-20 15:00] Wcoom commented on #488
有了 错误信息:
java.io.FileNotFoundException: plugin_tmp1653058762101.tp: open failed: EROFS (Read-only file system)
	at libcore.io.IoBridge.open(IoBridge.java:575)
	at java.io.FileOutputStream.<init>(FileOutputStream.java:236)
	at util.AssetUtils.copyTo(:5)
	at k3.a.run(:7)
	at github.tornaco.android.thanos.widget.e.onClick(:3)
	at androidx.appcompat.app.AlertController$c.handleMessage(Unknown Source:3

[2022-05-20 15:20] ICCID0211 commented on #488
大佬你好，我跟他是一模一样的情况，k30pro 安卓12.1。
用的是你发的这个版本，这里是错误信息：
java.io.FileNotFoundException: plugin_tmp1653059930442.tp: open failed: EROFS (Read-only file system)
	at libcore.io.IoBridge.open(IoBridge.java:575)
	at java.io.FileOutputStream.<init>(FileOutputStream.java:236)
	at util.AssetUtils.copyTo(:5)
	at k3.a.run(:7)
	at github.tornaco.android.thanos.widget.e.onClick(:3)
	at androidx.appcompat.app.Alert

[2022-05-21 11:18] Tornaco commented on #488
@ICCID0211 @Wcoom 看错误是没权限写缓存，调整了一下缓存位置。等下面这个编译完了，可以测试下。

https://app.circleci.com/pipelines/github/Tornaco/Thanox/307/workflows/21ec4ad7-12f6-4a9c-9806-b3576618ff5b/jobs/285/artifacts

[2022-05-21 11:20] Wcoom commented on #488
👌🏻

[2022-05-21 17:49] Wcoom commented on #488
OK了，完美解决su插件安装成功，类似墓碑后太命令也能执行

[2022-05-21 18:05] myflavor opened #497 "情景模式增加音频焦点判断"
虽然有些app会在后台播放无声音乐，但是音频焦点始终只有一个，顺便问一下小窗，有没有办法正确识别

[2022-05-22 14:00] ICCID0211 commented on #488
解决了！

[2022-05-23 04:37] nonlog commented on #453
🙋我也遇到了同样的问题，thanox重复代收微信消息

[2022-05-23 14:29] Sfssup opened #498 "啥时候整个分包？"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-05-24 00:22] countrysideboy commented on #455
已更新，希望最终能不用su.exe，调用系统api实现，比如sendsignal等

[2022-05-24 02:49] dan880201 opened #499 "pro版更新后无限软重启"
更新后无限软重启，卸载后正常开机，幸好有救砖
![Screenshot_2022-05-24-10-47-35-19.jpg](https://user-images.githubusercontent.com/104725507/169938544-2f34fe3a-b288-4aba-bee8-0fc693304665.jpg)
(https://github.com/dan880201/123456/blob/19771358a8baa86d67a2f6b248f506767db75f03/thanox-core.log)
(https://github.com/dan880201/123456/blob/19771358a8baa86d67a2f6b248f506767db75f03/verbose_2022-05-24T12:17:51.375.log)
(https://git

[2022-05-24 02:56] hanxin1997 commented on #499
要不发日志，要不发一下生辰八字，作者帮你算一下。

[2022-05-24 03:28] Tornaco commented on #499
传一下thanox日志，以及lsp日志吧。

[2022-05-24 04:22] myflavor commented on #455
OP_WAKE_LOCK应该是没用的
OP_RUN_ANY_IN_BACKGROUND比OP_RUN_IN_BACKGROUND限制多
下面的广播服务提供者阻止，不知道没有NoANR能不能正常了

[2022-05-24 04:26] countrysideboy commented on #455
初步测试了一下，不使用NoANR模块好像可以，thanox作者似乎有处理这个问题。

[2022-05-24 04:27] myflavor commented on #455
有看过/data/anr的日志吗

[2022-05-24 04:29] myflavor commented on #455
也不知道Thanox怎么阻止的广播，我的NoANR是在分到APP之前去掉了广播，但是已经在执行的广播没去干扰，看这个情景模式也是延迟了15s，前台广播超时好像是10s，这样应该不存在后台后还有广播在执行了

[2022-05-24 04:57] countrysideboy commented on #455
昨天我把文件清空了，要测久一点才能确认了

[2022-05-24 05:02] myflavor commented on #455
冻结APP之后，直接锁屏，触发息屏广播，过个几秒，看看/data/anr有没有日志，如果有就是广播阻止的不彻底，如果没有，广播就成功阻止了，然后还有服务的ANR，就是挂后台，挂久一点，如果没有出现，那就没啥问题了，提供者的ANR我没看过了，NoANR去掉广播之后，屏蔽NoANR就没有任何问题了，所以我就没继续研究了

[2022-05-24 05:10] dan880201 commented on #499
不会上传😂折腾半天传上来了帮看一下，

[2022-05-24 05:16] Tornaco commented on #499
@dan880201 能不能把data/system/thanos_xxx_logging 整个文件夹压缩一下，发出来。你发的日志明显不全。

[2022-05-24 05:17] myflavor commented on #455
用Thanox的阻止广播还有服务和提供者，会导致比如美团支付使用支付宝，而支付宝以及被阻止了，就会显示找不到支付宝

[2022-05-24 05:17] dan880201 commented on #499
好的我去上传一下

[2022-05-24 05:21] countrysideboy commented on #455
是吧，我试了下闲鱼跳转淘宝授权登录，好像也不行

[2022-05-24 05:22] countrysideboy commented on #455
测试了几下，暂时没发现有文件。

[2022-05-24 05:22] dan880201 commented on #499
(https://github.com/dan880201/123456/blob/6e1bdb77d8adfd2b46895f18c583397c2f1e1c06/logging.zip)

[2022-05-24 05:23] myflavor commented on #455
还有就是，感觉15s延迟是不是太久了，进入后台那一会是最活跃的，如果改成3s还能不能正常，会不会就触发ANR了

[2022-05-24 05:30] countrysideboy commented on #455
我试试。等待时间久些，是希望程序能进缓存。之前测试，短时间内发送make-uid-idle没有效果，要有那么一段时间后执行才有效

[2022-05-24 06:18] hanxin1997 commented on #455
发现如果直接把全局变量的软件取消后会出现奇怪的问题 比如qq和微信是连不上网 接不到新消息，停止应用和重新开机都不行恢复，只有停止冻结的那个情景模式，而且解冻的那个情景模式得开启，再打开一次软件才恢复正常，如果有人看到这个问题，请使用这个方法恢复app。

[2022-05-24 06:20] myflavor commented on #455
这个问题就是阻止广播还有服务以及提供者导致的，你可以关闭冻结脚本，开一遍被冻结过的脚本，然后移除冻结名单

[2022-05-24 08:07] Tornaco commented on #499
@dan880201 试试 这个版本，记得先把pro版本取消勾选。

https://app.circleci.com/pipelines/github/Tornaco/Thanox/314/workflows/7d5a94af-89f8-4bd5-8388-decf85c8446b/jobs/291/artifacts

[2022-05-24 08:12] victortoby commented on #403
我觉得不太好用，我昨天已刷回11了。

[2022-05-24 08:14] yezige commented on #403
pixel 4xl路过，感觉12挺好的

[2022-05-24 08:23] dan880201 commented on #499
还是一样软重启，我发现重启开机到锁屏界面电池电量显示0几秒以后就会恢复，卸载以后开机是正常显示电量，

[2022-05-24 08:25] dan880201 commented on #499
我用回老版本了，老版本啥问题也没有

[2022-05-24 08:27] Tornaco commented on #499
@dan880201 大概猜出原因了，等下在测试下。

[2022-05-24 08:47] Tornaco commented on #499
[thanox_3.9.7-3-8b4e186-dirty-prc(3061058).apk.zip](https://github.com/Tornaco/Thanox/files/8761016/thanox_3.9.7-3-8b4e186-dirty-prc.3061058.apk.zip)

@dan880201 这个，需要解压

[2022-05-24 08:54] dan880201 commented on #499
还是一样，电量显示0几秒后显示出来电量后就软重启

[2022-05-24 08:56] dan880201 commented on #499
让你整了一下午了，别整了我还是用老版本得了，

[2022-05-24 09:22] MajoSissi opened #500 "情景模式activityCreated未生效"
应用版本：3.9.7
系统版本：Android 11 | MIUI 12.5

测试过程：
将应用停止运行，再打开，没有任何toast提示。

**测试用例**
[code]

日志：
[logging.zip](https://github.com/Tornaco/Thanox/files/8761245/logging.zip)

[2022-05-24 09:26] Tornaco commented on #499
[thanox_3.9.7-3-8b4e186-dirty-prc(3061058).apk.zip](https://github.com/Tornaco/Thanox/files/8761315/thanox_3.9.7-3-8b4e186-dirty-prc.3061058.apk.zip)

这个呢。。

@dan880201

[2022-05-24 09:51] dan880201 commented on #499
这个没事了，没有重启

[2022-05-24 10:57] dan880201 commented on #499
我没有国内版激活码，给我整个pro版啊大佬

[2022-05-24 14:34] countrysideboy commented on #455
写了一版比较特殊的版本，不需要su.exe插件，不需要添加全局变量了（以前的脚本需要添加pause变量且加入app列表）。
开关应用是否墓碑的方式为：使用系统自带的电池设置，将目标app的“管理电池用量”设置为“受限”即可。
缺点是无法批量添加app，提供一种思路，权当系统鸡肋电量限制模式的增强版。
备注：需要安卓10以上。

情景模式脚本1
[code]

情景模式脚本2
[code]

[2022-05-25 03:59] dellevin opened #501 "手机有时候会异常卡住黑屏"
大大，我手机是rog2，android11的有时候手机异常卡住黑屏，重启才能解决，或者是息屏等一会就会好。刚才我玩游戏的时候又出现了，时间是11：22-11：25的时候您能帮忙看一下么。我之前用3.6的时候没有问题。
我把thanox和lsp的俩日志发给您，您看看能解决一下么。。。。麻烦您啦~

lsp日志
[LSPosed_2022-05-25T11_29_45.146.zip](https://github.com/Tornaco/Thanox/files/8767785/LSPosed_2022-05-25T11_29_45.146.zip)
thanox日志
[thanos_MdaLJBiUpzjbJNUj.zip](https://github.com/Tornaco/Thanox/files/8767790/thanos_MdaLJBiUpzjbJNUj.zip)

andro

[2022-05-25 05:58] Tornaco commented on #501
@E-Levin  /data/anr 下的日志文件，打包发下。

[2022-05-25 06:12] dellevin commented on #501
[anr.zip](https://github.com/Tornaco/Thanox/files/8768380/anr.zip)

好啦！

[2022-05-25 06:31] dellevin commented on #501
@Tornaco 刚才在14:19-14:21的时候又黑了一下...我看这个lsp里面有那个anr日志,您看看哈~
[LSPosed_2022-05-25T14_23_31.904.zip](https://github.com/Tornaco/Thanox/files/8768475/LSPosed_2022-05-25T14_23_31.904.zip)

这个是那个thanox的日志
[thanos_MdaLJBiUpzjbJNUj(1).zip](https://github.com/Tornaco/Thanox/files/8768490/thanos_MdaLJBiUpzjbJNUj.1.zip)

[2022-05-25 09:53] diweisong opened #502 "安卓10 crdROM会自动开启药丸导航栏功能"
lsp激活，版本 3.9.7-prc，安卓10，自动开启导航栏和药丸功能，回退到上一个版本则不会。
![Screenshot_20220525-164941423](https://user-images.githubusercontent.com/106238637/170234777-563bba22-d37d-48ac-8367-e45d6279dd78.jpg)
![Screenshot_20220525-164917_Nova_Launcher~(1)](https://user-images.githubusercontent.com/106238637/170234812-30d32950-3ca6-4a81-9367-2421ec5c83b9.jpg)
![Screenshot_20220525-165446163](https://user-images.githubus

[2022-05-25 10:00] diweisong commented on #502
#

[ thanox log.zip](https://github.com/Tornaco/Thanox/files/8770021/thanox.log.zip)

[2022-05-25 11:03] Tornaco commented on #502
@diweisong 试试这个 https://app.circleci.com/pipelines/github/Tornaco/Thanox/315/workflows/3955855a-1a10-4a01-942d-1a08d106b008/jobs/292/artifacts

[2022-05-25 12:55] Tornaco commented on #501
[code]

根据目前的信息只能推测是systemui 挂了，日志里发现了几次ANR问题。现在还不确定是thanox还是其他原因导致，甚至怀疑是厂商代码的问题。

你再发下以下几个文件：
1. system/framework/framework.jar
2. SystemUI.apk

[2022-05-25 13:18] HHH3366 opened #503 "出现数字助理指示光标"
3.9.7版本更新以后强制出现数字助理指示光标（底下的两条白色弧线）（回桌面2秒消失，锁屏则常驻）
![Screenshot_20220525-211233_Nova_Ler](https://user-images.githubusercontent.com/51955828/170271362-61be4104-5adb-41ee-aa46-f5a640afc7bd.png)

[2022-05-25 13:22] HHH3366 commented on #503
另之前也有自动开启导航栏（占了导航栏的地方但操作依然是手势），下载别的issue里的修复版本好了

[2022-05-25 13:25] dellevin commented on #501
弄好啦，emmmm，大大，如果实在不行，咱别弄了，为了我这一个机型适配，有点不值呀。。。。我可以回退老版本的。。。这么麻烦你，我都不好意思了qwq。

ps：有时候我也觉得rog这个系统挺离谱的，但是打游戏是挺香的，要是麻烦的话就咱别弄了。。。用这手机的人挺少的

文件地址：
https://wonder1999.lanzouu.com/ioVto05flopg

[2022-05-25 13:51] Tornaco commented on #503
#502 应该是同一个问题。

[2022-05-25 14:11] HHH3366 commented on #503
用的就是那个issue里的修复版本，导航栏好了，数字助理没好（主要数字助理这个找不到开关，不用可以消）

[2022-05-25 23:39] Tornaco commented on #502
请更新到3.9.8，没问题的话就关闭issue了。

[2022-05-25 23:39] Tornaco commented on #499
请更新到3.9.8，没问题的话就关闭issue了。

[2022-05-25 23:40] #498 closed, assigned to nobody

[2022-05-25 23:40] Tornaco commented on #498
没明白。

[2022-05-25 23:40] #474 closed, assigned to nobody

[2022-05-25 23:41] Tornaco commented on #503
请更新到3.9.8，没问题的话就关闭issue了。

[2022-05-26 02:07] dan880201 commented on #499
这个版本没问题了，谢谢了

[2022-05-26 02:07] #499 closed, assigned to nobody

[2022-05-26 02:51] IE-K opened #504 "情景模式增加坐标点击和按键模拟"
一些app的“跳过”是图片，可能要坐标点击才能跳过；一些app的“跳过”还会改变位置，但按下返回键能直接退出广告页面

[2022-05-26 08:32] Teddy-Zhu commented on #455
这个阻止广播还有服务以及提供者还会因为开关vpn之后网络异常, 副作用挺大的 , 比如软件开着vpn 回到桌面, 关闭vpn,15s后再打开软件,软件依旧无法上网,需要重新打开vpn之后才能正常连接网络

[2022-05-26 14:19] brownfo opened #505 "状态栏磁贴异常。系统卡死"
**Describe the bug（现象描述）**
1.状态栏下拉后所有磁贴都不能正常加载，且点击后也无反应。
2.设置应用打开后白屏。
3.很大几率自动息屏，有闪屏现象，有几率卡死。
4.手动重启会一直卡在正在重启的界面，实际并未关机。(用电源键开关屏，屏幕会相应亮熄屏。 )

**To Reproduce**（如何复现）
一直有这个现象。开机后放一会儿有概率加载出状态栏的磁贴，但一点击又会卡死

**Expected behavior**（期望结果）
期望开发者能修复一下，目前回退了上一版本，一切正常。

**Screenshots**（截图）
![Screenshot_2022-05-26-18-33-26-1390133805](https://user-images.githubusercontent.com/76164253/170506302-8f7d94cf-5f26-4

[2022-05-26 15:11] Tornaco commented on #505
@brownfo “这个版本”和“上个版本”分别是哪个版本？

[2022-05-26 15:14] Tornaco commented on #505
@brownfo lsp日志也发一下吧

[2022-05-27 08:14] dellevin commented on #501
那个搞错了,这个是SystemUI.apk

文件(CNAsusSystemUI.apk)地址：
https://wonder1999.lanzouu.com/iPrkP05ieere

[2022-05-27 12:01] #503 closed, assigned to nobody

[2022-05-27 12:01] #502 closed, assigned to nobody

[2022-05-27 12:01] #488 closed, assigned to nobody

[2022-05-27 13:56] countrysideboy commented on #455
如果是这样，或许可以触发一个网络连接变化的广播

[2022-05-27 23:47] diweisong opened #507 "开屏使用乱杀后台"
开屏正在使用的手机，应用手动启动，手动切换的后台，挂一会儿经常会自动杀掉，貌似三个版本这样了。不知道是不是我的个例，但是之前的版本确实不会，求大佬分析分析。
后台启动或者后台运行导致的，把这俩关了就能挂住，开屏状态下，所有应用
安卓10，crdriod，lsp激活的xp模式，版本 3.9.8-1-72ef6f2-prc#
[log.zip](https://github.com/Tornaco/Thanox/files/8790095/log.zip)

[2022-05-28 00:23] #481 closed, assigned to nobody

[2022-05-28 03:07] Tornaco commented on #507
@diweisong 你不说一下哪些应用可能被误杀了我怎么帮你分析？

[2022-05-28 03:07] Tornaco commented on #507
补充详细信息后再open

[2022-05-28 07:40] diweisong commented on #507
所有应用啊，挂不住后台，不知道是后台启动还是后台运行，把这两个关了，就能挂住了
[log.zip](https://github.com/Tornaco/Thanox/files/8790727/log.zip)

[2022-05-28 07:41] diweisong commented on #507
后台启动或者后台运行的，把这两个关了就能挂住。开屏使用状态

[2022-05-28 08:03] diweisong opened #508 "后台运行和后台启动乱杀"
开屏状态下所有应用（除白名单）经常挂不住后台，自动杀了，关闭这俩功能就好了
我也不知道是后台启动还是后台运行的问题了…
安卓10，crdroid，lsp激活，版本 3.9.8-1-72ef6f2-prc
[log.zip](https://github.com/Tornaco/Thanox/files/8790743/log.zip)

[2022-05-28 09:47] Tornaco commented on #507
@diweisong

你说**所有应用**还是没法帮你定位问题。

1. 必须提供你测试的应用，例如支付宝。
2. 提供你的配置信息，例如打开任务清理，并且支付宝勾选了任务清理。建议直接把你的配置备份发出来。

[2022-05-28 13:00] Ye-Ethan opened #509 "独立的应用锁密码🔒"
它无关任何一个问题，仅仅是个功能建议
*让应用锁支持设置独立的密码，而非采取系统锁屏密码

[2022-05-28 14:51] brownfo commented on #505
开发者，抱歉。本来版本信息是详细的，从手机复制到电脑后不知道怎么回事被清楚了。下面是补充
这个版本：3.9.8-1-72ef6f2-prc
thanox@tornaco:348b245d-88b1-4cb8-a493-dce5a9c3c4e6
Thu May 26 08:03:09 CST 2022
Mac OS X
上个版本：[thanox_3.9.7-prc.3061058.apk](https://github.com/Tornaco/Thanox/releases/download/v3.9.7/thanox_3.9.7-prc.3061058.apk)
lsposed log：
[LSPosed_2022-05-27T02_43_00.158.zip](https://github.com/Tornaco/Thanox/files/8791337/LSPosed_2022-05-

[2022-05-29 04:17] Tornaco commented on #505
@brownfo 你能确认下退上个版本3.9.7是OK的吗？

麻烦也试试，如果3.9.8-1-72ef6f2-prc 把情景模式功能关闭的话会好吗？

[2022-05-29 05:56] Tornaco commented on #505
看了你的日志，大部分ANR的时候，都有一处可疑的日志，不知道是哪个模块（截图看NM日志.丝雨）。建议你把其他xposed模块取消激活再试试。

[code]

[2022-05-29 08:00] diweisong commented on #507
[Thanox-Backup-2022-05-29-15_58_25.zip](https://github.com/Tornaco/Thanox/files/8792881/Thanox-Backup-2022-05-29-15_58_25.zip)

[2022-05-29 09:41] brownfo commented on #505
你好！
我能确认在3.9.7版本是正常是用的，我使用的模块是“NoANR”，在3.9.7版本无论是启用或是禁用“NoANR”，都没有这个issue里所反馈的问题，启用它时会导致蓝牙耳机断开音乐不暂停。
我在3.9.8-1-72ef6f2-prc 版本测试了
①禁用“NoANR”，开启情景模式，
②禁用“NoANR”，关闭情景模式，
③卸载“NoANR”，关闭情景模式，
均会产生issue里提到的问题。
下面是情景模式的代码：
[解冻 .txt](https://github.com/Tornaco/Thanox/files/8793027/default.txt)
[冻结.txt](https://github.com/Tornaco/Thanox/files/8793028/default.txt)
下面是最近的日志（3.9.7版本，卸载NoANR，关闭情景模式）：
[LSPosed_2

[2022-05-29 12:04] Tornaco commented on #505
@brownfo  试试这个 https://app.circleci.com/pipelines/github/Tornaco/Thanox/325/workflows/18dd60c6-7254-4cf8-91a1-955243c14ea0/jobs/301/artifacts

[2022-05-29 13:53] Tornaco commented on #508
dup #507

[2022-05-29 13:53] #508 closed, assigned to nobody

[2022-05-29 13:54] Tornaco commented on #507
@diweisong 必须提供你测试的应用，例如支付宝。

[2022-05-29 16:14] brownfo commented on #505
@[Tornaco](https://github.com/Tornaco)这个还是和之前的一样的问题(卸载“NoANR”，关闭情景模式，):
[logging_1.zip](https://github.com/Tornaco/Thanox/files/8793736/logging_1.zip)
[LSPosed_2022-05-29T23_34_02.888_1.zip](https://github.com/Tornaco/Thanox/files/8793738/LSPosed_2022-05-29T23_34_02.888_1.zip)

[2022-05-29 17:42] diweisong commented on #507
微信

[2022-05-29 23:44] Tornaco commented on #507
看了日志没发现误杀问题，建议你排查一下情景模式。

[2022-05-30 14:01] Tornaco commented on #505
OK，明天再试别的。

[2022-05-30 14:50] brownfo commented on #505
好，麻烦你了

[2022-05-30 17:17] Clorasun opened #510 "[严重bug]变量无法重置直接叠加导致卡死闪退"
全局变量在原有基础上删掉之前的重选新应用变量会直接叠加，不会重置之前所删除的应用变量，导致三方应用变量甚至比手机本身三方应用数量还多。最终出现thanox卡死和系统无响应的情况。
相关thanox文件链接：https://www.123pan.com/s/CDzA-vvsOA

_使用 [FastHub-RE](https://github.com/LightDestory/FastHub-RE/) 从我的 meizu 18 Pro 发送_

[2022-05-31 01:05] Tornaco commented on #505
[thanox_3.9.8-13-67fc89a-dirty-prc(3061060).apk.zip](https://github.com/Tornaco/Thanox/files/8801216/thanox_3.9.8-13-67fc89a-dirty-prc.3061060.apk.zip)

@brownfo 再试试这个吧。

[2022-05-31 03:21] Tornaco commented on #510
@MRDQ123 麻烦按照复现步骤描述一下你的问题。另外你发的附件打开基本是空白的，麻烦check下。

[2022-05-31 03:28] Clorasun commented on #510
@Tornaco OK

_使用 [FastHub-RE](https://github.com/LightDestory/FastHub-RE/) 从我的 meizu 18 Pro 发送_

[2022-05-31 03:45] Clorasun commented on #510
@Tornaco一个视频演示一个日志，我看crash是有的，你那里是没传输上去？
 链接：https://www.123pan.com/s/CDzA-hvsOA

_使用 [FastHub-RE](https://github.com/LightDestory/FastHub-RE/) 从我的 meizu 18 Pro 发送_

[2022-05-31 13:30] Tornaco commented on #510
@MRDQ123 基本问题已修复，测试下：https://app.circleci.com/pipelines/github/Tornaco/Thanox/330/workflows/f1882f80-9c93-425b-bdd1-9a04f36ac5d0/jobs/306/artifacts

[2022-05-31 13:31] Tornaco commented on #510
为了修复三方系统上span字符全选删除导致的卡顿问题，把高亮功能关闭了。

[2022-05-31 13:31] #507 closed, assigned to nobody

[2022-05-31 13:33] Tornaco commented on #497
`顺便问一下小窗，有没有办法正确识别` 能具体一点吗？

[2022-05-31 13:33] #493 closed, assigned to nobody

[2022-05-31 13:38] myflavor commented on #497
activityResumed和frontPkgChanged都无法正确识别到小窗应用和非小窗应用的切换，这个小窗可能是各家自己实现的，不知道能不能有实现的方式

[2022-05-31 14:22] Clorasun commented on #510
测试了可行，没复现bug了。但全选之后上滑会无法停留至顶，解释一下大概是滑至顶部会弹下来，应该是触发了系统文本选择菜单导致的（这个算bug不）

[2022-05-31 14:26] Clorasun commented on #510
@Tornaco 还有情景模式执行是不是有些bug，会出现情景延迟，无法实时响应情景模式的问题

[2022-05-31 14:26] brownfo commented on #505
![Screenshot_2022-05-31-22-22-10-1112722757.png](https://user-images.githubusercontent.com/76164253/171197537-76a509c9-b653-4168-8c2d-02af8a56cf81.png)
还是不可以，每次都是一回退3.9.7就正常了

[2022-05-31 14:36] Tornaco commented on #510
你把问题表述清晰再@我吧。完全不知道你再说什么，没有代码，没有现象描述。如果没问题可以关闭issue了。

[2022-05-31 14:36] #510 closed, assigned to nobody

[2022-05-31 15:01] Clorasun commented on #510
@Tornaco 完全就是字面意思，无法描述的更清楚了，上视频，可以更直观。之前老版本是保活之类的情景模式比如thanox保活不弹toast不生效这个修复过了，现在是单纯的延迟响应，偶尔直接不起作用，划卡应用了有时才弹toast。
链接：https://www.123pan.com/s/CDzA-HvsOA

[2022-06-01 01:33] Tornaco commented on #510
@MRDQ123 能用文字描述用文字描述，写清楚步骤，写清楚用的情景模式代码。看视频效率太低。

[2022-06-01 02:07] Clorasun commented on #510
@Tornaco 就是情景模式变量idle是变量应用返回后台直接休眠，但并没有直接执行，会出现延迟甚至主动杀完后台了才弹休眠了，而黑域情景模式我调的是返回后台60秒直接查杀后台，也是一样的情况，我都主动杀后台了，过了很久才弹响应后台60秒杀掉后台了的toast，情景模式根本就没起到作用。我不知道是不是同时执行的情景模式过多还是啥导致的，情景模式的问题是不能立即响应，视频里主要想表示的就是我让几个应用直接去后台，但立刻休眠延迟没立刻执行，甚至直接不执行。感觉就是一个立即响应的情景一次性处理响应过多直接就是让整个情景模式瘫痪了，所有情景直接报废，等缓过来，我都自己主动杀完所有后台了，他才跑来弹toast，我休眠了，我查杀了，我保活了。这个过程中情景模式就是假执行，没起到作用。

[2022-06-01 02:36] Tornaco commented on #510
@mryun135 你不发一下你的情景模式吗？我咋知道你都在情景模式里执行了什么操作呢？

[2022-06-01 02:38] Tornaco commented on #510
@mryun135 还有问题描述只需要描述具体步骤和问题即可，不需要描述其他个人感觉，这对复现问题分析问题没什么帮助。

[2022-06-01 02:57] Clorasun commented on #510
步骤就是让应用回后台，它自己不执行，视频演示的就是步骤
链接：https://www.123pan.com/s/CDzA-AvsOA

[2022-06-01 03:45] sylihui opened #511 "miui13主题壁纸是黑色"
升级到miui13用lsposed激活主题的壁纸都是黑色的，用magisk激活就没问题。
[log.zip](https://github.com/Tornaco/Thanox/files/8810889/log.zip)

[2022-06-01 03:58] Clorasun opened #512 "[bug]一键加速存在无效情况"
相关影响变量全部排除，上视频不解释。
链接：https://www.123pan.com/s/CDzA-9vsOA

[2022-06-01 04:10] Clorasun commented on #512
老问题了之前提过，之前说是有通知影响，现在影响变量全取消了，仍不起作用，这确实是之前的老bug没修

[2022-06-01 09:47] Tornaco commented on #511
还原thanox为默认配置有问题吗？首先排除一下是不是配置引起。

[2022-06-01 10:22] Moderpach commented on #455
现在thanox能实现识别显示在应用上层的服务和前台服务以防止这些应用被墓碑吗

[2022-06-02 02:27] Tornaco commented on #505
[thanox_3.9.8-16-a473224-dirty-prc(3061060).apk.zip](https://github.com/Tornaco/Thanox/files/8820028/thanox_3.9.8-16-a473224-dirty-prc.3061060.apk.zip)

@brownfo 麻烦再试试这个。

[2022-06-02 04:52] countrysideboy commented on #455
不清楚，暂时没找到方法

[2022-06-02 04:54] countrysideboy commented on #455
20220602：这是我目前自己在用的版本，会自动关闭乖巧，通过设置某个app的电池限制模式来决定是否墓碑

[2022-06-02 08:17] brownfo commented on #505
@Tornaco
开发者你好！你发这个版本修好了![Screenshot_2022-06-02-16-06-30-0301500189.png](https://user-images.githubusercontent.com/76164253/171586118-ac677e7d-a97a-4c78-8913-dbf80e9ebda4.png)

[2022-06-02 10:04] Tornaco commented on #499
@dan880201 帮忙验证下 https://app.circleci.com/pipelines/github/Tornaco/Thanox/333/workflows/c10fb73f-13e2-4c60-99ff-750e7af06d23/jobs/309/artifacts 这个版本，近期有些改动不确定会不会再次出问题。

[2022-06-02 10:04] Tornaco commented on #505
@brownfo https://app.circleci.com/pipelines/github/Tornaco/Thanox/333/workflows/c10fb73f-13e2-4c60-99ff-750e7af06d23/jobs/309/artifacts

再试试CI上的版本吧，这个问题还挺难修复的。

[2022-06-02 10:05] Tornaco commented on #503
@HHH3366  帮忙验证下 https://app.circleci.com/pipelines/github/Tornaco/Thanox/333/workflows/c10fb73f-13e2-4c60-99ff-750e7af06d23/jobs/309/artifacts 这个版本，近期有些改动不确定会不会再次出问题。

[2022-06-02 11:25] brownfo commented on #505
@Tornaco 应该是完全修好了！辛苦了！
[logging.zip](https://github.com/Tornaco/Thanox/files/8823257/logging.zip)
![Screenshot_2022-06-02-19-21-28-1833365124](https://user-images.githubusercontent.com/76164253/171619148-b26e5ed5-4974-47a1-9f93-8c531266aa9b.png)

[2022-06-02 13:14] Tornaco commented on #501
@E-Levin 看了下你发的SystemUI的代码，猜测是asus ROM上报一些事件导致的。

[code]

建议关闭这些事件上报，观察一段时间看看。

需要关闭的tag：

[code]

每个tag依次执行以下命令
settings put global dropbox:$tag disabled
以`TAG_AUDIO_PLUG`为例：

[code]

[2022-06-02 13:26] Tornaco commented on #501
如果不知道如何执行shell命令，可以在情景模式---Action console中输入以下命令：
[code]

[2022-06-02 15:07] lxivQ commented on #509
+1，老版本有这个功能，新版本没了，我这里变成指纹解锁了，求恢复该功能

[2022-06-03 07:19] Zhan-Yu-Xi opened #513 "智能冻结无效"
![Screenshot_2022-06-03-15-10-00-527_github.tornaco.android.thanos.jpg](https://user-images.githubusercontent.com/66499805/171806842-afda43cc-8f3b-42ab-8063-2b3a50cd344a.jpg)![Screenshot_2022-06-03-15-10-17-091_github.tornaco.android.thanos.jpg](https://user-images.githubusercontent.com/66499805/171806870-a3838aac-9372-46bb-a9b7-46a61f36da99.jpg)

[2022-06-03 14:00] Tornaco commented on #455
3.9.9 新增 API可以识别应用是否有可见window，可用于判断其是否有悬浮窗展示。

android/android_framework/base/src/main/java/github/tornaco/android/thanos/core/wm/WindowManager.java

[code]

示例：
[code]

[2022-06-03 14:37] myflavor commented on #455
这样确实可以避免app被冻结了，不过小窗程序在进入后台，不会触发任何条件，这个不知道有没有什么好的办法了

[2022-06-03 15:04] myflavor commented on #455
[搭配NoANR2.2](https://github.com/myflavor/NoANR/releases/tag/V2.2)

[
    {
        "name": "冻结进程",
        "description": "当应用进入后台时冻结进程",
        "priority": 1,
        "condition": "frontPkgChanged == true && thanos.getActivityManager().isPkgSmartStandByEnabled(from) && !globalVarOf$whiteApps.contains(from)",
        "actions": [
            "su.exe(\"appops set \" +from + \" WAKE_LOCK ignore\");

[2022-06-03 15:05] myflavor commented on #455
github原来也会自动转义啊。。。。
帖一个我的博客
[Thanox3.9.9墓碑情景模式](https://www.myflv.cn/other/277.html)

[2022-06-03 16:57] myflavor commented on #497
希望增加焦点判断的时候，顺便加一下，音频焦点取消和获取的条件，然后有两个变量，一个是获得焦点的应用包名，一个是被取消焦点的应用包名

[2022-06-04 05:59] dellevin commented on #501
谢谢大大,今天用了半，没有出现任何问题

[2022-06-04 06:57] dan880201 commented on #499
这个版本没有问题，

[2022-06-06 02:15] myflavor commented on #455
真正的乖巧增强模式，使用foreach遍历乖巧规则
顺便提一下有人反馈thanos.windowManager.hasVisibleWindows存在不准确的情况
由于我这边是没问题的，所以没法提供相关信息
但是可以在判断可见api前，先判断activity.getFrontAppPackage
[code]

[code]

[2022-06-06 04:02] XinuGod commented on #513
查找设备是这样的

[2022-06-06 05:09] myflavor commented on #455
[code]

[2022-06-06 09:15] Q761109021 commented on #513
你打开活检解冻了吧

[2022-06-07 05:52] Tornaco commented on #497
https://app.circleci.com/pipelines/github/Tornaco/Thanox/338/workflows/cc486bf8-d0b4-4b6a-988f-a8186bfa6d36/jobs/314/artifacts

[code]

### API

https://github.com/Tornaco/Thanox/blob/master/android/android_framework/base/src/main/java/github/tornaco/android/thanos/core/audio/AudioManager.java

[2022-06-07 07:19] myflavor commented on #497
@Tornaco 我试试

[2022-06-07 07:58] myflavor commented on #497
@Tornaco thanos.getAudioManager().hasAudioFocus(pkgName) 是这样用api吗

[2022-06-07 08:07] myflavor commented on #497
@myflavor thanos.getAudioManager()无法获取AudioManager对象

[2022-06-07 08:10] myflavor commented on #497
@Tornaco audioFocusChanged这个条件是能触发的，就是给的例子能正常

[2022-06-07 08:29] Tornaco commented on #497
忘了加get了，晚点加。

[2022-06-07 08:29] myflavor commented on #497
@Tornaco 好勒

[2022-06-07 09:12] myflavor commented on #497
@Tornaco 坐等

[2022-06-07 10:10] Tornaco commented on #497
https://app.circleci.com/pipelines/github/Tornaco/Thanox/340/workflows/90f82469-858a-4b14-a50c-a35cb2476bd1/jobs/315/artifacts

@myflavor

[2022-06-07 10:47] myflavor commented on #497
@Tornaco 测试可用

[2022-06-07 12:25] #497 closed, assigned to Tornaco

[2022-06-07 12:53] #511 closed, assigned to nobody

[2022-06-08 12:40] #501 closed, assigned to nobody

[2022-06-08 14:18] Tornaco commented on #505
https://github.com/Tornaco/Thanox/releases/tag/v3.9.9

@brownfo  关注下最新版是否正常，若没问题这个isssue就close了。

[2022-06-08 14:22] Tornaco commented on #475
后续会提供两个State用于判断当前和上一次的网络状态

[2022-06-08 15:13] brownfo commented on #505
一切正常，请关闭

[2022-06-08 15:15] myflavor commented on #505
你主动关闭就行了啊

[2022-06-09 09:55] i-CraftY commented on #415
有进展了喵？

[2022-06-09 10:53] LaplaceTor opened #514 "有无机会添加对Lspatch实验性支持？"
现阶段Lspatch有了一个像是太极的APP，可以对作用域内的APP进行动态配置，Thanox能检测到但由于没有识别到激活无法使用任何功能

[2022-06-09 11:25] myflavor commented on #514
@LaplaceTor Lspatch不是无root的？怎么可能

[2022-06-09 13:23] countrysideboy commented on #455
已更新，不需要su.exe了，全api实现，也就是说，thanox不用常驻后台了

[2022-06-09 16:38] diweisong opened #515 "启动记录的UI是不是出现bug了"
上一个版本这里有个图标能完全看见，现在版本 3.9.9.2-prc只能看到一丝丝，不知道是故意这样设计还是BUG了？
安卓10，crdroid，lsp激活，版本 3.9.9.2-prc
![Screenshot_20220610-002805652](https://user-images.githubusercontent.com/106238637/172899282-7293ae94-ff88-4197-a46e-848eb4e42f96.jpg)

[2022-06-09 16:39] diweisong commented on #515
[logging.zip](https://github.com/Tornaco/Thanox/files/8872285/logging.zip)

[2022-06-10 02:06] #512 closed, assigned to nobody

[2022-06-10 02:34] Itxiaoniao opened #516 "谷歌paly版 Android13 5月版本 使用LSPosed1.8.3无法激活"
谷歌paly版 Android13 5月版本 使用LSPosed无法激活
有什么办法吗？谢谢
Android12的版本没有问题

[2022-06-10 02:57] Acker17 opened #517 "系统双开"
非常好用！大佬能否把提示里的"应用双开"提上日程呢？系统双开对类原生来说是神技😸

[2022-06-10 05:06] Paranoid999 commented on #489
在我更新到Thanox 3.9.9.2-prc(3061063)版本之后，此问题又复现了，附上刚抓到的log。因为多用户里机型信息被重置，导致user10 QQ打不开了，我用Logcat Reader也抓了log，麻烦看下能否找到有用信息。

提取的log：
https://wwc.lanzouj.com/ikjyM066jgdg

（根据抓的log，麻烦看看QQ在不清空数据的前提下有办法打开吗？因为清空数据之后QQ聊天记录就没了）

我之前用的版本3.9.6-prc(3061057)，也是刚更新之后出现了重置多用户机型信息的bug，但只是刚更新后出现过那一次，之后一直很稳定(用了很长时间)，未出现此bug。所以我猜想，貌似和更新Thanox版本有关系(更新一次新thanox版本就会重置一次多用户机型信息？)。此猜想我后续会持续进行验证。

[2022-06-10 07:36] Itxiaoniao commented on #516
![Screenshot_20220610-153431](https://user-images.githubusercontent.com/62528051/173014780-75951e3d-f63d-4ede-b39b-b6a58fe4429e.png)

[2022-06-10 07:42] Itxiaoniao commented on #516
[LSPosed_2022-06-10T15_34_52.484848.zip](https://github.com/Tornaco/Thanox/files/8876828/LSPosed_2022-06-10T15_34_52.484848.zip)

[2022-06-10 13:22] Tornaco commented on #515
是bug，修复了，麻烦试试测试版： https://app.circleci.com/pipelines/github/Tornaco/Thanox/345/workflows/9d0cee6f-4f6a-4cac-a7cb-84bad747a9d9/jobs/318

[2022-06-10 13:23] Tornaco commented on #516
@Itxiaoniao 试试 https://app.circleci.com/pipelines/github/Tornaco/Thanox/345/workflows/9d0cee6f-4f6a-4cac-a7cb-84bad747a9d9/jobs/318

自测可以激活，没有对全部功能进行测试。

[2022-06-10 14:33] Itxiaoniao commented on #516
[thanox_3.9.9.2-3-a76236b-prc(3061063).apk](https://output.circle-artifacts.com/output/job/79cd256d-426e-4f22-bb1e-3e8b517d9910/artifacts/0/android/out/app/outputs/apk/prc/release/thanox_3.9.9.2-3-a76236b-prc%283061063%29.apk)
厉害，的确可以激活了，不过我的是play版Thanox pro，老大什么时候更新

[2022-06-11 12:44] Tornaco commented on #516
Fixed. 请更新到4.0.0 beta。

[2022-06-11 12:44] #516 closed, assigned to nobody

[2022-06-11 12:45] Tornaco commented on #517
双开一直没时间测试。

[2022-06-11 13:42] STTecCEO opened #518 "任务清理 自启限制全部失效"
**Describe the bug（现象描述）**
最新版本 Magisk/Lsposed激活 都已测试
后台启动/任务清理 在部分软件上失效（e.g. es文件管理器 淘宝 酷安 小红书 全民k歌）
Thanox现已无法阻止链式唤醒

**To Reproduce**（如何复现）
1，es文件管理器、淘宝 会在开机后自启，且启动方式为null/null，此时点开es并划掉卡片，其依然会留在缓存中并疯狂吃cpu；
2，点开小红书 会通过 igexin(个推) 拉起其他包含此sdk的app 且这些被拉起的app都已在Thanox关闭了后台启动选项；

**Screenshots**（截图）

![Screenshot_20220611-202800](https://user-images.githubusercontent.com/35169436/173190339-8f0df3f9-

[2022-06-12 05:56] fengyueZz233 opened #519 "tiktok隐匿问题"
请问在magisk和xp两种不同模式下实现的**隐匿效果**是否有**差异**?

在xp模式下对tiktok启用隐匿,Lsp已勾选tiktok作用域,sim项设置为**jp**,打开tiktok刷出视频内容和评论基本以**美区**英文内容为主,以及出现红心**点赞视频消失**的问题

而在magisk模式下,启用同一份模板隐匿tiktok后,打开tiktok视频内容和评论区是正常的**日区**内容,点赞视频也会保存

[2022-06-12 07:38] Tornaco commented on #518
@STTecCEO

日志看了，目前没发现异常。

总结下你的描述，有2个问题：

1. es管理器划卡后，thanox未清理其后台，导致其一直在后台运行。
   **该问题需要你提供你的thanox配置文件，以确保你开启了任务清理功能，并打开了es管理器的清理。**

2. thanox无法拦截向日葵等app的关联启动。
   **该问题需要你在启动记录里，看下允许它启动的原因，这里是对照表：https://tornaco.github.io/Thanox/5-Start-Rules.html
   把原因也回复一下。另外建议先把启动记录清除再测试这个关联启动的问题，启动记录要看最早的第一条才能找到它被允许启动的原因。**

另外提供一下你的**机型信息**。

[2022-06-12 13:21] Tornaco commented on #519
@fengyueZz233 理论上没区别。我晚点找时间试试看。

[2022-06-12 13:41] STTecCEO commented on #518
**1，任务清理视频示例**

https://user-images.githubusercontent.com/35169436/173234995-0e790d81-8209-4266-8e8c-e3a8b0df5b6e.mp4
**配置文件**
[Thanox-Backup-2022-06-12-20_46_20.zip](https://github.com/Tornaco/Thanox/files/8885903/Thanox-Backup-2022-06-12-20_46_20.zip)
**log**
[logging.zip](https://github.com/Tornaco/Thanox/files/8885933/logging.zip)

2，原因在之前的截图中已显示
**BY PASS DEFAULT
且截图均为导致其自启的第一条记录**
（瞎折腾一番后复现不

[2022-06-12 14:45] STTecCEO commented on #518
机型是索尼xperia1Ⅲ 港版系统

[2022-06-12 15:46] #505 closed, assigned to nobody

[2022-06-13 01:45] fengyueZz233 commented on #519
通过issues搜索发现之前有同样的问题 #187
你回复在android10测试正常,我之前A11和A12/12.1都用过,xp模式下都是同样的问题
只是最近试了下magisk激活,隐匿后打开tiktok发现正常了
为了试验我从magisk换成xp问题复现,再换回magisk一切正常

[2022-06-13 04:10] STTecCEO commented on #518
再补一个**链式唤醒失效**的log和复现视频
[链式唤醒log+视频复现.zip](https://github.com/Tornaco/Thanox/files/8887831/log%2B.zip)

[2022-06-13 06:45] Tornaco commented on #518
@STTecCEO 很详细。我先看下日志，随后可能需要你来测试并继续抓日志。

[2022-06-13 07:02] Tornaco commented on #518
[thanox_4.0.0-beta1-1-42f971e-prc(3070154).apk.zip](https://github.com/Tornaco/Thanox/files/8888744/thanox_4.0.0-beta1-1-42f971e-prc.3070154.apk.zip)

@STTecCEO 还是按照你的测试方式，用这个apk版本复现问题。这是debug版，抓了日志之后发上来我再看。

这次不需要视频了，文字描述你测试的app和现象即可。

[2022-06-13 07:45] STTecCEO commented on #518
1，开机后发现全民K歌、wps自启，但一会儿后都被清理了
2，手动启动酷安、抖音、小红书，发现知乎、全民K歌、索尼中国自启
3，划掉所有卡片（酷安、抖音、小红书），回到Thanox发现其仍留在缓存中，且’已运行‘时间归零计算
4，点击Thanox的一键加速，所有测试app被正常清理
[logging(1).zip](https://github.com/Tornaco/Thanox/files/8889063/logging.1.zip)

[2022-06-14 13:09] Tornaco commented on #518
@STTecCEO 日志看着版本不太对。确保要装我上面附件发的apk。另外最好手动把原来的日志都删除，重启后在测试。

[2022-06-14 16:08] STTecCEO commented on #518
没装错 删日志又复现了一遍
1，开机后发现**全民K歌、知乎**自启，点击**Thanox一键加速**正常清理干净
2，手动启动酷安、抖音、小红书，发现知乎、全民K歌、索尼中国自启，再手动启动淘宝、京东
3，逐个划掉卡片（酷安、抖音、小红书、京东、淘宝），回到Thanox发现这些app（手动启动的和被关联唤醒的）仍留在缓存中，且被划掉卡片的app’已运行‘时间归零计算
4，点击Thanox的一键加速，所有app被正常清理
[logging(2).zip](https://github.com/Tornaco/Thanox/files/8901571/logging.2.zip)
![5246BE9ACECFC97771677EF7BD52D8FE](https://user-images.githubusercontent.com/35169436/173624463-0e197762-e

[2022-06-15 01:20] Tornaco commented on #518
@STTecCEO 用lsp激活测试下吧，优先解决lsp补丁的问题。我看了日志目前是magisk补丁。

[2022-06-15 02:34] STTecCEO commented on #518
1，开机后发现小红书、索尼中国、B616咔叽、wps、全民K歌自启，首条自启原因由magisk的**BY PASS PROCESS RUNNING**变为**BY PASS DEFAULT**，内容是**个推组件**，部分内容是**null/null**，点击Thanox一键加速正常清理干净
2，手动启动酷安、抖音、小红书，发现知乎、全民K歌、索尼中国自启，再手动启动淘宝、京东
3，逐个划掉卡片（酷安、抖音、小红书、京东、淘宝），回到Thanox发现大部分测试app（手动启动的和被关联唤醒的）仍留在缓存中，且被划掉卡片的app’已运行‘时间归零计算
4，点击Thanox的一键加速，所有app被正常清理，几秒后酷安自启
5，再次打开小红书，发现全民K歌自启（直接弹前台广告了）、索尼中国、wps等自启
6，划掉小红书，仍然留在后台中，且’已运行‘时间归零
[loggin.zip](https:

[2022-06-15 09:34] Tornaco commented on #518
看起来是getui推出了新的的关联唤醒方案，用的是activity启动的方式。后续我尝试加一下新的路径拦截。

[2022-06-15 09:37] STTecCEO commented on #518
那划卡清理失效的问题定位到了嘛

[2022-06-16 03:31] csy19960309 commented on #491
请问“有通知的应用”是如何定义的？实测把通知栏里的通知划掉后，一键加速还是不能把相对应的App杀死。

[2022-06-16 04:22] Clorasun commented on #491
通知栏有消息通知，通知没划掉。或是通知栏常驻有禁止滑动删除机制的

[2022-06-16 06:05] csy19960309 commented on #403
正确做法是用国外DNS服务解析楼上几个所说的域名。

[2022-06-16 06:33] csy19960309 commented on #491
都没有，确定划掉了，但是一键清理没有杀掉。微信和QQ有这个问题，微信用FCM唤醒，QQ用 HMS Core唤醒

[2022-06-16 06:37] Clorasun commented on #491
是有bug，这个我提过了，我也检查过了，之后又发过一次issue，我删掉了。情景模式也有些问题懒得反馈了。

[2022-06-17 08:14] Tornaco commented on #518
[thanox_4.0.0-beta1-4-02573c6-dirty-prc(3070154).apk.zip](https://github.com/Tornaco/Thanox/files/8925734/thanox_4.0.0-beta1-4-02573c6-dirty-prc.3070154.apk.zip)

试试这个版本，先分析解决启动问题。测试完了发下测试结果和对应日志。

@STTecCEO

[2022-06-17 09:03] STTecCEO commented on #518
基本压死关联启动了，但还是有些小问题
1，开机自启还是存在
2，小概率出现null/null的关联唤醒不拦截（一次知乎拉小红书，一次小红书拉索尼中国）
[logging(6).zip](https://github.com/Tornaco/Thanox/files/8926153/logging.6.zip)
![5234402CB612B1995F9C66B9AF6628FB](https://user-images.githubusercontent.com/35169436/174265845-9e568e00-9d31-43d8-a229-cbafe851f2ba.jpg)

[2022-06-17 09:26] Tornaco commented on #518
lsp日志导出来发我看下吧

[2022-06-17 13:32] Tornaco commented on #518
[thanox_4.0.0-beta1-5-125ed02-prc(3070154).apk.zip](https://github.com/Tornaco/Thanox/files/8927913/thanox_4.0.0-beta1-5-125ed02-prc.3070154.apk.zip)

@STTecCEO 又更新了一下拦截的类型，用这个再试试呢，这次除了thanox日志，lsp日志也导出一下。

[2022-06-17 13:52] STTecCEO commented on #518
暂时没发现异常，所有功能都恢复了，大佬幸苦☕
[log.zip](https://github.com/Tornaco/Thanox/files/8928102/log.zip)

[2022-06-17 14:36] Tornaco commented on #518
@STTecCEO OK, 明天可以验证下CI上的release版本：

https://app.circleci.com/pipelines/github/Tornaco/Thanox/350/workflows/392faf6e-f66d-4e75-ada2-f981cbb8d1c6/jobs/323/artifacts

当前还在构建中，预计20分钟。

[2022-06-18 00:26] Tornaco commented on #519
@fengyueZz233 刚看了下代码，xp补丁少了一些hook，回头我补上你再试试。

[2022-06-18 00:37] fengyueZz233 commented on #519
@Tornaco ok 好了@下我

[2022-06-18 01:34] Tornaco commented on #519
@fengyueZz233 https://app.circleci.com/pipelines/github/Tornaco/Thanox/352/workflows/2473af89-0ad3-4f93-a024-f326b4015378/jobs/325/artifacts

20min 后构建完成。

[2022-06-18 02:34] fengyueZz233 commented on #519
辛苦大大 xp补丁激活问题都已解决
![20220618_102617-COLLAGE~2](https://user-images.githubusercontent.com/89948717/174419246-450b88f5-5a59-445c-8266-e6573d8a853e.jpg)
![Screenshot_2022_06_18_10_19_05_068_github_tornaco_android_thanos](https://user-images.githubusercontent.com/89948717/174419248-5bc9430d-093b-42cb-af7f-2430af4c2685.jpg)
![Screenshot_2022_06_18_10_22_02_333_com_zhiliaoapp_musically2](https://user-im

[2022-06-18 06:12] STTecCEO commented on #478
同样遇到了这个问题 30m的安装包 安装/更新均延长了18s左右 停用thanox恢复

[2022-06-19 12:00] Clorasun opened #520 "crash日志"
情景黑域检测后台查杀，常出现切换其他应用再返回应用，应用在前台被杀的情况
Document:一个日志，一个情景模式，
https://1drv.ms/u/s!AjYcMS1eD4bblngwK9WqXp4GGNY2
https://1drv.ms/u/s!AjYcMS1eD4bblnI3mUbr9LtYYlZ1
App version:4.0.0-beta1-row
Systeam:Flyme 9.2.5.3A

[2022-06-19 12:25] Clorasun opened #521 "[疑问]智能冻结是不是对一些系统级应用的无效"
flyme系统设置中的系统更新选项栏无法通过点击系统更新选项智能启用系统更新，以前的版本是可以通过点击选项栏目直接启动系统更新的进程。

[2022-06-20 03:56] diweisong opened #522 "搜索应用经常出现好几个"
后台运行，后台启动，任务清理。应用管理，乖巧模式等需要搜索类功能，功能点进去点击搜索的情况下，经常出现好几个同应用
安卓10，LSP激活，版本 3.9.9.2-3-a76236b-prc
![Screenshot_20220620-114615762](https://user-images.githubusercontent.com/106238637/174522507-68138666-6b86-4f2a-82ad-641dcc9005be.jpg)
![Screenshot_20220620-114655510](https://user-images.githubusercontent.com/106238637/174522514-40ebe23f-21e1-47f4-bad7-29c95899e75d.jpg)
![Screenshot_20220620-114713881]

[2022-06-20 12:34] dreamy06 commented on #518
thanox更新拦截的类型后，关闭APP的后台启动，然后通知栏无法通过MiPush推送打开对应APP；在此之前没问题，希望能放行

[2022-06-20 13:21] STTecCEO commented on #518
似乎会和后台启动规则冲突，表现为通过su启动服务后（支付宝举例 am start-foreground-service com.eg.android.AlipayGphone/com.alipay.android.launcher.service.LauncherService）允许然又后被拦截

ps. 是不是要通过su启动某应用的话 就只能打开允许后台启动？
![EBC3E9523ABD9BB3A76A6EC3253D4012](https://user-images.githubusercontent.com/35169436/174606751-e6b43603-0328-44d8-8c22-c01e58f78956.png)
![A9D03B67064428C86662000CE6886A9C](https://user-images.githubusercontent.com/

[2022-06-20 16:38] #521 closed, assigned to nobody

[2022-06-21 02:14] ghost opened #523 "小米云服务部分项目失效"
激活灭霸4.0beat2后发现小米云服务失效，以为没开自启，然后全部打开，发现仍然失效，关闭灭霸所有项目后任然失效。lsp关闭灭霸正常。

![Screenshot_2022-06-21-10-08-56-430_com miui cloudservice](https://user-images.githubusercontent.com/74006583/174702033-4a4e08c5-dc91-43eb-a319-92ae4aa7cac5.jpg)

[2022-06-21 03:37] STTecCEO commented on #518
自启又出现了 这次无法手动复现 是无操作突然全部自启的
[logging(7).zip](https://github.com/Tornaco/Thanox/files/8945556/logging.7.zip)
![1E5885036B005236B2101A4423E387A5](https://user-images.githubusercontent.com/35169436/174710821-ad7f51db-6c3d-4b73-bf6a-4c4a2870c93b.png)
![2D1703E945D861FAB3E1AC7EED9F349F](https://user-images.githubusercontent.com/35169436/174710831-f608cefc-21d7-412d-9aa1-889372ee57ea.png)
![4027FD1635B9

[2022-06-21 08:51] Tornaco commented on #523
Rose:
反馈与建议流程 🐛 🐛 🐛

Thanox本身提供的配置很多都是会对系统或app造成影响，所以很多时候如果你只是描述问题现象，我是无法分析定位的。

所以问题反馈请务必提供更详细的信息。

1. 系统版本

2. Thanox版本，补丁方式（xposed还是magisk？）

3. 问题现象的详细描述，有图或者视频更好

4. 不激活thanox有问题吗？

5. Thanox激活后不做任何配置有问题吗？

6. 按照app首頁最下面「反饋」的提示抓取日志并上传到issue里

@darling1124  1 2 5 6这几个问题补充一下。

[2022-06-21 09:03] Tornaco commented on #518
用哪个app测试的？

[2022-06-21 09:25] dreamy06 commented on #518
例如：支付宝，用另一支付宝转账或发信息，这边收到推送，点击通知没反应，启动记录显示是被拦截。
![Screenshot_2022-06-21-04-05-14-321-edit_github tornaco android thanos](https://user-images.githubusercontent.com/36306588/174765820-b0b08a16-328d-4d8e-ae0c-cc0884f0a8f4.jpg)

[2022-06-21 13:57] Tornaco commented on #518
/system/framework/services.jar 发我下

[2022-06-21 14:50] STTecCEO commented on #518
[services.zip](https://github.com/Tornaco/Thanox/files/8949967/services.zip)

[2022-06-21 15:03] ghost commented on #523
手机小米10，MIUI13 22.6.17，安卓12
thanox采用lsp激活
激活后不做任何配置仍然无法同步，在恢复thanox默认多次后这个问题得以解决，现在还有一个问题，使用了墓碑情景模式以及可能存在的多种因素，QQ刷新不了信息，取消墓碑及相关涉及QQ的设置仍然刷新不了信息，取消激活后恢复正常，日志等会抓给你。

[2022-06-21 15:12] ghost commented on #523
顺便说一下，开发者里的开启日志开了返回之后会自动关闭，以及thanox备份报错
![Screenshot_2022-06-21-23-11-14-026_github tornaco android thanos](https://user-images.githubusercontent.com/74006583/174834866-e4ea7445-3851-465a-b0ee-50d8463497b8.jpg)
![Uploading Screenshot_2022-06-21-23-11-09-174_github.tornaco.android.thanos.jpg…]()

[2022-06-21 15:13] ghost commented on #523
- [ ]

[2022-06-22 05:21] diweisong commented on #522
回退到版本 3.9.9.2-prc版本则不会，但是这版有ui bug
![Screenshot_20220622-131937109](https://user-images.githubusercontent.com/106238637/174949579-3803b025-6037-4ff4-8066-b89fe1b4d20a.jpg)
![Screenshot_20220622-132041817](https://user-images.githubusercontent.com/106238637/174949646-d010dd20-0528-48b4-bbad-f56b1050210b.jpg)

[2022-06-22 13:23] Tornaco commented on #518
试试这个版本：https://app.circleci.com/pipelines/github/Tornaco/Thanox/358/workflows/e5210ed5-2cda-4098-96e6-040540201469/jobs/328/artifacts

[2022-06-22 13:23] Tornaco commented on #518
自启问题，再观察下这个版本：https://app.circleci.com/pipelines/github/Tornaco/Thanox/358/workflows/e5210ed5-2cda-4098-96e6-040540201469/jobs/328/artifacts

[2022-06-22 13:25] Tornaco commented on #518
@STTecCEO

目前只能通过添加规则允许android启动某个服务：
[code]

注意：这个规则从下面这个版本开始才支持：
https://app.circleci.com/pipelines/github/Tornaco/Thanox/358/workflows/e5210ed5-2cda-4098-96e6-040540201469/jobs/328/artifacts

[2022-06-22 15:11] dreamy06 commented on #518
好喽，我这个没问题了，感谢。

[2022-06-23 01:11] diweisong commented on #520
我的手动挂着后台也经常被杀，你试着关闭后台启动试试看，有时候用着当前的应用，后台的应用就被杀掉了。

[2022-06-23 01:36] diweisong opened #524 "后台启动自动杀后台是不是BUG"
手动启动的应用挂在后台，正在使用其他应用，偶尔会把挂在后台的应用杀掉，挂不住后台，把这个功能关了就好了，之前也有遇到
安卓10
LSPosed-v1.8.3-6552-zygisk-release激活
版本 4.0.0-beta2-2-8b3dc27-prc
![Screenshot_20220623-082549847](https://user-images.githubusercontent.com/106238637/175188461-3ca07c4b-8e77-4b8a-a7a9-577f549a7f3b.jpg)
[logging.zip](https://github.com/Tornaco/Thanox/files/8962898/logging.zip)

[2022-06-23 01:36] STTecCEO commented on #520
我也经常遇到前台莫名其妙消失的问题 连卡片都没了 一直不知道是哪里整的

[2022-06-23 01:39] Tornaco commented on #524
你测试的哪个应用被杀了？不说哪个应用没法分析。

[2022-06-23 01:40] Tornaco commented on #524
另外补充一下lsp日志吧，具体什么原因被杀可能性太多了，不确定能定位。

[2022-06-23 01:41] diweisong commented on #524
图片上的这些应用都被杀过，它是一次性全杀的，只剩下我前台正在浏览使用的应用，这些应用当时都在挂着后台的，微信，闲鱼，MT管理器，哔哩哔哩，蜜蜂便签……手机上的应用都被杀过

[2022-06-23 01:42] diweisong commented on #524
[LSPosed_2022-06-23T09_42_16.335.zip](https://github.com/Tornaco/Thanox/files/8962940/LSPosed_2022-06-23T09_42_16.335.zip)

[2022-06-23 01:47] diweisong commented on #524
就是把应用挂在后台，在使用其他的应用当中就突然杀掉了。
lsp详细日志
[LSPosed_2022-06-23T09_45_10.566.zip](https://github.com/Tornaco/Thanox/files/8962960/LSPosed_2022-06-23T09_45_10.566.zip)
lsp模块日志
[LSPosed_2022-06-23T09_42_16.335.zip](https://github.com/Tornaco/Thanox/files/8962963/LSPosed_2022-06-23T09_42_16.335.zip)

[2022-06-23 13:10] Tornaco commented on #524
从你给的日志看，目前得出的信息如下：

你的Nova launcher出现多次类似重启的情况，可能正因为此原因，多个测试app（mt、bilibili等）的最近任务被清理。你应该是对这些测试app开启了“任务清理”，因此thanox会杀死这些app。

因此你可能需要排查下Nova launcher是否有什么使用或配置上的问题。

另外，你可以搜索thanox日志中的关键字，查看日志上下文，以定位thanox杀死app的原因：`forceStopPackage Package`

下面是你的测试app被杀死的一段日志：
[code]

[2022-06-23 15:04] diweisong commented on #524
我设置一下nova权限试试看，forceStopPackage Package` 后面的原因怎么查看？

[2022-06-23 20:02] diweisong commented on #524
测试过了，跟nova没关，晚上到凌晨又触发了几次，关掉后台启动就不杀，再看看？
04:55，关闭自启也突然杀掉后台，这下看不懂了，不知道什么导致的。
[logging.zip](https://github.com/Tornaco/Thanox/files/8970482/logging.zip)

[2022-06-25 05:41] xianyuyimu commented on #428
+1

[2022-06-25 05:45] xianyuyimu opened #525 "能否增加一键加速开关喵"
希望可以在下滑面板里面添加一个一键加速的开关。虽然目前可以通过创建快捷方式在桌面上使用一件加速，但是有时候很麻烦。得切回桌面才可以。

[2022-06-25 07:43] Tornaco commented on #525
@w1915591935  https://app.circleci.com/pipelines/github/Tornaco/Thanox/362/workflows/b29e63d6-e003-4bc5-8f49-41ab21f5cc9c/jobs/332

[2022-06-25 07:46] Tornaco commented on #524
@diweisong  日志里显示还是 最近任务 被清除，触发了任务清理。

下次你可以自己看下日志，直接定位到`forceStopPackage Package` 这行日志上下都有清晰的日志表明原因。

[2022-06-25 09:16] diweisong commented on #524
问题是我没动最近任务，意味着我没划卡它自己杀了，判定是不是有问题？
现在把任务清理关了，换成黑阈确实不杀了
这是杀完之后的日志
[logging.zip](https://github.com/Tornaco/Thanox/files/8984273/logging.zip)
这是关闭任务清理之后的日志
[logging (1).zip](https://github.com/Tornaco/Thanox/files/8984275/logging.1.zip)

[2022-06-25 09:41] Tornaco commented on #524
不清楚你的系统为何会触发任务被移除的事件。目前这个问题还没有其他人报告。

[2022-06-25 09:56] diweisong commented on #524
遇到几个类似的杀后台，我记得之前也不会，忘记从哪个版本后开始就这样了，之前一直以为是后台启动，然后你给我指明了说是任务清理，现在把这个关了就好了。能不能弄一弄😂

[2022-06-25 12:32] STTecCEO commented on #524
遇到个类似的 前台被杀 启动器是lawnchair
出现在app使用时 或者从其他app上滑后台切换到此app时
具体表现为使用时app突然消失并回到桌面 后台中也没有此app的卡片
或切换最近任务时 点击此app的后台卡片 出现极快的上滑卡片动画 被杀掉 并回到桌面
此时其他app正常
也不知道是不是启动器的原因
[lawn.txt](https://github.com/Tornaco/Thanox/files/8984717/lawn.txt)

[2022-06-25 13:08] Tornaco commented on #524
[thanox_4.0.0-beta3-5-7cf8ae4-dirty-prc(3070156).apk.zip](https://github.com/Tornaco/Thanox/files/8984787/thanox_4.0.0-beta3-5-7cf8ae4-dirty-prc.3070156.apk.zip)

@diweisong  用这个版本测试个半天，把日志发给我。我在里面加了一些日志，不确定能不能找到什么线索。

另外，把你的ROM信息，以及 system/framework/services.jar 发一下。

[2022-06-25 14:49] diweisong commented on #524
好，测试可能需要一两天。
![Screenshot_20220625-224530059](https://user-images.githubusercontent.com/106238637/175778643-a2501ee3-9687-4bf8-a4ba-78d070a5f5e1.jpg)
[services.zip](https://github.com/Tornaco/Thanox/files/8984956/services.zip)

[2022-06-25 18:07] diweisong commented on #524
关掉黑阈，开启任务清理，又杀了两三次，日志应该有记录，如果不够我再测一两天。
[logging.zip](https://github.com/Tornaco/Thanox/files/8985332/logging.zip)

[2022-06-26 02:52] Tornaco commented on #524
@diweisong  system/framework/framework.jar 也发下

[2022-06-26 04:12] Tornaco commented on #524
[thanox_4.0.0-beta3-5-7cf8ae4-dirty-prc(3070156).apk.zip](https://github.com/Tornaco/Thanox/files/8985967/thanox_4.0.0-beta3-5-7cf8ae4-dirty-prc.3070156.apk.zip)

再测试下这个包，注意：lsp里勾线Launcher和SystemUI作用域。回头日志再发下。

[2022-06-26 04:47] diweisong commented on #524
[framework.zip](https://github.com/Tornaco/Thanox/files/8985999/framework.zip)

[2022-06-26 04:47] diweisong commented on #524
好的

[2022-06-26 16:17] diweisong commented on #524
凌晨4点10分左右，最近任务预览界面，微信，clash，youtube被杀，没有息屏，返回桌面一会没有操作，纯后台的谷歌服务，就是没有最近任务界面的那种好像也被杀了
[logging.zip](https://github.com/Tornaco/Thanox/files/8987400/logging.zip)

[2022-06-26 20:46] diweisong commented on #524
凌晨4点40左右再次被杀，clash，youtube，后台运行没有打勾的也被杀了，未息屏，clash计时我是马上手动启动了。具体如图
[logging (1).zip](https://github.com/Tornaco/Thanox/files/8987485/logging.1.zip)
![Screenshot_20220627-044111655](https://user-images.githubusercontent.com/106238637/175833387-03113219-a017-455e-870f-22dcfc5e4a4a.jpg)

[2022-06-27 01:18] Tornaco commented on #524
@diweisong 忘了说了，lsp日志也要

[2022-06-27 01:25] Tornaco commented on #524
这次的4:40左右日志，看起来可能跟锁屏清理的延迟处理逻辑有关，抽空我会改一下，你在测测。

[2022-06-27 01:30] diweisong commented on #524
四点左右遇到的两次杀掉好像都是因为这个，因为后台运行勾选了的始终在运行，没有勾选的都杀掉了。下次遇上我会附上lsp日志，现在需要的话也可以提供

[2022-06-27 07:55] diweisong commented on #524
下午挂着微信被杀，就开了微信+皮皮虾
[06271550微信被杀.zip](https://github.com/Tornaco/Thanox/files/8989740/06271550.zip)
[LSP微信被杀模块日志_2022-06-27T15_52_43.160.zip](https://github.com/Tornaco/Thanox/files/8989744/LSP._2022-06-27T15_52_43.160.zip)
[LSP微信被杀详细日志_2022-06-27T15_53_02.116.zip](https://github.com/Tornaco/Thanox/files/8989748/LSP._2022-06-27T15_53_02.116.zip)

[2022-06-27 08:17] diweisong commented on #524
下午16:10左右，微信贴吧share被杀
[06271611左右微信，share，贴吧被杀.zip](https://github.com/Tornaco/Thanox/files/8989927/06271611.share.zip)
[LSP微信贴吧share模块日志_2022-06-27T16_12_12.764.zip](https://github.com/Tornaco/Thanox/files/8989930/LSP.share._2022-06-27T16_12_12.764.zip)
[LSP微信share贴吧详细日志_2022-06-27T16_12_44.913.zip](https://github.com/Tornaco/Thanox/files/8989931/LSP.share._2022-06-27T16_12_44.913.zip)

[2022-06-27 09:16] diweisong commented on #524
下午17:10左右被杀微信share贴吧lite椒盐音乐，貌似除没有勾选后台运行
[06271711微信share贴吧lite椒盐音乐被杀.zip](https://github.com/Tornaco/Thanox/files/8990427/06271711.share.lite.zip)
[LSPosed模块日志_2022-06-27T17_13_42.105.zip](https://github.com/Tornaco/Thanox/files/8990428/LSPosed._2022-06-27T17_13_42.105.zip)
[LSPosed详细日志_2022-06-27T17_13_46.285.zip](https://github.com/Tornaco/Thanox/files/8990429/LSPosed._2022-06-27T17_13_46.285.z

[2022-06-27 09:41] Tornaco commented on #524
现在的bug跟你的锁屏清理延迟有关，一个小时杀一次。晚一点点我会修复。

[2022-06-27 10:09] simplerick-simplefun opened #526 "情景模式setDataNetworkType在红米K50上不工作"
**Describe the bug（现象描述）**
在红米K50手机上（MIUI13官方稳定版，天玑8100）
情景模式下的
data.setDataNetworkType
setDataNetworkTypeForPhone
setDataNetworkTypeForSlot
三项功能都不工作。

**Version（发现问题的版本）:**
MIUI 13.0.17（SLNCNXM） 稳定版

** Logs**（日志文件）
务必将截取到的日志文件发到该issue里。
没有看到有用的log，不发了。应该是handle构造的问题。

LSPosed 系统框架

[2022-06-27 12:21] Tornaco commented on #526
@simplerick-simplefun 要不你把手机寄给我，或者补充日志后再open。

[2022-06-27 12:21] #526 closed, assigned to nobody

[2022-06-27 12:23] Tornaco commented on #524
@diweisong 试试 https://app.circleci.com/pipelines/github/Tornaco/Thanox/368/workflows/14977887-6c12-4bdc-93e5-beff42e83a60/jobs/338

[2022-06-27 13:20] diweisong commented on #524
好的，如果不杀了，可以把桌面和UI从作用域移除吗？发布的4.0正式版本可以用吗？

[2022-06-27 13:26] Tornaco commented on #524
可以移除，作用御只是用来打印日志的，现在不需要日志了。

4.0可用。

[2022-06-27 13:29] diweisong opened #527 "后台运行功能能否增加杀前台呢？"
![Screenshot_20220627-213512053_mh1656336990393](https://user-images.githubusercontent.com/106238637/175954934-5512cb4b-b807-4e65-a2f3-b7ae1e5e5c76.jpg)
诸如起点，抖音，哔哩哔哩这些应用，息屏或者人睡着自动息屏了不会进入墓碑（判定不是后台在前台），cpu依旧在活跃唤醒使用，造成显著的待机电量消耗，能不能像绿色守护一样，前台也杀掉呢？
或者说可以给个开关之类的？如果用户有需要长期挂在后台的应用，只要取消勾选就行，比如微信之类的。
现在没有这个功能，一些挖矿类应用息屏后依旧肆无忌惮在唤醒使用CPU。

[2022-06-27 13:30] diweisong commented on #524
好的，如果再遇到的话我再反馈，我先这样用个几天看看。辛苦

[2022-06-28 05:55] Tornaco commented on #527
加个总开关？这个比较简单。如果要每个应用单独设置是否前台也杀，ui怎么设计呢。

[2022-06-28 06:28] diweisong commented on #527
不用每个应用单独啊，我的意思就是加一个息屏杀前台的功能就行，给个开关，只是让那些用不到的用户可以关闭这个。我觉得用户还是能用到的，如果需要息屏挂后台的应用，只要把后台运行打开就行了。真的会做的话或者做好了踢我一脚。辛苦

[2022-06-28 12:49] hw1020 commented on #474
开关的api，如果能有监听省电模式开关状态当然更好啦

wangchuanhong
________________________________
发件人: Tornaco ***@***.***>
发送时间: 2022年4月28日 13:00
收件人: Tornaco/Thanox ***@***.***>
抄送: hw1020 ***@***.***>; Author ***@***.***>
主题: Re: [Tornaco/Thanox] 情景模式就可以加个省电模式的设置吗 (Issue #474)

是需要省点模式开关的API吗？还是要一条情景模式？没理解你想要什么？

―
Reply to this email directly, view it on GitHub<https://github.com/Tornaco/Thanox/issues/474#issuecomme

[2022-06-28 14:05] Tornaco commented on #527
@diweisong  https://app.circleci.com/pipelines/github/Tornaco/Thanox/372/workflows/8241f4b6-5380-4dbe-8c4e-44d43f80f73e/jobs/342/artifacts

[2022-06-28 14:05] #525 closed, assigned to Tornaco

[2022-06-28 14:06] #524 closed, assigned to nobody

[2022-06-28 14:06] Tornaco commented on #520
Fixed

[2022-06-28 14:06] #520 closed, assigned to nobody

[2022-06-28 14:07] #519 closed, assigned to Tornaco

[2022-06-28 14:41] diweisong commented on #527
牛批，谢谢老大采纳！

[2022-06-29 14:54] x6ufeng opened #528 "功能请求：加入对microg的支持"
可以加入对microg的支持吗？
使用microg的情况下在最新版无法正常使用和跳过
![Screenshot_20220629-225340_Thanox Pro](https://user-images.githubusercontent.com/69743957/176467992-19800ca7-8856-44e4-960f-a727c14ae44d.jpg)

[2022-06-30 08:34] STTecCEO commented on #518
任务清理又失效了。。 酷安 小红书 饿了么
[log (2).zip](https://github.com/Tornaco/Thanox/files/9017932/log.2.zip)

[2022-06-30 08:56] 849506054 commented on #518
@STTecCEO 你试一下关闭 不清理音频 看看

[2022-06-30 09:05] STTecCEO commented on #518
没效果

[2022-06-30 09:54] Tornaco commented on #518
看日志小红薯，酷安已经被thanox forcestop了。你说的失效具体是什么现象。

[code]

[2022-06-30 14:18] STTecCEO commented on #518
和之前反馈的一样
划卡之后应用变成只剩下一个进程存留在缓存中  已运行时间归零重新计算
一键清理和锁屏清理都正常
![Screenshot_20220630-221707](https://user-images.githubusercontent.com/35169436/176700633-cb16fae8-3426-4823-accc-63697f7f35d6.png)

[2022-06-30 14:29] nita0318 opened #529 "进入进程管理的应用详情页会重启"
**Describe the bug（现象描述）**
thanox进程管理，随意点击查看一个运行中或已缓存的应用的详情，thanox会自动重启

**To Reproduce**（如何复现）
1. 打开thanox首页
2. 点击首页上方的内存部分进入进程管理
3. 点击任意一个运行中或已缓存的应用的详情（默认“三方”分类）
4. 出现很短暂（约0.5s）的应用运行详情页面，随后thanox重启，表现为出现冷启动的加载页面，然后回到首页

**Expected behavior**（期望结果）
可以正常查看应用详情

**Screenshots**（截图）

**Version（发现问题的版本）:**
 - OS: MIUI 12.5.10.0 Android 11
 - Version: 4.0.0-prc  xposed模式

**Additional context**（其他信息）

[2022-06-30 14:45] Tornaco commented on #529
@nita0318 试试CI上的最新版：

https://app.circleci.com/pipelines/github/Tornaco/Thanox/377/workflows/76362118-a06b-4f45-99e5-01b9497f4ade/jobs/346/artifacts

如果还有问题请继续抓日志反馈。

[2022-06-30 14:47] #527 closed, assigned to nobody

[2022-06-30 15:35] nita0318 commented on #529
测试了一下，功能可以正常使用了

[2022-07-01 11:22] #320 closed, assigned to Tornaco

[2022-07-01 11:23] #452 closed, assigned to nobody

[2022-07-01 11:24] #323 closed, assigned to Tornaco

[2022-07-01 11:24] #319 closed, assigned to nobody

[2022-07-01 11:24] #262 closed, assigned to Tornaco

[2022-07-02 13:38] #459 closed, assigned to nobody

[2022-07-02 13:40] #432 closed, assigned to nobody

[2022-07-03 09:01] AraafRoyall opened #530 "Want GCM Feature"
i want attached feature in thanox app
![Screenshot_2022-07-03-14-16-11-543_github tornaco xposedmoduletest](https://user-images.githubusercontent.com/87515236/177032857-0fbc7feb-9f18-48c4-a35d-5feb7c3ad029.jpg)

[2022-07-03 13:50] simplerick-simplefun commented on #455
感谢大佬们。
想问一下，android.os.Process.sendSignal(proc.pid,sig) 这个我无法运行是什么情况？经过确认proc.pid可以正常获取。就是这个function无法运行。

[2022-07-03 13:58] myflavor commented on #455
@simplerick-simplefun 19不行的话，试试20，再不行就用su吧

[2022-07-03 14:01] simplerick-simplefun commented on #455
不是sig的问题，我试了3和9都不行。3和9都是documented。
su可以用。
[code]

[2022-07-03 23:55] countrysideboy commented on #455
那就暂时只能su了。如果是cgroupv2，或许可以调用thanox自带的api

[2022-07-05 06:27] CoelacanthusHex commented on #227
或许可以首先实现导出和导入单一应用的规则功能，方便用户间分享规则

[2022-07-05 12:10] Tornaco commented on #398
mark

[2022-07-07 09:01] Gokou-Ruri commented on #388
Android 12同样失效，摩托s30，官方ROM类原生。
好像12都失效了。

[2022-07-07 09:06] Gokou-Ruri commented on #455
我发现只要把sim卡拔了待机就特别省电，插卡（4g待机）就特别费电。
程序在后台费电不一定是因为吃CPU，也可能是因为网络传输导致基带费电，现如今基带耗电并不比CPU低多少，高速传输甚至比CPU还费电。
提供一个压后台思路：对某些网络依赖不太高的非IM软件可不可以让它们在待机时认为手机处于“无网络”状态？这样的话APP估计就不会频繁进行网络传输消耗电量了。

[2022-07-07 09:10] simplerick-simplefun commented on #455
不是那么简单。wifi环境下网络流量不走手机基带，也会有基带耗电。说白了就是手机维持一个电信信号就要耗电。手机离信号基站越近、接收的信号越强，耗电越少。耗电上5G>4G>3G。这方面我怀疑联发科的优化做得也没有高通好。

[2022-07-07 12:21] countrysideboy commented on #455
我怀疑就是基带耗电，因为实验机不插卡只开着wifi也挺省电。另外，理论上说，暂停了进程，应该对app来说网络活动也暂停，不走流量的

[2022-07-07 13:04] Teddy-Zhu commented on #143
![photo_2022-07-07_20-29-13](https://user-images.githubusercontent.com/9956097/177779485-0fe13bcf-c892-45a3-92c7-9e204804e542.jpg)
同样的问题 , 启动原因略有差别， 以图中的支付宝为例子， 实际上很多应用都是这样
Method: By Android? via Others
Reason: BY_PASS_DEFAULT
Checker: checkStartProcess

Android: 12
Rom：ColorOS 12.1
版本: play 4.0.2-9-71074f0-row ( 前一个beta版本 4.0.2-row 同样能复现)
设置上应用开启了禁止后台启动 ， 开启了乖巧

[2022-07-07 16:21] Gokou-Ruri commented on #455
你看清我说的是拔sim和插sim对比，和WIFI一点关系都没有

[2022-07-07 16:31] simplerick-simplefun commented on #455
拔掉sim卡，或者直接在手机里面禁用sim，比如飞行模式，确实可以省电，但是这样就无法接打电话了。
保留电话信号的话，应用使用网络流量带来的耗电则是可以忽略的；主要是要限制唤醒和后台前台服务。

[2022-07-07 16:34] Gokou-Ruri commented on #455
牛头不对马嘴的回复，能请您看完别人打的字再回吗？如果您不看就回，就请您不要再回了，您是把github issues当论坛闲聊板块了吗？

[2022-07-07 16:35] simplerick-simplefun commented on #455
基带耗电基本是确定了的。可以搜一下，有这方面的新闻。

[2022-07-07 16:41] simplerick-simplefun commented on #455
是你自己讲：
提供一个压后台思路：对某些网络依赖不太高的非IM软件可不可以让它们在待机时认为手机处于“无网络”状态？这样的话APP估计就不会频繁进行网络传输消耗电量了。
我给你的回复是说你的这个思路在实际使用中没有用处。你拔了sim就不用让那些app认为无网络。你插上sim让那些app认为无网络也不省电，因为基带保持电话信号就是耗电的主体，而使用这个信号于一些后台app的网络流量对于基带维持信号的耗电相比可以忽略。更何况大部分人不可能拔sim，大家要接电话的。
我讲的wifi环境，指得是插上sim有手机电信信号（5G/4G/3G）情况下，手机连接了wifi的环境。我觉得是你没读清楚。一般这种话题讲“wifi环境”，都不是指纯wifi不连电信信号。那么你电信有信号，wifi有连接，后台app跑流量是走wifi对吧。那我讲这种情况下也有基带的耗电，意思就是这个app后台流量与基带耗电的关系不大

[2022-07-07 16:53] Gokou-Ruri commented on #455
谁告诉您基带待机很费电的？恢复出厂后4g待机就挺省电的，安装一大堆软件后待机就很费电，拔sim卡后待机特别省电，这还不能说明问题？您去看看运营商规定的4g/5g终端待机电流是多少？谁告诉您或者说您是经过什么测试后认为“一些后台app的网络流量对于基带维持信号的耗电相比可以忽略”？而且毒瘤软件在后台持续、频繁、反复联网还会导致系统无法正常休眠，这也是大量垃圾软件在后台联网间接导致的费电，所以只要让它们认为当前手机无网络自然就省电了。

最后我再说一遍，我一开始就说了我是根据自己的实测，提供一个思路：让APP认为系统无网络。我可没说让大家拔sim卡省电。您的理解能力是谁遗传给您的？

[2022-07-07 17:43] simplerick-simplefun commented on #455
请不要把国内中文社区的抬杠文化搬到github。我一直都是在给出信息，尝试在帮助大家。
首先，就像几小时前countrysideboy提出的：

当我们通过各种方式，包括但不限于：thanox乖巧模式、冻结应用、绿色守护、thanox情景模式脚本等方式，减少、降低乃至停止了应用在后台的服务和唤醒，那么应用在后台就没有计算，没有cpu使用，也不会有网络开销。

其次，手机的基带耗电这件事，从10年前就有这方面的新闻和研究。具体的来讲，1.用户手机终端与信号塔基站越远、信号越弱，耗电越高。2.普遍的来讲，2G<3G<4G<5G。3.不同的信号频段的连接耗电也不同。4.不同的运营商的在手机和信号基站两边的配置、优化也影响耗电。5.不同的soc芯片，基带耗电也不同·。只能说，如果想要基带省电，可以根据自己的情况，自己调整设置3G/4G/5G。我前面最开始说的就是这个意思，限于手机回复，没说得很详细

[2022-07-07 20:06] Gokou-Ruri commented on #455
您可真行，您自己正在干的事不让别人干？

凡事想当然然后反咬对方应该多Google多研究？

您上面这堆废话大部分与我的论点毫无关系，例如您反复扯3g/4g/5g网络切换这跟我的观点有任何关系吗？您是不是认为字多就能占理？
Thanox要是能压得住后台APP耗电情况，您认为本issue为何存在？
在多人均反馈待机时APP后台联网导致耗电且有实测的情况下，您为何依旧想当然地固执己见认为APP只要服务和进程被限制，待机就能省电？您敢不敢拔sim卡待机试试？动嘴永远比动手容易。
连suspend和force-stop都压不住部分毒瘤软件更何况是您所谓的“限制服务和进程”？您就是Android之父？
请您倒回去看看您第一次回复我的那条评论，您当真认为您对其他用户给予了最起码的尊重认真看完对方的话再评论？搁那儿自说自话加戏我好心劝您认真看完再回，结果您马上又来个光速回帖并且再次做到了不看先回，先杠完

[2022-07-07 22:56] jiwangyihao commented on #455
他的意思应该是APP后台联网的确会导致耗电，但是在**正常合理**的情况下APP的这一部分耗电不管走WIFI还是走流量都没有区别。

关于拔sim卡的问题，他也解释了：拔sim卡的确能省电，但这不是因为APP的网络请求走WIFI导致省电或者说APP的网络请求减少导致省电，而主要是因为手机不插sim卡无需连接电信信号减少了功耗（我并未实际测试，不确定这个说法的正确性）

最后，就我个人而言，您二位说的都很有道理。
simplefun的观点是：插拔sim卡区别在于电信信号的连接而非网络请求的多少，以及如果能限制住进程活动自然就没有了网络请求，因此无需研究这种方法。
您的观点是：在实验中拔SIM卡的确增加了省电效果，据此推断限制APP的后台网络请求可以更好的省电。
我的看法是，省电的核心依然是限制后台进程的活动。**但是**，在无法完全压制毒瘤的情况下，限制网络请求当然也是限制后台活动的一个重要

[2022-07-08 02:01] simplerick-simplefun commented on #455
大家都在讨论。我给出的内容都是informative，没有人在喷你。
根据你反馈的情况，我认为可以拆解成两个问题：
1.使用thanox及市场上现在存在的手段，能否压住应用后台活动。2.是否存在压不住或需要允许应用后台活动，同时需要关闭应用联网来省电的情景。
对于1.，我的看法是可以压住。请尝试以下的办法：
1）使用本issue中网友们提供的脚本，当应用退回后台时，appops 设置RUN_ANY_IN_BACKGROUND为ignore，START_FOREGROUND为deny，INSTALL_PACKAGES为deny。使用thanox关闭掉receiver、provider、service，设置AppStandbyBucket为RESTRICTED，(到这里应该已经足够切断息屏下应用后台网络使用了。后面都是干掉后台活动和wakelock/alarm
。)设置inactive，设置s

[2022-07-08 02:22] Tornaco commented on #143
@Teddy-Zhu 点item详情看下具体信息，应该是路径没识别到，我补充一下应该就可以。

[2022-07-08 02:40] Teddy-Zhu commented on #143
![2022-07-08 10 39 14](https://user-images.githubusercontent.com/9956097/177905994-6e51477d-2a61-4a1c-acb5-07cb95b8521d.jpg)
观察了几个 都是这个next_app 开头的 , 不清楚是什么

[2022-07-08 03:20] Tornaco commented on #143
@Teddy-Zhu 稍后测试下这个：
https://app.circleci.com/pipelines/github/Tornaco/Thanox/385/workflows/27374455-9c42-4bb6-8f89-c4bf11777036/jobs/353/artifacts

[2022-07-08 03:21] Tornaco commented on #518
@STTecCEO @dreamy06  有空再试试这个，限制策略调整了一下，只给mipush通知点击加了白名单，其他一律拦截。另外针对某些毒瘤无法一次性杀死的情况，加了一些手段。

https://app.circleci.com/pipelines/github/Tornaco/Thanox/385/workflows/27374455-9c42-4bb6-8f89-c4bf11777036/jobs/353/artifacts

[2022-07-08 06:45] STTecCEO commented on #518
这下能清掉了

[2022-07-08 09:00] Teddy-Zhu commented on #143
@Tornaco 我是play版本 这个版本没法激活,貌似是用不了

[2022-07-08 18:01] STTecCEO commented on #518
但是这个白名单规则失效了😢

[2022-07-09 02:40] Tornaco commented on #143
OK，晚点推到alpha频道，你可以加入alpha测试: https://groups.google.com/g/thanox-alpha

[2022-07-09 02:43] Tornaco commented on #518
问题不大，后面会加上规则判断。

[2022-07-09 08:09] 66Leo66 opened #532 "应用锁指纹识别失败时不要退出"
**Is your feature request related to a problem? Please describe.**
是的。应用锁指纹识别失败时会直接退出。

**Describe the solution you'd like**
识别失败时保留“无法识别”提示，但留在解锁界面，允许短暂等待后再次识别指纹。

**Describe alternatives you've considered**
可以在更多次失败后退出甚至暂时禁止解锁/禁止指纹解锁

**Additional context**
另：启动应用时仍会短暂显示界面才跳转至解锁页，希望可优化。

[2022-07-09 08:18] liu-cool-cmd commented on #532
@66Leo66 同感

[2022-07-09 08:23] 66Leo66 commented on #509
我个人偏好与系统锁屏相同的密码和调用指纹（解锁方便，而且不用多记一个密码）。不过如果可以选择是否独立密码的话确实更好。

[2022-07-09 17:56] simplerick-simplefun commented on #403
经测试只用代理请求DNS，不用代理连接，而用直连连接，不能激活FCM。
之前的测试都是DNS请求用直连，实际连接走代理，可以激活FCM。
我最新的版本是DNS和实际连接都走代理，可以激活FCM。
由于v2ray在处理dns时不是按照用户设定顺序，而是按照规则种类排列顺序（[#1855](https://github.com/v2fly/v2ray-core/issues/1855)），所以我自己修改了geosite.dat（[这里下载](https://github.com/simplerick-simplefun/v2ray-rules-dat/tree/release)），排除掉了"qq.com"和"wechat.com"
配置是：
dns和routing都要有:
[code]
注意：
1.直连的block写在代理的block后面
2.如果希望DNS走代理，需要用我的geosite.d

[2022-07-10 06:05] yezige commented on #403
其实不用修改geosite.dat也可以，可以设置dns，dns的匹配是优先使用匹配成功的server
[code]
然后设置路由让1.1.1.1走代理就可以了
[code]

[2022-07-10 06:20] simplerick-simplefun commented on #403
这个是因为我有设置geosite:cn走直连dns。而geosite:cn里面就有domain:qq.com
按照v2ray目前的处理方式，domain优先于regexp，那么就会走直连dns而非代理dns了。
不过你这么一说，倒是确实可以。用expectIp:geoip:cn来抓剩下没有match到的cn site，最后所有剩下的再给代理的dns。
我再研究下，搞好了把完整的规则发出来供大家讨论参考。

[2022-07-10 06:24] yezige commented on #403
嗯嗯，刚参考了你的regexp，你的方法也很好，条条大路

[2022-07-11 02:42] Mr54233 opened #533 "智能冻结无法创建工作应用快捷方式"
**Describe the bug（现象描述）**
使用thanox pro 4.0.2-row play版本可以冻结工作应用 但是无法创建该工作应用的快捷方式
**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
1. 进入智能冻结
2. 冻结工作应用
3. 长按刚冻结的工作 应用 , 创建快捷方式  .
4. 打开快捷方式会直接打开主空间内的原应用

**Expected behavior**（期望结果）
打开工作应用

**Version（发现问题的版本）:**
 - OS:Android 12.1
 - Version 4.0.2-row

** Logs**（日志文件）
务必将截取到的日志文件发到该issue里。

---------

[2022-07-11 05:24] Tornaco commented on #522
@diweisong 测试下呢 https://github.com/Tornaco/Thanox/releases/tag/v4.0.3

[2022-07-11 05:25] Tornaco commented on #398
@Gluneklairo 曾加了一下过滤： https://github.com/Tornaco/Thanox/releases/tag/v4.0.3

[2022-07-12 01:37] shandianex1 commented on #517
多开可以吗

[2022-07-12 01:42] Tornaco commented on #530
You can try Profile feature, it has ability to detect FCM message, it can also post a notification on FCM received.

[2022-07-12 01:45] #529 closed, assigned to Tornaco

[2022-07-12 01:46] Tornaco commented on #517
目前我掌握的技术无法实现。

[2022-07-12 02:28] shandianex1 commented on #517
问个题外问题，为什么谷歌商店的pro版，也加入的beta计划，但是更新会延后，甚至没有更新，比如昨晚的"进程管理"情景模式

[2022-07-12 07:32] CoelacanthusHex commented on #528
https://github.com/sn-00-x/fakestore2playstore

[2022-07-12 22:53] ooroot opened #539 "为什么乖巧微信反而不进缓存"
微信勾选乖巧后，规则同样进程同样服务，反而不会进入缓存，不知道什么原因

[2022-07-13 01:06] Tornaco commented on #539
请按照反馈模板补充必要信息。

[2022-07-13 01:06] #539 closed, assigned to nobody

[2022-07-13 02:43] Tornaco commented on #480
https://app.circleci.com/pipelines/github/Tornaco/Thanox/400/workflows/aa49323e-8b8c-4eb9-999d-a632cfd6e14b/jobs/367/artifacts

@pgigli 测试下这个版本呢

[2022-07-13 02:44] Tornaco commented on #388
@Gokou-Ruri  @sffred  https://app.circleci.com/pipelines/github/Tornaco/Thanox/400/workflows/aa49323e-8b8c-4eb9-999d-a632cfd6e14b/jobs/367/artifacts

试试这

[2022-07-13 02:44] Tornaco commented on #395
dup with #388 请关注这个issue即可

[2022-07-13 02:44] #395 closed, assigned to nobody

[2022-07-13 02:44] Tornaco commented on #480
dup with #388 请关注这个issue即可

[2022-07-13 02:44] #480 closed, assigned to Tornaco

[2022-07-13 02:45] #304 closed, assigned to Tornaco

[2022-07-13 12:36] ooroot opened #541 "微信乖巧，添加规则反而进程不缓存"
**Describe the bug（现象描述）**
微信乖巧后进程不缓存，而不添加乖巧规则能够进入缓存，不干预或者不添加乖巧规则是几秒钟就能进缓存的

**Expected behavior**（期望结果）
使用灭霸唯一想做的是：压服务和进程又能接受消息推送，从而省电。

**Screenshots**（截图）
![Screenshot_20220713-200907_设置](https://user-images.githubusercontent.com/1259443/178733269-9f8eab98-56e7-49b1-ad86-034a15459804.png)
![Screenshot_20220713-200921_设置](https://user-images.githubusercontent.com/1259443/178733278-9b965dda-ec17-

[2022-07-13 12:46] ooroot commented on #541
不干预微信的情况是剩下两个进程4个服务如图，进入缓存，而使用乖巧后添加同样的服务规则反而不会进入缓存
![Screenshot_20220713-200957_Thanox](https://user-images.githubusercontent.com/1259443/178736288-10d589c0-cc02-4e15-941b-ade48f552eb8.png)

[2022-07-13 12:54] ooroot commented on #541
不添加乖巧规则，轻松进入缓存
![Screenshot_20220713-204657_Thanox](https://user-images.githubusercontent.com/1259443/178738140-0e57fa59-9325-4df9-b5c4-add49f222cb0.png)
![Screenshot_20220713-204701_Thanox](https://user-images.githubusercontent.com/1259443/178738148-e1ced16c-defc-4fcc-a406-c7a5513eed89.png)
![Screenshot_20220713-204708_Thanox](https://user-images.githubusercontent.com/1259443/178738152-d6b80425-6

[2022-07-14 00:59] dreamy06 commented on #541
添加KEEP规则不就是保留某些服务，既然是保留服务那不进缓存不是正常吗？你这又想马儿跑又想马儿不吃草

[2022-07-14 09:13] Teddy-Zhu commented on #143
@Tornaco  经过几天测试使用,暂时没有发现这个自启的现象了

[2022-07-14 09:14] WJJ214453 opened #542 "激活后卡顿"
**Describe the bug（现象描述）**
在lsposed中激活thanox或后应用内界面卡顿

**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
1.打开lsposed激活thanox
2. 进入thanox，滑动／点击任意界面
3. 出现黑屏／卡顿 现象，系统报错“thanox没有响应”

**Screenshots**（截图）
[视频链接](https://wwt.lanzoum.com/tp/i9HEq07tncxa)我无法在github上上传大于25mb的文件，所以我选择将录屏文件打包上传到蓝奏云然后再将它的链接上传，望见谅

**Version（发现问题的版本）:**
 - OS: 11![Screenshot_20220714-150358_设置.png](https://user-imag

[2022-07-14 10:00] Jieoz commented on #454
中奖了

[2022-07-14 11:00] Cokeblue opened #543 "关于划卡功能无法正常启用"
1. 系统版本  color os12 h13 [基于安卓12]

2. Thanox版本，补丁方式
![Screenshot_2022-07-14-18-47-04-13_9bd1be20abe2442bf84e81e62f440f7d](https://user-images.githubusercontent.com/41640755/178965605-20885a0b-b520-44b3-bc24-008d6d98de07.jpg)

3.问题现象的详细描述，有图或者视频更好

划卡功能无法正常启用

因大小限制故将gif压缩后用lanzou上传

https://wwm.lanzouv.com/iVG6907tsmwj

4.按照app首頁最下面「反饋」的提示抓取日志并上传到issue里

日志文件都打包了
路径是
 /data/system/thanos_LpEGYkBkfX

[2022-07-14 13:23] Tornaco commented on #543
@Cokeblue 划卡是指 系统自带的多任务页面，划掉最近任务卡片。进程管理这个页面本就未设计滑动清除功能。

[2022-07-14 13:23] #543 closed, assigned to nobody

[2022-07-14 13:51] Tornaco commented on #542
@WJJ214453 你的日志可用，这个问题修复了一下，你可以试试 https://app.circleci.com/pipelines/github/Tornaco/Thanox/405/workflows/91abe425-3017-465d-832d-f82542f45339/jobs/372/artifacts

[2022-07-14 14:02] WJJ214453 commented on #542
这是干嘛的？？🥰

[2022-07-14 14:49] WJJ214453 commented on #542
安装使用了一会儿，还是同样的问题，但是感觉比之前没那么卡了？不知道是不是错觉[LSPosed_2022-07-14T22_35_48.043.zip](https://github.com/Tornaco/Thanox/files/9112758/LSPosed_2022-07-14T22_35_48.043.zip)
[录屏](https://wwt.lanzoum.com/iQQ8407u67wd)

[2022-07-15 06:56] Tornaco commented on #542
@WJJ214453 这个呢 https://app.circleci.com/pipelines/github/Tornaco/Thanox/406/workflows/e8c31694-f821-44db-8c79-fed5de6a3641/jobs/373/artifacts

[2022-07-15 08:31] WJJ214453 commented on #542
很流畅，完美解决😘，还需要提供日志和录屏吗？

[2022-07-16 03:43] diweisong commented on #522
![Screenshot_20220716-113819963](https://user-images.githubusercontent.com/106238637/179337750-b0b20512-d346-4167-8b47-1fb6c5bcf76b.jpg)
[logging.zip](https://github.com/Tornaco/Thanox/files/9125084/logging.zip)
还是会触发，进入退出进入退出就触发了， 偶尔进去直接触发。进入软件快一些进入那三个功能也会触发。安卓10，lsp激活，git最新版本的thanox

[2022-07-16 14:03] Tornaco commented on #542
@WJJ214453 不用了, close issue.

[2022-07-16 14:03] #542 closed, assigned to Tornaco

[2022-07-17 04:29] rododo-meow commented on #98
@Tornaco 目前在4.0.3版复现，清thanox数据无效，关掉lsposed模块后可以打开thanox了，重置设置再激活之后又会死循环，需要哪些日志？

系统是lineage 19，magisk和lsposed日志没有数据，附上logcat
[logcat.txt](https://github.com/Tornaco/Thanox/files/9127039/logcat.txt)

[2022-07-17 13:44] #518 closed, assigned to Tornaco

[2022-07-17 13:48] Tornaco commented on #98
你试试ci上的最新版本，前几日修复了这个问题。

@rododo-meow

[2022-07-19 03:45] countrysideboy commented on #455
@simplerick-simplefun @Gokou-Ruri 两位都是高手，我觉得说的都有道理。抛去基带待机耗电及流量耗电，我有点怀疑，是不是一些流氓SDK（那些分析引擎），检测到手机有sim卡，认为这手机更有价值就更活跃地在获取信息？未来想折腾一个方向，就是伪装（非全局，只针对应用）电量不足、无sim卡无服务、内存不足，以此验证猜想。

[2022-07-19 03:47] countrysideboy commented on #455
20220719更新：修复安卓13进程冻结失效的问题；尝试在安卓13环境下，不强制使app进入缓存（发现会杀后台）。

[2022-07-20 06:57] Gokou-Ruri opened #546 "情景模式的全局变量选取应用时可以看到多用户APP但选取后无法生效"
其它用户下的多开APP在全局变量中无法添加，因为全局变量只能按包名添加，不能区分多用户。
假如当前存在两个淘宝APP且同时在后台运行时，在全局变量里添加淘宝包名后，“返回杀进程”的情景模式会失效。当只有其中一个淘宝APP在运行时，“返回杀进程”才能正常杀掉淘宝进程。
![Screenshot_20220720-145126-022](https://user-images.githubusercontent.com/26711804/179916125-9599da8b-1ba0-49d7-9662-fa80f73f8e79.png)

[2022-07-21 08:45] SekiBetu commented on #187
时隔一年多，再回来试了下，最新版4.0.4已经可以上tiktok了，tiktok所有功能正常

[2022-07-23 02:38] rc2md3 commented on #455
使用最新版本的在线情景模式规则noactive，出现报错，看起来好像是break不支持解析，大佬帮忙看下是啥问题
@myflavor
情景模式日志
[profile.log](https://github.com/Tornaco/Thanox/files/9172936/profile.log)

[2022-07-23 02:39] myflavor commented on #455
@rc2md3 这是正常的，break是想跳出情景模式，但是实际上不支持，不过报错也可以中断执行

[2022-07-23 11:40] #500 closed, assigned to nobody

[2022-07-23 13:56] CherishRx opened #548 "功能请求:记录器功能拓展"
目前的记录器是记录所有通知和toast。希望可以增加指定应用记录。同时，已记录内容希望可以按标题或应用查找。

[2022-07-23 14:16] rc2md3 commented on #455
原来是这样跳出的，谢谢

[2022-07-26 01:04] yryy opened #549 "微信代收适配microg"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

使用microg时，微信代收无效

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

微信代收支持microg

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or f

[2022-07-27 08:38] uniking commented on #455
用的最新的情景模式, 大概率发现twitter一有新消息弹窗就会卡死.
挂起的状态
OnePlus7Pro:/ # ps -A |grep twi
u0_a304       22244    758 16355392 307112 do_signal_stop     0 T com.twitter.android

启动后提示新消息弹窗的状态(这时卡死)
OnePlus7Pro:/ # ps -A |grep twi
u0_a304       22244    758 16355392 307112 binder_ioctl       0 S com.twitter.android

正常状态
OnePlus7Pro:/ # ps -A |grep twi
u0_a304       12695    758 16877004 310964 SyS_epoll_wait     0

[2022-07-27 14:45] simplerick-simplefun commented on #455
试一下这个思路：
为twitter单独添加规则，用pm suspend/disable的方式，然后手动添加检查fcm的规则，发现twitter的推送给twitter解冻一小会。

[2022-07-27 14:54] countrysideboy commented on #455
@uniking @simplerick-simplefun 再加一个情景模式感知fcm推送？我想下怎么处理好一些

[2022-07-27 15:23] simplerick-simplefun commented on #455
其实从现实的角度考虑，没有必要在手机解锁的情况下对一些app进行冻结。尤其是有及时消息功能的应用。
因为你关闭屏幕时省电是靠doze，有应用在后台就会减少doze时间（也就是cpu超低频率运行的时间），增加cpu使用唤醒频率运行的时间。但是你解锁亮屏了本来就是唤醒的cpu频率，这时候增加一点运算和网络消耗对于耗电的影响比息屏时小。

所以设置成自动冻结，然后加一个情景模式，手机解锁后自动把自定义列表中的app拉起解冻就好了。

微信是一个特例，即便手机解锁微信在后台仍然消耗会大一些，因为腾讯用微信去给别的app推送消息，而且那些群、公众号等等即便设置成消息免打扰，微信也会实时拉取新消息。但是存在锁屏后微信语音视频通话的场景。我目前没有想出可以在锁屏后微信语音视频通话完结后自动冻结微信的办法。可能视频可以检测前端应用，但是黑屏下的语音通话怎么解决？

[2022-07-28 00:35] fakerqu opened #551 "功能请求：新增亮度变化的Fatcs-params"
**Is your feature request related to a problem? Please describe.**
低亮度下的超频高刷存在偏色问题，需要在低亮度时关闭高刷，目前的解决方式是通过activityResume来根据当前亮度调整刷新率，但是此方案不够实时也不够直接，需求在亮度变化时能够直接判断亮度来调整刷新率

**Describe the solution you'd like**
亮度变化后，发布一个类似brightnessChanged这样的Fatcs-params,并伴随一个当前亮度的参数
有时可能亮度会存在连续变化的情况，可以考虑在亮度不再变化后（如亮度变化后，在200ms内没有变化）发布这个事实

[2022-07-28 00:38] dellevin commented on #532
这个可以 @66Leo66

[2022-07-28 01:32] uniking commented on #455
就刚开始使用情景时卡过两次, 到现在也没出现过, 可能概率很低, 可以不用管了. 效果很好, 给好评.

我微信主要后台接语音, 不能墓碑. 想熄屏语音后再墓碑的, 是不是可以看语音activity组件退出后在墓碑?

[2022-07-28 01:37] uniking commented on #455
可不可以给微信等聊天软件弄个专用情景, 学习android的doze, 后台后每隔墓碑2分钟, 给20秒出墓碑的时间.这样聊天不会漏, 语音视频最多延迟2分钟,拨过去就好了.

[2022-07-28 04:09] uniking commented on #455
反馈个问题, 腾讯新闻主进程压不住, 其他进程已经stop了.

OnePlus7Pro:/ # ps -A |grep new
u0_a332        6588    763 2650384 438820 SyS_epoll_wait      0 S com.tencent.news
u0_a332       29890    763 2065736 103456 do_signal_stop      0 T com.tencent.news:wnsnetservice
u0_a332       30094    763 2054028 108872 do_signal_stop      0 T com.tencent.news:xg_vip_service

[2022-07-28 04:17] countrysideboy commented on #455
请问安卓版本是？用的是顶楼最新合并版的脚本吗？另外是否有等待45秒？晚点我也去装个客户端试试

[2022-07-28 04:40] uniking commented on #455
android 11, lineageOS18.1, 用的最新的那个, 等了4,5秒, 腾讯新闻的其他进程已经停止了. app从应用宝下的.

[2022-07-28 04:58] countrysideboy commented on #455
@uniking 试下在线规则里最新的单合并脚本？我在安卓13下测试了，主进程可以压住，某安下的程序。等待四十五秒后，看下是始终压不住，还是一开始可以后面又不行了？

[2022-07-28 05:06] uniking commented on #455
我shell下敲kill命令, 信号20对主进程不管用, 信号19可以让主进程stop, 我系统的事?

[2022-07-28 05:10] uniking commented on #455
OnePlus7Pro:/ # ps -A |grep news
u0_a332        4752    763 2642636 426188 SyS_epoll_wait      0 S com.tencent.news
u0_a332       21100    763 2052812 114892 do_signal_stop      0 T com.tencent.news:xg_vip_service
u0_a332       21269    763 2067344 113048 do_signal_stop      0 T com.tencent.news:wnsnetservice
OnePlus7Pro:/ # kill -s 20 4752
OnePlus7Pro:/ # ps -A |grep news
u0_a332        4752    7

[2022-07-28 05:25] uniking commented on #455
其他应用没这个问题, 唯一的解释可能是腾讯新闻捕获了SIGTSTP但没有停止, SIGSTOP强行让它停止了.

[2022-07-28 06:08] uniking commented on #455
这可能是个兼容问题, 我自己改成了su.exe("kill -s 19 " + proc.pid);, 已经压住了.

[2022-07-28 06:55] countrysideboy commented on #455
@uniking 了解一下，是否使用了最新的脚本？是使用全局变量（pause）的添加app列表的方式，还是在app详情里面加入电量限制？

[2022-07-28 08:22] uniking commented on #455
20220728更新的脚本, 两处添加程序的地方都添加了. 问题不是这个, 而是SIGTSTP在我手机上对腾讯新闻主进程无效, 改成SIGSTOP就可以了.

[2022-07-28 08:26] countrysideboy commented on #455
有空试下把sendSignal(proc.pid,20)这一句，改成sendSignal(proc.pid,19)，看看是否可行？

[2022-07-28 08:33] uniking commented on #455
不行, 直接改成19所有应用都停止不了了, 应该是没权限执行SIGSTOP, 所以我使用了su.

[2022-07-28 08:42] countrysideboy commented on #455
@uniking 好的，后续我尝试在脚本最前面弄个变量来选择用api还是su.exe方式。

[2022-07-29 14:10] uniking opened #553 "后台运行功能，应用开关会自动打开"
1，禁止酷安后台运行
2，杀死酷安再打开
3，酷安的开关自动打开，可以后台运行了

系统版本android11
Thanox版本4.0.4-prc, xposed

触发条件是情景开关的总开关打开， 无论自定义情景有没有打开。 这时杀掉酷安再启动， 酷安会进入后台运行并从乖巧消失。情景总开关关闭就正常。

[2022-07-29 14:18] countrysideboy commented on #553
是我的脚本特意打开的，同时还会禁用乖巧，为了应用能在后台

[2022-07-29 14:23] uniking commented on #553
我没有对酷安做墓碑啊，难道一个应用使用墓碑，所有应用都必须要后台了？

[2022-07-29 14:24] countrysideboy commented on #553
那就不是了，设置为墓碑才会这样。

[2022-07-29 14:30] uniking commented on #553
Thanox里的后台运行应该不是appops里的后台运行，应该是自己实现的，和墓碑没关系吧。

[2022-07-29 14:33] uniking commented on #553
还发现个问题，我规则模板里后台是关的，新装了个github，应用模板后后台开关竟然是开着的。

[2022-07-29 14:33] countrysideboy commented on #553
自己实现的，强杀后台，所以如果想墓碑，则要允许后台存在

[2022-07-29 15:55] uniking commented on #553
@countrysideboy 还真是墓碑的事，把墓碑情景关了， 就一切正常了。

[2022-07-29 19:53] countrysideboy commented on #553
已修复脚本，花括号}逃逸事件，导致非墓碑应用也强行允许后台并关闭乖巧。

[2022-07-30 01:58] uniking commented on #553
还是不行， 和这个脚本无关。 经反复测试， 出发条件是情景开关的总开关打开， 无论自定义项目有没有打开。 这时杀掉酷安再启动， 酷安会进入后台运行并从乖巧消失。情景总开关关闭就正常。

[2022-07-30 02:07] countrysideboy commented on #553
删除脚本，重新从在线规则里导入。然后重启thanox

[2022-07-30 03:47] ONE223 opened #555 "thanox在xposed内激活后，via等轻浏览器在选择系统文件夹时会闪退（导出的数据为0b，或无法通过系统相册选择图片），"
**Describe the bug（现象描述）**
thanox在xposed内激活后，via等轻浏览器在选择系统文件夹时会闪退
A clear and concise description of what the bug is.（简洁的描述该bug的现象）
设备为pixel5
安卓11
版本号：RQ3A.211001.001, Oct 2021。
thanox在xposed内激活后，via等轻浏览器在选择系统文件夹时会闪退，比如替换主页的背景时需要通过相册选择图片，选择图片后直接闪退不生效，包括导出书签等数据是也是闪退且导出的文件为0b。我尝试了很多这类轻浏览器（x浏览器，via，m浏览器）在pixel的讨论群里让同机型群友下载使用并没有发生类似的问题。排除其他的模块后，我尝试在lsp内关闭thanox后重启，发现之前的应用可以正常读取文件了。之后再次尝试激活thanox重启，又重现

[2022-07-30 03:52] ONE223 commented on #478
App激活后不做任何配置安装速度恢复正常,最新4.04版本仍有这个问题，但这个问题并不是每次都出现，有时重启系统后可以恢复，很玄学。

[2022-07-30 04:05] ONE223 commented on #555
尝试恢复默认配置后正常使用，恢复备份后出现问题，应该是我的设置问题。

[2022-07-30 13:59] #555 closed, assigned to nobody

[2022-07-30 14:51] #98 closed, assigned to Tornaco

[2022-07-31 02:30] diweisong opened #556 "之前反馈修复的突杀应用bug又复现了"
跟之前一样，手动挂在后台的应用突然就杀了，只了保留在前台使用的
目前遇到三次了，好像是更新4.4之后发生的，下面是三次不同时间发生的日志。
安卓10，LSP激活，版本 4.0.4-prc
第一次发生灭霸日志+lsp模块和详细日志
[logging.zip](https://github.com/Tornaco/Thanox/files/9227917/logging.zip)
[LSPosed_2022-07-29T08_38_17.595.zip](https://github.com/Tornaco/Thanox/files/9227919/LSPosed_2022-07-29T08_38_17.595.zip)
[LSPosed_2022-07-29T08_38_23.189.zip](https://github.com/Tornaco/Thanox/files/9227921/L

[2022-07-31 06:34] Magic1578 opened #557 "激活Thanox对无障碍里文字转语音输出功能不能正常使用的bug"

[2022-07-31 06:53] #557 closed, assigned to nobody

[2022-07-31 07:49] Magic1578 opened #558 "*BUG反馈*Thanox导致无障碍功能里的文字转语音输出不能正常使用"
**现象描述**
无障碍功能里的文字转语音输出不能正常使用。
简洁的描述该bug的现象：
通过测试排除发现不管什么方式激活Thanox都会导致无障碍功能里的文字转语音输出功能导致不能正常使用 比如切换语音引擎，无法切换。在其他应用（如微X模块）文字转语音功能使用语音引擎时无法正常运行。

**如何复现**
复现步骤：
1. 进入设置-更多设置-无障碍-视觉-文字转语音输出
2. 点击进入首选引擎
3. 问题出现：切换引擎时不能切换引擎，其他应用无法使用语音引擎

**期望结果**
希望开发者大大可以解决此问题

**发现问题的版本**
红米K30S至尊纪念版
 - 系统版本：Android 12  MIUI13.0.5稳定版
 - Thanox版本：v4.0.2
 - 补丁状态：Xposed

[2022-08-01 13:35] HYCQAQ opened #559 "谷歌play无法验证"
![S20801-20535029](https://user-images.githubusercontent.com/75055152/182159754-52d1b1e8-ddf1-4c17-8e18-528240d10261.png)
![S20801-20563557](https://user-images.githubusercontent.com/75055152/182159778-7307bc7f-b00c-4c9b-9e2e-817ba20a6922.png)

[2022-08-01 13:42] HYCQAQ commented on #559
Android 11
Version 4.0.2-row

[2022-08-05 05:30] winlee-d opened #560 "功能建议：乖巧规则按软件分类"
太乱了，不同软件各个规则混在一起，很不方便，谢谢。

[2022-08-06 07:41] HookCode opened #561 "bug 权限管理——获取帐号 功能无效"
lsp 1.8.3 Zygisk模式
软件版本 play版 4.0.2 之前几个版本也无效

用kiwi浏览器如果给了 查询意图活动 权限时 “获取帐号”这个权限禁止了也是无效
打开浏览器每次都会提示登陆谷歌帐号
类原生 安卓10、安卓11都无效

[2022-08-07 12:19] simplerick-simplefun opened #562 "功能请求：增加一个情景模式查询前台服务及其通知内容的功能"
**Is your feature request related to a problem? Please describe.**
1.设置智能冻结的微信，在**后台**语音视频通话时，屏幕关闭（锁屏），导致微信即刻冻结，语音视频通话即刻中断。
2.锁屏状态下被智能冻结的微信可以通过FCM微信拉起解冻，并且接收文字消息/语音/视频通话。但结束后不会被智能冻结，因为锁屏状态没变化。
3.锁屏状态下接收到微信FCM推送，thanox会短暂的拉起微信，然后很快继续智能冻结。这个短暂的时间大概10秒，时间是不足够微信读取到新消息。我实测大概需要20~30秒。这个解决思路应该是等微信被拉起后弹出新消息通知，再重新智能冻结。这个应该是情景模式就能解决，但是需要关闭这个自动“继续智能冻结”。

**Describe the solution you'd like**
1.（*需实现）如果屏幕关闭时，乖

[2022-08-08 06:12] END-Send opened #563 "在多用户/工作空间下无法进行活动、服务的管理"
Android版本：12
激活方式：LSPosed v1.8.3 (6552)
Thanox版本:4.0.5-row (play store(beta)

具体信息：
当仅在工作空间安装应用时，无法进行活动、服务等管理。且Thanox会认为我在主用户中安装了应用

当主用户和工作空间同时安装应用时，可进行活动、服务等管理。但管理项目共享(不期望修复，只是提出有这码事

[2022-08-08 09:14] STTecCEO commented on #518
全民k歌又开始犯病了，启动小红书大概率拉起全民k歌..
![6BFA4CE90B4E9087380F26086A40C567](https://user-images.githubusercontent.com/35169436/183383491-c4e62d70-87ca-4720-be19-3df67abfe68c.png)
[server_logging.zip](https://github.com/Tornaco/Thanox/files/9280530/server_logging.zip)

[2022-08-09 03:51] hanxin1997 opened #564 "激活灭霸后小米推送失效"
**Describe the bug（现象描述）**
激活灭霸后小米推送失效

**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
1.安装thanox
2.激活码激活
3.在框架激活
4.重启

**Expected behavior**（期望结果）
小米推送正常

**Screenshots**（截图）
无

**Version（发现问题的版本）:**
 - OS: 安卓12
 - Version v4.0.4

**Additional context**（其他信息）
卸载后点击移除thanox核心重启后恢复
复现是Thanox激活后不做任何配置然后米推也不行，我激活后什么都没有打开也是不推送。

** Logs**（日志文件）
[ces.zip](https://github.com/Tornaco/Thano

[2022-08-09 08:20] simplerick-simplefun commented on #562
我又研究了一下，情况是我用女娲石应用对微信的通知增强功能影响了thanox对微信的监测，导致通话期间锁屏导致通话结束。
我关闭了女娲石的功能后，thanox就能锁屏时不冻结微信的**前台**语音通话，但是通话结束后依然不冻结。
所以还是建议作者至少增加一个情景模式查询前台服务及其通知内容的功能。

[2022-08-09 11:59] DongQbin opened #565 "冷启动问题"
**Describe the bug（现象描述）**
4.0.4勾选应用清理后，快速关闭app后台，立即重新启动app会卡白屏

**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
1. thanox任务清理中勾选app
2. 多任务中划掉app后台
3. 快速点击app
4. 启动缓慢，出现启动动画后卡白屏

**Expected behavior**（期望结果）
修复问题

**Screenshots**（截图）

**Version（发现问题的版本）:**
 - OS: MIUI12.5.6 安卓11
 - Version 4.0.4   xposed

**Additional context**（其他信息）
Add any other context about the problem here.（其他的补充

[2022-08-09 14:45] DongQbin commented on #565
稳定版4.0.2正常，从4.0.3开始出现这个问题

[2022-08-10 01:21] guiji2022 opened #566 "thanox进入app点击运行进程管理闪退"
1.进入thanox点进程管理闪
![微信图片_20220810091809](https://user-images.githubusercontent.com/110948813/183789489-6bf3259a-6eb3-49c4-b96a-3bf10d2fd9a2.jpg)

2.我更换了app版本，重刷了系统，停止所有模块仍然没有用
3.thanox版本；酷安最新版4.0.4-prc，系统为安卓11
4.日志
[2022-08-10.zip](https://github.com/Tornaco/Thanox/files/9295702/2022-08-10.zip)
：

[2022-08-10 01:34] Tornaco commented on #566
@guiji2022 试试这个 https://app.circleci.com/pipelines/github/Tornaco/Thanox/441/workflows/7e8665fa-ceb2-42aa-828e-6e680cc5448e/jobs/407/artifacts

[2022-08-10 01:40] guiji2022 commented on #566
还是一样的，不知道为啥

[2022-08-10 01:42] guiji2022 commented on #566
还是一样的不知道为什么，还需要提供什么吗😭

[2022-08-10 05:28] Tornaco commented on #566
lsp详细日志或者按照thanox首页反馈说明提供对应日志。

[2022-08-10 05:42] guiji2022 commented on #566
[LSPosed_2022-08-10T13_36_55.628(1).zip](https://github.com/Tornaco/Thanox/files/9297085/LSPosed_2022-08-10T13_36_55.628.1.zip)
[2022-08-10 (1).zip](https://github.com/Tornaco/Thanox/files/9297086/2022-08-10.1.zip)

第一个是lsp的详细日志，第二个是thanox的

[2022-08-10 05:44] guiji2022 commented on #566
thanox的我是直接把文件复制过来了，

[2022-08-10 12:36] guiji2022 commented on #566
![30b3213f2d4f20bdd453163733ecd54](https://user-images.githubusercontent.com/110948813/183902741-969f9114-146c-4422-863e-5c7c763a54fd.jpg)
![b4a413098fc2222c61d94a172e14021](https://user-images.githubusercontent.com/110948813/183902766-f1b90204-26a4-4509-9477-4115bc751511.jpg)

[2022-08-10 12:54] Tornaco commented on #566
@guiji2022 试试 https://app.circleci.com/pipelines/github/Tornaco/Thanox/442/workflows/4a0ad32d-5be9-4f5a-a27f-3d27bd2eeda4/jobs/408/artifacts   如果没构建完请等待20分钟。

[2022-08-10 13:38] guiji2022 commented on #566
@Tornaco 可以了不过图标全是这种了问题不
![0e66e98a3d6e10e450f6e1e57daeb1f](https://user-images.githubusercontent.com/110948813/183915442-c4fb9949-7205-4d75-83f2-9bb7792db190.jpg)
大

[2022-08-10 14:46] Yuxiong1992 commented on #566
期待大佬早日解决并在谷歌商店更新

[2022-08-10 15:09] WhiCCX0 opened #567 "4.0.5 面具模块无法刷入"
**Describe the bug（现象描述）**
A clear and concise description of what the bug is.（简洁的描述该bug的现象）
谷歌4.0.5版本，导入面具模块无法刷入，

**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
1. 导入面具模块后，刷入magisk，显示unzip error

**Expected behavior**（期望结果）
A clear and concise description of what you expected to happen.（描述一下期望的结果）
刷入成功
**Screenshots**（截图）
If applicable, add screenshots to help explain your problem

[2022-08-11 00:02] FloraLunamia opened #568 "双开时非自主出现多个应用"
thanox版本4.0.4
安卓11
无日志
xposed版本
![Screenshot_20220811-075848](https://user-images.githubusercontent.com/111026651/184043096-ff0df3cc-d250-4adc-99ec-05cfb9c85abd.png)
删除其中任意应用后会刷新列表并出现更多应用
无法正常使用

[2022-08-11 13:13] Tornaco commented on #568
@QAQ3254865169 麻烦把这些应用的包名，发出来，我会添加到排除名单中。

[2022-08-11 13:14] Tornaco commented on #566
@guiji2022 不正常，其他界面呢，app图标可以正常加载？

[2022-08-11 13:18] guiji2022 commented on #566
@Tornaco thanox所有界面都是这样的图标

[2022-08-11 13:48] FloraLunamia commented on #568
似乎这个问题更严重一些
它是无法被删除的
「Recording_2022-08-11-21-40-03.mp4」https://www.aliyundrive.com/s/SWJiqpunaHv

包名正在编辑（由于github无法上传视频于是用阿里网盘代替）

[2022-08-12 13:39] long45343 commented on #49
谢谢！

[2022-08-13 13:43] Tornaco commented on #566
@guiji2022  进入进程管理，然后再抓个lsp详细日志，我看下能否修福。

[2022-08-13 13:47] guiji2022 commented on #566
@Tornaco
[LSPosed_2022-08-13T21_45_49.364.zip](https://github.com/Tornaco/Thanox/files/9331539/LSPosed_2022-08-13T21_45_49.364.zip)

[2022-08-14 04:39] Tornaco commented on #566
@guiji2022  再用这个版本抓个日志，我加了一下日志。

[2022-08-14 04:43] guiji2022 commented on #566
@Tornaco
[2022-08-14.zip](https://github.com/Tornaco/Thanox/files/9332702/2022-08-14.zip)thanox日志

[2022-08-15 16:02] #567 closed, assigned to nobody

[2022-08-16 14:46] STTecCEO commented on #518
这毒瘤甚至已经从后台里隐藏了(通知还在状态栏里)
!
![Screenshot_20220816-210559](https://user-images.githubusercontent.com/35169436/184909001-e1eb01a4-49e3-4251-ba1b-0f4072adda24.png)
[Screenshot_20220816-210603](https://user-images.githubusercontent.com/35169436/184908972-76cf1ec2-4cf8-424e-8116-0397ae3d7e55.png)
![Screenshot_20220816-205901](https://user-images.githubusercontent.com/35169436/184908989-8706000e-4c56-48d

[2022-08-17 01:18] Tornaco commented on #566
@guiji2022 你是开什么插件对thanox隐藏应用列表了吗？

[2022-08-17 01:24] guiji2022 commented on #566
@Tornaco 还真的是应用隐藏列表隐藏了😂

[2022-08-17 04:04] Rio198 opened #569 "应用主界面显示 Error"
1. 系统版本
Android 12

2. Thanox版本，补丁方式（xposed还是magisk？）
Thanox Pro Play Store version: 4.0.5-row
LSPosed 激活

3. 问题现象的详细描述，有图或者视频更好
就只是在 LSPosed 界面勾选了 android, 重启激活之后主界面就显示 Error
- Screenshot
![Screenshot_20220817-120248_Thanox Pro](https://user-images.githubusercontent.com/35390522/185032204-a563a6a4-5b16-4d53-989c-bb258766e6e2.png)

4. 不激活thanox有问题吗？
没有

5. Thanox激活后不做任何配置有问题吗？
有

6. Log

[code]

[

[2022-08-18 13:13] wangk1m opened #570 "ColorOS13无法恢复备份"
coloros13也就是安卓13，貌似是获取不到存储权限，安卓13上好像叫文件和文档

![Screenshot_2022-08-18-21-07-54-18_9bd1be20abe2442bf84e81e62f440f7d](https://user-images.githubusercontent.com/76272799/185403173-cf80ef51-330d-447a-8db8-9ded7556c207.jpg)
点这里的恢复备份没有反应
![Screenshot_2022-08-18-21-08-15-03_fc704e6b13c4fb26bf5e411f75da84f2](https://user-images.githubusercontent.com/76272799/185403277-5ebba14e-7555-4c12-b35b-d0b06b2dcd65.jp

[2022-08-18 17:27] GSWXXN opened #571 "关于自启动规则的问题"
**Describe the bug（现象描述）**
关闭 DUO(com.duosecurity.duomobile) 的自启动，并在自启动规则中加入 `ALLOW * com.duosecurity.duomobile`, 并不能正确使 DUO 程序被唤醒。（其他可接收 FCM 推送的应用均可复现）

**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
1. 关闭 DUO(com.duosecurity.duomobile) 的自启动
2. 在自启动规则中加入 `ALLOW * com.duosecurity.duomobile`
3. 激活并使用 [fcmfix](https://github.com/kooritea/fcmfix) （可以使被杀死的应用在接收到 FCM 通知时，被唤醒）
4. 强制关闭 DUO

[2022-08-19 06:12] Tornaco commented on #568
@QAQ3254865169 包名list发一下吧。

[2022-08-19 06:15] Tornaco commented on #569
@Rio198 下次不要点开发者设置中的No-Root了，重启试试。

[2022-08-19 11:41] Rio198 commented on #569
重启无效, 仍然显示 Error, 然后我翻了一下群组消息, 最后按照[这个方法](https://t.me/thanox_mod/143451)解决了问题, 感谢

[2022-08-22 06:52] entr0pia opened #572 "移除应用通知后, 后台运行中的"不清理有通知应用"依旧将该应用当作有通知"
**To Reproduce**（如何复现）
1. 将标准版 QQ 在后台运行取消勾选, 并在设置中勾选"不清理有通知应用"
2. QQ 收到通知后, 划掉通知或者点进 QQ 界面, 总之就是移除 QQ 的通知
3. 使用一键加速, 或者等待锁屏超时, QQ 无法被杀死

**Version（发现问题的版本）:**
 - OS: Android 12, Sony Xperia 5II, 类原生系统
 - Version: v4.0.4-prc, v4.0.5-prc

**Additional context**（其他信息）
QQ 使用了女娲石插件的通知进化, 但停用进化和启用进化 QQ 均无法被杀死

** Logs**（日志文件）
务必将截取到的日志文件发到该issue里。
[code]

[2022-08-23 10:40] Arlia-Etoile opened #573 "功能请求：希望thanox的自启动管理能像miui一样分别管理应用自启动与关联启动"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

因为非miui使用mipush需要关联启动，但不需要应用自启动，所以需要thanox能够分别管理应用自身自启与关联启动

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
在应用管理中，点击自启动之后，会弹出页面，分别有关联启动与自启动的开关

**Describe alternatives you've considered**

[2022-08-23 11:53] benefit77 opened #574 "使用magisk激活。手机前置摄像头不弹出。"
使用magisk激活。手机前置摄像头不弹出。
版本是4.0.5。用lsposed激活无问题。

[2022-08-24 13:19] Tornaco commented on #573
@Arlia-Etoile 你是发现mipush启动其他应用时被拦截了吗？如果是这个问题的话麻烦你进入后台启动记录中，找到拦截的记录，点击之后会展示详情，截图发下。关于分开的问题暂时先不分，会增加复杂度，而且自启动和关联启动不是很好区分。

[2022-08-24 13:34] Tornaco commented on #570
@wangk1m OK 我研究下

[2022-08-24 14:30] Tornaco commented on #570
@wangk1m 麻烦试试这个版本是否能正常备份恢复。

https://app.circleci.com/pipelines/github/Tornaco/Thanox/457/workflows/4c742c03-be7c-4307-9f57-2a161c276bc5/jobs/422/artifacts

[2022-08-24 14:30] #569 closed, assigned to nobody

[2022-08-24 17:33] wangk1m commented on #570
试了下还是不行，

[2022-08-24 17:42] wangk1m commented on #570
不好意思，刚刚play版忘了卸载了，这个版本可以了，
![Screenshot_2022-08-25-01-42-02-55_e6871cd13ad370b30dca80a8c4050ac0](https://user-images.githubusercontent.com/76272799/186487144-59f40009-c2c4-4247-bef6-a8bb253e4372.jpg)

[2022-08-24 23:54] Tornaco commented on #572
[thanox_4.0.5-7-9752b95-prc(3070169).apk.zip](https://github.com/Tornaco/Thanox/files/9420115/thanox_4.0.5-7-9752b95-prc.3070169.apk.zip)

@entr0pia 用这个debug包在抓个日志看下QQ的通知具体都是哪些，注意：这个包会在日志中打印通知内容。

[2022-08-25 02:09] entr0pia commented on #572
[log-issue-572.txt](https://github.com/Tornaco/Thanox/files/9420733/logs.txt)

[2022-08-25 04:13] Tornaco commented on #572
@entr0pia 日志中显示QQ还有正在显示的通知，实际情况能录个屏吗？

[2022-08-25 04:43] entr0pia commented on #572
https://user-images.githubusercontent.com/30486766/186576565-cede27eb-1700-475e-95b4-72e8905ea67f.mp4

[log-issue-572(2).txt](https://github.com/Tornaco/Thanox/files/9421395/log-issue-572.2.txt)

你应该可以在[前一个日志](https://github.com/Tornaco/Thanox/issues/572#issuecomment-1226686111)中看到通知是移除了的:
[code]

[2022-08-25 14:28] Tornaco commented on #551
@fakerqu

facts:
[code]

https://app.circleci.com/pipelines/github/Tornaco/Thanox/459/workflows/e5841304-191b-4088-a93f-36362de2beb9/jobs/424/artifacts

[2022-08-28 11:08] Mubai-meng opened #575 "Magisk版最近任务强制隐藏无效"
**Describe the bug（现象描述）**
Magisk版最近任务强制隐藏无效

**Expected behavior**（期望结果）
希望可以强制隐藏最近任务

**Version（发现问题的版本）:**
 - OS: [e.g. Android 12]
 - Version [e.g. v4.0.6]

**Additional context**（其他信息）
Samsung One UI 4.1

---------
![Screenshot_20220828-190714_MT Manager.jpg](https://user-images.githubusercontent.com/86759349/187071012-363bf7cd-8bd9-4a30-b0e7-260b9b7db127.jpg)
![Screenshot_20220828-190739_MT