[2019-10-26 14:31] Tornaco commented on #3
@mymine 麻烦备注下 ROM与Android版本。

[2019-10-26 15:00] mymine commented on #3
@Tornaco
MIUI11 安卓10

[2019-11-06 14:28] Tornaco commented on #8
P1.

[2019-11-08 15:23] ppouerct commented on #6
这个是系统push的问题

[2019-11-09 14:58] Tornaco commented on #9
riru理论上可以。但是相对xp工作量更大，作用范围更小。

[2019-11-09 22:50] ppouerct commented on #9
好的

Potesta de Tornaco <notifications@github.com> 于 2019年11月9日周六 下午10:58写道：

[2019-11-13 10:38] Tornaco commented on #11
👍

[2019-11-17 07:21] abcdol commented on #10
像应用管理那种把清理作为一个单独活动的方式也很好，可以直接用快速打开活动或者tasker或者edge调用，非常舒服。或者使用clipper这种广播调用的方式也很好～
![Screenshot_20191117-151815](https://user-images.githubusercontent.com/43516434/69004425-eb1e8880-094d-11ea-813e-d9be28f114bf.jpg)

[2019-11-17 07:26] zzzop commented on #10
用edge试过应用管理的清理活动屏幕会闪一下，是正常的吗

[2019-11-17 07:27] abcdol commented on #10
是正常现象 会调用打开一个无界面的活动 目前在新版本找不到这个活动无法调用

[2019-11-17 12:24] Tornaco commented on #10
adb shell am broadcast --user all -a thanox.a.running_process.clear

[2019-11-17 12:24] Tornaco commented on #10
试试上面的广播。

[2019-11-17 12:26] abcdol commented on #10
可以用 非常感谢～

[2019-11-17 12:43] Tornaco commented on #10
暂时先关闭改ISSUE。
小部件暂时先不做了。

[2019-11-18 05:00] mymine commented on #3
@Tornaco 最新版bug还没解决

[2019-11-18 05:00] mymine commented on #3
@Tornaco 最新版bug还没解决

[2019-11-18 05:00] mymine commented on #3
@Tornaco 最新版bug还没解决

[2019-11-18 05:00] mymine commented on #3
@Tornaco 最新版bug还没解决

[2019-11-18 05:00] mymine commented on #3
@Tornaco 最新版bug还没解决

[2019-11-18 14:39] Tornaco commented on #3
还自动重启吗？我在MI8 MIUI11 Android10测试OK。

[2019-11-18 15:14] mymine commented on #3
@Tornaco redmi k20 pro。MIUI11 安卓10。无极magisk。
无极默认关闭seliunx。不知道是不是这问题。

[2019-11-19 13:08] Tornaco commented on #3
无极是太极吗？...   我测试下。

[2019-11-19 13:09] Tornaco commented on #1
Fixed?

[2019-11-19 13:35] mymine commented on #3
@Tornaco 今天试了下edxposed也这样

[2019-11-24 02:50] SettingDust commented on #1
NONONO XD

[2019-11-25 01:49] 4512369781 commented on #17
如果对应用同时开启两个模块才会消失，估计你也应该给rikka反馈，让开发者们互相联系，看是不是有冲突。

[2019-11-25 14:19] Tornaco commented on #16
应用锁未来会上单独插件。

[2019-11-25 14:20] Tornaco commented on #16
多用户比较困难。优先级先调低。

[2019-11-25 14:28] Tornaco commented on #3
能执行adb命令吗？
[code]
开机时执行这个命令，可以抓取完整设备启动日志。

目前给的日志无法定位原因。Sorry.t.

[2019-11-27 09:41] 4512369781 commented on #13
问题被非常聪明的解决了。

[2019-11-27 11:37] mymine commented on #3
adb执行这个命令卡死。重启后也找不到log.txt文件！

[2019-11-28 07:57] zzzop commented on #19
“关联启动规则” 不知道会不会添加

[2019-11-28 14:52] Tornaco commented on #3
### 可以先确认设备是否正确连接：
[code]
如果类似于：
[code]
则设备连接OK。

### 输完adb logcat > log.txt时卡死时正常现象，日志持续输出到文件，文件位置在terminal `pwd`命令所在的路径下。

[2019-11-28 14:53] Tornaco commented on #3
➜  Thanox git:(master) ✗ pwd
/Users/tornaco/Documents/Workspace/Android/Thanox

[2019-11-29 09:11] Tornaco commented on #19
都会有的。

[2019-11-29 11:42] Yabalina commented on #17
最近测试了几次，没有安装重定向的时候也会有这个情况。。。

[2019-11-29 12:44] mymine commented on #3
@Tornaco 设备连接正常。。"文件位置在terminal pwd命令所在的路径下。"？？？？？？

[2019-12-04 13:19] Tornaco commented on #3
文件在执行命令的目录下。

或者：

[code]

[2019-12-04 13:20] Tornaco commented on #7
Introduced since 1.0.3-BETA4

[2019-12-04 13:24] Tornaco commented on #17
1. 清空thanox设置(data/system/thanos)正常吗？
2. 目前其他没收到类似的反馈。

[2019-12-04 14:16] Yabalina commented on #17
方法1无效， 官方tg群里“冬日里的小蚂蚁”也在群中反馈过类似问题。
问题目前集中发生于更新Thanox和更新系统的重启之后，可能与权限控制功能有关，关掉权限管理后这个问题似乎消失了，但是还没有经过更多的测试，不是很确定。

[2019-12-04 14:16] Tornaco commented on #17
@Yabalina 嗯，我先跟踪下。

[2019-12-06 14:20] Tornaco commented on #20
目前暂时不支持~

[2019-12-06 15:00] 4512369781 commented on #20
了解。

[2019-12-08 09:28] Tornaco commented on #22
试试Query intent activities权限。

[2019-12-08 13:11] 2220209876 commented on #22
开启Query intent activities后可以隐藏已安装应用

[2019-12-09 07:00] Tornaco commented on #21
比较难排查原因。需要慢慢看下。

[2019-12-09 07:01] Tornaco commented on #22
请根据需求使用Query intent activities进行严格限制

[2019-12-10 00:38] Tornaco commented on #23
@37385 挺实用，这是一家的功能吗，有截图吗

[2019-12-10 01:51] Tornaco commented on #24
@dxl1236 我也发现这个问题了，应该是之前为了不杀死微信的小程序做了些处理，伦理出问题了。有空修一下

[2019-12-10 05:01] 37385 commented on #23
@Tornaco  对第一条是一加的H₂OS的功能。第二条是原生安卓9及以上的功能。

[2019-12-10 05:04] 37385 commented on #23
@Tornaco  [https://jingyan.baidu.com/article/495ba841bcf11c38b30ede02.html](url)
一加的深度清理

[2019-12-10 05:08] Tornaco commented on #23
@37385 这个issue是需要做做设么呢？实现1功能吗？

[2019-12-10 05:13] 37385 commented on #23
@Tornaco 我觉得就是让在  划卡清理名单里的应用  被进行定时扫描，若应用卡片不存在，则force-stop此应用。

[2019-12-10 05:16] Tornaco commented on #25
@2302998733 代收会做，应该是下一个版本的功能。

[2019-12-10 05:25] 37385 commented on #23
@Tornaco 这个issue的目的是解决
 划卡清理名单里的应用 被唤醒(此处指的是被system的分享键唤醒)，但没有卡片。你只能再次打开那个应用，然后划掉卡片。

我的解决方法有两个。
就是issue 的正文内容

[2019-12-10 11:32] 37385 commented on #23
对。你可以实现1功能来解决无卡片问题
也可以实现2来解决。

[2019-12-11 14:09] Tornaco commented on #23
现在Thanox的清理功能不能实现你要的效果吗？
2. 需要考虑下。

[2019-12-11 14:11] Tornaco commented on #18
开机自启动建议用启动管理来控制。
权限太多会很乱。

模糊在9和10上目前技术上之能做到这个地步了。也是目前设备兼容性最好的方案。

[2019-12-11 14:12] Tornaco commented on #17
现在还随机消失吗？打了响指?

[2019-12-11 14:24] Yabalina commented on #17
我在等1.04出来接着试。。。

On Wed, Dec 11, 2019, 10:12 PM Potesta de Tornaco <notifications@github.com>
wrote:

[2019-12-11 15:09] 37385 commented on #23
@Tornaco  看上去你的意思是你已经实现1功能。
1：那么1功能我可能没有表达清楚：一加手机在点击一键清理按钮   时，会先检测上锁的卡片，再检测后台，在force-stop其他未上锁后台。而不是检测卡片的移出操作来force-stop。这样就不会出现那种因无卡片而存活的应用。----又或可以定时检察后台与卡片的存在与否来杀死后台。
2：又或者我不知道真的有这个功能。那么请告知我。

[2019-12-12 00:39] dxl1236 commented on #24
1.04版已经修复了

[2019-12-12 00:43] Tornaco commented on #23
@37385 理解你的意思，厂商自带的一键清理和卡片锁定不属于android通用行为，没办法简单的模仿和修改。所以thanox后台清理只能通过桌面快捷方式入口，无法集成到系统

[2019-12-12 00:47] Tornaco commented on #26
@abcdol 1. 阻止采用拦截方式，额外耗电可能在于读取内存里的设定值所消耗的cpu时间所用电量。可以忽略不计。
2. 启动是正常现象，无非是某些应用设定的启动触发多一些。建议不要慌张。可以不看。

[2019-12-12 00:48] Tornaco commented on #24
@dxl1236 好的

[2019-12-12 04:12] abcdol commented on #26
好滴 感谢～

[2019-12-12 11:35] 37385 commented on #23
我主要是想解决没有卡片，应用却活在后台的问题。一加是其中的一种方法。既然不可以像一加那样。那么我希望划卡清理可以像*黑域*或*安卓9*的'后台限制'一样：定时扫描后台应用，强行停止没有卡片的应用。这样就可以防止没有卡片却活在后台的问题。

[2019-12-14 01:13] Tornaco commented on #27
Try: https://github.com/Tornaco/Thanox/releases/tag/v1.0.4-BETA4

[2019-12-14 02:47] Yabalina commented on #17
在1.0.4 beta4中暂未发生此问题。。。

[2019-12-14 02:47] Tornaco commented on #17
@Yabalina 好的。。再观察下。。

[2019-12-14 14:52] Tornaco opened #1 "亮度权限"
申请添加亮度权限。

--

[2019-12-15 02:11] ppyuehui opened #2 "建议移花接木增加单独导入导出功能"
移花接木功能真的很好用，但是每个软件都需要自己手动抓取替换，比较麻烦，希望可以增加单独的导入导出功能，方便大家互相分享，降低入手难度

[2019-12-15 15:59] dreamermt opened #3 "1.0.4版本直装1.0.6升级后 无法激活"
该问题已经自行解决 希望后续版本不再出现

解决步骤：
1、进入edxposed installer取消模块勾选，重启。
2、进入edxposed installer勾选模块，重启。

不确定edxposed manger是否会出现该现象，日志忘了保存，看了下edxposed installer模块日志，显示某文件（路径也记不清了）don't exit，因此想到取消勾选尝试解决。

[2019-12-15 16:12] dreamermt opened #4 "希望在（后台启动）中，将（自启动）和（关联启动）分开"
比如说（google play 服务）：
必须关闭（后台启动）
    就算勾选了（任务清理）（只能休眠），取消勾选（后台运行），也无法压住，时刻在后台运行。
    而此时就无法登录（谷歌商店）和（谷歌游戏）等依赖（google play 服务）才能使用的APP了。
    如果能将（自启动）和（关联启动）分开，那就能解决该问题----不允许（google play 服务）自启动，允许被关联启动。
    如果能引入（应用管理）中的（关联启动规则）那就更好了。

[2019-12-15 16:13] dreamermt opened #5 "希望在（后台启动）中，将（自启动）和（关联启动）分开"
比如说（google play 服务）：
必须关闭（后台启动）
    就算勾选了（任务清理）（只能休眠），取消勾选（后台运行），也无法压住，时刻在后台运行。
    而此时就无法登录（谷歌商店）和（谷歌游戏）等依赖（google play 服务）才能使用的APP了。
    如果能将（自启动）和（关联启动）分开，那就能解决该问题----不允许（google play 服务）自启动，允许被关联启动。
    如果能引入（应用管理）中的（关联启动规则）那就更好了。

[2019-12-16 02:39] Tornaco commented on #3
@dreamermt 请不要把xpodedinstaller组织启动。应用更新后apk路径会发生变化，如果xposedinstaller感知不到这个变化，就无法找到对应的apk位置。，导致无法加载apk。无法激活。

[2019-12-16 04:26] dreamermt commented on #3
能不能加上（关联启动规则）？ （应用管理）中的ALLOW和DENY指令很好用，google play 服务太容易自启动了，在（任务清理）添加上也没用，直接在（后台启动）里取消勾选不允许自启动和关联启动太强硬了，导致谷歌商店、谷歌游戏等必须依赖google play 服务的软件无法正常运行。
    如果能设置成不允许自启动、不允许关联启动（这两个功能最好能分开设置），只允许被某几个APP关联启动就完美了。

[2019-12-16 05:51] abcdol commented on #4
自启动是系统启动时的启动 运行一次任务清理的广播就行了 没必要再独立设置 合并反而更方便 再者说都允许关联启动了 禁止自启动也没意义了 系统会自动唤醒谷歌服务 你需要的是一个google doze

[2019-12-16 05:54] Tornaco commented on #3
@dreamermt 规则还是会考虑下有没有必要的使用场景。目前是希望尽可能设置简单些，太复杂容易出问题且不好排查。具体还是要看使用场景。

[2019-12-16 13:24] 2220209876 opened #6 "[功能建议] 隐匿功能增加手机型号MAC地址伪装、不同app可以配置不同的隐匿数据并且可以导入导出"
[功能建议] 隐匿功能增加
手机型号
MAC地址
手机网络状态（QQ伪装成数据流量可以不自动下载聊天图片、视频等）

不同app可以配置不同的隐匿数据并且可以导入导出 kingsollyu的应用变量希望对思路有所帮助 https://github.com/kingsollyu/AppEnv-Kotlin

[2019-12-16 13:35] 2220209876 opened #7 "[功能建议] 后期可以增加多用户功能吗？"
配置文件如果改到 /data/media/用户/Android/data/Thanox
应该可以实现多用户功能

[2019-12-16 13:48] 2220209876 opened #8 "[功能建议]隐藏已安装应用功能可以增加白名单APP"
比如白名单里加入 Chrome、电话、XX启动器、设置等

对A软件开启隐藏已安装应用后，A软件只能识别手机里安装了Chrome、电话、XX启动器、设置等

这样一些软件检测到的手机应该更正常

[2019-12-16 14:08] 2220209876 opened #9 "[功能建议]可以使用gitlocalize或者oneskyapp等翻译平台使APP全球化"
gitlocalize完全免费 https://gitlocalize.com/
oneskyapp好像有字符限制 https://www.oneskyapp.com/

[2019-12-16 14:34] Tornaco commented on #9
@2220209876 👍👍👍👍👍 有时间研究下

[2019-12-16 14:36] Tornaco commented on #7
@2220209876 多用户不是简单的数据多份就可以了，目前thanox设计数据已经考虑多用户问题，但是还有其他技术问题，后期稳定之后会拉新分支研究。

[2019-12-17 00:30] Charles-Chan-HK opened #10 "Thanox 跟safetynet 沖突"
**Describe the bug（现象描述）**
A clear and concise description of what the bug is.（简洁的描述该bug的现象）
安裝了1.0.2-pre 版後的thanox 後，magisk 檢測safetynet 狀態會變成fail，, 但只有移除thanox ，safetynet 則回復正常。

**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
1.0.2-pre 以後thanox

**Expected behavior**（期望结果）
通過safetynet test

**Screenshots**（截图）
Nil

**Version（发现问题的版本）:**
 OnePlus 7 pro oxygen os 10.0 beta 6(Android

[2019-12-17 00:38] HinataKato opened #11 "添加自动配置不通知"
虽然没啥用，但是也比没有好

[2019-12-17 00:44] HinataKato opened #12 "添加类似于XPrivacy的功能"
功能和隐匿可以说是一样，不过将设备的信息改成了应用的权限

[2019-12-17 02:37] Tornaco commented on #3
该问题关闭，不在插件处理范围。

[2019-12-17 02:37] #3 closed, assigned to nobody

[2019-12-17 03:28] dxl1236 opened #13 "[功能建议]增加保留应用后台进程的功能"
希望能增加保留指定应用后台进程的功能，可以做成开关或情景模式里增加接口

[2019-12-17 03:37] Tornaco commented on #13
@dxl1236 请问使用场景是什么。

[2019-12-17 03:42] dxl1236 commented on #13
有些应用划卡后再次冷启动太慢，希望部分常用应用保留后台，提升启动速度

[2019-12-17 03:46] ppyuehui commented on #8
这个想法不错，不过开发难度比较大吧

[2019-12-17 04:53] Tornaco commented on #13
@dxl1236 想保留后台为何还要清除任务呢？不是很理解。。

[2019-12-17 05:41] dxl1236 commented on #13
有个不好的习惯，喜欢清理任务卡片，可能我需要改改习惯了

[2019-12-17 07:38] ppouerct commented on #13
有不少系统的low直接杀后台，而不是看内存够不够用

[2019-12-17 16:03] dreamermt commented on #4
emmm，分开确实是没啥必要，压制gp服务关键应该还是关联启动规则，通过设置使其只能被几个特定的app关联启动（商店，google游戏等），再禁止这几个特定app自启动，gp服务就不会一直存活了，magisk的google doze模块貌似没啥用啊，往大神早日开发，android p上的（应用管理）真乃神器

[2019-12-17 16:04] #5 closed, assigned to nobody

[2019-12-18 17:10] Nettal opened #14 "[功能建议]希望添加开机自启"
某些绿色软件没有开机自启功能。希望添加开机自动打开软件/脚本的功能。主要是因为目前国内厂商太厉害。很多软件自启不了了。

[2019-12-18 17:11] Nettal commented on #14
@Tornaco 是不是删掉了原来的库了？

[2019-12-20 04:57] abcdol opened #15 "老哥能提供一下开关自启动和锁屏运行的广播吗"
因为一些原因需要在指定时间关闭自启动管理和锁屏清理开关，请问这个能shell快捷操作吗？如果不能的话就麻烦老哥把issue直接关闭吧，感谢老哥～

[2019-12-20 05:05] abcdol commented on #15
就是后台启动的开关shell和后台运行的开关shell 刚才可能没表述清楚

[2019-12-20 06:42] Tornaco commented on #15
@abcdol 可以。我加好了在恢复你。

[2019-12-20 06:47] abcdol commented on #15
好的好的 感谢老哥～

[2019-12-20 09:43] Tornaco commented on #15
1.0.6+版本支持：

查看帮助：
[code]

禁用后台启动：
[code]

[2019-12-20 10:20] abcdol commented on #15
😂打开帮助的shell不好使啊老哥 运行以后没有反应 能不能提供一下禁用【后台运行】的shell呢

[2019-12-20 11:43] Tornaco commented on #15
@abcdol 写了。

[2019-12-20 11:50] abcdol commented on #15
shell dumpsys tv_input disable start-blocker这个好像只能禁用【后台启动】啊老哥 禁用【后台运行】是哪一个呢？

[2019-12-20 11:57] Tornaco commented on #15
@abcdol dumpsys tv_input help看看。记不住了

[2019-12-20 12:36] abcdol commented on #15
帮助打不开啊老哥……我的两个手机都无效……edge和tasker执行shell都不行😥

[2019-12-20 13:13] Tornaco commented on #15
@abcdol 后台的参数是background-manager好像

[2019-12-20 13:19] abcdol commented on #15
好像不是……这个也无效……😂太麻烦你了老哥，就这样吧，我用模拟点击实现吧😂非常感谢👍👍👍

[2019-12-20 13:19] #15 closed, assigned to Tornaco

[2019-12-20 13:57] Tornaco commented on #15
@abcdol 你装的那个版本?

[2019-12-20 13:58] Tornaco commented on #15
@abcdol ➜  release git:(master) ✗ adb -s aefe7cf7 shell dumpsys tv_input
Thanox commands:
    help
        Print this help text.

    version
        Show thanox core version info.

    enable/disable [feature]
        Enable or disable thanox feature.
        Available features:
            start-blocker
            background-manager

➜  release git:(master) ✗

[2019-12-20 15:45] abcdol commented on #15
重新下载最新版以后好了……可能是我记错了更新的手机……已经能用了，非常感谢～👍👍👍

[2019-12-21 08:00] Gladtbam opened #16 "[功能建议]情景模式弊端，排序问题"
1.希望能添加强制关闭情景模式功能，防止在测试新写的规则时，发现规则是死循环，导致系统卡死，现有版本只能通过重启手机或者在REC中解决。
2.希望增加情景模式排序功能。对于已开启的和未开启的情景模式分开，如：已开启的都排列在上部分，未开启的在下部分
并且对开启的和未开启的情景模式以首字母进行排序。
在调试新写的规则时，要不断的开启，如果不排序，每次开启找到新规则都特别浪费时间

[2019-12-23 01:39] ppouerct opened #17 "希望情景模式能执行shell"

[2019-12-23 13:34] Tornaco commented on #16
@sakurabot
1. 1.0.7增加了QS，可以尝试快速关闭。
2. 1.0.7排序已经优化。

[2019-12-23 13:35] Tornaco commented on #14
@37385

可以使用情景模式。订阅开机事件，启动相应进程。

[2019-12-23 13:35] #2 closed, assigned to Tornaco

[2019-12-23 14:27] JiZhi-Error opened #18 "keep应用无法正常使用"
**Describe the bug（现象描述）**
A clear and concise description of what the bug is.（简洁的描述该bug的现象）

**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
1. Go to '...'（进入XXX）
2. Click on '....'（点击XXX）
3. Scroll down to '....'（下滑到XXX）
4. See error（发现错误XXX）

**Expected behavior**（期望结果）
A clear and concise description of what you expected to happen.（描述一下期望的结果）

**Screenshots**（截图）
If applicable, a

[2019-12-23 14:28] #18 closed, assigned to nobody

[2019-12-24 00:20] ppouerct opened #19 "希望情景模式能有分享接收或者监控分享的功能"
比如可以直接在分析列表中选择thanox接收分享，根据类型进行处理，文字可以传递给变量，文件可以把文件位置写入变量

[2019-12-24 00:21] ppouerct commented on #19
或者是监控，当分享到某个应用时情景模式会做出反应

[2019-12-24 00:24] penhuowa opened #20 "op提醒建议加入剪切板修改提醒"
一个个的排查应用太难了。

[2019-12-24 06:57] #16 closed, assigned to nobody

[2019-12-24 07:09] Gladtbam opened #21 "[功能建议]情景模式的代码编辑功能增强"
希望情景模式代码编辑时能提供额外的键盘输入选项，将[ ] \ " : ; ! 等常用符号列出来，避免代码编辑时频繁的切换中英文键盘以及符号键盘的切换，提高效率

[2019-12-24 07:10] Tornaco commented on #21
@sakurabot 👌🏻

[2019-12-25 13:47] 2220209876 opened #22 "[功能建议]权限管理中点击APP图标可以启动APP"
![YuanEn_2019-12-25_21-44-09](https://user-images.githubusercontent.com/7346652/71446608-2471c180-2760-11ea-9e58-caf67dc80779.png)

[2019-12-25 14:16] Gladtbam commented on #22
在这里点击应用图标可以复制包名，方便写情景模式规则，换成启动app反而有点不方便的吧🤔

[2019-12-25 14:29] 2220209876 commented on #22
在这里你不点击应用图标也能复制包名

[2019-12-26 11:58] Sentsuki opened #23 "应用随机消失"
更新Thanox1.09后问题再次出现，1.08未发生，这次一个系统应用消失了

Xiaomi 6 Lineageos 16 (android 9)
 - thanox 1.0.9 magisk 20.1 exposed 0.4.5.1 (sandhook)
附日志如下
[log.zip](https://github.com/Tornaco/Thanox/files/4002439/log.zip)

[2019-12-26 15:33] a1623382 opened #24 "play版本的shoucut无法使用"
**Describe the bug（现象描述）**
A clear and concise description of what the bug is.（简洁的描述该bug的现象）
play版本的shoutcut无法使用，系统提示“未安装应用”
**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
点击shoutcut
**Version（发现问题的版本）:**
 - OS: Android 10 oos beta 7
 - Version 1.0.9-20-c327010-row

[2019-12-27 02:50] KIITTID opened #25 "希望增加自定义APP图标或者包名的功能。"
希望正对MIUI、FILME等国产UI，增加自定义桌面图标或者自定义（伪装）应用包名的功能，主要是为了让主题图标包覆盖没有适配的APP。让强迫症彻底爽飞。

[2019-12-27 02:53] #24 closed, assigned to nobody

[2019-12-27 07:30] Wittoy opened #26 "重启后配置丢失"
**重启后配置丢失，且开机后第一屏自动打开Magisk**

 - OS: Android 10
 - Version 1.0.9
 - EDXposed Version 90.0-v0.4.6.0(4471)YAHFA

 **Log**
`1577430974921|W|ThanoxApp|Init thanos manager for package: github.tornaco.android.thanos
1577430974929|W|ThanoxApp|Platform app idle enabled: 1
1577430975060|W|ThanoxApp|Init thanos manager for package: github.tornaco.android.thanos
1577430975392|W|ThanoxApp|Init thanos manager

[2019-12-27 08:31] MMCYY opened #27 "情景模式里根据包名停止进程，建议增加区分单个进程的功能。"
例如：
目前情景模式里：
"killer.killPackage(\"com.tencent.mm\")"
这个是有用的，但是如果要结束com.tencent.mm:tools，com.tencent.mm:push就无效了。
希望能够增加功能，可以结束其中的一个，而不是直接完全结束。
非常需要，万分感谢，作者费心了。

[2019-12-27 12:45] Sentsuki commented on #23
1.10问题还在发生。。。

[2019-12-27 13:13] Tornaco commented on #23
@Yabalina 。。。

[2019-12-28 05:06] ppouerct commented on #27
支持shell后可以用shell，支持shell已经通过建议了

[2019-12-28 06:19] Tornaco commented on #27
@ppouerct shell已经支持可以看下文档

[2019-12-28 08:53] MMCYY commented on #27
请问支持shell了，那我请求的这个功能可以实现了吗？可否举个例，谢谢。

[2019-12-28 09:26] Tornaco commented on #17
Introduced 1.0.9+

[2019-12-28 09:26] #17 closed, assigned to Tornaco

[2019-12-28 13:45] abcdol opened #28 "能不能增加智能冻结应用直接安装代理应用的通知呢"
加个开关以后用户可以自主选择要不要自动生成代理应用，或者在代理应用界面增加多远批量生成，这样应该也会方便很多～

[2019-12-30 03:50] puzzle9 opened #29 "功能正常 日志一直打印 Report nativeInjectInputEvent"
![Screenshot_2019-12-30-11-43-25-117_github tornaco android thanos](https://user-images.githubusercontent.com/13518196/71567477-6f8e2a80-2afa-11ea-919e-374ea8cff9c3.jpg)
![Screenshot_2019-12-30-11-43-08-282_org meowcat edxposed manager](https://user-images.githubusercontent.com/13518196/71567478-70bf5780-2afa-11ea-9d9e-2161511706e1.jpg)

[2019-12-30 03:51] Tornaco commented on #29
@puzzle9 观察细致

[2019-12-30 03:54] Tornaco commented on #29
@puzzle9 回头去掉

[2019-12-31 03:51] Gladtbam commented on #21
还没添加这个功能吗？😭

[2019-12-31 04:12] Tornaco commented on #21
@sakurabot 等等。。

[2019-12-31 04:21] Sfssup commented on #13
偷能量不想让支付宝被杀，还有微信，QQ这些经常被杀，王者荣耀回到桌面看个短信就没了，4g内存很痛苦
还有就是很多需要后台的应用，比如音乐，ssr...经常被杀

[2019-12-31 04:23] Sfssup commented on #13
在新功能出来前你可以试试“进程锁”酷安搜索

[2019-12-31 04:24] Sfssup commented on #25
伪装包名是否可以达到隐藏root和Xposed的效果

[2019-12-31 05:43] Gladtbam commented on #13
锁住后台，然后用thanox隐藏最近任务卡片，就不会想划掉卡片了

[2020-01-03 04:32] Watson-Bao commented on #10
这个问题解决了吗

[2020-01-03 04:33] Tornaco commented on #10
@Watson-Bao 现在还没有手段定位问题原因。

[2020-01-03 05:00] Tornaco commented on #26
手动设置data/system/thanos的owner为1000

不要用钛备份等root备份app备份系统配置。

[2020-01-03 10:55] Gladtbam opened #30 "[功能建议]智能冻结快捷启用"
![IMG_20200103_182019](https://user-images.githubusercontent.com/49943258/71719722-2c192080-2e5a-11ea-9408-c10a5188eb21.jpg)
希望能如图一样添加智能冻结按钮，便于从阻止记录直接进入应用管理进行智能冻结App

[2020-01-03 12:48] Charles-Chan-HK commented on #10
1.0.2-pre 或以前版本可以通過Safetynet, 以後版本不行。

[2020-01-03 12:50] Tornaco commented on #10
：（

[2020-01-03 13:03] ppouerct commented on #27
查看Android官方adb文档，这个还是比较简单，就几条命令

[2020-01-03 13:13] MMCYY commented on #27
稍微了解了下，要先新建一个文档在目录里，再用shell去调用吧？这样还是麻烦了点，希望能够原生的支持。作者大神辛苦啦，期待功能上更新一下。

[2020-01-03 13:15] Tornaco commented on #27
@MMCYY 后续补充几个API吧。

[2020-01-03 13:17] MMCYY commented on #27
谢谢大神，您辛苦啦。👍

[2020-01-04 06:23] yuehun opened #31 "插件+号点击闪退"
清除了软件数据，恢复默认了配置，重启了手机还是闪退
Thanox 1.1.0，Android版本9.0
[2020-01-04.zip](https://github.com/Tornaco/Thanox/files/4021600/2020-01-04.zip)

[2020-01-04 06:24] Tornaco commented on #31
@yuehun data/system/thanos下的日志发一下

[2020-01-04 06:29] yuehun commented on #31
[logging.zip](https://github.com/Tornaco/Thanox/files/4021604/logging.zip)

[2020-01-04 09:21] yuehun commented on #31
@Tornaco 不是这里的问题，是所有的导入都不能用，我导入软件配置也闪退

[2020-01-04 12:56] yuehun commented on #31
![Screenshot_2020-01-04-20-56-26-453_github tornaco android thanos](https://user-images.githubusercontent.com/24507941/71765879-b635b780-2f34-11ea-97ae-9326f2bc01b7.jpg)
酷安最新版这样

[2020-01-05 07:34] penhuowa opened #32 "插件安装后点击闪退"
重启无效

[2020-01-05 07:37] penhuowa opened #33 "【功能建议】增加伪装定位功能"
建议增加单个应用的定位伪装功能。

[2020-01-06 06:16] 2220209876 opened #34 "[功能建议]隐私管理:某一XP模块只对某一APP生效,提升手机安全性。"
功能请求原因：
<a href="https://sm.ms/image/UigHsTD5uqo16Jc" target="_blank"><img src="https://i.loli.net/2020/01/06/UigHsTD5uqo16Jc.png" alt="XPYuanEn_2020-01-06_13-55-03.png"></a>
<a href="https://sm.ms/image/ufpTokcHjsxi7AD" target="_blank"><img src="https://i.loli.net/2020/01/06/ufpTokcHjsxi7AD.png" alt="XPYuanEn_2020-01-06_13-54-15.png"></a>
运动修改器、阻止运行劫持淘宝、京东等电商APP；应用控制器劫持微信后台刷量；某些模块劫持剪切板在支付宝推广红包等等…

[2020-01-06 07:19] Sentsuki commented on #23
我先关了吧，这个问题好奇怪

[2020-01-06 07:19] #23 closed, assigned to nobody

[2020-01-06 07:52] Tornaco commented on #23
@Yabalina 暂时没有遇到

[2020-01-06 08:20] Tornaco commented on #32
麻烦提供日志。

[2020-01-06 08:20] #32 closed, assigned to nobody

[2020-01-08 03:16] noone315 opened #35 "像綠色守護的GCM推送喚醒"
1.希望可以增加像綠色守護(xposed模式)的收到GCM推送就喚醒相關應用，應用場景如line或tg有人電話過來，如果用GCM代收無法在螢幕上跳出接聽電話的介面
2.希望可以增加像應用管理一樣的三指下滑截圖
希望這些功能可以做成插件

[2020-01-08 03:17] Tornaco commented on #35
@noone315 1. 情景模式后面会有PUSH API 可以支持。 2. 这些功能会做到插件里。

[2020-01-08 10:15] abcdol commented on #34
这个需求应该是edxp管理器那边提

[2020-01-08 10:17] abcdol commented on #33
模拟位置 (FakeLocation) - http://repo.xposed.info/module/com.rong.xposed.fakelocation

[2020-01-08 10:19] abcdol commented on #20
https://www.coolapk.com/apk/io.github.deweyreed.clipboardcleaner

[2020-01-08 13:22] Sentsuki commented on #23
改用太极几天好像没问题了，可能是edxp的问题吧

[2020-01-08 15:13] noone315 commented on #35
情境模式的push api與變量一起使用時無效...

[2020-01-09 03:21] Tornaco commented on #31
@yuehun 最新版呢

[2020-01-09 12:04] Tornaco commented on #31
暂时关闭。如果有问题再打开。

[2020-01-09 12:04] #31 closed, assigned to Tornaco

[2020-01-09 12:05] Tornaco commented on #35
什么变量？

[2020-01-09 12:06] Tornaco commented on #21
1.1.0 rc 已经支持

[2020-01-09 12:06] #21 closed, assigned to Tornaco

[2020-01-09 12:16] noone315 commented on #35
全局變量

[2020-01-09 12:17] Tornaco commented on #35
@noone315 具体什么情况？详细些？

[2020-01-09 12:19] noone315 commented on #35
像下面的代碼完全沒效果
[
  {
    "name": "GCM Push",
    "description": "感知GCM FCM推送",
    "priority": 2,
    "condition": "fcmPushMessageArrived == true && globalVarOf$GCMapps.contains(to)",
    "actions": [
      "activity.launchProcessForPackage(to);"
    ]
  }
]

[2020-01-09 12:20] Tornaco commented on #35
@noone315 [
  {
    "name": "GCM Push",
    "description": "感知GCM FCM推送",
    "priority": 2,
    "condition": "fcmPushMessageArrived == true && globalVarOf$GCMapps.contains(pkgName)",
    "actions": [
      "activity.launchProcessForPackage(pkgName);"
    ]
  }
]

[2020-01-09 12:20] Tornaco commented on #35
@noone315 写错了肯定没效果。注意包名参数在文档里写的是pkgName

[2020-01-09 12:31] #35 closed, assigned to Tornaco

[2020-01-10 14:33] Jkkoi commented on #33
没更新了

[2020-01-12 13:18] GitHubd3b7c commented on #13
同建议
个人的使用场景:miui国内版安装Google框架后杀Google服务的后台,优化白名单后台锁住都不行,FCM照样会断掉,以前使用一款Xposed插件锁住后台但是到了Android 10插件失效了

[2020-01-12 16:13] GitHubd3b7c opened #36 "[功能建议]情景模式"findAndClickViewByText"功能增加根据ViewID点击"
根据文字自己使用有时并不准确,且一些需要点击的地方并不包含文字,不知道作者对于这个功能有没有开发计划,还是说有这个功能但是我看文档的时候忽略了

[2020-01-12 23:17] Tornaco commented on #36
@shawnleetttt 之前确实没有。需要的话就加上。一直没人提哈哈

[2020-01-13 00:18] dxl1236 opened #37 "能否在应用的服务管理界面增加一键添加服务到规则的功能"
目前只能手动复制后再去规则界面添加

[2020-01-13 06:57] jwcloverain opened #38 "安装thanox后,safetynet检测不通过"
安装thanox并在edxp激活模块后，safetynet检测不通过，但取消激活模块后可通过。
thanox版本：1.1.0-prc
OS: 小米note3 MIUI 11.0.3 Android 9.0

[2020-01-13 06:59] JasonKhew96 commented on #38
@rainingdays （已知，范围太广，无法排查

[2020-01-13 07:03] #38 closed, assigned to nobody

[2020-01-13 08:04] dzshzx opened #39 "「功能请求」在权限管理页面中增加“显示toast”权限"
部分应用会频繁跳出toast，申请增加“显示toast”权限。

[2020-01-13 13:15] ppouerct opened #40 "［功能建议］希望有一个 “禁止跳转”功能"
在点击某个链接时会默认启动某个应用，或者是提醒你选择某个应用打开，正常情况下用户只想直接打开链接而不是用某个应用打开，而Android自带的 “默认打开链接” 几乎无效，很少应用有效果，希望添加一个功能用于设置默认打开方式，可以设置禁止某应用打开任何链接，或者是设置某应用中任何连接都不跳转

[2020-01-16 06:04] Sentsuki opened #41 "隐匿功能不起作用"
Thanox正常激活，其他功能正常。开启隐匿模式之后拦截次数始终为0 ，打开APP时通知栏有隐匿模式的通知，但使用Devcheck等应用测试后发现读取到的是真实数据。 重启、清除数据重试均不生效。

（截图）
![photo_2020-01-13_14-36-11](https://user-images.githubusercontent.com/52487960/72496896-f31f7980-3865-11ea-9e0c-220e7b27453a.jpg)

**Version（发现问题的版本）:**
 - OS: LineageOS 16  Android 9 小米6
 - Magisk 20.3   太极magisk 6.1.6  Thanox Pro 保持最新

** Logs**（日志文件）
[2020-01-15.txt](https://github.com/Torn

[2020-01-16 12:34] Gladtbam commented on #21
![photo_2020-01-16_20-30-28](https://user-images.githubusercontent.com/49943258/72525526-524db000-389f-11ea-9550-887225179483.jpg)
希望添加的符号能放在图示这里，现有这样对提高效率帮助不大

[2020-01-16 12:57] Gladtbam opened #42 "[功能建议]硬件操作能力情景模式功能增强"
1.请问能否增加**连接指定WIFI或者蓝牙**时执行指定操作的功能

2.坐标点击能否增加设定**延时功能**，因为可能因为各种原因，APP无法在执行点击操作时及时进入需要执行点击操作的界面，加入延时可以在一定程度上缓解这种情况

3.请问能否更新一下情景模式手册

[2020-01-16 14:03] Tornaco commented on #41
@Yabalina Hello 需要提供data/system/thanos下的日志。这输入核心层问题。

[2020-01-16 14:04] Tornaco commented on #36
请测试最新1.1.1版本，https://tornaco.github.io/Thanox/2019-12-02-Profile/#055-ui

[2020-01-16 14:25] Tornaco commented on #39
请尝试权限中的  `显示问候语`

[2020-01-16 23:55] dxl1236 commented on #37
作者总是默默地把功能加上去了
1.1.1已经支持直接添加服务到乖巧

[2020-01-17 00:19] dxl1236 commented on #21
如果大家对这功能用得多，我觉得作者可以考虑把语法规则关键词也做进去，有点类似于autojs，直接点击选取关键词

[2020-01-17 05:59] Sentsuki commented on #41
[thanox-core.txt](https://github.com/Tornaco/Thanox/files/4075257/thanox-core.txt)
已上传，顺便再反映一个小bug，当开启代收插件时，core的日志不会生成。。。

[2020-01-19 14:29] #39 closed, assigned to nobody

[2020-01-19 15:04] zhizhi0225 opened #43 "无法恢复备份"
恢复备份老是提示unkonw component，删除那个文件夹跟改文件夹权限都试过了也不行。[日志](https://www.lanzous.com/i8rpi1e)
![Screenshot_20200119-152525](https://user-images.githubusercontent.com/56391314/72683189-166d5180-3b10-11ea-8744-cf7b1ccdf9bf.jpg)

[2020-01-19 15:53] AkinoKaede commented on #6
同求，如果不单独配置 无法把各个应用中的信息隔离开来
（希望添加一个随机生成 手动数长度很累…

[2020-01-20 10:48] isnthzy opened #44 "智能冻结的应用启动后应该隐藏图标"
抽屉式桌面和文件夹桌面在用代理应用启动应用后桌面会出现两个图标，影响布局。

[2020-01-20 13:23] AkinoKaede opened #45 "点击插件卡死"
**Describe the bug（现象描述）**
A clear and concise description of what the bug is.（简洁的描述该bug的现象）
安装插件重启后，点击插件 Thanox卡死.
**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
1. 安装消息代收,并启用.
2. 重启手机
3. 点击消息代收.

**Expected behavior**（期望结果）
A clear and concise description of what you expected to happen.（描述一下期望的结果）

**Screenshots**（截图）
If applicable, add screenshots to help explain your problem.（通过

[2020-01-20 13:24] AkinoKaede commented on #45
补充日志 https://del.dog/utestipayf.txt

[2020-01-20 13:46] Tornaco commented on #37
1.1.1 已经支持。暂时关闭问题。

[2020-01-20 13:46] #37 closed, assigned to nobody

[2020-01-20 13:46] Tornaco commented on #36
暂时关闭，有问题再讨论。

[2020-01-20 13:46] #36 closed, assigned to nobody

[2020-01-20 13:48] Tornaco commented on #33
比较有意思，抽空研究下方案。

上面那个核心代码未开源。不具备参考意义。

[2020-01-20 13:51] Tornaco commented on #45
先Mark一下关键错误

[code]

[2020-01-20 13:54] Tornaco commented on #43
@zhizhi0225 麻烦再提供一下 data/system/thanos下的Logging文件夹。

[2020-01-20 14:31] zhizhi0225 commented on #43
报错提示可以忽略，重启它就恢复备份了，但是用别人的备份它会隔几分钟就自动重启。

[2020-01-20 14:33] Tornaco commented on #43
@zhizhi0225 把那个备份文件分享下。

[2020-01-20 14:38] zhizhi0225 commented on #43
https://www.coolapk.com/feed/15908512?shareKey=ZTAzODdmZDliOWU3NWUyNWJhYjg~&shareUid=1115022&shareFrom=com.coolapk.market_10.0.1-beta2    这个帖子下的好多酷友都遇到了这个问题。

[2020-01-20 14:40] Tornaco commented on #43
@zhizhi0225 👌🏿

[2020-01-20 14:41] zhizhi0225 commented on #43
嗯嗯，麻烦您了

[2020-01-20 14:52] Tornaco commented on #44
Please test v1.1.2-b2

[2020-01-21 01:31] Tornaco commented on #43
@zhizhi0225 还是需要上传一下data/system/thanos下的日志。我这里观察一段时间没复现。用的同备份。

[2020-01-21 02:55] zhizhi0225 commented on #43
它一直重启，然后我就恢复默认设置了，没有用备份，估计没有日志。

[2020-01-21 02:59] zhizhi0225 commented on #43
你看看吧，不一定有用https://www.lanzous.com/i8sj6ta

[2020-01-21 09:34] AkinoKaede commented on #45
问题解决，感谢

[2020-01-21 09:34] #45 closed, assigned to Tornaco

[2020-01-21 15:29] isnthzy opened #46 "在控制面板中不显示代理应用（开关）"
![Screenshot_2020-01-21-23-28-23-273_github tornaco android thanos](https://user-images.githubusercontent.com/56492968/72818068-cde79c80-3ca5-11ea-8b17-ca596b3ba0cb.png)
如图，会夹杂在各类应用中间，让人感觉不舒服

[2020-01-23 01:24] Tornaco commented on #29
新版本1.1.2-x已经去除。如还有问题再讨论。

[2020-01-23 01:24] #29 closed, assigned to Tornaco

[2020-01-23 01:26] Tornaco commented on #41
@Yabalina Thanox备份导出来，分享一下。看下是不是没配置需要隐藏的Field.

[2020-01-24 16:12] Sentsuki commented on #41
[Thanox-Backup-2020-01-25-00:10:02.zip](https://github.com/Tornaco/Thanox/files/4109419/Thanox-Backup-2020-01-25-00.10.02.zip)
[thanox-core.txt](https://github.com/Tornaco/Thanox/files/4109436/thanox-core.txt)
顺便上传这几天的日志

[2020-01-25 14:07] 2220209876 opened #47 "[功能建议]更新后如果不重启增加确定按钮可以操作软件"
![Screenshot_20200125-220347_Thanox_pro](https://user-images.githubusercontent.com/7346652/73122359-e4039e80-3fbe-11ea-86fa-da6edfed79ac.png)

这个提示要不要加个确定按钮，确定完还可以操作软件，要是更新软件、更新插件，这样要重启两次

[2020-01-26 00:56] Tornaco commented on #44
有问题请沟通。

[2020-01-26 00:56] #44 closed, assigned to Tornaco

[2020-01-26 01:16] Tornaco commented on #41
@Yabalina DevCheck 关于设备ID的值目前有三个，具体是哪个不生效？还是都不生效？

[2020-01-26 01:20] Tornaco commented on #42
@sakurabot 请先测试下蓝牙功能。

[2020-01-26 03:05] Gladtbam commented on #42
已经在写规则测试了,很好用，就是略显复杂，部分参数类型不知道该填什么，比如，蓝牙电量剩余20%，我应该用20表示，还是20%，或者其它方法表示？

[2020-01-26 07:05] Sentsuki commented on #41
IMEI和IMEI2是真实的，Device ID既不是真实的也不是我设定的（均以thanox显示为准）
附上最新版本日志
[thanox-core.txt](https://github.com/Tornaco/Thanox/files/4113213/thanox-core.txt)

[2020-01-27 04:14] Tornaco commented on #1
1.1.3 已经支持。暂时关闭。

[2020-01-27 04:14] #1 closed, assigned to Tornaco

[2020-01-27 04:14] Tornaco commented on #46
1.1.3 支持筛选。暂时关闭。

[2020-01-27 04:14] #46 closed, assigned to Tornaco

[2020-01-27 04:15] Tornaco commented on #47
1.1.3 支持。暂时关闭。

[2020-01-27 04:15] #47 closed, assigned to Tornaco

[2020-01-27 04:15] Tornaco commented on #22
1.1.3 支持。暂时关闭。

[2020-01-27 04:15] #22 closed, assigned to Tornaco

[2020-01-27 13:46] sandianyue commented on #26
大佬我修改了thanos文件夹拥有者 只是解决了备份权限被拒的问题 可以正常备份了 但是重启还是会丢失配置

[2020-01-27 16:49] Gladtbam opened #48 "[功能建议]情景模式增加额外的对 手电筒的硬件操作"
希望能增加对手电筒的开关的控制操作（这是我个人的请求）

附上酷友 @翔呜呜的请求：实现滑盖或者AI键触发手电筒开关的action,现在主要需要硬件控制api里增加对手电筒开关的控制。😋😋（最好是前后手电筒单独可控）

[2020-01-28 01:42] Tornaco commented on #26
@sandianyue 截图看下文件夹权限。 另外下面有日志吗？

[2020-01-28 02:55] Tornaco commented on #48
@sakurabot 请测试1.1.4-beta1 https://github.com/Tornaco/Thanox/releases/tag/v1.1.4-beta1

[2020-01-29 05:21] long45343 opened #49 "应用锁插件"
能否增加一个下像之前应用管理里的应用锁的插件呢？本人之前一直使用应用管理，但由于手机坏了换新手机时没有应用管理，所以希望可以添加一下这个插件😂

[2020-01-29 10:55] wuweixiongmao opened #50 "锁屏清理和后台运行分开"
因为软件原因，我如果勾选保留后台，那么划卡清理掉这些社交软件还是会有消息提醒。

我希望微信，QQ这些社交软件划卡清理掉，而不是因为返回桌面因为手机锁屏清理掉。

因此建议将功能分成 锁屏清理 和 常驻后台两个
![Screenshot_20200129-184611__01](https://user-images.githubusercontent.com/60428037/73350887-7f14a680-4253-11ea-885e-8ba8918e017d.jpg)

[2020-01-29 11:15] AkinoKaede commented on #50
@wuweixiongmao 可以关闭后台运行

[2020-01-29 11:19] wuweixiongmao commented on #50
但我挺喜欢锁屏清理这个功能😂

[2020-01-29 11:27] Gladtbam commented on #50
需要划卡清理掉软件的话可以配合使用情景模式来实现

[2020-01-29 11:55] Tornaco commented on #50
@wuweixiongmao 划卡清理有专门的功能入口：任务清理  这个任务清理有问题吗？

[2020-01-29 11:58] wuweixiongmao commented on #50
锁屏清理打开的话，划卡会保留这个软件的后台，使用起来并不方便

[2020-01-29 11:58] wuweixiongmao commented on #50
太复杂了，看不懂🤣

[2020-01-29 13:03] Tornaco commented on #50
@wuweixiongmao 不会保留啊 那里介绍说会保留的

[2020-01-29 13:05] wuweixiongmao commented on #50
看我发的图，会保留的

[2020-01-29 13:56] Tornaco commented on #50
@wuweixiongmao 。。。。。清理后台是指锁屏清理和一键加速，你说的清理应该叫任务清理 跟后台没有直接关系

[2020-01-29 13:59] wuweixiongmao commented on #50
但我要锁屏清理了，微信和QQ是勾还是不勾，勾了划卡没效果，还是弹消息，不勾锁屏就清掉了

[2020-01-29 14:01] Tornaco commented on #50
@wuweixiongmao 划卡没效果的话就要怀疑是不是任务清理功能有问题，需要提供日志。

[2020-01-29 14:03] wuweixiongmao commented on #50
看我发的图，软件设计的就是保存后台了划卡就清不掉了，你可以试一下

[2020-01-29 14:03] oevery commented on #50
@wuweixiongmao 我比开发者还懂这个软件系列

[2020-01-29 14:08] wuweixiongmao commented on #50
😂

[2020-01-30 06:34] isnthzy opened #51 "待机自动任务"
设置延时，到一定时间后自动执行某些任务，如10分钟后自动关闭wifi,gps,数据,梯子等等

[2020-01-30 07:14] JiZhi-Error opened #52 "[功能建议]希望查看正在运行应用时显示多开的应用"
手机一加7p，双开 QQ 微信，在我同时打开QQ 和双开的QQ时，查看运行应用里只有主用户运行的QQ，此时后台两个QQ都在运行，当我长按杀死QQ时，只有主用户的QQ杀死的，双开的QQ没有被杀死，希望加个提示或者增加显示

[2020-01-30 07:15] JiZhi-Error commented on #52
一加7p双开的用户id是999

[2020-01-30 07:35] JiZhi-Error opened #53 "一加7p上卡片模糊功能被遮挡"
一加7p任务栏有个时时截图的东西。开启卡片模糊效果能看到，但是被一加那坑爹的截图给覆盖了，在缩放时一瞬间还是能看到模糊效果的

[2020-01-31 11:09] hanxin1997 opened #54 "想问一下组件禁用的方式"
是否和写轮眼那种模式 如何还原成原来。
卸载被thanox禁用组件的软件在安装是不是还原了。

[2020-01-31 12:44] sandianyue opened #55 "关于show short toast的功能"
老大 我仔细看了一遍你的文档 只有这个show short/long toast  文档里标注的含义是休眠/唤醒 涉及参数是延迟的毫秒数  但是下面的所有示例貌似都和这些无关  感觉好像是用来在屏幕上显示对动作进行状态的注释 ？？？
求老大解答一番
谢谢
砰砰砰（莫名想到了dingdingding wengwengweng 233）

[2020-01-31 12:49] sandianyue commented on #26
老大 不好意思  回复完之后 莫名又好了 之前每次重启确实都会 权限也给到了 暂时无法帮助复现了

[2020-01-31 14:28] sandianyue opened #56 "加入时间变量"
如何加入时间变量 比方说我的情景需求是打开微信/爱奇艺/XX 会触发蓝牙开启 120s内无连接的话就关闭 又或者微信/爱奇艺/XX在前台 10分钟开启一次蓝牙 60s无连接则关闭
        ps：文档里似乎没有时间变量 请求老大支援-。-

[2020-02-01 00:54] Tornaco commented on #55
@sandianyue 文档有错误，已经纠正。

[2020-02-01 00:56] Tornaco commented on #48
已实现，若无问题暂时关闭。

[2020-02-01 00:56] #48 closed, assigned to Tornaco

[2020-02-01 02:21] sandianyue commented on #55
好的

[2020-02-01 02:21] #55 closed, assigned to Tornaco

[2020-02-01 02:31] sandianyue commented on #56
又仔细看了一遍文档 看到文档中是有时间参数的 "power.sleep(0)",
                                                                               "power.wakeup(1000)"
尝试在()加入参数 enableLocation(3000)  enableBT(3000)似乎都不生效？似乎只有sleep wakeup支援了时间参数

[2020-02-01 08:23] JiZhi-Error opened #57 "在运行里看不到进程"
手机一加7p 我现在用应用商店下载游戏呢，但是查看当前运行的应用时没有应用商店，我在系统开发者模式里查看能看到，具体咋复现不太清楚，有的时候能卡出来有的时候卡不出来，具体操作看录屏

[logging_2.zip](https://github.com/Tornaco/Thanox/files/4142318/logging_2.zip)

[QQ视频20200201162253.zip](https://github.com/Tornaco/Thanox/files/4142326/QQ.20200201162253.zip)

[2020-02-01 08:29] JiZhi-Error opened #58 "在查看当前运行进程时滑动列表闪退"
在查看当前运行进程时滑动列表闪退，随便滑动就闪退，具体 复现看录屏
[QQ视频20200201162846.zip](https://github.com/Tornaco/Thanox/files/4142331/QQ.20200201162846.zip)

[2020-02-01 16:07] Agaveo opened #59 "关于选项点击位置的建议"
比如乖巧模式里边，选择系统媒体，系统电话，系统核心这里能把点击选中设置为整行吗？最后一个全部就两个字，必须要点到字上才能点击，感谢您的辛苦开发

[2020-02-03 07:31] zoupeng007 opened #60 "微信代收 消息重复推送 即使关闭网络也会显示推送消息打开微信又没有消息"
**Describe the bug（现象描述）**
A clear and concise description of what the bug is.（简洁的描述该bug的现象）

**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
1. Go to '...'（进入XXX）
2. Click on '....'（点击XXX）
3. Scroll down to '....'（下滑到XXX）
4. See error（发现错误XXX）

**Expected behavior**（期望结果）
A clear and concise description of what you expected to happen.（描述一下期望的结果）

**Screenshots**（截图）
If applicable, a

[2020-02-03 07:37] zoupeng007 opened #61 "应用管理 管理 活动 服务 广播 能不能加个全选和反选开关"
![Screenshot_20200203-153524](https://user-images.githubusercontent.com/60597505/73633946-efc82280-469a-11ea-8e02-b94f6357294e.jpg)
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describ

[2020-02-03 07:40] Tornaco commented on #61
@zoupeng007 最新版本没有吗

[2020-02-03 07:48] zoupeng007 opened #62 "能不能加个绿色化开关像原来应用管理那样"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-02-03 10:27] Vstory opened #63 "[功能建议]『权限管理』增加日志记录"
**Is your feature request related to a problem? Please describe.**
『权限管理』能否支持日志，日志记录APP调用权限被**拒绝**以及**允许**的情况。

[2020-02-03 10:34] Vstory opened #64 "[功能建议]隐匿功能的数据可以随机生成"
**Is your feature request related to a problem? Please describe.**
隐匿功能中的设备id、电话号码等一系列选项，能否支持随机生成数值？

[2020-02-03 12:56] abcdol commented on #33
现在软件一般是基站+gps双定位 gps定位好修改 基站定位需要确切基站信息 欺骗软件让软件觉得自己是WiFi访问从而跳过基站定位只选择gps定位可能是一个可行的方案😂这个功能其实作用很大 作者加油😂

[2020-02-04 06:25] zoupeng007 commented on #61
我用的1.1.3可能没有更新版本吧

---原始邮件---
发件人: "Potesta de Tornaco"<notifications@github.com&gt;
发送时间: 2020年2月3日(周一) 下午3:40
收件人: "Tornaco/Thanox"<Thanox@noreply.github.com&gt;;
抄送: "Mention"<mention@noreply.github.com&gt;;"zoupeng007"<446012800@qq.com&gt;;
主题: Re: [Tornaco/Thanox] 应用管理 管理  活动  服务 广播 能不能加个全选和反选开关 (#61)

@zoupeng007 最新版本没有吗

—
You are receiving this because you were mentioned.
Reply to this ema

[2020-02-05 05:15] a1623382 opened #65 "最新的play版thanox会导致自动重启bug"
**Describe the bug（现象描述）**
A clear and concise description of what the bug is.（简洁的描述该bug的现象）
最新的play版thanox会导致自动软重启bug，原因不明
**To Reproduce**（如何复现）
触发没有规律，暂时多出现在打开app时
**Version（发现问题的版本）:**
 - OS: 氧OS 公测8 Android 10.0
 - Version 1.1.4-row
** Logs**（日志文件）
已在tg私发

[2020-02-05 05:36] Gladtbam commented on #42
WiFi能否增加判断WiFi是否连接的接口

[2020-02-05 06:32] Jkkoi opened #66 "禁用读取软件列表权限后，部分软件依然能读取应用列表"
**Describe the bug（现象描述）**
禁用读取软件列表权限后，部分软件依然能读取应用列表
已经通过“存储重定向”软件排除检测/Android/data/方式读取

**Expected behavior**（期望结果）
软件无法读取应用列表

**Screenshots**（截图）
![Screenshot_20200205105441](https://user-images.githubusercontent.com/39653010/73816607-06e64c00-4824-11ea-85cb-d1468f77a9bc.png)
![Screenshot_20200205105524](https://user-images.githubusercontent.com/39653010/73816611-0a79d300-4824-11ea-9394-0d5f4c

[2020-02-05 06:33] a1623382 commented on #65
现发现自动软重启似乎是随机的，与是否打开app无关

[2020-02-05 06:44] Tornaco commented on #65
@a1623382  试试最新版114的apk重新上传了，有问题再发下日志。

[2020-02-06 04:13] Vstory opened #67 "[功能建议]卸载重装应用后，恢复对其的权限配置"
**Is your feature request related to a problem? Please describe.**

卸载应用后，能否保留在 Thanox Pro 对该APP的配置。
配置包含：
包括配置项(后台启动、后台运行)这些选项的开关、权限管理中的配置等配置。

**Describe the solution you'd like**

卸载应用后，能否保留在 Thanox Pro 对该APP的配置，以便下次安装时，应用对它的配置。
目前的『策略与模板』功能确实可以对应用，应用模板配置，但这不适用与所有应用。

![需要恢复的权限项](https://i.loli.net/2020/02/06/n26uOtkHaABUiKS.jpg)

**Describe alternatives you've considered**
无

**Additional cont

[2020-02-06 07:11] penhuowa commented on #64
就像应用变量一样吗，感觉应该集合多个模块，不用下载那么多东西，可以借鉴一下，丰富thanox的功能。

[2020-02-06 07:14] Vstory commented on #64
是的，和应用变量一样。
我看酷安 Thanox 评论区里，以前的应用管理好像是有这个功能。

[2020-02-06 07:19] penhuowa opened #68 "建议增加应用锁"
可以对单个应用进行伪装和加应用锁双重保障，不怕某人检查手机，伪装可以替换应用名称图标，对应用加密码等，这个实现也有很多软件，但是真的希望灭霸集合很多功能，不必下这么多的软件，也相对安全一点。

[2020-02-07 03:57] Gladtbam opened #69 "［功能建议］情景模式全局变量"
![Screenshot_2020-02-07-11-48-58-635_github tornaco android thanos pro](https://user-images.githubusercontent.com/49943258/73999644-5782b400-49a0-11ea-9669-276b712710ca.jpg)
1.希望能在截图截面增加*搜索*全局变量应用包名的功能，和已选取应用取消选取功能，便于全局变量内包名过多时删减应用

2.增加删除某个全局变量的功能

[2020-02-07 14:43] abcdol commented on #33
又看了看fake的方案……使用fake的时候lte会滑落到1X……感觉上像是欺骗手机让手机以为自己在使用2g网络从而不进行网络位置扫描

[2020-02-07 18:33] danielly2020 commented on #63
希望有这个功能，像应用管理一样，以前一直用的应用管理，现在用新版的有点不习惯，少了一些功能，应用锁也没了，权限管理没有全选反选选项，希望能加上，谢谢。

[2020-02-07 18:57] danielly2020 commented on #61
最新版有了，但是权限管理里面没有，希望加上。

[2020-02-08 16:18] Gladtbam commented on #61
能增加的多选操作的功能吗？包括多选开启，多选关闭和多选复制  @Tornaco

[2020-02-09 04:39] Vstory opened #70 "[功能建议]后台启动功能把『自启动』和『关联启动』功能分开"
**Is your feature request related to a problem? Please describe.**
【后台启动】能不能把『自启动』和『关联启动』功能分开？

**Describe the solution you'd like**
目前在【后台启动】里禁止后，导致『关联启动』也不行。
有的软件不需要『自启动』，但是需要『关联启动』，目前只能全部禁止。

**Describe alternatives you've considered**
无

**Additional context**
无

[2020-02-09 04:42] Gladtbam commented on #70
关联启动可以写规则，规则的优先级更高
![Screenshot_2020-02-09-12-42-29-047_github tornaco android thanos pro](https://user-images.githubusercontent.com/49943258/74096407-ac0d6700-4b39-11ea-8847-28dba4bde42b.jpg)

[2020-02-09 05:00] Vstory opened #71 "更新应用内过时的文档链接"
**Describe the bug（现象描述）**
后台启动功能里的『关联启动』指南文档链接已过时。

**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
1. Go to '后台启动'（进入XXX）
2. Click on '右上角'（点击XXX）
3. Scroll down to '设置关联启动规则，点击指南'（下滑到XXX）
4. See error，访问指南页面为空。（发现错误XXX）

[2020-02-09 05:07] Vstory commented on #70
查看了下指南，指南页为空https://tornaco.github.io/X-APM/jekyll/2018/07/14/Start-Rules.html

在应用关于页，找到的指南，里面的规则添加方式，也和软件不同。
https://tornaco.github.io/Thanox/2018-07-15-Start-Blocker/
等待开发者更新文档

[2020-02-09 05:38] Gladtbam commented on #70
https://tornaco.github.io/Thanox/2018-07-14-Start-Rules/
关联启动规则在这个网页

[2020-02-09 07:01] Vstory commented on #70
感谢😘😚😗😙

[2020-02-09 08:04] isnthzy opened #72 "无法恢复备份2（新bug）"
在使用了应用程序组件重新后如未安装相应的app则无法恢复备份

[2020-02-09 11:47] ICMYS commented on #72
的确存在这个问题，临时解决方案：
打开备份文件（是个压缩包）
编辑其中的disabled_components.xml
去除已卸载的app组件

[2020-02-09 11:59] isnthzy commented on #72
这个备份并不急着用，或许可以让作者把不能成功导入的去掉，而不是提示错误并停止导入。这些错误提示应该打印在日志中，因为toast提示普通用户无法看懂

[2020-02-09 12:02] isnthzy commented on #72
这个帖子爆出了大量的问题
https://www.coolapk.com/feed/16343798?shareKey=OTk0N2MxYjU2YTlmNWUzZmY0NzA~&shareUid=1014434&shareFrom=com.coolapk.market_10.0

[2020-02-09 14:42] fgprodigal commented on #10
这个版本之后，用太极也会导致部分太极中的软件打不开

[2020-02-12 14:48] #71 closed, assigned to nobody

[2020-02-12 14:49] Vstory commented on #72
都用这个了，还是懂些的吧🤔

[2020-02-13 00:14] reov opened #73 "【功能建议】"
- 后台卡片模糊的程度太低了，还是能看出大概，希望能添加模糊程度的控制
- 希望能添加排序，关闭的应用在底部，出现问题排查的时候需要滑到底不太方便
- 后台卡片模糊的生效不及时，模糊应用在使用页面时返回最近任务时是不生效的

[2020-02-13 14:13] #26 closed, assigned to Tornaco

[2020-02-15 02:38] pkwfx opened #74 "个人一些综合建议 关于权限提醒 opps入口等"
个人在酷安反馈的
https://www.coolapk.com/feed/16512191?shareKey=NmMyZDZiZDIxYWEzNWU0NzU2Y2I~&shareUid=2763501&shareFrom=com.coolapk.market_10.0.1

从个人(强迫症？实用？人性化？)角度，提出一些需求建议，采纳与否作者看着办就可以。
图1，建议增加一个前台允许的请求提醒，APP运行时可以操作权限。结合图2“权限管理”，比如我把所以第三方APP获取相机权限都禁止了，然后希望某些APP比如微信QQ支付宝等，这些是需要相机权限的，我打开时能提醒我是否一直允许权限或者仅仅允许此次。很多魔改系统，比如MIUI装APP后会默认允许调用相机等权限的。自己一个去改，很折腾…

图2“OP提醒”是否考虑增加日志？

图3能否开一个单独的入口在首页？方便一个个APP进去就可以批量操作

[2020-02-15 10:17] Tornaco commented on #72
Fix since 1.1.6-beta1

[2020-02-15 10:17] #72 closed, assigned to Tornaco

[2020-02-15 10:25] Tornaco commented on #69
2. 编辑页面可以删除。

[2020-02-15 10:32] Gladtbam commented on #69
第2点昨天晚上才发现的😅

[2020-02-15 12:59] penhuowa opened #75 "应用锁无效。"
设置以后，应用锁不生效！

[2020-02-15 14:15] Tornaco commented on #75
请按照标准问题反馈模板提供信息。

[2020-02-15 14:15] #75 closed, assigned to nobody

[2020-02-15 14:32] liqideqq opened #76 "[功能建议]后台启动功能把自启动和关联启动功能分开"
自启和关联功能能不能分开吗?在后台启动里禁止后，导致关联启动一起不行。对小白不友好，不会写规则很麻烦，建议分开功能，用的起来方便操作。如果分开了，让许多的人喜欢上软件啊！

[2020-02-15 14:45] Vstory commented on #70
#76 相同功能建议

[2020-02-16 00:30] jinrikuaile opened #77 "[功能建议] 希望能增加应用管理的强制打盹模式"
很好用。强制打盹。

[2020-02-16 07:14] a876595353 opened #78 "希望为情景模式增加time.sleep()函数"
问题描述：编写情景模式时未找到任何“等待”的函数。

需求示例：比如知乎的广告页，启动后会延迟0.5-1s出现。如果只是用find text去查找“跳过广告”，当thanox查找时，广告页未出现，当广告页出现后，情景模式已经查找完毕了。

需求：我需要一个time.sleep(0.5)这样的函数。

[2020-02-17 08:15] sky96111 opened #79 "应用锁适配瓶下指纹"
![](https://i.niupic.com/images/2020/02/17/6wc1.jpg)

在屏下指纹手机上，指纹传感器会遮挡住图形密码或数字密码的几个点。建议屏下指纹手机可以主动选择图形和pin码键盘向上偏移量

[2020-02-17 13:53] Gladtbam opened #80 "[问题反馈]智能冻结和冻结图标重新出现"
已冻结或者已智能冻结的应用在更新后图标会重新在启动器中出现
已冻结的应用在应用管理界面依然会显示已冻结的字样，但在应用信息则显示应用已启用
已智能冻结的应用需要重新智能冻结
![IMG_20200217_215149](https://user-images.githubusercontent.com/49943258/74659792-ed53e580-51cf-11ea-96f1-3e47f9f0a12b.jpg)
![IMG_20200217_215237](https://user-images.githubusercontent.com/49943258/74659796-efb63f80-51cf-11ea-98cb-5b3c2ca43581.jpg)
![IMG_20200217_215259](https://user-images.githubusercontent.co

[2020-02-18 01:33] willdownup opened #81 "建议"
希望能加入网络防火墙吧，在原来的应用管理xposed就存在这个实验版的功能，希望能将其完善做到thanox里面，或者将其作为一个插件，我觉得也是不错的选择😂

[2020-02-18 04:03] Tornaco commented on #68
Done

[2020-02-18 04:03] #68 closed, assigned to Tornaco

[2020-02-18 04:04] Tornaco commented on #58
Fixed

[2020-02-18 04:04] #58 closed, assigned to Tornaco

[2020-02-18 11:57] OnlyLoveFei opened #82 "希望可以将，应用的FC权限，加到权限管理当中。"

[2020-02-18 11:57] #82 closed, assigned to nobody

[2020-02-19 05:51] isnthzy opened #83 "在隐匿中隐匿特定app"
希望加一个隐匿特定app的隐匿方案

[2020-02-19 06:12] Gladtbam commented on #83
不是本来就是对选定的app才进行隐匿的吗？

[2020-02-19 06:15] #30 closed, assigned to Tornaco, Gladtbam

[2020-02-19 06:50] Waldenmuxi opened #84 "放置不动自动重启"
自动重启到rec，尝试重启后循环回到官方rec，双清无效，只能格式化重新进入系统，一加6安卓Q公测第四版

[2020-02-19 16:00] inused opened #85 "情景模式 sh.exe 无法执行sh命令"
**Describe the bug（现象描述）**

情景模式 Profile 使用 sh.exe 无法执行shell代码

**To Reproduce**（如何复现）

1. 创建情景模式

    a. 条件：应用切换&切换到的应用为Google play 且 (Google服务框架或者play服务被冻结)
    b. 操作：启用Google服务框架和play服务同时使用sh.exe运行shell命令开启v2rayNG

2. 运行

    a. 启动Google play
    b. 被冻结的Google服务框架和play服务启用成功
    c. v2rayNG未开启
    d. "am start -n com.v2ray.ang/com.v2ray.ang.ui.ScSwitchActivity" 命令使用 adb(无需root权限) 和 手机终端中(需root权限

[2020-02-19 16:30] Gladtbam opened #86 "[问题反馈]情景模式写代码卡死"
在情景模式代码编辑界面停留时间太长Thanox会卡死，已经成功复现
![Screenshot_2020-02-20-00-25-44-633_github tornaco android thanos pro](https://user-images.githubusercontent.com/49943258/74852914-2c249f80-5378-11ea-94ea-6282c74b2c4e.jpg)
![Screenshot_2020-02-20-00-26-43-660_github tornaco android thanos pro](https://user-images.githubusercontent.com/49943258/74852925-2f1f9000-5378-11ea-8a14-ee1e2116ad44.jpg)

[2020-02-20 08:29] #42 closed, assigned to Tornaco

[2020-02-21 02:53] Marblog opened #87 "一加7Pro，AndroidQ无法激活模块"
![Screenshot_20200221-105217](https://user-images.githubusercontent.com/22953256/75000064-3cf71300-5455-11ea-9f63-b097d9d42984.jpg)
sankhook版本4504
其他模块正常
没有开启黑白名单

[2020-02-21 12:35] Tornaco commented on #84
反馈问题请按照模板反馈，请提供/data/system/thanos下的日志文件。

[2020-02-21 12:35] #84 closed, assigned to nobody

[2020-02-21 13:09] Tornaco commented on #65
暂时关闭。有问题继续反馈。

[2020-02-21 13:09] #65 closed, assigned to Tornaco

[2020-02-21 14:44] Tornaco commented on #87
请按照问题反馈模板，至少要提供xposed日志。

[2020-02-21 14:44] #87 closed, assigned to nobody

[2020-02-21 14:45] Tornaco commented on #85
很赞。稍晚点看下。

[2020-02-22 00:35] diauweb opened #88 "应用锁的密码是否应考虑哈希后存储"
目前应用锁的密码似乎是明文存储的，为安全考虑是否应该加盐后哈希保存？

[2020-02-22 00:57] Tornaco commented on #88
@diauweb 我觉得没有必要，这个密码也只是绝对应用启动，这个目录只有你自己能看到，如果普通应用没有root权限也是无法访问的。

[2020-02-22 01:28] eldonly commented on #52
赞一个。以前应用管理的时候我也提过类似的issue。
因为现在多开微信需求也很大的，特别希望可以控制多开应用，特别是微信代收可以支持多开微信。
另外，一加系统本身的双开用户id是999，冯大的island多开用户id是10，或者11等。
希望都可以支持。

[2020-02-22 01:37] diauweb commented on #88
主要是考虑到有些人可能会把较为重要的密码（和锁屏设置一样的密码，甚至支付密码）作为应用锁的密码，在某些情况下把手机借给别人用的时候，虽然（使用手机的那个人知道如何找到密码的）几率微乎其微，还是有可能让其他人直接看到明文密码的

[2020-02-22 02:28] flyinsz opened #89 "一加7pro锁屏清理后台失效"
**Describe the bug（现象描述）**
锁屏清理后台无效（简洁的描述该bug的现象）

**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
百分之百复现

**Expected behavior**（期望结果）
能正常清理后台

**Screenshots**（截图）

**Version（发现问题的版本）:**
 - OS: 氧OS B9（Android 10）
 - Version: 1.1.5 | 1.1.6（软件版本，例如v2.3.4）

**Additional context**（其他信息）
Add any other context about the problem here.（其他的补充信息）

** Logs**（日志文件）
之前邮件反馈过，请搜索邮件。

[2020-02-22 06:35] Tornaco commented on #89
@flyinsz 请提供最新日志。。 中间间隔
过几个版本了。

[2020-02-22 08:24] flyinsz commented on #89
刚升级了1.16正式版好像解决了。我再测多几次看

[2020-02-22 08:24] #89 closed, assigned to nobody

[2020-02-22 09:39] Gladtbam commented on #80
智能冻结问题已修复，但是冻结的应用依然存在问题，应用更新后自行解冻了 @Tornaco

[2020-02-23 00:37] flyinsz opened #90 "建议微信代收保留历史记录"
目前微信代收只能显示最后一条记录，如果能把所有未读信息或最后几条未读信息一并显示那就完美了。

[2020-02-23 01:34] snovvessel opened #91 "Play beta 激活后开启应用闪退"
**Describe the bug（现象描述）**
更新后打开应用时会卡住或几秒后黑屏自动重启（像是是重启，若此时回到桌面或切换应用后台好像会自动结束 在应用信息中强制关闭是暗的）

**To Reproduce**（如何复现）
可能是特定bug
更新 play-beta 1.1.6-row 激活重启后会触发

**Expected behavior**（期望结果）
在下一个版本不会闪退

**Screenshots**（截图）

![现象](https://user-images.githubusercontent.com/61366719/75101758-c4db4980-561c-11ea-86cc-3e3271eae13a.gif)

**Version（发现问题的版本）:**
 - OS: 魅蓝note6 MIUI10 7.1.2
 - Version play-beta 1

[2020-02-23 14:39] Tornaco commented on #91
[code]

这个版本加了多用户的一些逻辑。Android N只有这个API。。我会处理下。
[code]

[2020-02-23 14:48] Tornaco commented on #85
@zhzjwd 日志网站打不开，帮忙换个网站吧。

[2020-02-23 14:48] Tornaco commented on #86
帮忙抓一下data/anr下的日志。奇怪。

[2020-02-23 14:51] Tornaco commented on #80
@sakurabot 你是通过哪个商店更新的。

[2020-02-23 15:13] Gladtbam commented on #80
Google play商店

[2020-02-23 15:48] abcdol commented on #80
一人血书跪求增加一个智能冻结总是创建代理应用的开关(╬ Ò ‸ Ó)
另外代理应用的名字能不能改成跟原来一样的呢 强迫症看着2总感觉怪怪的o(´^｀)o

[2020-02-23 16:46] Gladtbam commented on #86
时间太久了，只有今天的日志

[2020-02-24 04:16] Tornaco commented on #91
@Salticat 辛苦测试下最新版本。1.1.7-row Play商店。

[2020-02-24 09:07] inused commented on #85
@Tornaco
之前上传GitHub一直网络错误，才用了那个网站
[log.zip](https://github.com/Tornaco/Thanox/files/4243675/log.zip)

[2020-02-24 10:30] shino-F opened #92 "【问题反馈】应用关联启动问题"
**Describe the bug（现象描述）**
启用thanox导致我手机无法通过A软件启动不在后台的B软件。（并未开启thanox 的任何功能）
具体发现现象为无法通过xposed edge启动应用；在xposed installer界面点击模块打不开模块用户界面；社交软件不在后台时无法分享链接；小黑盒做任务分享链接给社交软件（此时在后台），分享后回到小黑盒界面显示未分享。
提供一个启用thanox与否的现象的对比gif，两次录制间仅在xposed installer界面取消thanox的勾选，然后正常重启手机。
![SC-1582524508500](https://user-images.githubusercontent.com/61411106/75143754-98b0ed00-5730-11ea-929f-ff19bf7946f6.gif)
![Video_202002

[2020-02-24 10:59] KIITTID opened #93 "建议应用锁做成插件"
目前国内很多手机UI自带应用锁，建议做成插件，供需要的人自行添加。

[2020-02-25 05:35] AkinoKaede commented on #34
这个是作用域…应用转生和TaiChi已经有了，EdXposed也正在开发

[2020-02-25 06:23] sidesand opened #94 "情景模式中notificationAdded 和removed反了"
**Describe the bug（现象描述）**
在我的测试中，情景模式的notificationAdded notificationRemoved 相反
使用中，通知移除时，只有added能触发，removed无法触发。

**Expected behavior**（期望结果）
add是通知刚添加，removed是通知被移除。

**Version（发现问题的版本）:**
 - OS: 氢OS Android 10
 - Version thanox 1.1.6 prc

[2020-02-25 07:00] Jkkoi opened #95 "开机后应用无法自起导致自动套用模板无效"
RT，现在需要开机后手动开启应用一次才能正常使用自动模板

小米6
QQ1B.200205.002
PixelExperience_sagit-10.0-20200215-0336-UNOFFICIAL

[2020-02-25 14:28] Tornaco commented on #95
1. 反馈问题，尤其是bug必须按照模板反馈，至少要提供日志。
2. 自动模板理论上是完全不依赖thanox app启动的，麻烦提供一下开机--新装应用的日志。

[2020-02-25 14:30] Tornaco commented on #94
代码确实写反了。
[code]

[2020-02-25 14:30] Tornaco commented on #94
ganga

[2020-02-25 14:33] Tornaco commented on #93
一开始是以插件的计划开发的。但是技术上需要融合Android系统的原生活动与Thanox插件的解锁活动，没想好怎么做。

后面再想想。

[2020-02-25 14:34] Tornaco commented on #92
@shino-F  检查下冻结相关的设置先。

[2020-02-25 14:36] Tornaco commented on #92
另外需要提供你的配置文件。
data/system/thaons
排除是设置原因导致的。

[2020-02-25 14:38] Tornaco commented on #92
日志文件在data/system/thanos/logging下。

[2020-02-25 14:39] Tornaco commented on #90
怎么个显示发？能画个图吗。费脑。

[2020-02-25 14:50] Tornaco commented on #85
@zhzjwd 有些命令需要su去执行。
之前考虑到安全、google审核策略原因，暂时只公布了sh能力，后面将会开放su能力。
到时候使用`su.exe(xxx)`试试。

[2020-02-25 15:24] shino-F commented on #92
查看了智能冻结界面，我没有加入应用，我的软件冻结是使用的edge的冰箱，大概不会影响吧。

日志里的crash部分我复制文件会出错，是新建文件复制的内容进去的，原来一共是有六个文件的。

来自 魅蓝 6

-------- 原始邮件 --------
发件人：Potesta de Tornaco <notifications@github.com>
时间：2020年2月25日 22:38
收件人：Tornaco/Thanox <Thanox@noreply.github.com>
抄送：shino-F <shinodesi@163.com>,Mention <mention@noreply.github.com>
主题：Re: [Tornaco/Thanox] 【问题反馈】应用关联启动问题 (#92)

[2020-02-25 15:30] Tornaco commented on #92
@shino-F 看下 后台启动--阻止记录--有测试的app被阻止的记录没。

[2020-02-25 15:30] Tornaco commented on #92
@shino-F 配置文件发一下。

[2020-02-25 15:43] shino-F commented on #92
启动记录是搜索右边那个嘛？显示免费版不可用。
配置文件是刚刚邮件带的附件压缩包，日志也在这个文件夹里对吧

来自 魅蓝 6

-------- 原始邮件 --------
发件人：Potesta de Tornaco <notifications@github.com>
时间：2020年2月25日 23:31
收件人：Tornaco/Thanox <Thanox@noreply.github.com>
抄送：shino-F <shinodesi@163.com>,Mention <mention@noreply.github.com>
主题：Re: [Tornaco/Thanox] 【问题反馈】应用关联启动问题 (#92)

[2020-02-25 15:56] sidesand commented on #94
问题不大。

[2020-02-26 00:31] ppouerct opened #96 "［功能建议］建议情景模式界面排序按照"priority"顺序或者能分组排序，以及添加一些 全局常量"
情景模式很多配置其实需要几个配置一起使用才能达到某个效果，而缺少排序会让列表看起来乱七八糟。还有全局变量应该添加一些默认提供的变量，如 时间 、位置 、电量、数据状态、磁贴状态，蓝牙状态，这样能增加更多可行，像蓝牙和电量其实文档中已经有“蓝牙事件”“电量变化”这个两个操作了，但是这样分类不明确，后面添加的代码段越多，就更加麻烦，而像获取状态的代码段完全可以做为 自带变量 ，如蓝牙开关状态等等，而打开蓝牙这种操作就仍然作为代码段。

[2020-02-26 01:22] Gladtbam commented on #96
情景模式的排序是按照name从A-Z排序的，列表的错乱很明显是因为命名没有规律，如果按照“priority”排序的话，感觉列表规律不会得到改善，毕竟大部分情景模式使用同一优先级就行。

后面的“分类不明确”没有看懂，不过与其所代码越多越麻烦，不如说实现的功能越复杂的话，情景模式越不好写，当前的模板对循环嵌套的支持能力太低了，不如取消“condition”，直接在“actions”中使用if进行判断
@ppouerct @Tornaco

[2020-02-26 01:25] Jkkoi commented on #95
好的，我以为是app出问题所以没有想到日志这一回事🙈🙈🙈
这是/data/system/thanos/logging的log（其他log好像关联性不大）

文件说明：
logs-before.zip 为开机后直接安装应用，此时没有自动套用模板
logs-after.zip为接上面步骤，卸载后，打开thanox再次安装，此时正确套用模板
高德版_调用第三方APP查看地图.apk 为测试app
https://www.lanzous.com/i9orvja

[2020-02-26 01:29] Gladtbam commented on #86
新版本我无法复现该BUG，暂时关闭该issues
@Tornaco

[2020-02-26 01:29] #86 closed, assigned to Tornaco

[2020-02-26 05:24] inused commented on #85
@Tornaco OK，期待

[2020-02-27 13:53] 2220209876 commented on #63
OP隐私提醒哪里希望也增加记录功能
可以查看什么app什么时间调用了摄像头什么的 @Tornaco Tornaco

[2020-02-29 16:15] Gladtbam opened #97 "［功能建议］情景模式相关"

[2020-03-01 09:32] Tornaco commented on #94
Fixed.

[2020-03-01 09:32] #94 closed, assigned to Tornaco

[2020-03-01 13:25] Tornaco commented on #79
Fixed

[2020-03-01 13:25] #79 closed, assigned to Tornaco

[2020-03-02 13:02] Gladtbam commented on #80
MIUI应用商店安装也出现了该情况

[2020-03-05 09:24] Sfssup opened #98 "应用锁锁了Thanox自己导致App无法打开"
只是想测试一下，打开应用锁，手残点了个全选
结果
别的App都好好的，没什么问题，解锁什么的都很6
Thanox自己锁了自己，解锁就闪退，然后无限循环
这会已重装回来

[2020-03-05 13:31] Tornaco commented on #98
💯

[2020-03-05 13:32] Tornaco commented on #91
Close for now.

[2020-03-05 13:32] #91 closed, assigned to Tornaco

[2020-03-06 06:50] sky96111 opened #99 "全面屏手势打开最近任务不会触发卡片模糊"
一加7 oxygenos，设置卡片模糊后用全面屏首饰进入最近任务，无法触发模糊

[2020-03-06 12:29] Tornaco commented on #98
@GuanguangT 麻烦发下日志。刚试了下没复现。，。

[2020-03-06 12:32] Tornaco commented on #85
目前发现selinux enforce的设备，无法以system server的身份执行shell command :(

[2020-03-06 18:17] sandriaas opened #100 "Add option to prevent app being killed by system"
Add option to prevent app being killed by system.
it'll be really useful when playing games with big memory and we're trying to switch to other app (replying chats/call, change settings, etc).
like the one offered by other module such as in App Settings module ("resident" option) and Eternal Process Lock ("Eternal Lock" option).
btw thank you so much before.

[2020-03-07 03:12] sky96111 commented on #79
我觉得当前这可能并不是最好的解决方案...在先用图形解锁的情况下，指纹图标依然会遮挡图案。个人建议是图案和数字可选向上偏移

[2020-03-07 13:10] HorrZzz opened #101 "Thnaox下无法显示应用休眠的tag"
**Describe the bug（现象描述）**
Thnaox下无法显示应用休眠的tag

。
例如这样：![image](https://user-images.githubusercontent.com/42233737/76143887-00aeee00-60b6-11ea-93bf-07a6c6415932.png)

**To Reproduce**（如何复现）
 目前已知这种情况，重装应用，调整字体，切换xposed框架，均无效。

**Expected behavior**（期望结果）
正常情况下：
![image](https://user-images.githubusercontent.com/42233737/76143900-1d4b2600-60b6-11ea-8b5a-6bc22494a23a.png)

**Screenshots**（截图）
If app

[2020-03-08 12:15] mp-s opened #102 "[功能建议]情景模式对全局变量内容遍历"
希望情景模式增加对全局变量遍历执行功能的方法.

[2020-03-08 12:23] Tornaco commented on #101
@HorrZzz 你确定上述应用处于休眠状态吗？

[2020-03-08 12:37] HorrZzz commented on #101
@Tornaco 我确定，因为在thanox的应用管理列表里所有的APP全都没有了休眠的标签。并不是只有个别应用没有显示

[2020-03-09 04:07] 2220209876 opened #103 "[功能建议]操作逻辑-‘’权限管理‘’中长按某app权限或图标直达某app'应用管理'界面"
![image](https://user-images.githubusercontent.com/7346652/76181962-fb5cbb00-61fd-11ea-8b06-18eeb8567651.png)
‘’权限管理‘’中长按 炼妖壶app 或 点击应用图标 可以直达 炼妖壶app的'应用管理'界面

[2020-03-09 04:35] Sfssup commented on #98
不好意思刚看到，日志我这边关了，Xposed，Magisk日志都没有@GuanguangT

[2020-03-11 06:02] penhuowa commented on #64
什么时候这个功能能够上线？一个个复制太麻烦了。

[2020-03-12 13:04] j2rong4cn opened #104 "bug"
系统：MIUI11 Android 10

** Logs**（日志文件）
务必将截取到的日志文件发到该issue里。

03-12 20:55:07.459  2851  2851 E EdXposed-Bridge: java.lang.ClassCastException: android.view.MotionEvent cannot be cast to android.view.KeyEvent
03-12 20:55:07.459  2851  2851 E EdXposed-Bridge: 	at github.tornaco.android.thanos.services.xposed.hooks.input.InputManagerInjectInputRegistry$1.afterHookedMethod(Unknown Source:22)
03-12 20:55

[2020-03-12 13:12] j2rong4cn commented on #104
还有一个

03-12 21:06:40.059  1871  1871 I EdXposed-Bridge: Adding TV input service @java.lang.Throwable
03-12 21:06:40.059  1871  1871 I EdXposed-Bridge: 	at github.tornaco.android.thanos.services.xposed.hooks.ServiceManagerRegistry$1.beforeHookedMethod(Unknown Source:53)
03-12 21:06:40.059  1871  1871 I EdXposed-Bridge: 	at de.robv.android.xposed.XC_MethodHook.callBeforeHookedMethod(XC_MethodHook.ja

[2020-03-13 06:28] penhuowa opened #105 "建议增加CPU核心调度设置功能"
可以通过动态响应开关闭核心，类似sense，或者支持yc调度橘猫调度之类的，如果做成插件就好了。

[2020-03-13 13:29] Tornaco commented on #101
@HorrZzz hao de  回头想办法加个调试功能。。目前没法确定是UI问题还是状态问题。

[2020-03-13 13:54] HorrZzz commented on #101
@Tornaco 好的，辛苦！

[2020-03-14 10:50] tianguoyan opened #106 "无法激活高级功能，且软件闪退。"
问题：1.1.7发行版、1.1.8beta1，均无法激活高级版。
手机状态：小米8标准版，安卓10，miui 11 20.3.12，magisk 20306，太极6.1.8（magisk），参与了小米的授权管理内测
详情：
今天更新miui（3.11——>3.12），顺带把thanox从1.1.7beta3更新到1.1.8beta2，开机后发现thanox闪退。清除thanox数据后仍然闪退。
换1.1.8beta1，发现thanox可以使用，但是使用激活码激活高级功能，软件会闪退（再次打开thanox发现仍是试用版），同时发现【反馈】按钮点击软件闪退，【开放源代码许可】按钮点击软件闪退。
换1.1.7发行版，仍出现与1.1.8beta1相同的问题。
以下是thanox日志
[2020-03-14.txt](https://github.com/Tornaco/Thanox/files/4

[2020-03-15 08:49] inused commented on #85
搞了selinux，现在可以执行了
magisk上好像是有个模块，用了下可以
就先这么用吧

[2020-03-16 13:38] Tornaco commented on #106
@tianguoyan 建议这个问题也反馈给MIUI。

反馈的触发页面都是常规App页面，么有黑科技。。

不知道什么鬼。

如果/data/system/thanos下有日志的话也发一下~

[2020-03-19 12:18] Gladtbam opened #107 "[问题反馈]运行和缓存列表无法显示已加后台锁的应用"
![Screenshot_2020-03-19-20-12-11-304_github tornaco android thanos pro](https://user-images.githubusercontent.com/49943258/77066647-80c24580-6a1e-11ea-80cd-9b167fff27dd.jpg)
![Screenshot_2020-03-19-20-12-22-229_com android systemui](https://user-images.githubusercontent.com/49943258/77066653-83249f80-6a1e-11ea-8949-338a648e2395.jpg)
如图，Telegram和SSR我锁了后台，然后再运行中和缓存中的列表都找不到这两个应用

[2020-03-22 02:55] 8037352 opened #108 "无法激活"
EdXposedManager。其他模块正常激活 ，唯独 thanox pro无法激活
[EdXposed_Module_20200322_105454.log](https://github.com/Tornaco/Thanox/files/4364581/EdXposed_Module_20200322_105454.log)

[2020-03-22 06:52] tianguoyan commented on #106
刚刚安装1.1.8-dirty-prc，软件闪退。清除数据还是闪退。miui系统更新到3.19，magisk更新到20308，其他没变。
下面是日志文件。
[logging.zip](https://github.com/Tornaco/Thanox/files/4364787/logging.zip)
[logs.zip](https://github.com/Tornaco/Thanox/files/4364788/logs.zip)

[2020-03-22 08:09] hxl218 opened #109 "[功能建议] 全部临时解冻 方便更新应用(冻结后检测不到更新)"
**Is your feature request related to a problem? Please describe.**
冻结后的应用play store 检测不到更新，需要解除冻结，才能检测更新，由于装的软件比较多，冻结的也多，一周检测一次更新时需要全部解冻后，更新完需要重新去找到一个个加回来
**Describe the solution you'd like**
能否保留冻结列表，全部临时解冻，全部检测更新完可以把冻结列表里的一键冻结。
不懂原理，希望不是无理请求。

[2020-03-22 10:15] sidesand opened #110 "全局变量中，重复添加的应用，变量不会自动筛选去除"
在编写全局变量，有时候第一次添加的应用不全，当第二次添加的时候，如果有重复添加的，在该变量值内会重复出现，显得冗余。

建议：
1.在勾选完成应用保存的时候，筛选去除重复。
2.第二次勾选的时候，可以在应用列表（置顶、显示已勾选、隐藏、灰色等记号）给出提示。

[2020-03-23 11:07] tianguoyan commented on #106
刚刚通过迷之操作解决了bug。并确认bug是由太极引起的。太极版本：湛卢6.0.3，Taichi v6.1.8。
以下是操作步骤：
1. 进入太极，取消对thanox的勾选。
2. 尝试打开thanox，发现软件正常使用（显示已激活xp），并且激活高级版、反馈页面的bug消失了（顺便激活了高级版）。
3. 重启手机，发现thanox显示未激活xp
4. 进入太极，勾选thanox，重启手机
5. 打开thanox，软件不闪退，显示已激活xp。但是反馈按钮出现点击后软件闪退的bug。
6. 进入太极，取消对thanox的勾选。
7. 打开thanox，反馈按钮点击后软件闪退的bug消失了。

[2020-03-27 01:53] feikuge opened #111 "安装插件thanox就闪退"
@tornaco 一加5t  安装插件thanox就闪退
android   9    无极.magisk  128
thanox pro版本   play  1.1.8 row
两个插件都试了，安装任何一个都闪退。要清空数据才能打开。

[2020-03-28 03:19] diauweb opened #112 "打开不存在的应用的配置页时抛出异常"
**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
1. 安装一个应用
2. 等待Thanox自动配置的通知出现
3. 卸载应用
4. 点击自动配置通知，抛出`java.lang.IllegalArgumentException: Unknown Package`

**Expected behavior**（期望结果）
显示应用不存在的对话框

**Version（发现问题的版本）:**
 - Version 1.1.8-dirty-prc

[2020-03-28 12:40] Tornaco commented on #111
@feikuge  请补充日志。

[2020-03-29 08:02] h0cheung opened #113 "建議非 Google Play 版本增加應用內檢查更新"
如題，目前應用管理xposed用戶兌換激活碼後，無法自動檢查更新，只能手動進 GitHub 檢查

[2020-03-29 15:36] Jkkoi commented on #95
好像还没有修复，麻烦再看一下了
（log明天传）

[2020-03-30 01:21] HZY040122 opened #114 "多語言支持"
在之後版本會否加入繁體中文的支持？

[2020-03-30 06:44] ghost opened #115 "情景模式的杀应用会闪屏"
退出app时会闪几下，希望有办法能优化一下
我设置taskremove再开后台清理还是会闪😂

[2020-03-30 07:14] ghost commented on #85
大佬，用了你的情景模式打开app直接卡v2rayng了，能帮忙看下有啥问题吗，把to改成from在关闭app时正常调用 但打开就卡
[
{
"name": "自动开启v2ray",
"description": "自动开启v2ray，应用名单来自全局变v2ray",
"priority": 1,
"condition": "frontPkgChanged == true && globalVarOf$v2ray.contains(to)",
"actions":
[
"sh.exe(\"am start -n com.v2ray.ang/com.v2ray.ang.ui.ScSwitchActivity\")"
]
}
]

[2020-03-30 12:45] Tornaco commented on #114
@HZY040122 马上就加。。

[2020-03-30 13:17] HZY040122 commented on #114
多謝晒

[2020-03-30 13:17] #114 closed, assigned to nobody

[2020-03-31 13:23] Jkkoi commented on #95
[logging.zip](https://github.com/Tornaco/Thanox/files/4409264/logging.zip)
log 来了
测试时间 3/31

[2020-04-01 12:02] JunfXiao opened #116 "Thanox导致Keep应用陷入账号异常loop"
**Describe the bug（现象描述）**
启用Thanox且允许Keep所有权限时，打开Keep，则会无限弹出“用户token校验失败”及“账号异常”消息，导致无法正常使用应用。

**To Reproduce**（如何复现）
1. 在EdXposed中启用Thanox
2. 从酷安安装Keep（此时，处于**未登录**状态），不限制其任意权限。
3. 打开Keep并登录
4. 提示“用户token校验失败”，且无限弹出不可取消的Dialog。

**Expected behavior**（期望结果）
能够正常登录、使用Keep应用。

**Screenshots**（截图）
If applicable, add screenshots to help explain your problem.（通过截图更好的解释你的问题）
![Screenshot_20200331-1920

[2020-04-01 13:27] ID-JRL opened #117 "希望能够让在谷歌上购买了应用管理的用户也能免费用这款软件的pro"
在谷歌上买了应用管理 不知道这款软件能否免费使用？

[2020-04-01 13:28] yFFyF opened #118 "启动记录里有的条目是 By Android?"
**Describe the bug**

启动记录里有的条目是 By Android?

**Expected behavior**

正确识别关联启动App

**Screenshots**

![Screenshot_20200401-205049_Thanox](https://user-images.githubusercontent.com/6211117/78140748-10271a00-745d-11ea-98fc-8682bb32ec05.png)

**Version**
 - OS: LineageOS Android 10
 - Version: 1.2.0-prc，之前版本也有此问题 一直未修复

**Logs**

[thanox-init.log](https://github.com/Tornaco/Thanox/files/4415345/thanox-

[2020-04-03 00:37] Fantasy135 opened #119 "建议添加一个跟随设备主题"
建议添加一个跟随设备主题，这样使用黑暗模式就不用再去点了

[2020-04-04 09:24] Yoman7 opened #120 "可以新增语言选择的功能吗？"
希望能新增简体中文或繁体中文的选项供选择，谢谢您~

[2020-04-04 09:43] inused commented on #85
@krecycle 建议先去看一下文档情景模式 [应用切换](https://tornaco.github.io/Thanox/2019-12-02-Profile/#042-应用切换)
frontPkgChanged==true意思是前台应用发生了变化，也就是说从应用A变成了应用B，
to是一个变量，前台应用变成了哪个应用to就是哪个应用的包名，也就是指B，
from同理，是指前台应用变化之前是哪个应用，也就是指A
所以，
条件里如果是to就是说应用B变成了前台应用(一般就是指打开应用B)的时候触发，
from意思就是应用A不再是前台应用(比如关闭了应用A、打开其他应用等多种情况)的时候触发

ScSwitchActivity 这个活动是切换V2rayNg状态的，就类似灯的开关，调用一次就开，再调一次就关，再一次是开，再一次是关，没法直接控制是打开还是关闭，只能把状态变成和当前状态相反。

[2020-04-04 21:40] ghost commented on #85
大佬我理解了原理，也就是ScSwitchActivity跟gps开关等不一样，是要打开v2ray前台服务来切换的，所以在开启v2ray后重新回到app被再次执行规则了，退出不会触发所以正常。你的规则还有个谷歌服务被冻结的条件，但我这个只是单纯打开app没有附加条件怎么办。。。感觉应该在前面加个v2ray处于关闭状态的条件，但小白不知道怎么实现。。。。

[2020-04-04 22:19] ghost commented on #85
懂了，加了一个从桌面打开的条件就ok了
可惜从后台回到app也会切换v2ray开关，不知道有什么办法没有

[2020-04-05 12:12] inused commented on #85
@krecycle 你这个情况建议尝试一下[activity created](https://tornaco.github.io/Thanox/2019-12-02-Profile/#044-activity-created)
把你需要的应用首屏活动的created事件作为条件
thanox有可以显示当前活动项的功能

[2020-04-05 12:21] Tornaco commented on #116
@ForInfinity  移花接木有相关规则吗？

[2020-04-05 12:43] JunfXiao commented on #116
解决了，是移花接木规则的问题。默认从splash activity跳转到main activity，导致了异常。

[2020-04-05 12:43] #116 closed, assigned to nobody

[2020-04-05 17:07] ghost commented on #85
这个好像有点复杂。。。因为我加了多个app的全局变量应用这个规则，这样是得把这些全都一个个列出来嘛。。

[2020-04-05 17:23] Gladtbam commented on #85
这个简单，你碰到的问题应该是重复进入app后，规则再一次被执行了对吧！这种情况只需要多加一个判断条件就行。添加判断app是否被杀死或者app是否有最近任务的接口即可

[2020-04-05 17:49] ghost commented on #85
后面加上最近任务条件就好了，一个时正常运行，但加上其他的又卡住了😂，补上从桌面打开的条件问题又变回之前的问题了
"condition":"frontPkgChanged == true && globalVarOf$v2ray.contains(to) && (task.hasTaskFromPackage(\"org.telegram.messenger\") == false || task.hasTaskFromPackage(\"com.twitter.android\") == false || task.hasTaskFromPackage(\"com.app.pornhub\") == false || task.hasTaskFromPackage(\"com.apkpure.aegon\") == false)",

[2020-04-06 01:07] Gladtbam commented on #85
既然你已经用了全局变量，这里就不用这么写了啊，直接写成&& !task.hasTaskFromPackage(pkgName)就行了

[2020-04-06 03:30] ghost commented on #85
一样的问题，打开app还是在循环切换v2ray开关，加上从桌面打开的条件后这个又没用了😂

[2020-04-06 03:40] Gladtbam commented on #85
不应该啊，能把你的情景模式代码完全发过来吗？我测试一下

[2020-04-06 04:12] inused commented on #85
@Tornaco 大佬，请问 sh.exe 返回的结果可以直接获取命令的输出吗
文档中说明返回结果是 `CommandResult `这个类
[code]
直接toast弹出返回结果的话是下面格式的字符串
[code]
返回结果可以调用`toString()`方法，下面这个比较结果是true
[code]
`CommandResult.toString()`方法可以正常调用返回字符串
所以测试调用了`getOut()`方法，无法弹出信息，应该是出错了，调用`getOut()`方法这一行后面的代码也不再执行
然后反编译应用找到了`CommandResult`这个类，发现存在`getStdout()`方法，测试调用仍然不行
然后发现里面的几个属性`exitCode stdout`都是`public`，所以直接调用了这几个属性，仍然不行

日志中没有打印错误信息

请问是我调用方式有问题还是没有

[2020-04-06 04:33] ghost commented on #85
`[{"name": "auto v2ray",
"description": "自动打开v2ray",
"priority": 1,
"condition":"frontPkgChanged == true && globalVarOf$v2ray.contains(to) && !task.hasTaskFromPackage(pkgName)",
"actions": [
"sh.exe(\"am start -n com.v2ray.ang/com.v2ray.ang.ui.ScSwitchActivity\")"
]}]`

[2020-04-06 05:28] Gladtbam commented on #85
再加个!task.hasTaskFromPackage(\"com.v2ray.ang\")就可以了😂
[code]
需要注意的是，执行这个规则不能有v2ray的后台，所以如果不想重复执行，必须保证最近任务里面有v2rayng

[2020-04-06 05:46] ghost commented on #85
这样打开一次v2ray已经在后台，虽然从后台打开不会重复执行，这样下次打开又不生效了，要手动把v2ray清掉才行😂

[2020-04-06 05:52] Gladtbam commented on #85
对，不过如果清掉了v2ray的最近任务的话的话，v2ray也会关闭。所以说，不管怎么样，只要需要使用2ray，必须保持v2ray在后台😂，把清理v2ray的最近任务当作关闭v2ray的开关就行了😋

[2020-04-06 05:57] ghost commented on #85
我在退出关闭v2ray的规则里加了个清理v2ray的最近任务，然后退出v2ray本身也加了，总算舒服了，谢谢

[2020-04-06 06:08] ghost commented on #85
额，发现在v2ray打开的状态下手动清理会关闭，但thanox清理的最近任务并不会关闭v2ray
哦了，搭配后台清理就好了

[2020-04-06 07:05] inused commented on #85
@krecycle 你可以暂时使用下面这个命令作为条件判断v2Rayng有没有开启
[code]
这个是通过判断网络接口中有没有VPN的接口来间接判断是不是开启了v2Rayng，
如果这条命令结果是true，则说明没有开启v2Ray
`out=[N]`改成`out=[Y]`后，结果为true则说明开启了v2Rayng连接，或者把`==`改成`!=`，多种方式，看你喜欢

命令中的`tun0`是我自己手机上开启v2Rayng连接后新增的网络接口，你需要在终端中使用`ip ro`命令自己测试你手机中是不是也叫这个，查看命令输出中每一行以空白隔开的第三部分。
另外，不确定是不是所有的手机都是开启v2Rayng后新增一个网络接口，关闭连接则删除这个接口，需要你自己测试

[2020-04-06 10:35] Sfssup opened #121 "开发者有没有计划加入打盹模式？"

[2020-04-06 23:43] ghost commented on #85
试了一下，可行，但效率有点低了，打开app要卡在v2ray判断好几秒才进去😂
本来执行切换v2ray的指令也经常会出现v2ray界面在进入app，不过速度比较快影响不大，这个就比较影响了

[2020-04-07 02:41] Gladtbam opened #122 "[问题反馈]隐匿失效"
1.  测试环境
    设备：RedmiK20Pro MIUI11
    Thanox版本：1.2.1-beta（play版）
    框架：EdXposed 4529（sandhook）（白名单模式）
    检测软件：Cellular-Z（MIUI权限管理允许获取手机信息，Thanox权限管理禁止读取设备信息）

2.  过程及结果
- Cellular-Z不再应用名单内
![IMG_20200407_101758](https://user-images.githubusercontent.com/49943258/78624008-36b0df00-78bb-11ea-9727-db8ccadf8e86.jpg)
如图，SIM系列号（ICCID）隐匿失败，MEID与IMEI无法获取

- Cellular-Z加入应用名单
![IMG_20200407_102311](https

[2020-04-08 01:13] ghost commented on #85
大佬，有没有让"sh.exe(\"am start -n com.v2ray.ang/com.v2ray.ang.ui.ScSwitchActivity\");",后台运行而不是前台切换的办法😂

[2020-04-08 11:03] inused commented on #85
@krecycle
那是四大组件中负责界面的activity，在不改动v2rayng现有代码的情况下使用该命令必定会弹出界面，但是这个调起活动在正常情况下一定会成功
你可以使用下面这个命令直接调起service
[code]
V2RayNg就是使用这个服务启动VPN的，启动的时候不会弹出界面，但是极有可能因为没有后台运行导致出现服务调起成功但VPN未能连接或者直接服务调起失败的情况，很烦人，所以我是没有用这个法子的
`stopservice` 是关闭服务，但是单纯关闭这个服务貌似并没有关闭VPN连接，所以有点问题
下面是强制停止v2ray，可以实现关闭VPN连接
[code]

[2020-04-09 02:28] ghost commented on #85
好用，我这调用基本都成功，谢谢！

[2020-04-13 14:21] 13810169 opened #123 "请求作者添加单个app网络权限控制。"
请求添加单个app网络权限控制。现在手机安全和网络安全越来越重要，请求作者添加单个app网络权限控制。

[2020-04-14 14:15] ghost opened #124 "锁屏清理延时无效"
一加7Pro，一设置延时就失效。而且即便不延时app勾选不清理最近任务后用情景模式移除最近任务了锁屏还是不清理。

[2020-04-16 13:02] Tornaco commented on #124
@krecycle 麻烦提供该场景下data/system/thanos下的日志。

[2020-04-16 16:48] Fantasy135 opened #125 "建议程序锁添加人脸解锁"
**Is your feature request related to a problem? Please describe.**
建议程序锁添加人脸解锁

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about the feature request

[2020-04-17 06:54] q1136502381 opened #126 "锁屏清理延时失效"
你好，我是一加6 安卓8.1 用的是thanox的1.17到1.2.1 beat（中间的版本我都试过），在使用中我发现了如下问题：
  后台运行锁屏清理延时设置成任意时长都出现失效的情况，（设置为NO后再改为2min有时会生效，当设置为2min，手机重启后发现thanox失效，无论是自启动还是后台运行。为此我做了一下实验（我理解的锁屏延时是关掉屏幕开始计时，到时清理 ，不论中途软件做了什么）。。
1、	设置为NO，手机重启，发现thanox正常运行。再设置为2min(可为任意时长)，偶尔生效，大部分为失效的情况。
2、	设置为2min，手机重启，发现thanox失效（thanox设置为抑制or开启后台、抑制or开启自启动都试过）。手动改为NO，thanox正常运行（息屏测试）。手动改为2min，偶尔正常运行（大部分为失效）
3、	经历过一次次失败，我开始检查系统设置，打开一加设置，将tha

[2020-04-17 23:38] AkinoKaede opened #127 "通知亮屏触发人脸解锁"
**Describe the bug（现象描述）**
A clear and concise description of what the bug is.（简洁的描述该bug的现象）
PixelExperience在PixelExperience 10中添加了Face Look的功能
使用通知亮屏，亮屏时会进行人脸解锁，失败会导致下次亮屏不使用人脸解锁
**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
1. Go to '...'（进入XXX）
2. Click on '....'（点击XXX）
3. Scroll down to '....'（下滑到XXX）
4. See error（发现错误XXX）

**Expected behavior**（期望结果）
A clear and concise descrip

[2020-04-18 01:57] q1136502381 commented on #124
你好，你可以看一下我的反馈，谢谢
https://github.com/Tornaco/Thanox/issues/126

[2020-04-18 05:08] Tornaco commented on #126
[code]

日志里多次显示安排了清理任务，但是由于解锁事件（亮屏并解锁）清理任务会主动取消（可能你还会使用这些App）。

所以试试，2分钟+ 再解锁看效果呢？

@q1136502381

[2020-04-18 13:08] q1136502381 commented on #126
大佬，里面显示的多次未清理可能是1、我的测试时打开的，2、可能试后台自己有活动让软件不能休眠（如你说的那样）。tips：我相信大家理解的清理延时，应该是在息屏后，无论它是否运行都应该杀掉吧。（当然一些通讯软件除外，但是我们不会去禁它的后台），这是我的建议
@Tornaco

[2020-04-20 00:35] zy10010 opened #128 "建议增加应用进程管理"
现在对于程序的控制方式多以消除为主，即全部消除，而多数程序的进程有主次之分，关闭不必要的进程可以节约内存和电量，次要进程和主进程占据内存和耗电量不相上下，所以驻留必要进程即可，再者现在支持以广播形式清理内存，增加广播意途以杀死特定程序也有利于用户管理

[2020-04-21 00:54] zy10010 opened #129 "一键清理会清理已允许后台运行的软件"
问题：开机后或者待机20min左右，一键清理以及设置的锁屏自动清理会清理已勾选后台运行及后台自启软件
复现方式：重启开机后等待1min，点击一键清理即出现，软件被清理后再次点击不复现，但待机20min左右，上述情况复现(已使用进程锁锁后台，软件后台正常运行，内存剩余充足)
版本：thanox 1.2.0  1.2.1     系统：android 9
日志：
1587428589471|W|ThanosS|PkgPool app: AppInfo(pkgName=com.eg.android.AlipayGphone, appLabel=支付宝, versionCode=242, versionName=10.1.90.9255, flags=1, uid=10137, debuggable=false, minSdkVersion=18, targetSdkVersion=28, sta

[2020-04-22 03:42] a876595353 commented on #83
他的意思应该是，
比如针对支付宝隐匿微信，支付宝检测不到微信，别的软件可以正常检测。

[2020-04-23 14:14] Tornaco commented on #129
@zy10010 测试的是哪个App被错误的清理了。日志能给全量文件吗?
只看到日志里清理了这俩哥：
[code]

[2020-04-23 14:34] zy10010 commented on #129
[thanox-core.log](https://github.com/Tornaco/Thanox/files/4523148/thanox-core.log)
分别测试了三款软件，分别是
小米运动：com.xiaomi.hm.health，
支付宝：com.eg.android.AlipayGphone，
网易云：com.netease.cloudmusic，
网易云未开乖巧，结果保留未清理

[2020-04-24 07:12] s235784 opened #130 "在关屏后能直接打开开启应用锁的软件"
现象描述:
开启应用锁的软件在手机关屏后按返回能直接打开该软件

如何复现:
1.开启任意软件的应用锁功能
2.打开该软件，并解锁应用
3.关屏
4.重新打开屏幕
5.在出现要求解锁的界面直接返回
6.有应用锁的软件未解锁就能打开

期望结果:
未解锁的软件应直接返回桌面而不是打开软件

发现问题的版本:
 - OS: Android10
 - Version: 1.2.0-prc

[2020-04-25 03:29] sidesand opened #131 "乖巧模式中，开启“跳过有通知的应用”，在网易云听歌期间，状态栏有通知，但是无法点击网易云通知的所有按钮"
**Describe the bug（现象描述）**
乖巧模式中，策略中开启了“跳过有通知的”、“休眠应用”、“阻止后台服务重启”三个选项，开启网易云音乐4.3.1版本(我记得新版网易云也是)的乖巧模式（没有使用任何乖巧规则），在播放音乐的时候，有音乐通知，正常播放，但是无法点击使用网易云通知中的所有按键（暂停、下一首等），我测试了一下，如果关闭策略中的“阻止后台服务重启”，则能正常使用通知中的按钮。

**Expected behavior**（期望结果）
我本理解的时，只要该应用有通知，则不执行乖巧的策略，所以按道理来说可以使用通知按钮。

**Version（发现问题的版本）:**
 - OS: [e.g. Android 10]
 - Version [e.g. v1.2.1]

还有另外一个事情，在不乖巧网易云的情况下，使用情景模式中的setInactive(pkgName)命令

[2020-04-25 13:46] Tornaco commented on #130
@s235784 正常情况下解锁系统锁屏后，Thanox验证界面点击返回后，Thanox是会强制返回桌面。

如果要定位你的问题，还需要发下日志。

[2020-04-25 13:46] Tornaco commented on #130
[code]

[2020-04-26 11:41] Sfssup opened #132 "反馈一个bug"
不知道啥原因，无故手机卡死，卡过来之后有个提示说是xxx执行失败，重启之后，模块没了，重新安装，重启，数据啥的都还在

刚才出现过一次，以前没有这个情况
小米Note3，MiUI11，安卓9

[2020-04-26 11:46] Sfssup commented on #132
然后，现在移花接木进不去，点了就闪退

[2020-04-26 14:27] LQOS8720 commented on #132
thanox v1.2.2   点击移花接木功能，thanox闪退。手机  小米8 安卓10  MIUI11

[2020-04-27 03:04] zy10010 opened #133 "移动网络功能操作"
1.情景模式现有数据功能只能凭借subid进行操作，但此项定义为插入一张新卡，数值递增，且不好查询，建议更换为slotid，即卡槽判别，操作更为简便，容易操作和理解
2.获取移动数据开启状态，现只能得到总体状态，希望能够细化到获取sim1和sim2，即当前是否sim1卡网络，便于切换操作

仅为个人使用过程中用到的因素提出意见，烦扰之处望理解

[2020-04-28 12:55] Tornaco commented on #126
@q1136502381 是的，只要息屏之后延时时间到了，是一定会强制Kill掉的。Thanox会检测其是否有进程在跑，如果没有任何进程是不需要进行额外清理，以节省时间和资源。

[2020-04-28 12:56] Tornaco commented on #132
@LQOS8720  日志发一下看看

[2020-04-28 12:57] Tornaco commented on #132
@GuanguangT 麻烦发下日志。

[2020-04-28 13:06] Tornaco commented on #131
@sidesand 拦截服务的时候，这块逻辑漏掉了，应该需要检查是不是有通知再确认拦截。

[code]

补上了这个判断，下个版本试试。

[2020-04-28 13:11] Tornaco commented on #129
[code]

@zy10010 日志显示这几个App未被清理，不在清理名单中，被忽略了。是不是还有其他清理软件？

如果是Thanox清理的话，日志中会出现```Clean up background task XXX```，可以检查下。

[2020-04-28 13:12] Tornaco commented on #120
繁体最近在抽时间翻译。预计还需要一到两周~

[2020-04-28 13:12] Tornaco commented on #119
Done since 1.2.1

[2020-04-28 13:12] #119 closed, assigned to nobody

[2020-04-28 13:23] zy10010 commented on #129
1587652078963|W|ThanosS|disableAllSmartFreezePkgs
1587652078964|W|ThanosS|bgAnywayTaskCleaner Cleaning up background tasks: [com.netease.cloudmusic, github.tornaco.android.thanos, net.oneplus.launcher, com.eg.android.AlipayGphone, com.xiaomi.hm.health, com.oneplus.ifaaservice,

1587652078964|W|ThanosS|Package com.netease.cloudmusic is not restricted, ignore.
1587652078965|W|ThanosS|Package com.eg.

[2020-04-30 06:44] Dynamith opened #134 "情景模式bug"
情景模式的实例代码坐标点击中的ui.clickDelay()函数不执行

Steps to reproduce the behavior:（复现步骤）
我将代码修改如下：
`    "actions": [
      "ui.showShortToast( \"应用点击坐标\");",
      "ui.clickDelay(960, 171, 1000);",
      "ui.showShortToast( \"延时命令\");"
    ]`
则最后一个"延时命令"的toast不显示，
并且我开启开发者选项的指针位置后发现并没有点击相应坐标，

**Version（发现问题的版本）:**
 - OS: 我的小米平板4魔趣9和一加6T氢OS10都有这个问题
 - Version 1.2.2

** Logs**（日志文件）
![Screenshot_20200430-144330

[2020-05-02 04:49] q1136502381 commented on #126
@Tornaco 谢谢恢复，请关注酷安，很多网友反应锁屏清理延时是失效的状态，只有NO才能生效，望修复，谢谢

[2020-05-02 12:34] #41 closed, assigned to Tornaco

[2020-05-04 02:02] q1136502381 commented on #126
@Tornaco
![image](https://user-images.githubusercontent.com/63836075/80931722-40f8c700-8dee-11ea-962d-0434150fa652.png)
大佬，依旧没有修复！

[2020-05-04 05:45] Sizumei opened #135 "MIUI12乖巧(不关服务只休眠)等功能失效"
**Describe the bug（现象描述）**
1.miui12乖巧休眠无效果，日志显示无权限设置idle状态
2.禁用启用应用组件时也报权限异常
**Version（发现问题的版本）:**
miui12 android10
** Logs**（日志文件）
05-04 13:37:24.105  2077  2249 E EdXposed-Bridge: java.lang.SecurityException: No permission to change app idle state: uid 1000 does not have android.permission.CHANGE_APP_IDLE_STATE.
05-04 13:37:24.105  2077  2249 E EdXposed-Bridge: 	at android.app.ContextImpl.enforc

[2020-05-04 11:23] LQOS8720 commented on #132
怎么获取日志？是edxp的日志吗？

[2020-05-04 11:40] LQOS8720 commented on #132
我好像找到原因了。
原因是 移花接木中添加的规则中对应的app已经卸载了。例如，我安装了xx应用，添加了xx应用的移花接木规则，后来我把xx应用卸载了，xx应用的移花接木规则还在，这样会导致打开移花接木时thanox闪退。

[2020-05-05 07:29] s235784 commented on #130
[thanox-core.log](https://github.com/Tornaco/Thanox/files/4579358/thanox-core.log)
[thanox-init.log](https://github.com/Tornaco/Thanox/files/4579359/thanox-init.log)

[2020-05-05 07:51] q1136502381 commented on #126
@Tornaco 大佬在尝试了你发布的最新版本后，锁屏清理已重新运行，谢谢大佬修复，但是在使用过程中发现偶尔还是不会清理，不知道是什么问题：日志中发现了下面得问题，大佬请看下：
2020-05-05 15:11:18.038 W/ThanosS: Package bin.mt.plus is not restricted, ignore.
2020-05-05 15:11:18.039 W/ThanosS: Package net.oneplus.launcher is not restricted, ignore.
2020-05-05 15:11:18.039 W/ThanosS: Package com.tencent.mm is not restricted, ignore.
2020-05-05 15:11:18.039 W/ThanosS: Package com.tencen

[2020-05-05 07:52] q1136502381 commented on #126
getContentProviderImpl fail resolve provider for name: com.tencent.mm.coolassist.debugprovider, providerInfo is null  @Tornaco  这条不知道是什么意思

[2020-05-05 09:33] q1136502381 commented on #126
@Tornaco  大佬你好，现在锁屏清理不间断失效，具体表现为不准时 以下为日志：
2020-05-05 17:09:48.631 W/ThanosS: doSmartStandByForEnabledPkgsIfNeed, reason: onScreenOff.
2020-05-05 17:09:48.632 W/ThanosS: cleanUpBgTasksOnScreenOff with delay: 180000
2020-05-05 17:15:04.413 W/ThanosS: getContentProviderImpl fail resolve provider for name: com.oneplus.ap.upgrader.provider, providerInfo is null
2020-05-05 17:15:04.543 W/ThanosS: getCo

[2020-05-06 03:55] liu-cool-cmd opened #136 "lineageos无法打开主程序"
**lineageos下无法打开（现象描述）**
今天刷机了lineageos17.1 。安卓10，打开thanox国内版显示蓝底logo以后疯狂闪退又自动打开这样重复，最后安卓系统提示屡次停止运行（简洁的描述该bug的现象）

能打开就好（期望结果）

**Version（发现问题的版本）:**
 - OS:Android10.0（系统版本，例如Android 6.0.1）
 - Version V1.2.4dirty-prc软件版本，例如v2.3.4）

** Logs**（日志文件）
务必将截取到的日志文件发到该issue里。
CRASH_2020-05-06-113810

java.lang.RuntimeException: Unable to resume activity {github.tornaco.android.thanos/github.tornaco.andro

[2020-05-06 04:32] Tornaco commented on #135
@Sizumei  激活后“重启”设备了吗？不是软重启。

[2020-05-06 07:02] Sizumei commented on #135
重启了，日志只复制了两个，core日志太长，复制不过来
2020－05－06：
1588746747502|W|ThanoxApp|CpuUsagePercent[s[999C[999B[6n[u[H[J[?25l[H[J[s[999C[999B[6n[uTasks: 1 total,   1 running,   0 sleeping,   0 stopped,   0 zombie  Mem:      5.4G total,      5.4G used,       67M free,      109M buffers Swap:      2.5G total,       40M used,      2.4G free,      1.5G cached800%cpu   0%user   0%nice   0%sys 800%idle   0

[2020-05-10 13:41] Gladtbam opened #137 "高耗电提醒打不开"
打开高耗电提醒后，返回，重新进入高耗电提醒依然是关闭状态
![Screenshot_2020-05-10-21-36-40-714_github tornaco android thanos pro](https://user-images.githubusercontent.com/49943258/81500784-fa7ffc80-9306-11ea-8e0c-effebbbffa32.jpg)

[2020-05-10 13:50] #120 closed, assigned to Tornaco

[2020-05-10 13:51] #130 closed, assigned to Tornaco

[2020-05-10 13:51] #136 closed, assigned to Tornaco

[2020-05-10 13:51] #134 closed, assigned to Tornaco

[2020-05-10 13:51] #85 closed, assigned to Tornaco

[2020-05-12 08:50] #131 closed, assigned to Tornaco

[2020-05-13 04:17] j2rong4cn opened #138 "bug"
米8，MIUI11，Android10，

05-13 10:45:44.294  1376  2803 E EdXposed-Bridge: java.lang.NullPointerException: Attempt to invoke virtual method 'int java.lang.Integer.intValue()' on a null object reference
05-13 10:45:44.294  1376  2803 E EdXposed-Bridge: 	at github.tornaco.android.thanos.services.xposed.hooks.ActiveServicesBindingFixRegistry$1.afterHookedMethod(Unknown Source:6)
05-13 10:45:44.294  1376

[2020-05-15 09:30] ghost opened #139 "关于edxp通过safetynet"

[2020-05-18 09:53] Tornaco commented on #139
F**k safetynet.

[2020-05-19 11:55] MadYGY opened #140 "情景模式condition中的fcmPushMessageArrived不起作用"
**Describe the bug（现象描述）**
情景模式condition中的fcmPushMessageArrived不起作用，示例中的“感知GCM FCM推送”同样无法起作用

**To Reproduce**（如何复现）
[
  {
    "name": "Push message api",
    "description": "感知GCM FCM推送",
    "priority": 2,
    "condition": "fcmPushMessageArrived == true && pkgName == \"org.telegram.plus\"",
    "actions": [
      "ui.showShortToast(\"Plus messenger 收到了推送，该干啥干啥\"));"
    ]
  }
]
即使去掉pkgName == \"

[2020-05-19 12:37] Gladtbam commented on #140
你用的TG是官方的还是第三方的？

[2020-05-19 13:03] MadYGY commented on #140
官方的

[2020-05-19 13:08] Gladtbam commented on #140
那就对了，官方的包名不是org.telegram.plus，是org.telegram.messenger，改一下

[2020-05-19 13:13] #140 closed, assigned to nobody

[2020-05-20 01:25] aruato commented on #139
情景模式  shell命令还是无法运行
[{"name": "关闭屏幕，打开省电模式",
"description": "设置powersave模式",
"priority": 2,
"condition":
"screenOff == true",
"actions": [ " sh.exe(\"/data/powercfg.sh powersave\")"] }]   代码应该没问题吧  可是无法生效

[2020-05-20 08:17] aruato commented on #139
1.2.7  QQ不进缓存了

[2020-05-23 10:15] JieHao258 opened #141 "大老能否策略上加入情境模式选择"
大老，情景模式很好用，但是新安装的APP，没有提示可选择的情景模式，你看这个可以加入到策略里面吗？只要安装新应用，就跳出来加入所选的情景模式里面去

[2020-05-24 06:47] na2wo4 opened #142 "无法自启"
**Describe the bug（现象描述）**
重启后无法自启，首先发现的是新装应用无法自动配置，后续测试发现，乖巧模式，后台自启，允许后台等功能均失效。本人做过多次测试寻求方法，包括使用进程锁永久锁后台，关闭一切后台省电设置与应用，均无效。目前发现唯一解决方法为设置应用锁，使用应用锁首次触发打开应用，或者开机后手动打开应用。

**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
重启

**Expected behavior**（期望结果）
开机后自动部署应用，无需手动启动

**Screenshots**（截图）
If applicable, add screenshots to help explain your problem.（通过截图更好的解释你的问题）

**Version（发现问题的版本）:**

[2020-05-25 01:58] na2wo4 commented on #142
应用管理真香，退回去了

[2020-05-27 14:15] yFFyF commented on #118
@Tornaco 作者回复一下呀，是日志不合格 还是什么原因。怎么就石沉大海 没信了呢😳

[2020-06-07 02:09] lllinusss commented on #118
同问题

[2020-06-07 02:25] yFFyF commented on #118
估计跑路了 更新也净是些有呀没的😒￢口￢ノ

[2020-06-07 02:30] lllinusss commented on #118
我最近还发现关闭了后台启动的应用还是会被activity唤醒，显示的也是android？

broadcast，content provider是会正确禁止掉，activity好像没办法

[2020-06-07 02:40] yFFyF commented on #118
1.1.7beta3的更新日志有说:支持ContentProvider单独启动控制与规则，不知道啥意思 好像是我在群里跟作者提个这个问题之后更新的

[2020-06-07 11:53] Tornaco commented on #118
请问下哪次更新时有的没的？维护不需要花时间吗？

[2020-06-08 12:08] kiddin9 commented on #123
你问我支不支持 我当然支持

[2020-06-10 17:21] lllinusss opened #143 "部分后台启动的主体无法识别，导致启动拦截及规则无效"
**Describe the bug（现象描述）**
进入后台启动的详细记录页面可以看到很多启动记录的主体无法识别，显示为 android？，而这样的后台启动，并不会被拦截，即使被启动程序设置了不允许后台启动甚至是规则有 deny  * 包名这一项

![Screenshot_20200610-131128](https://user-images.githubusercontent.com/47072484/84298506-3df3a380-ab1d-11ea-8349-355489f29169.jpg)
![Screenshot_20200610-131143](https://user-images.githubusercontent.com/47072484/84298525-421fc100-ab1d-11ea-8a36-ffedffc16672.jpg)

[2020-06-12 12:58] liu-cool-cmd opened #144 "在lineage os下的两个bug，求百忙之中解决"
**Describe the bug（现象描述）**
第一个是使用应用锁会不定期软重启，基本使用十几次就会软重启一次。第二个是添加插件后插件界面不显示但是再次添加会显示已添加过。

**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
使用多次应用锁后就会复现。插件那个添加就显示不出

**Expected behavior**（期望结果）
修好两个bug

**Screenshots**（截图）
If applicable, add screenshots to help explain your problem.（通过截图更好的解释你的问题）

**Version（发现问题的版本）:**
 - OS: lineage os 17.1. system as root
 - Version 1.2.7-prc

**Ad

[2020-06-12 13:02] liu-cool-cmd commented on #144
附上两张插件bug的截图
![photo_2020-06-12_21-01-14](https://user-images.githubusercontent.com/52557882/84505231-f6714100-acef-11ea-9a0c-609ef6564bd4.jpg)
![photo_2020-06-12_21-01-21](https://user-images.githubusercontent.com/52557882/84505236-f8d39b00-acef-11ea-9b49-7176c551569a.jpg)

[2020-06-16 11:21] Tornaco commented on #143
@lllinusss  正常情况才即使识别为android 也是可以阻止 `后台启动` 启动的。

截图中允许的记录原因是(截图中体现的是这个意思吧？)：
`BY_PASS_PROCESS_RUNNING`

[2020-06-16 11:23] Tornaco commented on #142
@na2wo4 正常情况下Thanox 核心服务是注入system_server中的，不会受限。

麻烦提供一份日志。

[2020-06-16 11:24] Tornaco commented on #141
@JieHao258 后面会提供情景模式API 进行该类操作。

[2020-06-16 12:08] Tornaco commented on #144
@769812215  问题2 重装Thanox有用吗？

我刷了los17.1 测试了插件OK。

[2020-06-16 12:11] Tornaco commented on #144
@769812215 los是official build吗？

[2020-06-16 13:56] liu-cool-cmd commented on #144
貌似是unofficial的，和system as root有关吗？我试试重置系统

[2020-06-16 14:02] #139 closed, assigned to Tornaco

[2020-06-16 14:06] lllinusss commented on #143
谢谢回复！可能我没有表达清楚，我重新组织下语言。

我之前就知道：允许的记录原因为 BY_PASS_PROCESS_RUNNING
意思是App已经在前台运行中，不应该打断，因此是允许的。

但是其实仔细看我的第一张截图，从下往上看，第一个allow的记录才是我所说的bug （第二张截图是这条记录点开），这个记录是这样

By Android ?
允许的原因是 BY_PASS_DEFAULT
这条记录把程序拉起来了（再往上走所有的记录显示被允许是正常的，因为程序已经在后台运行了）

正常识别为安卓系统的话好像是Android，这边多了个问号?，所以我猜测是没有正确识别导致没有能够block掉）

这个app首先是在block list里面，然后我自己也添加了 DENY * com.amc.theaters
所以理论上是不应该被自动拉起来的，除了用户从launcher点开，而且我注意到从la

[2020-06-16 14:12] liu-cool-cmd commented on #144
我双清了一下，现在插件可以了，应用锁我观察下，谢谢

[2020-06-17 13:25] liu-cool-cmd commented on #144
目前应用锁貌似还是有问题

[2020-06-18 00:50] JiZhi-Error opened #145 "闪退"
使用太极，在从后台启动Thanox时，有一定几率会造成闪退
![image](https://user-images.githubusercontent.com/24365406/84965151-b28f9900-b140-11ea-9763-8e40add78f47.png)

[2020-06-18 10:21] liu-cool-cmd commented on #144
确认了应用锁还存在问题，两天内复现三次

[2020-06-18 11:32] Tornaco commented on #144
@769812215 好的，我观察一下。

麻烦发下/data/system/thanos下的logging文件夹打包。

[2020-06-18 12:13] liu-cool-cmd commented on #144
https://wpniubi.lanzous.com/iN46Hdssh0b
打包好了，而且群里貌似之前貌似有类似问题，我再去问问

[2020-06-19 14:05] Tornaco commented on #144
![截屏2020-06-19 下午10 04 55](https://user-images.githubusercontent.com/23255526/85141154-e8d03400-b278-11ea-9067-f44d1af3eccb.png)

@769812215  试试这个选项。

[2020-06-19 14:36] liu-cool-cmd commented on #144
我之前是打开的，现在关闭试一下

[2020-06-19 23:22] liu-cool-cmd commented on #144
无论那个选项开启还是关闭都会自动软重启

[2020-06-23 02:53] tanshenxiang opened #146 "太极阳激活功能不生效"
太极阳激活后，除冻结以外所有功能不生效，后台清理，自启动，应用锁设置了均无效果
系统版本魔趣Android7.1

[2020-06-23.txt](https://github.com/Tornaco/Thanox/files/4816842/2020-06-23.txt)
[thanox-init.txt](https://github.com/Tornaco/Thanox/files/4816859/thanox-init.txt)
[thanox-core.txt](https://github.com/Tornaco/Thanox/files/4816860/thanox-core.txt)

此问题能否得到解决，我很想使用这个模块

[2020-06-23 02:54] tanshenxiang commented on #146
@Tornaco

[2020-06-23 03:46] Gladtbam opened #147 "[功能建议]希望能情景模式能添加亮度相关接口"
情景模式添加调节***屏幕亮度***的接口，包括***自动亮度***的开关接口

[2020-07-01 01:50] ghost opened #148 "核心未能激活，把edxp模块√上了，重启也激活不了"
A clear and concise description of what the bug is.（简洁的描述该bug的现象）把edxp模块打√了，重启之后未激活，我已经买了

**To Reproduce**（如何复现）核心一直不激活，重启也没用
Steps to reproduce the behavior:（复现步骤）已经root，已经edxp了，勾了重启也不激活
1. Go to

2. Click on '....'（点击XXX）
3. Scroll down to '....'（下滑到XXX）
4. See error（发现错误XXX）

**Expected behavior**（期望结果）
A clear and concise description of what you expected to happen.（描述一下期望的结果）

**Screenshots**

[2020-07-01 01:56] ghost commented on #148
#
[Uploading EdXposed_Modules_20200701_094438.txt…]()
``

[2020-07-01 01:56] #148 closed, assigned to nobody

[2020-07-03 12:13] klcb2010 commented on #117
不可能的事情

[2020-07-06 01:05] HorrZzz opened #149 "一加桌面，替换某个APP的图标，会导致桌面直接闪退（而且APP图标并不能修改）"
**Describe the bug（现象描述）**
A clear and concise description of what the bug is.（简洁的描述该bug的现象）
        一加桌面，替换某个APP的图标，会导致桌面直接闪退（而且APP图标并不能修改）
**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
1.激活thanox
2.一加桌面编辑更换任意一款APP的图标
3.桌面闪退
**Expected behavior**（期望结果）
A clear and concise description of what you expected to happen.（描述一下期望的结果）
正常情况下图标应该正常替换且桌面不闪退
**Screenshots**（截图）
If applicable,

[2020-07-12 11:19] x-songmin opened #150 "一加7pro 设置-蓝牙和设备连接 卡死黑屏"
**Describe the bug（现象描述）**
一加7pro 设置-蓝牙和设备连接 卡死黑屏

**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）

后文的卡死黑屏均指 点击 设置--蓝牙和设备连接 后卡死黑屏

magisk模块全部取消只留taichi，太极模块只留thanox，确定是thanox引起卡死黑屏，取消thanox后就没问题了。

thanox清除数据后重启，卡死黑屏现象仍然存在。

补，thanox版本试了1.2.1 1.2.6 1.2.9  都一样  ，以前没问题，可能是系统更新的问题吧

**Screenshots**（截图）
![Screenshot_20200712-184643](https://user-images.githubusercontent.com/68186221/872

[2020-07-13 06:13] wontdoanything opened #151 "能否添加一些NFC方面的功能"
你好作者：
       我手机mix2s eu版，模式是关闭nfc，并且处于sim卡钱包模式。我在使用时希望在情景模式中打开钱包的时候可以自动打开NFC，并且切换到内置钱包模式，推出后，可以自动切换回sim卡钱包模式，并且关闭nfc。
      但是我看文档中，关于hw操作nfc方法，无法满足切换nfc钱包模式，能否在未来补充这块的能力，谢谢

[2020-07-15 15:42] #80 closed, assigned to Tornaco

[2020-07-16 14:29] wanlyg opened #152 "开发者设置里关闭"显示网络使用详情"后悬浮窗不消失"
**Describe the bug（现象描述）**
A clear and concise description of what the bug is.（简洁的描述该bug的现象）

开发者设置里关闭"显示网络使用详情"后悬浮窗不消失

**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）

打开 设置-开发者-显示网络使用详情，有显示后关闭选项即可复现

**Expected behavior**（期望结果）
A clear and concise description of what you expected to happen.（描述一下期望的结果）

修复bug

**Screenshots**（截图）
If applicable, add screenshots to help explain your

[2020-07-18 12:10] Kin-Chi opened #153 "权限管理中可否增加控制firebase的支持"
大佬可否增加禁用 Google/Firebase Analytics 的功能，感谢。

[2020-07-20 08:43] Zheng-Xian opened #154 "［功能建议］显示网络使用详情希望能固定在一个地方"
希望大大能把显示网络使用详情希望能固定在一个地方，不要每次显示的地方都随机，这样子看着眼花，还有就是希望把上传和下载显示位置对换一下，现在上传的在靠左边，人第一眼是优先看到上传的

[2020-07-23 01:12] Gladtbam opened #155 "建议更改定位权限为设置其中一个同时设置其它几个"
![Screenshot_2020-07-23-08-57-43-632_github tornaco android thanos pro](https://user-images.githubusercontent.com/49943258/88243503-29c9c700-ccc3-11ea-9c91-1230946893c3.jpg)
如图，类似于权限狗或者app ops，***将定位权限的设置改成设置粗略位置(打比方)为允许，同时其它位置权限也设置为允许***。每次部分应用偶尔需要位置(遇到特殊情况，其它时候完全不需要)时，都要一个个改，太麻烦了

[2020-07-23 10:33] Tornaco commented on #150
@xiasongmin1 麻烦提供下日志：
1. Thanox日志（App里有路径说明）
2. /data/anr下的无响应日志。

[2020-07-23 12:31] Tornaco commented on #151
@wontdoanything  `sim卡钱包模式`是`钱包App`的一个功能吗？

[2020-07-25 02:32] Tornaco commented on #145
@JiZhi-Error 是打开了Thanox插件回到后台吗？  能提供完整日志吗？

[2020-07-25 02:37] JiZhi-Error commented on #145
好的，等我今天卡卡看，能不能复现出来

[2020-07-30 00:15] JiZhi-Error opened #156 "代收插件不适配太极"
开机就直接崩，如需提供更多log可联系我，这个bug很好卡
2020-07-30 08:08:35.066 2062-2062/? E/ThanosS: PluginBridge  Error loading class java.lang.ClassNotFoundException: Didn't find class "github.tornaco.android.plugin.push.message.delegate.hooks.HookEntry" on path: DexPathList[[zip file "/data/system/thanos/data/u/0/plugins/github.tornaco.android.plugin.push.message.delegate.tp"],nativeLibraryDirectories=[/system/lib64,

[2020-07-30 00:21] JiZhi-Error commented on #99
目前一加桌面的任务栏有个截图遮罩，得给他干了才行

[2020-07-30 00:52] Tornaco commented on #156
@JiZhi-Error OK

[2020-07-30 00:53] Tornaco commented on #99
@JiZhi-Error 🤣

[2020-07-30 03:21] sky96111 commented on #99
绝了..国产UI神仙操作

[2020-07-30 03:21] #99 closed, assigned to Tornaco

[2020-08-05 02:14] zzzop commented on #90
试试通知滤盒？

[2020-08-05 11:26] x-songmin commented on #150
解决了。。禁用了打印服务。。

[2020-08-05 11:26] #150 closed, assigned to Tornaco

[2020-08-13 14:14] LiAlH4qwq opened #157 "bug: 读取应用安装列表权限"
bug: 在thanox禁用读取应用安装列表权限后，应用依然能够通过getPackageManager().getPackageInfo(包名,0)得知用户是否安装了某应用

[2020-08-21 11:56] JiZhi-Error opened #158 "莫名其妙的报错"
2020-08-21 19:54:19.403 2063-2362/? E/ThanosS: ActiveServicesProxy Fail getMServicesByNameField: java.lang.NoSuchFieldError: com.android.server.am.ActiveServices$ServiceMap#mServicesByName
        at de.robv.android.xposed.XposedHelpers.findField(SourceFile:117)
        at de.robv.android.xposed.XposedHelpers.getObjectField(SourceFile:901)
        at github.tornaco.android.thanos.services.app.Acti

[2020-08-21 22:33] LiAlH4qwq opened #159 "希望完善英语翻译"
界面有些元素仍然只有中文翻译

[2020-08-23 14:19] IMFsy opened #160 "在太极上激活该模块造成设备频繁软重启"
设备 红米k20pro
ROM MIUI12 20.8.20 安卓10
thanox 1.3.1
taichi 6.3.0 模块6.2.3
在激活thanox模块的情况下 在游戏中切小窗 大概率会造成手机卡死2秒  发出蜂鸣声哔～  两秒后 自动软重启
开机后 toast弹出find device closed unexpectedly。
只使用了thanox的乖巧模式以及移花接木。真的很影响使用。90%的软重启都发生在打游戏的时候。
取消激活该模块，则软重启不再发生。
如果需要测试以及log的话可以联系我QQ：2292747045
我可以帮助你来调试以解决这个问题。
感谢开发者

[2020-08-23 15:12] hldad opened #161 "情境模式进度条bug"
**Describe the bug（现象描述）**

在情境模式中，点击右侧进度条程序退出重启。

**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
1. 进入主程序
2. 进入情境模式
3. 增加情境模式到出现进度条，或导入默认
4. 点击进度条，出现错误。

**Expected behavior**（期望结果）
消除bug

**Screenshots**（截图）
![IMG_20200823_230320](https://cdn.hldad.cn/image/20200823-1598195033515.jpg)

**Version**（发现问题的版本）:
 - OS: Android 9
 - Version
![xbtc2b2e155f50671c15a40c11b323123392](https:

[2020-08-24 12:56] Tornaco commented on #160
@IMFsy 麻烦按照说明提供日志。

[2020-08-24 12:57] Tornaco commented on #158
@JiZhi-Error 这里只有一处错误是thanox打印的非异常堆栈。其他是其他模块日志。

[2020-08-24 12:57] #158 closed, assigned to nobody

[2020-08-24 13:07] IMFsy commented on #160
https://cowtransfer.com/s/b523fd2d5d6d46

[2020-08-25 00:00] #147 closed, assigned to Tornaco

[2020-08-27 14:31] JiZhi-Error opened #162 "隐匿不起作用"
系统：Android Q
机型：OnePlus 7p
用太极使用隐匿功能不生效，刚写了个demo测试
都需要哪些log，我提供

[2020-08-29 05:23] Tornaco commented on #162
/data/system/thanos/logging
demo提供一下

[2020-08-29 05:23] Tornaco commented on #162
@JiZhi-Error

[2020-08-29 05:42] JiZhi-Error commented on #162
好的，稍等，我再把我使用的太极版本也发上来

[2020-08-29 06:44] JiZhi-Error commented on #162
[app-debug.zip](https://github.com/Tornaco/Thanox/files/5144859/app-debug.zip)
[logging.zip](https://github.com/Tornaco/Thanox/files/5144862/logging.zip)
[magisk-taichi-v6.2.3.zip](https://github.com/Tornaco/Thanox/files/5144863/magisk-taichi-v6.2.3.zip)
![image](https://user-images.githubusercontent.com/24365406/91630694-18808280-ea06-11ea-9a55-12d251fc83ef.png)
![image](https://user-images.githu

[2020-08-29 06:44] JiZhi-Error commented on #162
@Tornaco
demo你解压下吧
edxp上我测试了，可用，就太极

[2020-08-29 06:48] JiZhi-Error commented on #162
[ThanoxDemo.zip](https://github.com/Tornaco/Thanox/files/5144865/ThanoxDemo.zip)
这个忘了

[2020-09-13 11:38] JiZhi-Error opened #163 "v2.0-alpha 无法进入桌面"
用magisk补丁方式激活，刷入成功后无法进入桌面
都需要哪些log
我看logcat那边反复几个输出
@Tornaco
20-09-13 19:37:47.559 7633-7633/? V/Riru: module_xfingerprint_pay_wechat: forkAndSpecializePost
2020-09-13 19:37:47.717 7663-7663/? V/Riru: hook removed
2020-09-13 19:37:47.717 7663-7663/? V/Riru: storage_redirect: forkAndSpecializePost
2020-09-13 19:37:47.732 7663-7663/? V/Riru: thanox-core: forkAndSpecializePost
2020-09-13 19:37:47.732

[2020-09-13 12:32] Tornaco commented on #163
@JiZhi-Error 真快。。

1.   ROM版本
2. data/system/thanos/logging/magisk下日志，如果没有，那就提供system/framework/services.jar

[2020-09-13 12:33] Tornaco commented on #162
@JiZhi-Error 稍晚点看下

[2020-09-13 12:37] JiZhi-Error commented on #163
一加7p Android Q
我直接都给你
@Tornaco
[magisk.zip](https://github.com/Tornaco/Thanox/files/5214081/magisk.zip)
[services.zip](https://github.com/Tornaco/Thanox/files/5214084/services.zip)

[2020-09-13 12:44] Tornaco commented on #163
@JiZhi-Error 看日志Magisk补丁初始化是正常的。。

Xposed里取消了吧？

- 把data/system/thanos/logging下其他文件发来

[2020-09-13 12:46] JiZhi-Error commented on #163
@Tornaco 我测试的时候是取消的
就是能开机，桌面闪退
[thanos.zip](https://github.com/Tornaco/Thanox/files/5214093/thanos.zip)

[2020-09-13 12:59] JiZhi-Error commented on #162
@Tornaco
我感觉用magisk补丁方式来激活，这bug就没了

[2020-09-13 12:59] JiZhi-Error commented on #162
我咋给关了..............

[2020-09-13 13:22] Tornaco commented on #163
@JiZhi-Error 等下个版本在测试下吧，后面完善一下日志相关补丁。

[2020-09-13 13:23] JiZhi-Error commented on #163
en,我现在用2.0版太极激活的

[2020-09-13 13:44] Tornaco commented on #161
Fixed,

[2020-09-13 13:44] #161 closed, assigned to Tornaco

[2020-09-13 13:45] Tornaco commented on #157
Fixed.

[2020-09-13 13:45] #157 closed, assigned to Tornaco

[2020-09-13 13:45] Tornaco commented on #154
Fixed.

[2020-09-13 13:45] #154 closed, assigned to nobody

[2020-09-13 17:14] dviree opened #164 "Removed media sounds"
All is gone from system media !

[2020-09-15 00:42] moelife-coder opened #165 "Unable to activate on android R"
**Describe the bug（现象描述）**

Thanox is unable to be activated on android R using EdXposed, even if the module is selected in EdXposed manager

Thanox 在 Android R 上无法使用 EdXposed(YAHFA) 激活

**Version（发现问题的版本）:**
 - OS: Android 11
 - Version v2.0-alpha-1-c2471f9-prc

** Logs**（日志文件）
[code]

[2020-09-15 14:39] Tornaco commented on #165
@moelife-coder Xposed补丁目前还在适配中，请关注后续版本。

[2020-09-15 23:16] JiZhi-Error commented on #163
v2.0-alpha02 也一样，刷上后能开机，就是桌面进不去
看logcat的riru输出和以前一样
@Tornaco
2020-09-13 19:37:48.064 7715-7715/? V/Riru: hook removed
2020-09-13 19:37:48.064 7715-7715/? V/Riru: storage_redirect: forkAndSpecializePost
2020-09-13 19:37:48.080 7715-7715/? V/Riru: thanox-core: forkAndSpecializePost
2020-09-13 19:37:48.080 7715-7715/? V/Riru: module_xfingerprint_pay_wechat: forkAndSpecializePost
2020-09-13 19:37:48.2

[2020-09-17 08:34] Tornaco commented on #163
@JiZhi-Error OK 下版本再试试。。

[2020-09-17 08:52] pangmf opened #166 "绿守处方和ifw失效"
激活thanox后绿守处方和ifw失效。。。
是只能通过thanox禁用组件吗

[2020-09-17 12:08] JiZhi-Error commented on #163
![image](https://user-images.githubusercontent.com/24365406/93468415-85aa7800-f921-11ea-981c-9b38f9442540.png)
[1.txt](https://github.com/Tornaco/Thanox/files/5238928/1.txt)
@Tornaco

[2020-09-17 13:51] Tornaco commented on #163
@JiZhi-Error OK 我先看下

[2020-09-17 14:18] Tornaco commented on #163
@JiZhi-Error system/framework/下 幫忙看下有沒有懷疑是oppo 或者oneplus自定義的jar，或者把文件列表列出來看下。
需要看下它的代碼才能分析。

[2020-09-17 14:25] Tornaco commented on #163
@JiZhi-Error Oneplus launcher Apk 發出來看下

[2020-09-17 15:21] JiZhi-Error commented on #163
v2.0-alpha03 版本我直接翻车，解锁还是无法进入桌面，瞎操作几下我直接软重启
而且好像我的华为运动健康也gg，无法进入桌面没法详细判断
[一加桌面_4.7.3.200909181716.29cae95.zip](https://github.com/Tornaco/Thanox/files/5240236/_4.7.3.200909181716.29cae95.zip)氢
[一加桌面_4.5.7.200708140025.d5adcd7.zip](https://github.com/Tornaco/Thanox/files/5240234/_4.5.7.200708140025.d5adcd7.zip)氧
@Tornaco

[2020-09-18 00:39] JiZhi-Error commented on #163
要不我全给你份吧

[2020-09-18 00:43] JiZhi-Error commented on #163
@Tornaco  system/framework/下所有的，我看貌似有两个是定制的
您有一份文件待查收！即刻点击链接获取文件：https://cowtransfer.com/s/8709af234a6e4f 或进入 cowtransfer.com 获取，在首页输入取件码：ptfk5f（24小时内有效）

[2020-09-18 01:02] Tornaco commented on #163
@JiZhi-Error
[magisk-thanox-core-v1.0-alpha-03.zip](https://github.com/Tornaco/Thanox/files/5242727/magisk-thanox-core-v1.0-alpha-03.zip)
[thanox_2.0-alpha02-15-2f1f776-dirty-prc.apk.zip](https://github.com/Tornaco/Thanox/files/5242728/thanox_2.0-alpha02-15-2f1f776-dirty-prc.apk.zip)

试试这个。

[2020-09-18 01:21] JiZhi-Error commented on #163
@Tornaco
emmmm,咋说呢，就是开机后桌面还是崩溃，但是我锁屏一会后，能好
再找到thanox，打开应用是黑屏
之后手机软重启
[1.zip](https://github.com/Tornaco/Thanox/files/5242791/1.zip)

[2020-09-18 14:18] Tornaco commented on #163
@JiZhi-Error 分析了一下流程，看起来错误日志里的相关流程都正常执行了。。奇怪了。

再试试这个，排除法。

[thanox_2.0-alpha02-17-4b4a53a-dirty-prc.apk.zip](https://github.com/Tornaco/Thanox/files/5246022/thanox_2.0-alpha02-17-4b4a53a-dirty-prc.apk.zip)

Magisk模块用上面的回复里发的那个magisk-thanox-core-v1.0-alpha-03.zip就行。

[2020-09-18 14:30] JiZhi-Error commented on #163
@Tornaco 目前看是成功了
能进入桌面，qq微信等app都能打开
![image](https://user-images.githubusercontent.com/24365406/93609546-9250ce00-f9fe-11ea-890b-d32fd0a5f057.png)
![image](https://user-images.githubusercontent.com/24365406/93609579-9e3c9000-f9fe-11ea-9388-c71faa045a31.png)

[2020-09-18 14:34] JiZhi-Error commented on #163
不过为啥我点一键加速闪退？？？

[2020-09-18 14:35] Tornaco commented on #163
@JiZhi-Error 有两个hook点注释掉了，大概问题定位范围缩小了

[2020-09-18 14:40] Tornaco commented on #163
等下在编一个。。这个闪退是估计因为AMS hook被我去掉了。

[2020-09-18 14:43] Tornaco commented on #163
[thanox_2.0-alpha02-17-4b4a53a-dirty-prc.apk.zip](https://github.com/Tornaco/Thanox/files/5246162/thanox_2.0-alpha02-17-4b4a53a-dirty-prc.apk.zip)
@JiZhi-Error 辛苦再试试这个带AMS hohook的。

[2020-09-18 14:43] JiZhi-Error commented on #163
冲

[2020-09-18 14:47] JiZhi-Error commented on #163
崩了，桌面gg，还要log么

[2020-09-18 14:48] Tornaco commented on #163
@JiZhi-Error 发下吧。我在编一个。带另一个hook点的。只能一个个排除了。。辛苦！~

[2020-09-18 14:50] JiZhi-Error commented on #163
[1.zip](https://github.com/Tornaco/Thanox/files/5246201/1.zip)

[2020-09-18 14:56] Tornaco commented on #163
[thanox_2.0-alpha02-17-4b4a53a-dirty-prc.apk.zip](https://github.com/Tornaco/Thanox/files/5246236/thanox_2.0-alpha02-17-4b4a53a-dirty-prc.apk.zip)
@JiZhi-Error  FYI

[2020-09-18 15:00] JiZhi-Error commented on #163
可开机，可进桌面
我点一键加速也没闪退

[2020-09-18 15:13] Tornaco commented on #163
@JiZhi-Error 好的，大概知道原因了，明天在搞

[2020-09-19 00:50] wanlyg opened #167 "Android 11点击正在运行和乖巧会软重启，后台启动功能消失"
**Describe the bug（现象描述）**
点击正在运行和乖巧会软重启，后台启动功能消失

**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
点击xx个应用正在运行，软重启
点击乖巧模式，软重启
后台启动功能消失

**Expected behavior**（期望结果）
修复bug
**Screenshots**（截图）
无
**Version（发现问题的版本）:**
Android 11 (AOSP 改名)
Thanox v2.0-alpha03

**Additional context**（其他信息）
Add any other context about the problem here.（其他的补充信息）

** Logs**（日志文件）
务必将截取到的日志文件发到该issue里。

[2020-09-19 00:57] wanlyg commented on #167
补充
Edxposed s版和y版均存在此问题
sdcard/Android/ 下无日志

上面的日志是点击了两次正在运行的日志
下面这个日志是点击乖巧模式软重启的日志

[2020-09-19 02:19] Tornaco commented on #167
[code]

@wanlyg Android 11 IUsageStatsManager接口发生了变更。下个版本会处理。

New API:
[code]

[2020-09-19 04:57] Tornaco commented on #163
[thanox_2.0-alpha02-22-248a207-prc.apk.zip](https://github.com/Tornaco/Thanox/files/5249114/thanox_2.0-alpha02-22-248a207-prc.apk.zip)
[magisk-thanox-core-v1.0-alpha-03.zip](https://github.com/Tornaco/Thanox/files/5249116/magisk-thanox-core-v1.0-alpha-03.zip)

@JiZhi-Error

[2020-09-19 04:58] JiZhi-Error commented on #163
好

[2020-09-19 05:07] JiZhi-Error commented on #163
@Tornaco 翻车
[1.zip](https://github.com/Tornaco/Thanox/files/5249125/1.zip)

[2020-09-19 09:39] Tornaco commented on #163
[thanox_2.0-59-2ae9814-prc.apk.zip](https://github.com/Tornaco/Thanox/files/5249450/thanox_2.0-59-2ae9814-prc.apk.zip)
[magisk-thanox-core-v1.0-alpha-03.zip](https://github.com/Tornaco/Thanox/files/5249461/magisk-thanox-core-v1.0-alpha-03.zip)

@JiZhi-Error ..

[2020-09-19 09:42] JiZhi-Error commented on #163
@Tornaco 😂

[2020-09-19 09:45] JiZhi-Error commented on #163
@Tornaco
桌面进去了
![image](https://user-images.githubusercontent.com/24365406/93664236-dcd65700-fa9f-11ea-9fa5-488d46790a87.png)

[2020-09-19 11:41] Tornaco commented on #163
@JiZhi-Error OK Thanks~!

[2020-09-20 00:39] mymine opened #168 "什么时候把应用管理的shell管理添加进来。"
如题。什么时候把应用管理的shell权限管理添加进来。现在国内的流氓软件一打开程序，一堆shell命令检测。检测机型信息，检测ROOT检测xposed。这功能太需要了。

[2020-09-20 00:40] JiZhi-Error commented on #168
支持

[2020-09-20 05:00] wanlyg opened #169 "Android 11 活动管理/广播接收管理器/服务管理 打开无内容"
Describe the bug（现象描述）
应用详情页面，活动管理 广播接收管理器 服务管理 打开无内容

To Reproduce（如何复现）
Steps to reproduce the behavior:（复现步骤）
点击应用列表，随便点进一个应用。点击活动管理/广播接收管理器/服务管理 打开无内容

Expected behavior（期望结果）
修复bug
Screenshots（截图）
无
Version（发现问题的版本）:
Android 11 (AOSP 改名)
Thanox v2.0-alpha04

Additional context（其他信息）
Add any other context about the problem here.（其他的补充信息）

** Logs**（日志文件）
务必将截取到的日志文件发到该issue里。
1600577691124|V|T

[2020-09-20 07:07] moelife-coder commented on #169
同样的问题
Log(很长，截取了一小段，其他的基本上是在重复):
[code]

[2020-09-20 10:05] wanlyg opened #170 "已安装插件不显示，再次安装提示 已安装"
Describe the bug（现象描述）
已安装插件不显示，再次安装提示 已安装
 我曾在#152 提到此bug

To Reproduce（如何复现）
Steps to reproduce the behavior:（复现步骤）
偶现，具体复现步骤不明

Expected behavior（期望结果）
修复bug
Screenshots（截图）
无
Version（发现问题的版本）:
Android 11 (AOSP 改名)
Thanox v2.0-alpha04

Additional context（其他信息）
Add any other context about the problem here.（其他的补充信息）

** Logs**（日志文件）
务必将截取到的日志文件发到该issue里
1600595763461|V|ThanoxApp|A92E8A9A743FE6648

[2020-09-20 10:25] JiZhi-Error commented on #163
@Tornaco 消息代收插件无法激活，是没适配么

[2020-09-21 02:45] Marcocxy opened #171 "添加多用户应用管理"
现在只能对主用户的应用进行管理，对于使用工作资料等进行系统多开的应用，无法进行管理
无论是进程管理，乖巧模式还是权限控制等都只能控制主用户的应用，多用户下的应用后台无法压制

[2020-09-25 05:33] #166 closed, assigned to nobody

[2020-09-25 13:29] Tornaco commented on #169
@wanlyg @moelife-coder OK.

[2020-09-25 23:50] wanlyg opened #172 "Android 11 无限软重启"
Describe the bug（现象描述）
Android 11无限软重启

To Reproduce（如何复现）
Steps to reproduce the behavior:（复现步骤）
更新到 2.0-beta1-4 勾选Edxposed选择后重启

Expected behavior（期望结果）
修复bug
Screenshots（截图）
无
Version（发现问题的版本）:
Android 11 (AOSP 改名)
Thanox V2.0-beta1-4-78fba4b-prc

Additional context（其他信息）
Add any other context about the problem here.（其他的补充信息）
以下为截取自thanox-core.log

** Logs**（日志文件）
务必将截取到的日志文件发到该issue里
for name:

[2020-09-26 00:00] wanlyg commented on #172
另外push插件似乎也发生了崩溃,这个崩溃似乎在几个版本前就发生了
Thanox-Core: PluginBridge  Loading modules from: /data/system/thanos/data/u/0/plugins/github.tornaco.android.plugin.push.message.delegate.tp, loading pkg: android
Thanox-Core: PluginBridge  Loading class github.tornaco.android.plugin.push.message.delegate.hooks.HookEntry
Thanox-Core: PluginBridge  moduleInstance github.tornaco.android.plugin.push.message.delegate.

[2020-09-26 00:32] Tornaco commented on #172
@wanlyg 给个全的日志吧，最好能adb抓一个反复开机过程的完整日志

[2020-09-26 02:00] wanlyg commented on #172
完整的thanox日志和adb日志
[logging.zip](https://github.com/Tornaco/Thanox/files/5286031/logging.zip)

[adb-logcat.zip](https://github.com/Tornaco/Thanox/files/5286034/adb-logcat.zip)
我删除了thanox日志中PkgPool-0 dump出的所有程序
@Tornaco

[2020-09-26 07:43] MUTSUKI14444 commented on #160
我也是，谷歌版，MIUI11欧版，安卓10

[2020-09-26 11:01] Tornaco commented on #160
@MUTSUKI14444 能抓个全量adb日志吗？上面兄弟发的日志过期了。。

[2020-09-26 11:06] Tornaco commented on #172
FATAL
[code]

[2020-09-26 11:11] Tornaco commented on #172
@wanlyg  你把包怎么了。。我看日志里各种摘不到包。以及跟权限相关的错误
[code]

[2020-09-26 11:21] wanlyg commented on #172
这个Android11 rom是测试版的，并且是我没清数据从Android10强刷上的，跟这个无限重启有关系吗？有什么影响吗？😱 @Tornaco

[2020-09-26 13:27] Tornaco commented on #172
不激活thanox可以启动？ @wanlyg

[2020-09-26 13:33] wanlyg commented on #172
可以正常使用，而且上一个版本v2.0-alpha04 v2.0-alpha03也都正常使用

[2020-09-26 13:49] Tornaco commented on #172
@wanlyg  OK .. 我再看下改了啥

[2020-09-26 14:00] Tornaco commented on #172
@wanlyg 帮忙抓个不激活thanox的adb完整开机日志

[2020-09-26 14:02] Tornaco commented on #152
Fixed.

[2020-09-26 14:02] #152 closed, assigned to Tornaco

[2020-09-26 14:04] Tornaco commented on #145
Reopen if re-prod.

[2020-09-26 14:04] #145 closed, assigned to Tornaco

[2020-09-26 14:04] Tornaco commented on #133
Added.

[2020-09-26 14:04] #133 closed, assigned to Tornaco

[2020-09-26 14:10] Tornaco commented on #164
@dviree More detail?

[2020-09-26 14:23] wanlyg commented on #172
来了来了
[adb_logcat.zip](https://github.com/Tornaco/Thanox/files/5286799/adb_logcat.zip)

[2020-09-26 18:38] KellyEscobar opened #173 "关于权限设置的便利性"
向作者提个建议：
权限设置内
每个权限的项目后面的圆圈钩改为**点击循环切换**比较方便和便捷
一共才三个选项 始终允许、前台允许、拒绝
也可以改成选项的前面则按原来一样弹出菜单，点击后面的圆圈钩就是循环切换。

[2020-09-28 08:17] Zheng-Xian opened #174 "thanox与微x、qx冲突"
thanox运行了，qx就不运行，每次强制停止QQ后正常，隔一段时间qx又停止了，微x也有点问题，手机重启微x不起作用，也需要强制停止后再启用才恢复，thanox没有开启后台启动、后台运行、任务清理功能，只是单纯使用权限管理功能，停止使用thanox模块问题不出现了

[2020-09-28 12:10] Tornaco commented on #172
[thanox_2.0-alpha04-19-7248c61-7248c61b0b7b7d34ca3ea6a9233a49023ad3cfcc-prc.apk.zip](https://github.com/Tornaco/Thanox/files/5292085/thanox_2.0-alpha04-19-7248c61-7248c61b0b7b7d34ca3ea6a9233a49023ad3cfcc-prc.apk.zip)

@wanlyg 有条件的话试试这个、、、

[2020-09-28 12:12] wanlyg commented on #172
ok，待会儿反馈

[2020-09-28 12:13] Tornaco commented on #172
@wanlyg 不知道版本号能不能直接安装上，不行我重新给你编一个版本号高的。

[2020-09-28 12:17] wanlyg commented on #172
我有核心破解，已经正常开机了，可以正常使用

[2020-09-28 13:46] Tornaco commented on #172
@wanlyg 我把代码回退了。排查下是哪次提交导致的，rou'y肉眼看不出问题。  再试试这个：

[thanox_2.0-beta1-prc.apk.zip](https://github.com/Tornaco/Thanox/files/5292677/thanox_2.0-beta1-prc.apk.zip)

[2020-09-28 13:54] wanlyg commented on #172
这个翻车了，和之前一样无限软重启，如果不能排查的话可以多发几个版本，我一起试 @Tornaco

[2020-09-28 13:57] Tornaco commented on #172
@wanlyg  好。。稍等编译比较慢

[2020-09-28 14:12] Tornaco commented on #172
[thanox_2.0-alpha04-25-89bdd81-89bdd81cd5cd407ad5fc8f758847a8b7ae55b326-prc.apk.zip](https://github.com/Tornaco/Thanox/files/5292817/thanox_2.0-alpha04-25-89bdd81-89bdd81cd5cd407ad5fc8f758847a8b7ae55b326-prc.apk.zip)

@wanlyg 先这个吧

[2020-09-28 14:18] wanlyg commented on #172
这个是正常的 。

[2020-09-28 14:34] Tornaco commented on #172
@wanlyg 好的，辛苦了、、快逼近了。

[2020-09-28 14:39] Tornaco commented on #172
[thanox_2.0-beta1-7-204b8fe-dirty-prc.apk.zip](https://github.com/Tornaco/Thanox/files/5293034/thanox_2.0-beta1-7-204b8fe-dirty-prc.apk.zip)

@wanlyg  今天最后一个，不行明天再搞了

[2020-09-28 14:40] wanlyg commented on #172
ok!

[2020-09-28 14:46] wanlyg commented on #172
这次翻车了。

[2020-09-28 15:03] Tornaco commented on #172
@wanlyg 😂

[2020-09-29 00:44] Tornaco commented on #172
[thanox_2.0-alpha04-28-1bd35f8-1bd35f825b18edf5b1ba715b4ae33a7b8f79f693-prc.apk.zip](https://github.com/Tornaco/Thanox/files/5295733/thanox_2.0-alpha04-28-1bd35f8-1bd35f825b18edf5b1ba715b4ae33a7b8f79f693-prc.apk.zip)

@wanlyg

[2020-09-29 01:30] wanlyg commented on #172
这次没问题，可以用

[2020-09-29 05:35] Tornaco commented on #172
[thanox_2.0-97-204b8fe-dirty-prc.apk.zip](https://github.com/Tornaco/Thanox/files/5296628/thanox_2.0-97-204b8fe-dirty-prc.apk.zip)

@wanlyg finally..

[2020-09-29 10:55] wanlyg commented on #172
翻车了。

[2020-09-29 13:42] Tornaco commented on #172
@wanlyg  见鬼了。。再看看这俩。:x
[Thanox-Tests.zip](https://github.com/Tornaco/Thanox/files/5299333/Thanox-Tests.zip)

[2020-09-29 14:05] wanlyg commented on #172
两个都没问题，到目前为止，所有使用新图标(隐匿和乖巧)的都翻车了，所有使用旧图标的都没问题

[2020-09-29 14:07] Tornaco commented on #172
@wanlyg 不对劲。。我在研究将研究。。改个图不至于。。

[2020-09-29 14:12] Tornaco commented on #172
[thanox_2.0-beta1-prc-80256753.apk.zip](https://github.com/Tornaco/Thanox/files/5299614/thanox_2.0-beta1-prc-80256753.apk.zip)

这个呢，这个是基于上个提交，改了几张图。
@wanlyg  辛苦了

[2020-09-29 14:17] wanlyg commented on #172
这个没问题。

[2020-09-29 14:20] Tornaco commented on #172
@wanlyg 这个和上面昨晚发的是一样的版本。。一个有问题一个没问题。。你试试再重启一次呢？会不会是其他原因导致的。

[2020-09-29 14:21] wanlyg commented on #172
我擦，我找找看

[2020-09-30 13:38] JiZhi-Error commented on #162
@Tornaco 用最新版的Magisk补丁激活，隐匿在我这依旧不生效

[2020-10-01 18:58] LiAlH4qwq opened #175 "全部启用/禁用导致系统卡死"
在thanox应用管理，一次性启用或禁用过多的活动/广播/服务，会导致整个系统卡死，触摸屏无法操作，但所有的触摸操作都会被累积到后面一起被执行，如果不能修复，希望增加一个全屏悬浮窗，以免误操作

[2020-10-01 19:00] LiAlH4qwq opened #176 "希望增加自动依据关键词禁用组件"
最好可以根据关键字禁用新安装应用的三大组件，比如禁用所有包含huawei字段的service

[2020-10-03 06:28] Vladivostok1 commented on #174
我也有这个问题

[2020-10-11 01:00] La-Hire opened #177 "2.0版本的图标最好换一下，和f-secure一模一样"
和商业杀毒软件logo撞车了，挺老的厂商了
https://www.f-secure.com/en/home/products/safe
建议避免

[2020-10-11 01:58] Tornaco commented on #177
@La-Hire  感谢提醒。会更换。

[2020-10-11 08:08] lwlf opened #178 "希望【智能冻结】增加分组并可以添加快捷方式到桌面（启动器）"
希望【智能冻结】可以增加分组，一键冻结分组下的应用和一键解冻分组下的应用。

并且可以添加快捷方式到桌面快速冻结分组下应用和解冻分组下应用。

[2020-10-11 11:45] Sheffield666666 opened #179 "【反馈】安卓10magisk版，隐藏多任务卡片功能无效"
**安卓10magisk版，隐藏多任务卡片功能无效**
安卓10magisk版，隐藏多任务卡片功能无效，微信多任务设置为“强制隐藏”，多任务卡片仍然存在，edxposed版则无问题

期望结果
能够隐藏微信得多任务卡片

**Screenshots**（截图）
If applicable, add screenshots to help explain your problem.（通过截图更好的解释你的问题）

**Version（发现问题的版本）:**
 - OS: 安卓10
 - Version thanox 2.0 alpha4

[logs.zip](https://github.com/Tornaco/Thanox/files/5361001/logs.zip)

** Logs**（日志文件）
务必将截取到的日志文件发到该issue里。

[2020-10-14 07:30] ramocky opened #180 "wiki地址失效"
wiki地址失效 ...处理下咩？已FQ

[2020-10-17 13:32] Achiesama opened #181 "bug冻结应用后打开会导致手机锁屏"
**黑屏锁屏**

冻结应用后打开会导致手机黑屏锁屏。

冻结应用。
（复现步骤）
1. 进入智能冻结（进入XXX）
2. 点击加号（点击XXX）
3. 选择任意一个应用（下滑到XXX）
4. 返回进行点击（发现错误XXX）
5. 黑屏锁屏
6.开锁后进入冻结软件，关闭冻结软件后黑屏锁屏，解锁后关闭冻结软件。

**Screenshots**（截图）
![Screenshot_20201017-212008051](https://user-images.githubusercontent.com/44689896/96338157-c8957200-10be-11eb-9d71-06be77048db7.jpg)
![Screenshot_20201017-212009867](https://user-images.githubusercontent.com/44689896/9633

[2020-10-21 08:01] qiuyouxin opened #182 "关于自定义读取已安装app列表。"
能否实现自己选取系统app或者自选某些app，作为可读取列表，取代阻止或者忽略读取呢？
就像隐匿功能那样。

[2020-10-23 09:07] Marcocxy opened #183 "希望添加对多用户管理"
现在只能对主用户的应用进行管理，对于使用工作资料等进行系统多开的应用，无法进行管理
无论是进程管理，乖巧模式还是权限控制，冻结等功能都只能控制主用户的，多用户下的应用都无法选择控制

[2020-10-24 04:13] ml863606 opened #184 "一加8t，太极阳magisk，安卓11无法激活thanox核心，如果作者有空的话，自己可一起进行调试，谢谢"
由于无法激活thanox核心，无法开启开发者选项的里面的抓取日志功能，又有何办法可以协助开发者进行测试？

[2020-10-24 05:11] JiahanChen1 commented on #184
作者停更了，不知道还能不能修。我是小米9的安卓11类原生系统，太极阳也不能激活

[2020-10-24 05:11] phoenixxie0 commented on #184
同问题，一加8，升级到11之后，Edxposed无限软重启，换了太极magisk，然后激活不了。

[2020-10-25 05:18] Yueling5556 opened #185 "一加8pro Android R edxp激活thanox后，无法进入桌面，且无限软重启"
**Describe the bug（现象描述）**
无法进入桌面，输入锁屏密码后软重启

**To Reproduce**（如何复现）
激活后

**Expected behavior**（期望结果）
激活后正常使用

**Screenshots**（截图）
none

**Version（发现问题的版本）:**
 - OS: Android R
 - Version v2.0 beta 2

**Additional context**（其他信息）
无限软重启

** Logs**（日志文件）
务必将截取到的日志文件发到该issue里。
none

[2020-10-29 00:54] dqwfgzs opened #186 "建议加入返回退出时即清理进程的功能"
之前的应用管理xposed有一个返回清理后台的功能，希望在thanox里能重新引入

[2020-10-29 16:19] Achiesama commented on #181
换了一个rom，目前还没出现这个问题

[2020-10-31 13:39] wanlyg commented on #172
此问题在删除/data/thanos重启后消失。
怀疑配置文件导致

[2020-10-31 13:39] #172 closed, assigned to Tornaco

[2020-11-01 07:22] #185 closed, assigned to nobody

[2020-11-09 20:48] SekiBetu opened #187 "隐匿功能对TikTok无效，无法改区"
我在使用应用变量的时候只修改SIM国际码为JP时，tiktok可以正常变为日区，
而Thanox只修改SIM国际码为JP时，仍旧为美区，对此甚是不解
应用变量不知道加了什么额外的东西可以成功让tiktok变成日区，还是说Thanox的sim国际码这一项隐匿失败了

[2020-11-12 11:49] #177 closed, assigned to nobody

[2020-11-12 11:50] Tornaco commented on #187
@SekiBetu  我之前在android10 测试过，Tik Tok是可以变为jp区的。

[2020-11-12 11:53] SekiBetu commented on #187
MIUI12.5 21.1.26 Android 11
Magisk v21.4(21400)
Magisk Manger v8.0.7(4843)(15)
Riru - core v23.4
Riru - edxposed 93-v0.5.2.0_4672-master (SandHook)
EdXposed Manager v4.6.0-pre(45760)
TikTok 18.4.41

thanox_2.2-10-52e30aa-prc.apk
thanox_2.2-18-016b0b1-prc.apk
thanox_2.2-30-eb3f6da-prc.apk
thanox_2.2-39-1f22c22-prc.apk
thanox_2.2-42-c736d84-prc.apk
thanox_2.2-47-6611db9-prc.apk

实测不行，请问你的测试步骤是怎样的，我再

[2020-11-12 12:05] SekiBetu commented on #187
附图：
以下是Thanox步骤：
首先在edxp中激活模块重启手机
![image](https://user-images.githubusercontent.com/38283893/98937984-1f844080-24df-11eb-9eba-7842558ad35e.png)
进入模块的隐匿功能增加一个日本SIM国家码的模板，只修改SIM国家码为JP
![image](https://user-images.githubusercontent.com/38283893/98938022-2f9c2000-24df-11eb-9b45-5b997c0cb1a7.png)
为TikTok启用这个模板
![image](https://user-images.githubusercontent.com/38283893/98938039-362a9780-24df-11eb-85d0

[2020-11-12 12:07] Tornaco commented on #187
@SekiBetu 周末我在找时间看下。。

[2020-11-12 12:09] SekiBetu commented on #187
我的猜测是，应用变量没填的数据不会被TikTok读取，具体是不是我也不知道了，应用变量是开源的，可以参考 https://github.com/kingsollyu/AppEnv-Kotlin

上述过程我是修改了系统的时区到台湾的，不修改时区的话大陆时区tiktok也会检测，视频无法刷出来
如果想要评论和点赞等功能的话需要挂梯

上述过程我确定magisk hide没有添加tiktok和模块等APP，edxp关闭了黑/白名单模式，thanox作为全局模块使用

[2020-11-14 01:46] Kylepoops commented on #187
@SekiBetu 你挂美区代理了吗

[2020-11-14 05:11] SekiBetu commented on #187
如果你仔细看了我上述过程就能知道改区与网络环境无关，即使你不用梯子也能进日区正常观看视频

[2020-11-21 06:00] ghost opened #188 "淘宝乖巧模式失败，显示无法安全停止"
用的是最新play版淘宝
![Screenshot_20201121-135909](https://user-images.githubusercontent.com/62871221/99868904-d0868b80-2c01-11eb-948a-5837cc3b3a57.jpg)

[2020-11-22 12:45] schalkiii opened #189 "反复提示请重新启设备且重启后设置恢复默认"
**Describe the bug（现象描述）**
反复提示请重新启设备， 重启设备之后提示已成功激活，但是仍让会反复提示请重新启设备。 且设置没办法持续的生效， 一旦重启过后所有设置恢复默认需要重新导入。

**To Reproduce**（如何复现）
三星one UI2.5 Android 10
Edxposed YAHFA 0.4.6.4 (4563)

**Expected behavior**（期望结果）
不再提示重启设备。设置能够持续地生效

**Screenshots**（截图）
![微信图片_20201122204449](https://user-images.githubusercontent.com/30932387/99904063-98677180-2d03-11eb-957a-739e44c653f8.jpg)

**Version（发现问题的版本）:**
T

[2020-11-23 09:20] txw-yates opened #190 "设备不定时自动重启"
现象描述：
安装thanox后，解锁设备后会偶尔会重启

如何复现：
安装thanox，放置一段时间后，解锁手机就会触发自动重启

期望结果：
解锁可以正常进入桌面

发现问题的版本：
手机：一加8t
系统：oxygen 11.0.5.6 欧版
thanox：v2.0-beta2
edxposed：0.5.6（4565 YAHFA）
magisk：21.1

** Logs**（日志文件）
![image](https://user-images.githubusercontent.com/23112008/99945745-2305aa80-2db0-11eb-99b8-a969446710b6.png)

[2020-11-23 12:12] yingshaoxo opened #191 "Let us be able to add "Smart Freeze" shortcut to desktop"
这样就不用每次都打开软件，再选择 冻结页面，再打开应用了

不要跟我讲可以把单个应用拖到桌面（50多个应用，我手都得点坏掉

因为我把所有垃圾guochan应用都冻结了

但又必须得用，你说怎么办，老哥？这个feature实不实用？

___

其实就是想要在桌面添加个widget直接跳到smart freeze这个activity

[2020-11-24 07:28] Tornaco commented on #190
@txw-yates 能否提供完整日志文件，多谢~

[2020-11-24 07:31] Tornaco commented on #189
@schalkiii Please contact thanox@163.com, You will get help.

[2020-11-24 07:31] #189 closed, assigned to nobody

[2020-11-24 07:33] Tornaco commented on #191
@yingshaoxo 如果你的设备支持App shortcut可以长按App icon快捷进入。
你需要的功能后续可以安排。

[2020-11-24 08:04] txw-yates commented on #190
@Tornaco 是要哪个目录下的文件，昨天因为不断重启卸载了，我在装上试试

[2020-11-24 08:29] txw-yates commented on #190
[logging.zip](https://github.com/Tornaco/Thanox/files/5588395/logging.zip)
这个是整个logging文件夹

[2020-11-24 08:31] Tornaco commented on #190
[code]

[2020-11-24 08:32] Tornaco commented on #190
@txw-yates Thanks。 日志里确实看到关键错误了，辛苦在提供下设备上的 `/framework/services.jar` 文件。

[2020-11-24 08:36] txw-yates commented on #190
`/framework/services.jar`，这个是直接在根目录下吗，根目录下没有找到这个文件

[2020-11-24 08:40] txw-yates commented on #190
[services.jar.zip](https://github.com/Tornaco/Thanox/files/5588456/services.jar.zip)
这个是` /system/framework/services.jar`这个文件，不知道对不对

[2020-11-24 09:23] Tornaco commented on #190
@txw-yates 是的，晚一些发测试版，辛苦再帮忙测试下是否OK。

[2020-11-24 10:01] txw-yates commented on #190
ok，到时候我在装了测一下

[2020-11-24 10:17] wanlyg commented on #190
@Tornaco 插一个题外话，edxp在新版模块中关闭了模块对/data/system的权限，理由是容易被检测

[2020-11-24 12:01] Tornaco commented on #190
[thanox_2.1-4-f795802-prc.apk.zip](https://github.com/Tornaco/Thanox/files/5589685/thanox_2.1-4-f795802-prc.apk.zip)

辛苦试试这个版本~

[2020-11-24 12:03] Tornaco commented on #190
OK，后续如果有必要可以尝试进行迁移。因为目前Thanox核心服务是按照Android系统服务的模式进行部署，系统服务的部分数据也是data/system下，是符合逻辑的。

[2020-11-24 12:23] txw-yates commented on #190
神速👍， 我来试一下

[2020-11-24 13:55] Tornaco commented on #190
@txw-yates haode，如果问题还存在请反馈~

[2020-11-25 01:40] txw-yates commented on #190
好像没啥问题了，昨天晚上用到现在，没有发生过重启

[2020-11-25 09:27] #190 closed, assigned to Tornaco

[2020-11-25 11:29] Tornaco commented on #190
@txw-yates Thanks

[2020-11-25 13:50] hanxin1997 opened #192 "2.1-4最新版本无限重启"
**Describe the bug（现象描述）
安装完新版，重新打开后，无限重启，只要打开任意软件后一会就重启。

**To Reproduce**（如何复现）
安装完新版，重新重启后，无限重启，只要打开任意软件后几秒就重启，在edxp关闭灭霸后就正常了。

**Expected behavior**（期望结果）
A clear and concise description of what you expected to happen.（描述一下期望的结果）

**Screenshots**（截图）
If applicable, add screenshots to help explain your problem.（通过截图更好的解释你的问题）

**Version（发现问题的版本）:**
 - OS: miui12 20.11.19 安卓10
 - Version 2.1-4-f

[2020-11-25 13:59] hanxin1997 commented on #192
在酷安和群都发现有翻车的 好像都是安卓10的

[2020-11-25 14:03] wanlyg commented on #192
有没有控制变量，只更新了thanox吗？同版本的edxp模块用上个版本会boom吗？新版edxp模块关闭了对/data/system/的权限，会导致thanos读不到配置文件boom，请检查一下 @hanxin1997

[2020-11-25 14:03] Tornaco commented on #192
@hanxin1997 日志中未见系统异常，等下我试试小米手机。。我的AOSP测试Android10没发现问题。

[2020-11-25 14:06] hanxin1997 commented on #192
有使用情景模式不知道算不算使用了变量 上版本不会，同样的新版edxp

[2020-11-25 14:09] Tornaco commented on #192
@hanxin1997 如果有条件的话帮忙抓个开机到异常重启的adb log。不行的话只能等我这边测试一台小米，不确定能否复现。

[2020-11-25 14:09] lonelydogin commented on #192
我这边控制变量了，新版edxp使用上个版本正常。更新后就boom了。

[2020-11-25 14:13] Tornaco commented on #192
1. 设备全程链接电脑。
2. 电脑端执行命令adb logcat > logs.txt
3. 操作复现直到异常重启。
4. log.txt就是日志了。

@lonelydogin

[2020-11-25 14:15] wanlyg commented on #192
我说的是控制变量法。不过好像只动了Android10的。@hanxin1997

刚才发送的一瞬间我Android11软重启了，我去提一个新issus @Tornaco

[2020-11-25 14:17] Tornaco commented on #192
@wanlyg :(

[2020-11-25 14:20] Tornaco commented on #192
[thanox_2.1-6-078c351-dirty-prc.apk.zip](https://github.com/Tornaco/Thanox/files/5597233/thanox_2.1-6-078c351-dirty-prc.apk.zip)
@hanxin1997 @lonelydogin  试试这个版本

[2020-11-25 14:28] lonelydogin commented on #192
依然重启。

[2020-11-25 14:28] hanxin1997 commented on #192
试过了  还是一样.. 没安装上adb 无法抓取异常日志

[2020-11-25 14:31] wanlyg opened #193 "Android11随机软重启"
**Describe the bug（现象描述）
2.0-alpha04-2-9eb28cf-prc之后的所有版本
2.0-alpha04-2-9eb28cf-prc没有随机软重启问题

To Reproduce（如何复现）
随机，大概几小时一次

Expected behavior（期望结果）
A clear and concise description of what you expected to happen.（描述一下期望的结果）

Screenshots（截图）
If applicable, add screenshots to help explain your problem.（通过截图更好的解释你的问题）

Version（发现问题的版本）:

OS: AOSP Android11
Version 2.1-4-f795802-pro
Additional context

[2020-11-25 14:35] wanlyg commented on #193
另外，这个bug存在太久,我都忘了，一直用的2.0-alpha04-2-9eb28cf-prc，这个版本没有问题

两个日志我都把thanox-core.log打印的包名信息删除了，下次能不能不打印这些了 @Tornaco

[2020-11-25 14:36] Tornaco commented on #192
[thanox_2.1-7-2d389c5-prc.apk.zip](https://github.com/Tornaco/Thanox/files/5597322/thanox_2.1-7-2d389c5-prc.apk.zip)

@hanxin1997  @lonelydogin 这个呢。。

[2020-11-25 14:46] Y161537 commented on #192
@Tornaco 一加七pro未发生重启

[2020-11-25 14:50] hanxin1997 commented on #192
未发生重启 使用正常 刚想用adb抓日志，不过没发生重启。

[2020-11-25 14:51] Y161537 commented on #192
@Tornaco

[2020-11-25 14:51] Tornaco commented on #192
@Y161537   @hanxin1997 感谢，找到错误位置了。。

[2020-11-25 14:52] lonelydogin commented on #192
到目前为止 工作正常

[2020-11-25 14:53] Y161537 commented on #192
@Tornaco 一切正常

[2020-11-25 15:10] Q761109021 commented on #192
这个没重启，但是进入软件后会崩溃重载，一加安卓11

[2020-11-25 15:20] wanlyg commented on #193
logcat.zip
抓到了logcat，十分钟内发生了两次软重启，第一次发生在23:08分左右，第二次发生在23:13分左右，你看看有没有用，有空解决一下 @Tornaco

[2020-11-25 15:22] hanxin1997 commented on #192
我的问题解决了，作者可以关评论了。有其他问题的安卓11的朋友。可以另开问题。

[2020-11-25 15:51] Tornaco commented on #193
@wanlyg 等几分钟帮忙测试下。。

[2020-11-25 15:55] wanlyg commented on #193
没问题 @Tornaco

[2020-11-25 15:57] Tornaco commented on #192
[thanox_2.1-5-f38c7d7-prc.apk.zip](https://github.com/Tornaco/Thanox/files/5597794/thanox_2.1-5-f38c7d7-prc.apk.zip)

@ hanxin1997 再帮忙测试下这个。thanks

[2020-11-25 15:58] Tornaco commented on #193
[thanox_2.1-5-f38c7d7-prc.apk.zip](https://github.com/Tornaco/Thanox/files/5597798/thanox_2.1-5-f38c7d7-prc.apk.zip)

Thanks @wanlyg

[2020-11-25 15:59] wanlyg commented on #193
好的

[2020-11-25 16:00] Tornaco commented on #193
@wanlyg 拜一拜 ！！！

[2020-11-25 16:43] #192 closed, assigned to Tornaco

[2020-11-26 01:09] Marcocxy commented on #183
多用户管理无法实现吗？现在系统管理类软件基本都有多用户管理功能啊

[2020-11-26 01:09] Marcocxy commented on #183
@Tornaco 多用户管理无法实现吗？现在系统管理类软件基本都有多用户管理功能啊

[2020-11-26 02:02] wanlyg commented on #193
软重启依旧出现 @Tornaco
第一次在00:03分左右，这个可能没抓到
第二次在00:57
第三次在08:02
第四次在09:46
第五次在09:48
logcat5次软重启.zip

[2020-11-26 13:11] Tornaco commented on #193
@wanlyg Thanks

https://github.com/Tornaco/Thanox/releases/tag/v2.1

这个应该可以解决日志中出现的问题。

[2020-11-26 13:24] wanlyg commented on #193
没注意又发了新版，我测试一下，有问题再反馈 @Tornaco

[2020-11-27 06:59] qiuyouxin opened #194 "LG，21-6，软重启"
**Describe the bug（现象描述）**
2.1-6，出现软重启，我这里表现有时装完app后出现软重启，不是每次。

GitHub2.0b2后酷安发布的2.0-4也有软重启现象，当时回退2.0b2用了很长时间无软重启。

不知道哪些log有用，按要求目录下都搬来了。

**Version（发现问题的版本）:**
 - OS: LG，官方，android8.0.0
 - thanox 2.1-6

**Additional context**（其他信息）
Add any other context about the problem here.（其他的补充信息）

** Logs**（日志文件）
务必将截取到的日志文件发到该issue里。
[Android-date-thanoscache.zip](https://github.com/Tornaco/Thanox/files/

[2020-11-27 12:41] Tornaco commented on #194
@qiuyouxin Got

[2020-11-27 12:52] Tornaco commented on #193
@wanlyg  system/framework/services.jar 帮忙发下，我再分析下

[2020-11-27 13:04] wanlyg commented on #193
[services.zip](https://github.com/Tornaco/Thanox/files/5607937/services.zip)
今天用了一天没发现问题，没有异常重启 @Tornaco

[2020-11-28 04:46] cmddot opened #195 "移花接木功能干扰tasker的logcat事件触发"
移花接木的功能是不是也是hook系统的logcat来实现的?其优先级貌似高于tasker,导致tasker的logcat事件长时间不能触发。有没有可能优化一下,给其他的捕捉logcat的app留一点空间。谢谢

[2020-11-28 15:13] #182 closed, assigned to Tornaco

[2020-11-28 17:41] ghost opened #196 "【bug反馈】隐匿记录不显示"
**bug描述**
我打开了“隐匿”功能，并且设置了伪装模板，然后套用给所有“用户安装”应用。启动这些应用后，隐匿记录依旧不显示，是空白的。Ps：我未开启"设置-电池-尽力省电"功能

**版本**
手机：华为荣耀v10  Android 8.0.0
Thanox版本：2.1-6-76ee4ff-prc

**其他**
这种bug持续好几个版本了，应该是2.0版本出现的，因为我用1.3.0版本的时候未发现该bug，1.3.1和1.3.2我忘记了有没有。不光是我的华为手机，我看到酷安其他手机用户也有这种情况。最后有三个疑问：
（1）我如何判断隐匿功能生效了，用啥软件可以检测。我尝试了安兔兔，但并没有伪装成功。
（2）“设置-开发者-开启日志”功能，我即使关闭了，并且删除了两个日志文件夹，重启设置后，依旧生成日志。**本次抓的日志没测这个**
（3）"设置-电池-高耗电提醒"功能，开启后，又自

[2020-11-29 09:03] ghost commented on #196
2.x版本是生效的，只是不显示隐匿记录

[2020-11-29 10:04] ghost commented on #196
edxposed 要设置生效应用才会隐匿。用“Cellular-Z”软件测试的的时候发现，ICCID和sim imsi 隐匿失败，其次卡槽2的meid和imei隐匿失败，卡槽1没问题。我只装了一张卡

[2020-11-29 21:38] paolo0 opened #197 "一加6t 不能进入桌面"
**Describe the bug（现象描述）**
A clear and concise description of what the bug is.（简洁的描述该bug的现象）
下载了酷安的  2.1-6-76ee4ff-prc 版本能正常重启，但是重启完一解锁不到一秒就立刻重启。

**Version（发现问题的版本）:**
 - OS:  OxygenOS 10.3.6
 - Version: Thanox 2.1-6-76ee4ff-prc

**Additional context**（其他信息）
手机里面有太极， 手机一整年没备份的照片幸好能通过 fastboot adb 进入临时twrp进行备份， 试着在Twrp 的文件管理删除了taichi , magisk，thanox 的文件夹还是是一样的问题。 现在备份完只能重置系统从0开始。。。。

** Logs**（日志文

[2020-11-30 06:26] sandriaas opened #198 "apps take a long time to start/load every phone boot and accessibility service enabled apps aren't working correctly"
**Describe the bug**
accessibility service enabled apps failed to start every phone boot, thus they become not working. such as Scene, edge gesture, fooview, etc.

and every boot, many apps failed/late to start automatically, such as batteryguru, rescuetime, shortcutter, widgets, kwgt, etc. it takes really long until they load/started.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'A

[2020-11-30 14:30] Tornaco commented on #195
@tyc600 移花接木是Hook AMS实现，与logcat无关。

[2020-11-30 14:33] Tornaco commented on #197
@paolo0

做过什么配置吗？例如系统核心应用的某些组件配置

没有日志无法分析呢。

[2020-11-30 14:35] Tornaco commented on #196
@achooyu 试试这个 https://github.com/Tornaco/Thanox/releases/tag/v2.2，记录应该有了。

[2020-11-30 14:36] Tornaco commented on #194
@qiuyouxin Pls help test: https://github.com/Tornaco/Thanox/releases/tag/v2.2

[2020-11-30 14:37] Tornaco commented on #193
@wanlyg  Pls help test: https://github.com/Tornaco/Thanox/releases/tag/v2.2  💯

[2020-11-30 17:24] ghost commented on #196
谢谢开发大大，已经可以显示记录了。感谢

[2020-11-30 17:25] ghost commented on #196
需要测试关闭日志无效的bug吗

[2020-12-01 02:46] Tornaco commented on #196
@achooyu 暂时先不需要~

[2020-12-01 03:29] ghost commented on #196
ok

[2020-12-02 06:09] #180 closed, assigned to nobody

[2020-12-02 09:09] qiuyouxin commented on #194
@Tornaco thanox2.2，经过差不多一天使用，没有相关软启现象发生，应该是解决了。
另外2个建议
1.权限控制增加shell的使用，对隐藏root有一定帮助。
2.最近任务模糊功能，增加模糊程度控制或者使用自选图片覆盖，现在程度的不够。

[2020-12-02 13:34] 2607627233 opened #199 "严重性能问题"
最近发现点击启动应用会有0.5s左右的延时，在之前是点击之后立即启动，根据我控制变量法一个个排查，发现在edxp中启用thanox之后就会出现这个问题，这个延时甚至影响到了系统截图（物理按键触发）。再之后尝试开关thanox内的功能对单应用做测试，结果没有任何变化。

[2020-12-02 13:59] Tornaco commented on #199
@2607627233  请补充Thanox版本信息与激活方式

[2020-12-02 14:04] 2607627233 commented on #199
目前是2.1.6版本 验证码激活

[2020-12-02 14:09] Tornaco commented on #155
@Gladtbam  Help test https://github.com/Tornaco/Thanox/releases/tag/v2.2

[2020-12-02 14:18] 2607627233 commented on #199
确实解决了

[2020-12-02 15:04] wanlyg commented on #193
这个我试了试，看不到隐匿记录(已关闭尽力省电)，用devcheck软件查，只有一部分生效了
devCheck依然能检测到我的手机号，这个手机号是写死在sim上的，而且不能在AOSP修改。
设备ID(旧接口)和sim序列号生效Android ID各个软件都不一样，甚至和Thanox也都不一样
~~其他软件上sim卡国家码、运营商和运营商名称没有生效~~
IMEI和MEID都没找到软件查 @Tornaco

不太对，我用了edxposed canary，默认开启了名单模式devCheck在白名单中，所以它的数据可信。其他软件可能无法hook，生效未知

[2020-12-02 23:02] SekiBetu commented on #187
更新：
测试了 thanox_2.2-10-52e30aa-prc.apk 仍旧无法改为日区
thanox_2.2-18-016b0b1-prc.apk则是开启隐匿功能就退回APP主界面
应用变量仍旧表现正常，可以改为日区
测试环境:https://github.com/Tornaco/Thanox/issues/187#issuecomment-726031965

[2020-12-03 00:54] Gladtbam commented on #155
收到，等待Google play store更新中👍

[2020-12-03 05:05] 2607627233 commented on #199
这样设置好像限制关联启动什么的都失效了

[2020-12-04 15:09] abcdol opened #200 "能否增加乖巧模式自定义延时？"
目前来说大部分应用的内存都是过剩的，但是安装了框架冷启动速度又会很慢，有没有这种可能，直接通过自定义乖巧延时，直接让切换到后台的应用变相实现墓碑，由休眠代替杀后台，从而加快打开常用应用的速度？

[2020-12-15 13:28] Tornaco commented on #199
最近升级后也发现这个问题了，后续会关注。

[2020-12-15 13:30] Tornaco commented on #197
No resp

[2020-12-15 13:30] #197 closed, assigned to nobody

[2020-12-15 13:31] Tornaco commented on #200
是单个应用可以设置，延迟休眠/停服务吗？

[2020-12-15 13:32] Tornaco commented on #200
@abcdol

[2020-12-15 13:50] abcdol commented on #200
最好是可以对单个应用设置，或者可以把这个功能独立出来吧。3s确实太短了，如果实现起来麻烦，把这个乖巧时间改成可调的。

[2020-12-16 00:34] ashelybing opened #201 "SU Enalble root权限BUG"
**Describe the bug（现象描述）**
  场景模式下SU Enable插件给Thanox root权限后执行命令不生效，查看Android log是权限被拒。打开Magisk root响应为提示时，thanox再次以SU执行命令，会出现一个系统应用获取root权限，允许后命令执行成功，说明Thanox不是以自己的进程来执行root命令的，而是以随机的一个系统应用来执行（每次重启手机后都会出现一个系统应用获取root权限，这个就是Thanox获取root权限的应用）。

**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
重启会发现每次都有随机的系统应用获取root权限，用场景模式执行ROOT命令时请求ROOT权限的应用是一样的。

**Expected behavior**（期望结果）
希望能消除这个B

[2020-12-17 05:24] guaxian opened #202 "三星S20 oneui3.0在edxposed勾选了thanox依然显示未激活"
**Describe the bug三星S20 oneui3.0在edxposed勾选了thanox依然显示未激活**
A clear and concise description of what the bug is.
**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
1. Go to '...'（进入XXX）
2. Click on '....'（点击XXX）
3. Scroll down to '....'（下滑到XXX）
4. See error（发现错误XXX）

**Expected behavior**（期望结果）
A clear and concise description of what you expected to happen.（描述一下期望的结果）

**Screenshots**（截图

[2020-12-18 09:23] 2220209876 opened #203 "OP提醒 正在使用 null"
![Screenshot_20201218-142202_手机淘宝](https://user-images.githubusercontent.com/7346652/102597255-56401d00-4155-11eb-86a9-c181a8cbd2d3.png)
play 版 2.2-20-4407b15

[2020-12-18 09:27] 2220209876 opened #204 "通知记录 可以忽略不需要app的通知"
希望在【应用管理】界面增加【通知记录】开关

目前是记录所有通知，如果时间久了通知多了，【通知记录】会打不开一直加载中转圈圈

[2020-12-19 03:38] Tornaco commented on #203
@2220209876 更新后重启了吗？

[2020-12-19 03:52] Tornaco commented on #201
@ashelybing  发下你的情景模式脚本。  我刚测试是OK 的

[2020-12-19 03:53] Tornaco commented on #201
最终所有通过Thanox情景模式su执行的命令，会转交给thanox app的一个服务执行，理论上是在thanox进程。

[2020-12-19 09:09] #155 closed, assigned to Tornaco

[2020-12-20 02:45] wanlyg commented on #201
@Tornaco
他说这个bug的确存在，而且存在的时间很久，酷安上也有人说过，重点不在于脚本是否执行或者被谁执行，而是每次重启后thanox执行脚本时都会随机找一个系统应用执行脚本。比如你可能会看到magisk弹出"无线警报器"在申请root权限，实际就是thanox情景模式su搞的鬼。当然，你拒绝root后脚本不能执行。直到下一次重启，thanox可能会找一个"时钟"来申请root

解决方法应该是thanox申请root执行，或者选择一个固定的应用申请root执行

[2020-12-21 01:39] anysoft commented on #45
你好，这个bug在thanox 2.0+ 上复现，我退回1.3.2版本正常。升级2.0之后点击消息代收插件thanox就闪退，之前看日志和上述一样都是找不到class

[2020-12-22 02:56] anysoft opened #205 "【功能完善建议】建议在应用管理里边显示Provider,广播接收器内容中常见公共模块中文标识匹配"
**Is your feature request related to a problem? Please describe.**
no
**Describe the solution you'd like**
1、建议先是provider编辑，四大组件全部显示出来。
2、四大组件内容对一些常见的条目进行识别、标识

广播接收器：应用关联启动/相互唤醒主要是通过广播接收器来实现的，虽然在thanox里边通过后台启动限制了一部分应用的自启动，但是像MIUI，Android系统经常会自动唤醒其他应用，**所以最好的解决办法是针对一些应用我们不需要他被特定广播唤醒，那么直接禁用该广播接收器。**

到了这里，建议广播接收器界面内容针对一些常见的**接收器**进行**识别、标注**，帮助用户更好的识别、管理关联启动。

比如：
小米推送服务
小米系统消息推送
极光推送
华为hms推送
魅族推送

[2020-12-22 12:38] icat233 commented on #198
我也出现了这个问题，edxp更新最新版后，开启thanox模块后，无障碍服务就会失效，就算是开启状态，其它应用也是显示无权限，但关闭thanox模块后，需要无障碍服务的软件就又可以正常使用了，这个问题在edxp旧版本不存在

[2020-12-23 02:34] yyy33 opened #206 "文档和教程看不了"
**Describe the bug（现象描述）**
A clear and concise description of what the bug is.（简洁的描述该bug的现象）

**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
1. Go to '...'（进入XXX）
2. Click on '....'（点击XXX）
3. Scroll down to '....'（下滑到XXX）
4. See error（发现错误XXX）

**Expected behavior**（期望结果）
A clear and concise description of what you expected to happen.（描述一下期望的结果）

**Screenshots**（截图）
If applicable, a

[2020-12-23 05:48] 2220209876 commented on #203
今天的新版本解决了

[2020-12-24 12:31] JiZhi-Error opened #207 "不识别Riru v23.1版本"
magisk thanox core 2.0-alpha04无法安装
![image](https://user-images.githubusercontent.com/24365406/103088809-f353f780-4626-11eb-988d-d5b6c3b743ab.png)
![image](https://user-images.githubusercontent.com/24365406/103088813-f64ee800-4626-11eb-90dc-91a631b7fcaa.png)

[2020-12-24 12:31] JiZhi-Error commented on #207
@Tornaco

[2020-12-24 12:48] skyline-89 opened #208 "使用最新版edxposed4646Y会有偶发性软重启"
bug描述
多出现在使用返回桌面手势和冷启动微信，qq，哔哩哔哩时
会跳到开机第二屏

版本
手机：小米8UD  Android 10
Thanox版本：2.1-6-76ee4ff-prc

** Logs**
[2020-12-24.txt](https://github.com/Tornaco/Thanox/files/5739586/2020-12-24.txt)

[native_crash_com.tencent.mm_2020-12-24-20_34_59.log](https://github.com/Tornaco/Thanox/files/5739588/native_crash_com.tencent.mm_2020-12-24-20_34_59.log)
[thanox-core.log](https://github.com/Tornaco/Thanox/files

[2020-12-24 15:00] Cucko01 opened #209 "2.0开始打开代收插件闪退"
**Describe the bug（现象描述）**
   2.0版本开始打开代收插件闪退
*
MIUI11 Android 9
 `-软件版本：2.2-10-52e30aa-prc

@Tornaco

1608821352845|V|ThanoxApp|A92E8A9A743FE6648E2E4743FDAC89E9EB4A568F
1608821352848|V|ThanoxApp|A92E8A9A743FE6648E2E4743FDAC89E9EB4A568F
1608821352851|V|ThanoxApp|A92E8A9A743FE6648E2E4743FDAC89E9EB4A568F
1608821352854|V|ThanoxApp|A92E8A9A743FE6648E2E4743FDAC89E9EB4A568F
1608821352856|D|ThanoxApp|onA

[2020-12-28 16:27] anysoft commented on #209
mark一下，我的也点代收插件闪退，不过错误不一样，
`2020-12-29 00:16:19.561 E/Thanox-Core: onApplicationCrashing: native_crash github.tornaco.android.thanos ProcessRecord(packageName=github.tornaco.android.thanos, processName=github.tornaco.android.thanos, pid=6634, uid=10455, notResponding=false, crashing=false) *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***
Build fingerprint: 'Xiaomi/natrium/natrium:8.

[2020-12-28 16:33] anysoft commented on #209
另外这份日志还有几个sockettimeout异常，thanox.emui.tech这个域名是什么作用？我是MIUI的系统，emui不是华为么。

[2020-12-29 07:51] anysoft opened #210 "【功能建议】关于gcm代收和通知管理"
**Is your feature request related to a problem? Please describe.**
no
**Describe the solution you'd like**
1、关于微信gcm代收，因为微信针对国内ip不给注册gcm推送服务，建议hook微信gcm注册前判断过程，让微信强制注册gcm。(可以设置开关)
2、gcm收到消息后会broadcast到应用，如果应用不在后台或者未缓存则broadcast失败导致消息无法显示。建议是gcm消息广播之前hook后thanox代理通知，点击通知进去APP，拦截gcm推送通知。这样应用无需缓存，我看mipush就是这样的，收到推送没必要应用后台或缓存就可以显示通知。
3、hook或者读内存？读取gcm注册列表，可以看到哪些应用注册了gcm服务，这个不知道googleplay服务有没有这个功能。
4、通

[2020-12-29 11:11] JiZhi-Error commented on #162
@Tornaco
Android R
Thanox version : 2.2-18-016b0b1-prc
edxp version: SandHook 0.5.1.3_4646
隐匿也不生效

[2020-12-29 15:26] Extreme-Icer opened #211 "三星NOTE8 ONEUI2.5(第三方)模块问题"
如题目，使用X-APM和Thanox会导致点击虚拟导航栏出现崩溃导致软重启情况，以至于无法正常使用。
系统版本：Android 10（OneUI2.5，Samsung Galaxy Note8）

[2021-01-01 11:47] yuehun opened #212 "Miui 12.5 移花接木没用了"
**Describe the bug（现象描述）**
A clear and concise description of what the bug is.（简洁的描述该bug的现象）

**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
1. Go to '...'（进入XXX）
2. Click on '....'（点击XXX）
3. Scroll down to '....'（下滑到XXX）
4. See error（发现错误XXX）

**Expected behavior**（期望结果）
A clear and concise description of what you expected to happen.（描述一下期望的结果）

**Screenshots**（截图）
If applicable, a

[2021-01-01 14:36] Tornaco commented on #211
@12456600 请按照issue要求提供日志

[2021-01-01 14:36] #211 closed, assigned to nobody

[2021-01-01 14:37] Tornaco commented on #209
@anysoft 域名不重要，所有设备都是这个，这是thx激活服务器。

[2021-01-02 09:41] Tornaco commented on #209
@anysoft 插件重新安装也崩溃吗

[2021-01-02 09:50] anysoft commented on #209
@Tornaco  重装，清空应用数据，删除/data/system/thanox目录还是闪退。我看日志是因为libart.so报错，空指针引用。
你先分析下原因，我过几天备份系统数据后格式化data分区再试试

[2021-01-02 09:56] anysoft commented on #209
解析的ip我在深圳长城和深圳电信经常连接超时，我看应该是不是网络不通，可能服务器压力过大？

[2021-01-02 11:31] 2220209876 commented on #203
![Screenshot_20210102-192831_Nova_Launcher](https://user-images.githubusercontent.com/7346652/103456412-f3dc4480-4d30-11eb-9b65-d355502a1dd1.png)

“null”变成“位置服务”了

以前不会提示位置服务的

[2021-01-03 03:07] icat233 opened #213 "通知记录器的一些建议"
1、希望通知记录器里的通知记录和Toast记录可以分别设置个开关，因为我不需要通知记录，但需要Toast记录
2、目前的通知记录中，通知和Toast的显示是一样的，不便于识别是通知还是Toast，可以加个小标签显示是通知还是Toast，或者干脆把通知和Toast分开，另外开个Toast记录器。
望采纳。

[2021-01-03 12:43] JiZhi-Error commented on #162
thanox_2.2-47-6611db9-prc.apk
新版经过测试，隐匿还是不行
@Tornaco

[2021-01-03 20:10] #194 closed, assigned to Tornaco

[2021-01-03 20:39] SekiBetu commented on #187
更新：
测试了最新的thanox_2.2-47-6611db9-prc.apk
一个一个试过去，发现修改了sim系列号为任意值和sim国家码后，可以正常使用tiktok，但不管怎么改sim国家码，都为美区，
于是我尝试修改APP的语言为日语，发现，只有在修改tiktok的APP语言为日语后，才会改为日区(改为日区的特征是评论区如果有日语评论，则会优先显示+搜索区为日区热点)
比如这个视频：https://www.tiktok.com/@deankoash/video/6913268138171829505
在APP不同语言下会有相应语言的优先显示，隐匿功能中的sim国家码很可能没有起效而只是作为了不让APP读取的功能生效了
应用变量模块中伪装为jp后则能在APP为中文繁体的情况下评论区也是日语评论优先显示+搜索区为日本热点

姑且认为隐匿功能正常了，先用家乡の语言用着了

[2021-01-03 21:08] SekiBetu commented on #187
# 附图：
## Thanox模块隐匿下的APP只能通过切换APP语言换区：
### 中文繁体：
![image](https://user-images.githubusercontent.com/38283893/103488780-936c0680-4e07-11eb-821a-49e480381076.png)
### 英语：
![image](https://user-images.githubusercontent.com/38283893/103488787-9ff05f00-4e07-11eb-8636-5637036a8fe5.png)
### 日语：
![image](https://user-images.githubusercontent.com/38283893/103488792-a67ed680-4e07-11eb-9445-8f7587033480.png)

[2021-01-03 21:30] SekiBetu commented on #187
更新：
Thanox隐匿后，tiktok的点赞功能失效，无法保存点赞，认为是隐匿不完全导致的

[2021-01-04 08:29] Cucko01 commented on #209
更新1月3号的版本恢复正常了

[2021-01-04 08:29] #209 closed, assigned to Tornaco

[2021-01-04 08:39] anysoft commented on #209
1月三号版本在哪下载？

[2021-01-04 08:43] JiZhi-Error commented on #209
@anysoft 昨天的啊

[2021-01-04 08:43] JiZhi-Error commented on #209
@anysoft https://github.com/Tornaco/Thanox/releases/tag/v2.2

[2021-01-04 08:51] anysoft commented on #209
3q我以为发新版本了，原来只是更新release。我下载试试看

[2021-01-10 12:17] Lucifersian opened #214 "一加7pro pe10 使用thanox pro侧边返回手势触发重启"
安装thanox pro，在edxposed中激活并重启后，任意界面侧边返回手势触发导致软重启

**激活thanoxpro后任意界面侧边返回即软重启
edxposed版本为EdXposed-YAHFA-v0.5.1.4_4655-master-debug.zip
magisk版本为20.4
riru core版本为23.1
thanox pro版本为版本 2.1-6-76ee4ff-row

[2021-01-11 01:05] Lucifersian commented on #208
我也是 你看看是不是只要触发了返回键就会软重启

[2021-01-13 22:31] cheng2004237 commented on #214
一加8pro,安卓11，也经常性软重启

[2021-01-13 22:33] cheng2004237 commented on #184
多发性软重启，只能先暂停了

[2021-01-14 00:06] 262379 commented on #184
太极停更无解

[2021-01-14 10:22] Goodwu opened #215 "Thanox Pro 最新测试版2.2-47无法在线安装push插件"
**Describe the bug（现象描述）**
最新play store测试版无法安装微信push插件

**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
1. 加入play store测试
2. 安装最新测试版
3. 点击“插件”
4. 点击+
5. 点击商店图标
6. 安装push插件

**Expected behavior**（期望结果）
Push插件安装成功

**Screenshots**（截图）
无

**Version（发现问题的版本）:**
 - OS: Android 11(aosp extended)
 - Version: 2.2-47

**Additional context**（其他信息）

** Logs**（日志文件）
01-14 17:44:52.990  4103  410

[2021-01-14 10:25] Lucifersian commented on #214
已解决 原因未知 突然可以了

[2021-01-14 10:25] #214 closed, assigned to nobody

[2021-01-15 13:44] ilittlemoe opened #216 "第三方启动器Thanox应用锁不能直接打开"
如题。

————————————

系统：安卓10类原生，crdroid。

thanox版本：酷安付费版，版本 2.2-47-6611db9-prc。

启动器：Nova，版本：哪个版本都存在这个问题。

发现只要是第三方启动器都有这个问题，只有默认的没有。
————————————

问题详情：
我使用nova后在thanox里开启一个应用的应用锁，然后我在回到nova桌面打开这个锁住应用，结果验证密码后软件不会打开，非要再点一下这个软件才能打开。

这个问题存在好久了一直都在等修复。

[2021-01-15 17:34] humbleoxygen12 opened #217 "自动模板有时候不执行"
系统版本MIUI12 Android 10
Thanox版本 thanox_2.2-47-6611db9-prc

有时候新安装的应用thanox并没有在通知栏提示自动启用模板配置，很难说明什么时候会发生

[2021-01-17 04:08] Feeeiii opened #218 "不支持magisk 21.3"
**Describe the bug（现象描述）**
A clear and concise description of what the bug is.（简洁的描述该bug的现象）

**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
1. Go to '...'（进入XXX）
2. Click on '....'（点击XXX）
3. Scroll down to '....'（下滑到XXX）
4. See error（发现错误XXX）

**Expected behavior**（期望结果）
A clear and concise description of what you expected to happen.（描述一下期望的结果）

**Screenshots**（截图）
If applicable, a

[2021-01-17 04:09] Feeeiii commented on #218
安卓10
edxposed 0.5.1.4 4655
riru 23.3
升级完面具21.3后模块失效。其他模块正常

[2021-01-17 05:21] ilittlemoe commented on #218
解决方法就是在Magisk里面重新刷一遍edxposed模块，也就是重新刷一遍XP模块就可以用了。

[2021-01-17 05:41] Feeeiii commented on #218
可行 感谢

[2021-01-17 05:42] Feeeiii commented on #218
好的谢谢

[2021-01-17 14:27] wanlyg opened #219 "关于隐匿功能在edxposed无法生效"
在新的edxposed版本中，官方强制开启了应用名单模式并建议为所有模块设置作用域。无论是黑名单模式还是白名单模式，在edxposed列表的应用在启动时都有明显延迟。所以大多数用户选择白名单模式以减少延迟影响。而Thanox的隐匿功能依赖于Hook目标应用，导致隐匿功能失效

是否能换一种方法修改目标返回值
或者用riru(隐匿)+xposed
或者用纯riru @Tornaco

注:新版本Edxposed管理器的应用名单模式已更名为 Xposed Hide (黑/白)

[2021-01-18 03:53] hw1020 opened #220 "应用列表读取建议增加一个可以返回部分应用信息的功能"
应用列表读取建议增加一个可以返回部分应用信息的功能，可能就有点类似于隐藏某些应用，不让其他应用发现他，因为某些应用如果发现没有给读取软件的权限就不让用。

[2021-01-20 01:17] tobise opened #221 "升级到magisk21.4之后，多次重刷riru、edxp和重装edxp manager及thanox都无法激活"
**Describe the bug（现象描述）**
之前可以正常使用的配置是：magisk21.2+riru23.3+edxp 4655s
通过fastboot刷入magisk21.4核心补丁之后，其他模块正常，thanox无法激活

**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
1. magisk manager中删除riru、edxp
2. 卸载edxp manager、thanox
3. 按顺序重刷riru➡️重启➡️重刷edxp➡️重启➡️安装manager➡️安装thanox➡️勾选➡️重启
4. thanox无法激活

**Expected behavior**（期望结果）
激活
**Version（发现问题的版本）:**
 - OS: Android 10

**Additional contex

[2021-01-20 05:42] tobise commented on #221
@fucksafetynet 感谢回复，已经试过yahfa，一样，module.list也有thanox，对应目录也有文件，就是无法激活，而且我用的模块里面只有thanox不行，颇为无奈

[2021-01-20 07:31] tobise commented on #221
23.3和4655s的组合尝试过很多次了，这是最后一次使用旧版本尝试之后的记录

[2021-01-20 07:34] tobise commented on #221
好的，我回去试一下canary

[2021-01-21 08:31] tobise commented on #221
目前已经解决，但不确定是哪里出了问题，步骤记录一下，
1. 删除thanox、删除edxp manager➡️直接覆盖刷23.3➡️重启➡️刷4672➡️重启➡️安装edxp manager 45760➡️安装thanox➡️模块点按关闭再勾选➡️重启➡️edxp manager中切换s版    **thanox无法激活**
2. 重新提取boot，magisk打补丁，fastboot重新刷入 **thanox无法激活**
3. 重刷4672 **thanox成功激活**
目前在manager不管是切换y还是s都没有问题，过程很魔幻，留个参考吧，怀疑是不是magisk给boot打的补丁有问题

[2021-01-21 09:02] Deleted-Account commented on #214
我的 一加7pro 安卓10 也是触发返回软重启。
用的 thanox_2.2-47-6611db9-prc
手机环境为 Riru 23.3，EdXposed 0.5.2（4672）
Magisk 21.4 Manager 8.0.7
EdXposed Manager 4.6.0

卸载Thanox，重新安装 v1.3.2-beta3 软重启依旧

是不是需要设置黑白名单？如果需要的话如何设置

[2021-01-30 03:22] 790289679 commented on #221
感谢您提供的思路，我也遇到了这个问题，通过您的思路解决了！

[2021-01-30 14:56] j0912H97 opened #222 "S20 ULTRA 安卓11 ONE UI 3.0 THANOX PRO无法被激活"
**Describe the bug（现象描述）**
A clear and concise description of what the bug is.（简洁的描述该bug的现象）
正确刷入框架重启后 开启模块 并设置作用于为安卓系统 系统UI 重启
THANOX PRO出现提示 已正常激活 但是框架管理器的提示为未正常激活
我点进THANOX PRO一看 果然未激活
之后反复开关THANOX PRO重启 也并不会出现任何提示 一直处在危机或状态
**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
1.S20 ULTRA为 ONE UI 3.0
2.刷入MAGISK 21.4 21406
3.刷入 RIRU CORE 23.4
4刷入EDXPOSED V0.5.2.0_4672
或者LSP的最新版本
5.就会出现这

[2021-01-31 07:27] hanxin1997 opened #223 "希望适配edxp新分支的LSPosed的作用域"
如题，LSPosed的项目链接：https://github.com/LSPosed/LSPosed

[2021-02-02 04:43] dinghmcn commented on #223
lsp没法激活吗？我还准备切过去呢

[2021-02-03 08:49] Karonolandiis opened #224 "【功能建议】增加位置隐匿"
由于安卓已经使用一体化位置服务，Thanox也合并了位置权限，是否能够在隐匿功能中加入位置隐匿功能？

包括GPS和基站定位。

之前相关问题已有提及，不知该功能有无实现可能？

[2021-02-04 09:39] Vstory commented on #223
没说无法激活，只是让他适配下 LSPosed 的一个功能。

[2021-02-04 13:10] Vstory opened #225 "[问题反馈]应用集中的应用名单无法保存"
**Describe the bug（现象描述）**
创建的应用集中的应用，重启设备后其中的应用消失。

**To Reproduce**（如何复现）
1.在应用管理的应用集中创建应用集，创建后，退出Thanox，重启设备。
2.再次进入应用管理的应用集界面，之前创建的集还存在，但是其中选择的应用被清空。

**Expected behavior**（期望结果）
应用集中的应用正常被保存。

**Screenshots**（截图）

![Screenshot_2021-02-04-21-02-57-335_github tornaco](https://user-images.githubusercontent.com/20795557/106896384-725f4400-672c-11eb-98ea-d473a4573320.jpg)

**Version（发现问题的版本）:**
 -

[2021-02-04 13:25] Vstory opened #226 "[功能请求]权限管理改进"
**Is your feature request related to a problem? Please describe.**
点进一个应用，必须一个个配置权限，或者右上角三点菜单选择（全部允许/拒绝/前台），非常不方便。

**Describe the solution you'd like**
为什么不支持选择几个权限后，支持同时对这几个权限设置（允许/拒绝/前台）。
类似这样：

![Screenshot_2021-02-04-21-24-00-828_rikka appops](https://user-images.githubusercontent.com/20795557/106898609-5f9a3e80-672f-11eb-977c-93c0f4e3b66f.jpg)

![Screenshot_2021-02-04-21-23-55-841_rikka appo

[2021-02-04 13:58] Vstory commented on #219
我这开了 EdXposed 白名单，且启用了隐匿，会导致重启设备时所有模块取消勾选。

[2021-02-05 05:23] LuckyUnderdog opened #227 "「功能建议」用户贡献在线规则库 | 「Feature request」User contribute online rules database"
**目前状况**

目前Thanox功能众多，个人感觉有很大的发展空间和潜力。但是苦于对于一般普通用户群来说，很多功能调教起来较为繁琐，很多规则不知怎么设定较好。入手有一定的难度。

**功能建议**

建议可以参考 Storage Isolation，我个人觉得是个很好的例子。在相应的APP管理列表中，点击任意APP，会自动fetch在线规则建议，给出类似recommended/not necessary/no suggestion等建议，之后用户可以参考建议，一键开启用户在github贡献的规则。用户也可以自行在此基础上进行修改调整

----------------------------------------------------

如果可以实现类似的在线规则库+自动配置新安装App模板，可以很大的方便普通用户群入手和使用Thanox，让其接触到更多的用户群，利于软件发展

[2021-02-05 15:40] Vstory opened #228 "[功能请求]卸载应用后保留其权限管理配置"
**Is your feature request related to a problem? Please describe.**
卸载应用后，保留其权限管理配置。

**Describe the solution you'd like**
卸载应用后，保留它的权限管理配置。在下次安装时，自动套用。
现在有模板，但是模板只能匹配大多的权限，少部分还是得再次调整。
对于已经安装过，且调整权限后的App，为其生成一个单独得包含权限配置信息的 xml 文件。
该文件卸载后保留，以便下次安装时，直接以该文件恢复权限配置。

[2021-02-07 11:42] yizhimengxin2233 opened #229 "打开任意游戏时自动软重启"
**Describe the bug（现象描述）**
A clear and concise description of what the bug is.（简洁的描述该bug的现象）
打开任意游戏时自动软重启

**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
1.激活后台启动,后台运行,乖巧模式
2.重启
3.任意打开一款游戏
4.等待约10秒后自动软重启

**Expected behavior**（期望结果）
A clear and concise description of what you expected to happen.（描述一下期望的结果）
正常打开游戏，同时正常使用以上三个功能

**Version（发现问题的版本）:**
 - OS:MIUI12.5(Android 10)（系统版本，例如

[2021-02-07 13:01] Tornaco commented on #221
👍

[2021-02-07 14:11] Tornaco commented on #222
https://github.com/Tornaco/Thanox/releases/tag/v2.3

@j0912H97  麻烦试试这个包。:up

[2021-02-08 00:19] Tornaco commented on #229
请提供thanox日志

[2021-02-08 01:13] a876595353 opened #230 "安卓11太极阳环境，无法激活。"
机型：一加8T
版本:安卓11
rom:氢os11.0.5.7.kb05
太极:湛泸6.4.0.09021214-5307
magisk:21.1（21100）
thanox:2.3

反复模块管理里取消勾选再打钩，再重启。一直都激活不了。

[2021-02-08 03:03] yizhimengxin2233 commented on #229
[logs.zip](https://github.com/Tornaco/Thanox/files/5941064/logs.zip)

[2021-02-08 04:21] cj0687 opened #231 "thanox pro"
有时候会打不开 蓝屏

[2021-02-08 05:31] Karonolandiis opened #232 "【隐匿功能失效】"
**Describe the bug（现象描述）**
隐匿功能部分失效

A clear and concise description of what the bug is.（简洁的描述该bug的现象）
开启隐匿功能后，作用域全局，隐匿全局，在隐匿模板内显示的原始数据和隐匿数据大多不相同：

其中隐匿成功的参数有：

      1. 设备ID（旧版接口），
      2. 电话号码，
      3. Sim系列号。

其余隐匿均失败，其中

      1. Sim国家码，
      2. 网络运营商，
      3. 网络运营商名称，

显示的均为 Sim系列号 的参数。

关闭隐匿功能后，隐匿模板内原始数据显示为真数据，也无出错现象。

**Expected behavior**（期望结果）
开启隐匿功能后，由于隐匿了Thanox，那么显示的原始数据应当为隐数据。

**S

[2021-02-09 09:27] Vstory opened #233 "Thanox 状态栏支持透明"
**Is your feature request related to a problem? Please describe.**
Thanox 状态栏能不能支持透明，不要像现在这样的半透明还是加了遮罩的样子。

![Screenshot_2021-02-09-00-34-26-933_github tornaco](https://user-images.githubusercontent.com/20795557/107343062-f1bd9080-6afb-11eb-87bd-d4bf04f9e95a.jpg)

**Describe the solution you'd like**
Thanox 状态栏透明。

[2021-02-09 11:42] j0912H97 commented on #222
可以激活了 坐等play上架

[2021-02-09 15:37] newererw opened #234 "請問購買play商店版本 可下載magisk版本使用嗎？"
請問購買play商店版本 可下載magisk版本使用嗎？
不知道授權是否能互通？
另外 magisk版本是否繼續更新？近幾版都沒跟著更新...

[2021-02-09 15:40] newererw commented on #207
有處理辦法嗎 7.1使用者

[2021-02-11 07:00] tla02185 opened #235 "关于全选，功能优化"
现在应用的全选功能，会把重要的应用也勾上，比如应用锁，全选后会把thanox本身也勾上，没注意，就造成应用打不开了

[2021-02-11 11:11] askfname opened #236 "新版op提醒反馈"
Thanox为谷歌最新版本版本 2.3-3-abd3490-row，开启op提醒应用完全关闭后通知不会自动消失，并且无论定位提醒是否勾选都会显示应用正在获取位置信息，而且通知不会自动消失。上个版本不会出现这种问题。
日志：https://playlaboratory.lanzous.com/irhsMlknxre
![Screenshot_20210211-184608_Pixel_启动器](https://user-images.githubusercontent.com/38811303/107629273-d50c8e80-6c9c-11eb-8e4f-21e77836f57c.png)

[2021-02-13 11:27] xin8757625xin opened #237 "应用权限问题"
**能不能加一个应用权限开关，原来应用管理有的一个功能，获取正在运行的应用。
**
![Screenshot_20210213-190416](https://user-images.githubusercontent.com/79006114/107848811-73c9f400-6e31-11eb-9e20-6232366ca729.jpg)

**

[2021-02-13 16:31] Vstory opened #238 "[功能请求]记录滚动位置并自动恢复"
**Is your feature request related to a problem? Please describe.**
现在在情景模式等一些设置页面中，随便进入一个规则，对其做一些修改后，保存后退出编辑状态。
此时会直接回到页面顶部，实在烦人，模式一多，来会找都麻烦。
希望支持记录上次进入时的位置，退出编辑模式后，就保留在原地。

**Describe the solution you'd like**
支持设置页面滚动位置自动恢复，也就是重新进入设置页面会恢复到上次离开的滚动位置，可以点击顶栏来快速回到顶部。

**Describe alternatives you've considered**
支持设置页面滚动位置自动恢复，也就是重新进入设置页面会恢复到上次离开的滚动位置，可以点击顶栏来快速回到顶部

[2021-02-16 04:47] drx1x2 opened #239 "应用管理添加程序删除"
应用管理添加程序删除，能不能添加一个定期自动删除缓存的插件(微信，taobao,抖音，快手等)。

[2021-02-16 18:15] yin-ol commented on #235
同意，另外建议把xposed/edxposed加入到系统白名单中，xp被禁止权限(读取应用列表权限)会导致全部xp模块被意外禁用。

[2021-02-18 11:31] Feiyuyu0503 opened #240 "[功能请求]情景模式中Fatcs-params请求添加“GCM/FCM连接与断开”的条件判断"
**Is your feature request related to a problem? Please describe.**
FCM连接不稳定，手机长时间息屏后，FCM可能会与服务器断开连接

**Describe the solution you'd like**
希望在情景模式中Fatcs-params的推送消息里添加“GCM/FCM连接与断开”的条件判断，以便当满足条件时，可以通过ui.showNotification等方式的action来提醒

**Additional context**
主要是长时间息屏后才会断开，如果一直在使用手机时，并不会断开
![image](https://user-images.githubusercontent.com/32660959/108350655-76588f00-721f-11eb-9c9a-ae89c1351e87.png)
如

[2021-02-19 14:34] ghost opened #241 "华为荣耀V10 安卓8.0.0，Edxposed和Lspxposed均无法激活Thanox"
**问题描述：**
华为荣耀V10安卓8.0.0，Edxposed和Lspxposed均无法激活Thanox

**To Reproduce**（如何复现）
（1）将riru模块从v21.3升级到v23.5，edxposed模块从v0.4.6.1（4510）升级到v0.5.2.2_4683-master后，thanox无法激活
（2）我升级各模块后，也曾尝试用lspxposed（v0.5.4.1），也发现无法激活
之所以不同步升级magisk，是因为magisk从20.4升级到21.4后会丢失root。

**Version（发现问题的版本）:**
手机型号：华为荣耀V10  安卓8.0.0  EMUI8.0.0.204(C00GT)
Thanox版本：v2.3-prc，降级到老版本也无法激活
magisk版本：v20.4（20400）
riru模块版本：v23.5
edxposed版本：

[2021-02-20 08:19] hanxin1997 opened #242 "最新版灭霸会让miui系统的备份挂掉"
**Describe the bug（现象描述）
最新版灭霸会让miui系统的备份挂掉，

**To Reproduce**（如何复现）
安装就这样了，哪怕什么功能都没开也会。一直卡在0 ，卸载灭霸就好了

**Expected behavior**（期望结果）
修复

**Screenshots**（截图）
![QQ图片20210220161413](https://user-images.githubusercontent.com/58620096/108588933-b3935d00-7396-11eb-8a90-06fe96a70a9f.jpg)

**Version（发现问题的版本）:**
 - OS:安卓11 miui12.5 21.2.3
 - 框架：lsposed v0.5.4.1{5178} 作用域设置系统框架
 - Version thanox_2.3-19-67bbf

[2021-02-21 01:02] kettly1260 opened #243 "使用2.2以上版本开始某些软件会遇到软重启"
系统版本 miui12.5 android11
软件版本 2.3
框架版本 lsposed0.5.4.1 s/y均尝试
作用域:
![Screenshot_2021-02-21-09-01-22-542_io github lsposed manager](https://user-images.githubusercontent.com/20242614/108612399-6ad5b580-7423-11eb-9a79-faf004e58dce.jpg)

问题描述
打开双开的软件以及冻结或者解冻软件就会出现软重启，特别是微信分身打开输入法一定会重启。2.1.6版本未发现该问题，但移花接木等均无法正常使用

以下为日志
[log.zip](https://github.com/Tornaco/Thanox/files/6016927/log.zip)

[2021-02-21 11:20] 253712 opened #244 "op提醒"
2.2版本之后的op提醒相机和音频有问题，（我只开了这俩）
具体表现在我王者（吃鸡没注意）不开麦的情况下通知也提示录制音频，
一些应用安装以后也会在未打开前弹出相机和音频通知，
每次打开zepp时也会弹出相机和音频通知，我都没给他授权相机🤣
二2.1和以前就不会，我不开麦他不会弹通知，用的时候才会弹出来。

[2021-02-21 13:13] L-Ryland commented on #222
這個版本依然無法激活，同OneUI3.0, 機型SAMSUNG S10+
[log.zip](https://github.com/Tornaco/Thanox/files/6017748/log.zip)

[2021-02-22 03:30] suzakuo opened #245 "[问题反馈]Thanox2.3版本导致PE系统备份被停用/无法启用"
具体为备份界面显示:被管理员停用
云端硬盘备份开关打开后自动关闭,相关进程如下
com.google.android.gms/com.google.android.gms.backup.component.BackupSettingsActivity
这个进程无法打开开关
关闭Thanox模块,问题可以解决

这几天试了一下 2.3版本会出现这个问题
退回2.2就不会出现这个问题

Android 10
应用版本: 2.3-3版本

[2021-02-22 14:32] cmddot commented on #15
有没有 在shell 情景模式的开关? 看了help,还不支持?进入夜间模式时,这个关闭掉应该可以节省电量不

[2021-02-23 00:51] cmddot commented on #123
不知道能不能添加两个情景模式的系统全局变量(不可删除): MobileDataBlackList,  WifiBlacklist, 然后后台控制这两个黑名单

[2021-02-24 09:49] HedeNgYoung opened #246 "有没有大佬知道如何通过直接打开一个应用中的某个服务"
如题，
例如我想直接连上蓝牙耳机时自动打开网易云并播放音乐，现阶段我只能做到打开网易云，而不能自动播放音乐。
有没有大佬知道怎么做？

[2021-02-27 08:55] linysl opened #247 "华为P30无法激活thanox"
**Describe the bug（现象描述）**使用的是magisk22.0+lsposed0.541，其他在使用的模块都可以正常激活，thanox无法激活使用
A clear and concise description of what the bug is.（简洁的描述该bug的现象）无法激活模块
**To Reproduce**（如何复现）无法激活

**Expected behavior**（期望结果）期望作者能看一下是什么原因，希望能尽快用上这么好的模块

**Screenshots**（截图）
![Screenshot_20210227_165106_io github lsposed mana](https://user-images.githubusercontent.com/79743116/109382556-1bf4b800-791c-11eb-8a1a-20c

[2021-02-27 12:04] Tornaco commented on #247
@linysl 麻烦抓下LSP 日志

[2021-02-27 12:37] linysl commented on #247
[LSPosed_Verbose_20210227_203657.log](https://github.com/Tornaco/Thanox/files/6054416/LSPosed_Verbose_20210227_203657.log)

麻烦大佬看看是什么原因导致的激活不了

[2021-02-27 13:39] Tornaco commented on #245
@hhaii 试试

https://github.com/Tornaco/Thanox/releases/tag/v2.3
thanox_2.3-20-8ff78c8-prc.apk

[2021-02-28 01:41] zkwcw commented on #245
在最新的play版thanox pro中也有这个问题，关闭模块后可以正常工作。Android11，应用版本23-3-abd3490-row

[2021-02-28 02:06] suzakuo commented on #245
问题解决，谢谢。
另外看到上面有个朋友也遇到了相同的问题，希望能尽快上架play。

[2021-02-28 06:57] Tornaco commented on #242
@hanxin1997  试试 https://github.com/Tornaco/Thanox/releases/tag/v2.3 thanox_2.3-20-8ff78c8-prc.apk

[2021-02-28 06:59] Tornaco commented on #241
@achooyu  EdXposed或者LSP日志有吗？

[2021-02-28 08:00] hanxin1997 commented on #242
我装了，发现可以正常恢复备份了。

[2021-02-28 08:09] #242 closed, assigned to Tornaco

[2021-02-28 08:21] kuliantnt commented on #247
三星s10+ oneui同样无法激活，麻烦您看一下问题 @Tornaco
[LSPosed_Verbose_20210228_110118.log](https://github.com/Tornaco/Thanox/files/6056422/LSPosed_Verbose_20210228_110118.log)

[2021-02-28 08:50] #245 closed, assigned to Tornaco

[2021-03-02 01:26] j0912H97 opened #248 "Oneui 3 下 插件不会被激活"
**ONEUI** 3 下 插件不会被激活 一直显示重启生效 开关插件无数次也一样不会生效 一直一直一直显示重启生效。。。。。。。

期待修复
![插件BUG](https://user-images.githubusercontent.com/62490010/109581115-ccd69f00-7b36-11eb-87fd-e4c297ca13b8.jpg)

安卓系统版本: 11
UI版本 : One ui 3
Magisk版本: 79ee85c0 (22001)
Riru 版本: 23.6
Riru LSPosed版本: CI 1.20 5379 DEBUG
Thanox PRO版本 : 2.4-1-4ba4890-row

** Logs**（日志文件）
务必将截取到的日志文件发到该issue里。
[log.zip](https://github.com/Tornaco/Tha

[2021-03-03 07:55] Ctrl-Ling opened #249 "情景模式蓝牙相关参数无法获取，返回为null"
**现象描述**

情景模式-蓝牙事件
btBoundedDeviceAliasNames参数无法获取绑定的蓝牙设备Alias列表，返回为null
蓝牙能力相关的参数如btBoundedDevices.get(0).getAddress()，蓝牙已成功链接的情况下返回也是null

**Screenshots**（截图）
![image](https://user-images.githubusercontent.com/36662875/109772025-78b3e380-7c38-11eb-8cee-d29fbaa962de.png)

**Version（发现问题的版本）:**
系统版本 安卓11 miui 12.5 红米K30U
软件版本 v2.4

[2021-03-03 07:59] Ctrl-Ling opened #250 "情景模式-shell命令方法sh.exe()的返回类型CommandResult接口文档？"
情景模式-shell命令方法sh.exe()的返回类型CommandResult如何对其返回结果进行解析、处理，有没有CommandResult类的接口文档之类的，想获取shell命令的输出结果（out）
![image](https://user-images.githubusercontent.com/36662875/109772639-317a2280-7c39-11eb-9c7f-4b0fccc57169.png)

具体遇到的问题是这样的：
![image](https://user-images.githubusercontent.com/36662875/109772769-5ec6d080-7c39-11eb-8e27-ca29f801349b.png)

[2021-03-04 02:56] ghost opened #251 "启用thanox以后，会导致使用无障碍的软件即使开启无障碍服务也不能正常运行"
**启用thanox以后，会导致使用无障碍的软件即使开启无障碍服务也不能正常运行**

激活thanox后，即使thanox恢复默认设置，使用无障碍服务的app(强国助手)即使开启了无障碍服务也会提示再次开启。导致无法正常使用

希望大佬能解决这个问题，谢谢

**Version（发现问题的版本）:**
 - 系统版本 Android 10，红米K30s，miui12.0.10
 - 软件版本，v2.4-11

[2021-03-04 13:28] Tornaco commented on #241
@achooyu  如果还有问题请补充日志。暂时CLOSE

[2021-03-04 13:28] #241 closed, assigned to nobody

[2021-03-04 13:31] Tornaco commented on #243
@kettly1260 日志看过了，没发现SystemServer错误相关的日志。

能否adb抓一个完整操作日志。

[2021-03-04 13:36] Tornaco commented on #249
@Ctrl-Ling  给个日志。

[2021-03-04 13:51] Tornaco commented on #250
参数如下：
后续会更新到文档里。

你的Shell命令返回的是`true`

[code]

[2021-03-04 13:59] Ctrl-Ling commented on #249
[Thanox-log.zip](https://github.com/Tornaco/Thanox/files/6084128/Thanox-log.zip)

[2021-03-04 14:25] Ctrl-Ling commented on #250
请问这个SuRes类是否有获取Out参数的方法 比如SuRes.getOut()

[2021-03-06 01:28] #251 closed, assigned to nobody

[2021-03-06 01:29] ghost commented on #251
是我搞错了，取消激活后，又出现这个问题了。还在找原因

[2021-03-08 05:20] ghost opened #252 "情景模式全局变量里的抖音包名会导致bug"
![Screenshot_20210308-131718](https://user-images.githubusercontent.com/62871221/110277633-a02bf700-8010-11eb-8fdf-ed5816bbe718.jpg)
此规则下，只要在全局变量里添加抖音的包名，就导致一锁屏就会执行此规则，删掉抖音的包名就正常，希望thanox能解决

[2021-03-08 13:28] Tornaco commented on #252
情景源代码发下。。@krecycle

[2021-03-08 13:33] Tornaco commented on #250
@Ctrl-Ling  试试 https://github.com/Tornaco/Thanox/releases/tag/v2.4

修复了蓝牙设备信息获取失败问题。

[2021-03-08 13:34] Tornaco commented on #250
目前没有这个API。需要的话可以加上。

[2021-03-08 13:34] Tornaco commented on #249
@Ctrl-Ling 试试 https://github.com/Tornaco/Thanox/releases/tag/v2.4

修复了蓝牙设备信息获取失败问题。

[2021-03-08 13:39] Tornaco commented on #247
@linysl  你的日志里没看到LSP加载thanox，是否选中了thanox？或者选择了android系统作用域？

[2021-03-08 13:44] Tornaco commented on #247
@kuliantnt  你的日志也没看到加载thanox模块，正常LSP加载模块会有类似日志：
[code]

[2021-03-08 13:50] flower-elf opened #253 "升级新版本后卡开机第二屏，无法进入系统"
**Describe the bug（现象描述）**
升级thanox到2.4-11-24a90c5以后，在任何的框架管理器中激活模块，皆会导致无法启动（卡开机第二屏），停用模块后恢复正常

**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
1.安装edxp或者lsp（基于riru版本23.9）
2.在任何一个框架管理器内启用thanox
3.卡开机界面第二屏

**Expected behavior**（期望结果）
A clear and concise description of what you expected to happen.（描述一下期望的结果）

启用模块，并且重启以后模块能正常工作。

**Screenshots**（截图）
If applicable, add screenshots to h

[2021-03-08 14:06] Ctrl-Ling commented on #250
目前暂时使用了SuRes.toString().matches(正则)的形式获取out参数，比较麻烦，希望可以加一下相关api，毕竟shell能获取到的系统变量很多，辛苦了

[2021-03-08 14:06] #250 closed, assigned to nobody

[2021-03-08 14:17] Tornaco commented on #253
@raindrops2005  模块禁用之后，可以进系统查看日志。/data/system/thanos/xxx

或者最好能adb截取一份完整日志。

[2021-03-08 14:25] ghost commented on #252
`[
  {
    "name": "打开直连",
    "description": "自动打开直连",
    "priority": 2,
    "condition": "hw.isWifiEnabled()==false && frontPkgChanged == true && globalVarOf$mianliu.contains(to)",
    "actions":
    [
      "sh.exe(\"/data/data/ZJL2.0_magisk/开启.sh\")"
    ]
  }
]`
@Tornaco 是抖音息屏后前台了吗？可是我都把他后台自启关掉和乖巧了，只有把它后台杀了才不会触发

[2021-03-08 14:28] Tornaco commented on #244
@253712 2.4版本也这样么

[2021-03-08 14:29] flower-elf commented on #253
@Tornaco 好的

[2021-03-08 14:34] flower-elf commented on #253
[thanox-core.log](https://github.com/Tornaco/Thanox/files/6102011/thanox-core.log)
[thanox-init.log](https://github.com/Tornaco/Thanox/files/6102013/thanox-init.log)

@Tornaco 日志如上。希望能有所帮助

[2021-03-08 14:37] flower-elf commented on #253
如果需要Adb日志的话，可能需要明天晚上才可以，在data下的日志已经上传

[2021-03-08 14:43] Tornaco commented on #253
@raindrops2005  最好有adb日志。

刚看了你给的日志，17:03:58.左右有一次launcher CRASH，再没有别的有用的信息了。

[2021-03-08 14:44] linysl commented on #247
我刚刚又再次重新卸载-安装-重启了一下，确定勾选了系统框架，操作皆是按照流程来的。在我重启之后，我清空了日志，然后打开Thanox，然后再回到lsp的日志里面，发现每打开一次Thanox日志里面就只多了以下内容 LSPosedBridge: hookSystemServiceRegistry, unhooks=[de.robv.android.xposed.XC_MethodHook$Unhook@7433525]   还麻烦作者大大排查一下，看看这是哪里的问题导致的
![Screenshot_20210308_215302](https://user-images.githubusercontent.com/79743116/110336408-ccbb2f80-805f-11eb-94f7-506a1a3cef52.jpg)

[2021-03-08 14:47] flower-elf commented on #253
@Tornaco 如果这样的话。。。我试试adb能不能出来一些有用的东西

[2021-03-08 14:48] flower-elf commented on #253
@Tornaco 如果还是没有的话那就可能会很麻烦了

[2021-03-08 15:06] liqideqq opened #254 "升级新版本后卡开机第二屏，无法进入arrow系统"
**Describe the bug（现象描述）
升级thanox到2.4-14-29874c6以后，在任何的框架管理器中激活模块，皆会导致无法启动（卡开机第二屏），停用模块后恢复正常，用的小米8se arrow安卓10.
A clear and concise description of what the bug is.（简洁的描述该bug的现象）
**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
1.安装lsp（基于riru版本23.9）
1. Go to '...'（进入XXX）
2. Click on '....'（点击XXX）
3. Scroll down to '....'（下滑到XXX）
4. See error（发现错误XXX）

**Expected behavior**（期望结果）
A clea

[2021-03-08 17:03] Ctrl-Ling commented on #249
测试已解决！感谢

[2021-03-08 21:41] flower-elf commented on #253
@Tornaco [all.log](https://github.com/Tornaco/Thanox/files/6104309/all.log)
[modules.log](https://github.com/Tornaco/Thanox/files/6104312/modules.log)
补充：这是lsp框架日志
今晚会发adb日志的

[2021-03-09 06:05] #249 closed, assigned to Tornaco

[2021-03-09 13:30] Tornaco commented on #254
@liqideqq 有日志没 /data/system/thanos/logging

或者能adb抓个日志更好。

[2021-03-09 13:35] Tornaco commented on #253
@raindrops2005 OK 等你抓了日志看下。

[2021-03-09 15:22] liqideqq commented on #254
[thanox-init.log](https://github.com/Tornaco/Thanox/files/6109514/thanox-init.log)
[thanox-core.log](https://github.com/Tornaco/Thanox/files/6109515/thanox-core.log)
server_logging的日志，application_logging的文件夹里没有日志

[2021-03-09 21:24] flower-elf commented on #253
问题已解决，此issue关闭
（PS：我手机在卡开机的时候是没法adb的，只能进rec进行恢复，所以也就很难抓日志）

[2021-03-09 21:24] #253 closed, assigned to Tornaco

[2021-03-09 21:31] liqideqq commented on #253
@raindrops2005 哪个解决？

[2021-03-09 23:33] flower-elf commented on #253
卡开机的问题已经解决

[2021-03-10 00:43] liqideqq commented on #254
2.4-19正常开机，已解决

[2021-03-10 00:43] #254 closed, assigned to Tornaco

[2021-03-10 14:40] Tornaco commented on #247
@linysl  每打开Thanox就打印这个信息的话是不正常的，正常这些hook只会在android启动的时候执行。 所以看起来还是作用域有问题？ thanox是作用在android系统上的，因此android启动时，会给系统挂各种hooks。

[2021-03-11 08:04] hanxin1997 opened #255 "thanox最新版会导致大圣净化部分闪退。"
**Describe the bug（现象描述）
只要安装上thanox就会让大圣净化闪退，排除后发现thanox安装后会导致大圣净化两个组件未开启（如图显示，而且开启也会自动关闭，在lsp框架关闭thanox恢复正常）。

**To Reproduce**（如何复现）
只要开启灭霸就会这样，在框架不激活thanox就不会闪退了。

**Expected behavior**（期望结果）
希望修复。问过大圣净化的作者也不知原因

**Screenshots**（截图）
![Screenshot_2021-03-11-15-47-55-169_github tornaco](https://user-images.githubusercontent.com/58620096/110754774-218ac000-8283-11eb-9320-cdd4611d9433.jpg)

**Vers

[2021-03-11 08:30] hanxin1997 commented on #255
刚发现  关闭灭霸的任务清理，就不闪退了，不过组件没有恢复。

[2021-03-11 09:54] Marcocxy opened #256 "[功能请求]情景模式中请求添加wifi的的连接事件（是否连接上WIFI）和蓝牙连接事件（蓝牙是否连接设备）"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
现在这两个硬件只有开启和关闭事件，没有连接事件，使用起来不方便。
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
例如需要WIFI已连接的情况下自动断开移动流量，现在只能做到打开WIFI开关未流量开关就关闭了。
例如需要如果蓝牙没有连接设备30S自动关闭蓝牙开关，这情景模式也是无法实现的。
**Describe alternativ

[2021-03-12 09:55] kettly1260 commented on #243
更新2.4.19莫名其妙的又好了。不知道什么情况。可能和之前2.4某些卡miui的原因一致？

[2021-03-13 13:57] Tornaco commented on #252
@krecycle  打个Toast看看，"to"是哪个app

[2021-03-13 13:59] Tornaco commented on #256
@Marcocxy 蓝牙连接事件已经支持：https://tornaco.github.io/Thanox/2019-12-02-Profile/#0410-%E8%93%9D%E7%89%99%E4%BA%8B%E4%BB%B6

WIFI相关， Thanox 2.5版本会支持。

[2021-03-13 14:00] Tornaco commented on #255
@hanxin1997 又没有设置什么情景模式之类的把这些组件关闭了呢。。这些组件thanox不会主动关闭。

[2021-03-13 18:29] ghost commented on #252
@Tornaco 提示就是抖音的包名com.ss.android.ugc.aweme

[2021-03-14 04:25] #255 closed, assigned to nobody

[2021-03-14 09:17] ljm625 commented on #230
同样问题

[2021-03-14 10:48] yujincheng08 commented on #247
https://github.com/topjohnwu/Magisk/issues/4006

magisk 上已修复。

[2021-03-15 03:27] kuliantnt commented on #247
[logging.zip](https://github.com/Tornaco/Thanox/files/6138633/logging.zip)

app签名还是不行

[2021-03-16 00:10] Tornaco commented on #256
https://github.com/Tornaco/Thanox/releases/tag/v2.5

@Marcocxy

[2021-03-16 00:48] suzakuo opened #257 "[问题反馈] thanox"

[2021-03-16 12:02] Tornaco commented on #257
@hhaii 日志最早的时间到2021-03-15 22:34:06.576 ，没发现有系统出错的日志。

试试最新版本呢。

[2021-03-17 05:01] liqideqq opened #258 "前台管理问题"
使用2.5-4-3d60991-prc版本 安卓10
我看视频软件一会儿，自动杀了前台。后台运行设置好，应该锁屏后自动杀，现在开屏前台和后台一起杀。我准备玩网游，一会儿掉了，一直担心前台是否掉下来，希望修复一下。

[2021-03-19 06:44] menghuab opened #259 "设备重启后应用管理列表没有 移动到 合并存储媒介 里的应用"
近期发现在设备重启后 应用管理—查看全部应用  安装在 合并外部存储媒介的应用 全部消失 要打开一次应用才能显示该应用 已经设置好的权限管理和服务管理、广播接收器管理失效，已禁用的应用服务和广播接收器有重新被应用激活，但是打开一次应用重新设置一次后恢复正常 。有些时候， 若重启后不对合并外部存储媒介的应用进行重新设置会令设备软重启的bug（安装在设备的应用不会出现这种情况）
thanox版本 2.4-1-4ba4890-prc
安卓版本 10
[thanox-init.log](https://github.com/Tornaco/Thanox/files/6169094/thanox-init.log)

[thanox-core.log](https://github.com/Tornaco/Thanox/files/6169102/thanox-core.log)
日志文件

[2021-03-20 03:43] liu-cool-cmd commented on #257
@hhaii 我开启应用锁就会不定期软重启

[2021-03-21 02:34] Jkkoi opened #260 "[BUG] LSPosed 下 隐匿 功能不生效"
**Describe the bug（现象描述）**
只有把 其他应用 加入 lsp 都作用名单后，隐匿才会生效

**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
1. appops 中禁止读取 imei
2. 打开隐匿模式，随机一个 imei

**Expected behavior**（期望结果）
应用获得 隐匿模式 的随机 imei

**Version（发现问题的版本）:**
 - OS: Android 10
 - Version 2.2-47

[2021-03-21 02:35] flower-elf commented on #260
@Jkkoi 本身就应该是这样啊，你如果不把他加入进作用域的话，那模块就不会对他进行作用了，当然获取不到

[2021-03-21 02:36] Jkkoi commented on #260
@raindrops2005 但是获取 imei 不是应该 hook `android system` 就可以了吗

[2021-03-21 02:36] flower-elf commented on #260
@Jkkoi 并不是。

[2021-03-21 02:38] flower-elf commented on #260
@Jkkoi 因为hook Android system 只是让模块针对系统的功能生效（例如一键清理，权限管理等）
而你说的随机imei是针对app的

[2021-03-21 02:39] Jkkoi commented on #260
那意思是： lsp 想用 隐匿 得把所有应用都加进作用域？

[2021-03-21 02:40] flower-elf commented on #260
@Jkkoi 你想要用隐匿的话。必须要把想使用的APP加入进作用域，让模块对其产生作用，“不需要也不要一股脑”把所有的app加入到作用域

[2021-03-21 02:43] Jkkoi commented on #260
@raindrops2005  但是 `getSystemService` 不就是 系统 api 吗，理论上来说 hook `android system` 就可以了

[2021-03-21 02:46] flower-elf commented on #260
@Jkkoi 隐匿一旦生效是整个功能生效的，而由于它只是针对应用的东西，所以只hook系统不行的，理论并不等于实际

[2021-03-21 02:49] flower-elf commented on #260
@Jkkoi 如果无法理解的话。你换成edxposed，然后把需要隐匿的应用黑名单，你会发现这个应用无法隐匿
不知道这样能否理解

[2021-03-21 02:50] Jkkoi commented on #260
@raindrops2005  我们不在一个频道上，你在讨论现象，我在讨论原理。。。

[2021-03-21 02:51] flower-elf commented on #260
@Jkkoi 我只关注现象，至于什么原理实现的，其实不需要怎么去管，除非你想自己开发一个

[2021-03-21 06:39] Mukinopro opened #261 "无法激活"
- [x] 安卓10，crdriod
- [x] thanox版本2.5-4
- [x] lsp和edxp都试了，均无法激活
- [x] lsp,edxp,thanox的日志：
[log.zip](https://github.com/Tornaco/Thanox/files/6176962/log.zip)

[2021-03-22 09:42] #122 closed, assigned to nobody

[2021-03-22 16:11] MMCYY commented on #27
大佬，等了这么久，还是没能等到补充几个api哇，o(╥﹏╥)o

[2021-03-23 05:03] #261 closed, assigned to nobody

[2021-03-27 14:05] Gokou-Ruri opened #262 "[严重]操作系统经常随机重启"
**Describe the bug（现象描述）**
手机突然重启（快速重启，非完整重启），此问题随机复现，可能是聊天打字时，也可能是浏览网页时，也可能是看视频时，<b>甚至连手机待机时也会突然重启，完全随机没有规律。</b>自从2.4升到2.5以后就经常出现，平均一天或两天一次，已经出现很多次了。
昨天我把Thanox日志全部清空，并手动重启了手机，直到刚才又出现了一次，现在我把日志打包上传了。

**To Reproduce**（如何复现）
无法稳定复现，完全随机出现。

**Version（发现问题的版本）:**
 - OS: Android 11
 - Version 2.5-4-3d60991-row

** Logs**（日志文件）
<b>/data/media/0/Android/data/github.tornaco.android.thanos.pro/cache/log

[2021-03-31 06:21] ashurajo opened #263 "【功能请求】希望在组件管理中加入提供器（manage Providers）"
现在已经可以禁用Activities、Receivers、Services，但是Providers还要用其他的工具来修改。。。有点麻烦，希望作者能增加下这个功能。

[2021-04-02 01:13] RoyZ-iwnl opened #264 "包名查询已安装应用自定义列表"
如果禁用 查询其他应用信息 （通过包名查询其他已安装应用的信息，请谨慎设定，禁用该权限可能导致该应用无法与其他应用交互，甚至造成其他异常问题），很多应用会因为
`Failed to load WebView provider: android.content.pm.PackageManager$NameNotFoundException: com.google.android.webview`
无法正常使用Webview，可以不可以单纯只允许Webview而让它无法获取其他应用信息，或者可以设定一个允许的查询列表。

[2021-04-02 05:09] Gokou-Ruri commented on #262
4.2续：安装了logcat模块，然后把Thanox启用，重启，然后持续把logcat打印为文件，碰到随机重启现象后，手机开机，从输出的log文件中提取了末尾1000行。
以下是两次随机重启前logcat输出的内容：
[1000-1.log.tar.gz](https://github.com/Tornaco/Thanox/files/6247804/1000-1.log.tar.gz)

[1000-2.log.tar.gz](https://github.com/Tornaco/Thanox/files/6247796/1000-2.log.tar.gz)

[2021-04-02 08:28] ml863606 commented on #230
使用lsp

[2021-04-02 13:39] Tornaco commented on #262
@Gokou-Ruri  能抓logcat的话，1000行太少了。。完整日志发下吧。

[2021-04-03 09:26] Gokou-Ruri commented on #262
完整的有1G、6G多的，<s>不知道github能不能上传这么大的文件。
我压缩了试试。</s>好像最大只允许10M的文件……
我传到Telegram上吧。
https://t.me/shirochan_share/4?single
文件名是日期

补充：我发现只要是随机重启的日志文件基本上都很大，哪怕只有数小时的logcat都有好几个G。而稳定运行不重启的情况下，logcat哪怕持续记录好几天也只有1、2G。

[2021-04-03 22:28] ghost commented on #262
手机信息：
Manufacturer: LeEco
Brand: LeEco
Device: le_zl1
Product: le_zl1
Model: LEX720
Fingerprint: LeEco/ZL1_NA/le_zl1:6.0.1/WEXNAOP5802101261S/letv01261206:user/release-keys
ROM description: le_zl1-user 6.0.1 WEXNAOP5802101261S eng.letv.20170126.120318 release-keys
Architecture: arm64-v8a
Android build: RQ2A.210305.006
Android version: 11
Android sdk: 30
LSPosed version: v1.3.4 (5534)
Riru version:

[2021-04-04 10:17] #187 closed, assigned to Tornaco

[2021-04-06 21:10] Gokou-Ruri opened #265 "[BUG]Thanox智能冻结对“VMOS虚拟机”进程状态判定异常"
**Describe the bug（现象描述）**
将VMOS添加到“智能冻结”列表中，随便打开一个VMOS虚拟机系统，然后在虚拟机系统中选择“关机”，这时候VMOS会立刻被Thanox冻结。应该是因为虚拟机系统的进程自杀后，被Thanox误判为“进程已退出”，所以Thanox就立刻把VMOS给冻结了……但实际上虚拟机系统此时还没有正常“关机”。

**Expected behavior**（期望结果）
在虚拟机系统内选择“关机”时不要立刻冻结VMOS。

**Screenshots**（截图）
![Screenshot_20210407-050401_VMOS_Pro](https://user-images.githubusercontent.com/26711804/113778303-d3bc8700-975e-11eb-8745-3f52b398cf12.png)
![Scre

[2021-04-07 09:28] flower-elf commented on #265
@Gokou-Ruri 感觉这个不是thanox问题吧，应该叫应用作者作出改变

[2021-04-07 09:45] Gokou-Ruri commented on #265
如果不添加到“智能冻结”的话，VMOS在虚拟机关机后进程并不会退出，退出的其实是虚拟机系统的进程。
虚拟机系统“关机”前：
![Screenshot_20210407-174052_3C_一体工具箱](https://user-images.githubusercontent.com/26711804/113845946-968cdf00-97c8-11eb-843e-dd2779878405.png)

虚拟机系统“关机”后：
![Screenshot_20210407-174140_3C_一体工具箱](https://user-images.githubusercontent.com/26711804/113846065-ac020900-97c8-11eb-8b94-7a5f7c2bdf50.png)

另外，有时候（任意被添加智能冻结的）APP闪退也会被判定会进程退出（其实只是Ac

[2021-04-07 09:51] Gokou-Ruri commented on #264
附议，这个可以有。目前好多软件都用这个办法来查用户安装了哪些软件。

[2021-04-08 06:30] askfname commented on #236
![Screenshot_20210408-142716244](https://user-images.githubusercontent.com/38811303/113978640-c0044400-9876-11eb-96e6-b0c8c5cb7259.jpg)
![Screenshot_20210408-141652_美团](https://user-images.githubusercontent.com/38811303/113978648-c2ff3480-9876-11eb-9a57-a2a17cd187a7.png)

新版问题依旧存在，即使定位的op提醒关闭，依旧会有通知，希望开发者重视这个bug！如果不能解决请不要合并定位的op提醒。

[2021-04-10 10:49] ghost opened #266 "【BUG反馈】隐匿失效💃💃"
- 1.问题描述
自〔thanox_2.2-30-eb3f6da-prc〕（含）版本后，MEID、IMEI、SIM 运营商、SIM IMSI、ICCID，均隐匿失败。
**其中SIM 运营商、SIM IMSI、ICCID不论新老版本都隐匿失败，如图中红色框选部分。**
![3](https://user-images.githubusercontent.com/25449326/114313493-53fd3680-9b29-11eb-92f7-c891cb7483f4.jpg)

- 2.测试环境
手机：华为荣耀V10-EMUI8.0-Android8.0.0
Magisk：v20.4(20400)
Riru：v25.3.4.r399.84f7084(399)
EdXposed：v0.5.2.2_4683-master-release

- 3.日志文件
抓取的日志是〔thanox_2.

[2021-04-12 18:57] PuerNya commented on #266
@Tornaco 快进到重写隐匿 功能 直接 `hook System 的返回值` 来做到隐匿 而不是 `hook app 获取的 接口`

[2021-04-13 03:44] PuerNya opened #269 "[bug反馈][适配申请]请求支持多用户的管理同时修复关于音乐状态栏的问题"
使用工作资料进行多开的 app 似乎没办法被 thanox 抓到从而进行管理，希望能加入对多用户的 支持

顺带反馈一个 bug，在类原生 android 11 上 对音乐 app 进行乖巧后 极大概率无法拉起音乐的 notification ，经过测试，哔哩哔哩后台播放，QQ 音乐，网易云音乐，均出现类似情况

[2021-04-15 17:42] Jkkoi commented on #266
附议 https://github.com/Tornaco/Thanox/issues/260

[2021-04-25 04:00] 253712 commented on #244
换手机了，没复现😂

---原始邮件---
发件人: &quot;Potesta de ***@***.***&gt;
发送时间: 2021年3月8日 22:28:34
收件人: ***@***.***&gt;;
抄送: ***@***.******@***.***&gt;;
主题: Re: [Tornaco/Thanox] op提醒 (#244)

@253712 2.4版本也这样么

&mdash;
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-04-25 17:03] ilikekissing opened #271 "我激活不了Thanox，我用edxp激活其他基于xp的软件可以激活，但是重启了好多次，thanox还是激活不了，于是我换了lsp，更新到最新的lsp5563版本，还是激活不了。我试了更新面具，还是激活不了。"
lsp日志log:LSPosed Log
--------- beginning of information
Manufacturer: HUAWEI
Brand: HUAWEI
Device: HWSCM
Product: SCM
Model: SCM-AL09
Fingerprint: HUAWEI/SCM-AL09/HWSCM:9/HUAWEISCM-AL09/108C00:user/release-keys
ROM description: SCM-AL09-user 9.1.1 HUAWEISCM-AL09 108-CHN-LGRP1 release-keys
Architecture: arm64-v8a
Android build: HUAWEISCM-AL09
Android version: 9
Android sdk: 28
LSPosed version: v1.3

[2021-04-26 00:01] amazing3k opened #272 "无法激活"
EdXposed Log
Powered by Log Catcher
QQ support group: 855219808
Telegram support group: @Code_Of_MeowCat
Telegram channel: @EdXposed
--------- beginning of information
Manufacturer: OnePlus
Brand: OnePlus
Device: OnePlus5
Product: OnePlus5
Model:
Fingerprint: OnePlus/OnePlus5/OnePlus5:9/PKQ1.180716.001/2002171216:user/release-keys
ROM description: OnePlus5-user 9 PKQ1.180716.001 2002171216 release

[2021-04-27 11:54] yujincheng08 commented on #260
Binder.getCallingUid 就可以知道是哪个应用调用的，所以可以针对 app 选择性返回 imei。

[2021-04-30 03:53] amazing3k commented on #271
一样，付费后作者都不管了

[2021-05-04 12:29] tommynok opened #274 "The device freezes after tapping the "App manager" tab."
**Describe the bug（现象描述）**
After clicking on "App manager", the phone immediately goes to reboot.
But the phone does not completely reboot.
The phone gets stuck on the vendor logo.

**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
1. Start Tanox
2. Tap on the "App Manager" tab

**Version（发现问题的版本）:**
 - OS: Android 6.0.1, stock ROM
 - Version  v2.5-4-3d60991-prc

** Logs**（日志文件）
[logca

[2021-05-11 17:33] humbleoxygen12 opened #275 "Thanox Pro 乖巧模式与系统双击唤醒冲突"
当Thanox开启乖巧模式，每次重启系统不操作息屏后，双击将无法亮屏，关闭乖巧模式后正常。

 - OS: Android 11 Pixel Experiences
 - Version 2.4-20 Google Play

[2021-05-16 10:36] liu-cool-cmd opened #276 "新功能建议 op提醒"
能不能给权限提醒做个功能就是用这个权限的时候显示通知，不用的时候自动清除通知

[2021-05-24 07:11] menghuab opened #277 "请求一个像iso系统的本地局域网访问的控制权限"
苹果的iso系统从某个版本开始（大概14吧）加入了本地网络访问权限 禁止此权限的应该无法访问192.168.＊＊.＊或10.0.0.1之类的局域网地址 一定程度上防止国内某些流氓应用通过局域网确认用户的身份追踪用户 若是加入此权限控制就非常完美了 谢谢

[2021-05-25 08:24] mcnk328 opened #278 "隐匿记录问题"
开启隐匿功能后，一开始隐匿记录可以正常查询每个应用的隐匿情况，但是隐匿记录过多的时候则无法查看，一直转圈，只有清空隐匿记录后才可以重新查看，但是过没多久又会无法查看隐匿记录

[2021-05-26 12:55] 205687875 opened #279 "作者最近有无支持安卓12的计划"

[2021-05-27 11:00] cmddot opened #280 "io.read 无法读取到内容,bug?"
"io.write(\"text.txt\",\"111\")", "ui.showShortToast(io.read(\"text.txt\"))",
 弹出的toast为空白。是不是read的功能有bug?

[2021-06-05 01:25] cmddot commented on #280
io.read需要绝对完整路径才可以,费了半天功夫才猜出来😓
io.read("/data/system/thanos/profile_user_io/text")

[2021-06-05 12:31] #127 closed, assigned to Tornaco

[2021-06-08 06:38] ghost commented on #241
不好意思，太久没上github了。
[EdXposed_Verbose_20210608_143518.txt](https://github.com/Tornaco/Thanox/files/6614035/EdXposed_Verbose_20210608_143518.txt)

[2021-06-08 07:03] ghost commented on #241
lsp不是最新版，因为安卓8.0装不了。
[LSPosed_Verbose_20210608_145833.log.txt](https://github.com/Tornaco/Thanox/files/6614171/LSPosed_Verbose_20210608_145833.log.txt)

[2021-06-13 12:05] gwc12412 commented on #279
同问

[2021-06-13 15:44] entr0pia opened #281 "[FR] 情景模式对于"振动"的支持"
提供 **开/关** {振动, 静音} 的Handle

[2021-06-27 17:14] WangY1628 opened #282 "为规则增加优先级设置"
自启动的规则之间可能会产生冲突，想要解决这些冲突在现有的条件下可能需要写入大量的规则，费时费力并不可行.希望能够增加为规则设置优先级的功能，或者简单的按照规则先后顺序划定优先级也行。

[2021-06-29 06:02] LinnBenson opened #283 "Thanox在处理炼妖壶工作应用时无效"
无论是把Thanox安装在工作空间或者是主空间内，对炼妖壶工作空间的应用划卡强退、自启管理、智能冻结都是无效的。

[2021-07-06 16:56] fmcong commented on #64
我希望是对某APP开启隐匿后,它所索取的数据返回随机就好了,每次索取都随机,或者定时随机之类的,也可避免大数据杀熟,

[2021-07-06 17:04] fmcong opened #284 "希望怎加隐私权限匿名数据"
希望权限管理下的,可以增加一个类似miui的权限管理的空白数据或者随机数据,
例如,某APP索取联系人信息,短信信息,可以给它返回空白信息或者随机数据,
不会导致不给权限不让使用 ,或者闪退
让APP得到虚拟的假信息,
APP储存数据的权限,也希望能怎加缓存功能,
例如,拒绝给某APP存储权限读写,该APP可以正常读写储存,但是读取的是空白信息,写入的数据在APP后台被杀后清除.
能做到不留痕迹的这样..可以防止APP到处建文件数据,还很难清除,也能防止APP偷取用户隐私文件.

[2021-07-16 11:04] ChrAlpha opened #285 "应用被「任务清理」后无法被 FCM 及时唤醒，即便借助「情景模式」"
应用被「任务清理」后**无法被 FCM 及时唤醒**，即便借助「情景模式」依旧**无法唤醒推送通知**。

我发送测试信息后，FCM 在 `18:04:58.426` 第一次收到（Recived），但是**没有推送任何通知**，而是在 FCM log 中返回 `Failed to broadcast to stopped app`；直至 `18:34` 左右（通知栏显示时间）延迟 30 分钟才收到通知，此时再打开 FCM log **没有任何相关时间点的记录**。

此时打开 Thanox 后台运行列表，发现应用已经在「运行中」列表内；而当应用被从最近任务中划掉时，确认过是不在「运行中」列表内的。这岂不是又启动在后台了，「任务清理」效果被覆盖。

- 疑问 1：「任务清理」效果是否类似于 Android 系统的 "Force Stop"，据我所知这个状态**无法被 FCM 唤醒推送**
-

[2021-07-16 14:23] fjfh158 opened #286 "未激活"
**Describe the bug（现象描述）**
A clear and concise description of what the bug is.（简洁的描述该bug的现象）

**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
1. Go to '...'（进入XXX）
2. Click on '....'（点击XXX）
3. Scroll down to '....'（下滑到XXX）
4. See error（发现错误XXX）

**Expected behavior**（期望结果）
A clear and concise description of what you expected to happen.（描述一下期望的结果）

**Screenshots**（截图）
If applicable, a

[2021-07-18 15:11] ChrAlpha commented on #285
破案了，没有给予应用「自启动」权限，给予后便能正常唤醒通知，且在息屏数分钟后又被后台运行限制而释放内存。

[2021-07-18 15:11] #285 closed, assigned to nobody

[2021-07-19 04:31] ghost opened #287 "咱Thanox软件是开源的吗，我编译获取不到https://maven.pkg.github.com/tornaco/Thanox-Internal"
用Android Studio 同步gradle发现，这个https://maven.pkg.github.com/tornaco/Thanox-Internal   maven 一直获取不到，提示无权限，请问Thanox是开源的吗

[2021-07-19 04:33] ghost commented on #287
@Tornaco

[2021-07-20 04:12] ghost commented on #287
感谢修复

[2021-07-20 04:12] #287 closed, assigned to nobody

[2021-07-24 16:22] ajdgsu opened #288 "thanox不能正常运行"
**Describe the bug（现象描述）**
A clear and concise description of what the bug is.（简洁的描述该bug的现象）
激活后会不停报错(大概一秒十几次同样的报错)，手机可以正常运行，但是打开相机后手机过一会就会卡死重启
**To Reproduce**（如何复现）
激活就会复现
Steps to reproduce the behavior:（复现步骤）
激活就会复现
**Expected behavior**（期望结果）
正常运行

**Screenshots**（截图）
![Screenshot_20210725-000110_LSPosed](https://user-images.githubusercontent.com/45306865/126874203-2d5255ed-a981-4b92-9292-cec

[2021-07-25 14:36] Mr54233 opened #289 "希望增加情景模式的仓库，可供上传和下载"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
需要一个官方的情景模式分享平台
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
就在thanox内置一个类似仓库的一个平台
**Describe alternatives you've considered**
A clear and concise description of any alternative solutions

[2021-07-25 15:07] ajdgsu commented on #288
最新版(3.0alpha)已得到解决

[2021-07-25 15:07] #288 closed, assigned to nobody

[2021-07-26 08:36] j0912H97 opened #290 "riru-thanox-3.0导致的 大部分软件打不开"
S20 ULTRA
SM-G988N
ONEUI 3.1
Android 11
MAGISK alpha 1eb83ad8-alpha-26
RIRU 26.0.1
riru-thanox-3.0-alpha-3-25b0faf-release.zip
THANOX PRO 3.0 alpha-6
刷入面具模块之后 手机卡顿 大部分软件打不开
日志较大 你忍一下

[bootlog.zip](https://github.com/Tornaco/Thanox/files/6876786/bootlog.zip)

[2021-07-26 11:36] Tornaco commented on #290
[riru-thanox-3.0-alpha-3-25b0faf-dirty-release.zip](https://github.com/Tornaco/Thanox/files/6877798/riru-thanox-3.0-alpha-3-25b0faf-dirty-release.zip)

@j0912H97 试试这个版本？

[2021-07-27 00:43] j0912H97 commented on #290
大部分软件都能打开了（不确定）
但是我的kiwi浏览器虽然能打开 但一直是假期状态
然后用 aurora store不能更新软件
还有一个很久之前就有的问题 就是插件无法使用 一直显示重启后激活的状态
我在给你一份日志。
[bootlog.ZIP](https://github.com/Tornaco/Thanox/files/6881856/bootlog.ZIP)
谢谢你@tornaco

[2021-07-27 02:49] #257 closed, assigned to nobody

[2021-07-27 11:34] Tornaco commented on #290
@j0912H97  Magisk补丁和xposed补丁不能同时使用。你确定你使用magisk补丁激活后thanox app里有插件这个功能？

[2021-07-27 14:04] j0912H97 commented on #290
我一直是 再装了lsp框架的情况下提供的日志
在以前我记得框架和面具的thanox是可以共存的
然后thanox插件这个问题是无论装不装magisk thanox都会出的问题
下面这个日志你再看一下 看看插件的问题

你的意思是如果我在lsp框架下激活了thanox就不能用magisk版本的thanox？

[bootlog.zip](https://github.com/Tornaco/Thanox/files/6886110/bootlog.zip)

[2021-07-27 14:22] Tornaco commented on #290
@j0912H97 两者取其一。Xposed和Magisk补丁都是给系统打补丁，哪个兼容自己的设备用哪个就OK了。

[2021-07-27 14:25] j0912H97 commented on #290
好的 明白了 谢谢你的耐心解答
我刚才在lsp框架下禁用了thanox pro
只启用了magisk thanox的状态下发现 手机会无限重启
你要不再看看？（其实不看也行，因为lsp启用thanox pro的状
[bootlog.zip](https://github.com/Tornaco/Thanox/files/6886275/bootlog.zip)
态下并没有什么问题 除了插件一直显示重启状态）

[2021-07-28 01:51] h0cheung commented on #290
Android 11 都可以使用时更推荐哪一个

[2021-07-28 02:21] PuerNya opened #291 "关于 riru 模组炸 appops 这件事"
**Describe the bug（现象描述）**
riru 模组会炸掉 appops 组件

**To Reproduce**（如何复现）
刷写 riru-thanox_core

**Expected behavior**（期望结果）
appops 组件爆炸，无法被相关软体（AppOps，权限狗等）进行管理，也无法通过 adb 命令进行管理

**Screenshots**（截图）
![Screenshot_20210727-093945628](https://user-images.githubusercontent.com/16221246/127253249-ae5539eb-8869-4cf4-bdbe-0477dedd0ddf.jpg)

**Version（发现问题的版本）:**
 - OS: 11
 - Version: 25b0faf

**Additional c

[2021-07-28 08:37] Cokeblue opened #292 "更新thanox po 卡 检查页面"
之前是4.99刀入的pro
版本号是2.4.20.9244957
一切都挺正常
用就挺长时间，今天突然出现点开闪退
我就
去google play 升级成了最新版2.5 的
于是就一直卡正在检查网络 能否正常访问google play

我挂着工具 手机浏览器的google play stroe 和手机的google play store都是一切正常的
手机是 oppo reno ace  color os 7.1 基于安卓10 无系统级<面具>的Gapp
特此来求助

去tg咨询了下群友，我的想法是想下回原来那版本的apk，我备份了原来那版本的数据，忘记备份apk了。 。群友推荐了Aurora.store
然而我又不知道如何获取
2.4.20.9244957的version code

[2021-07-28 13:50] Tornaco commented on #292
@Cokeblue 通常都是GMS框架问题。

为了维护已购买用户的利益，2.5-4版本添加了Play购买资质验证；
目前看来还是可能会误伤，稍后会更新一个去除验证的版本，后续可能就不再进行验证了~:(

[2021-07-28 13:52] Tornaco commented on #291
@kaniwow OK 应该是hook冲突了，后续会关注。

[2021-07-29 04:11] PuerNya commented on #290
现在是抓小白鼠阶段如果你想用稳一点就 xposed 模式激活

[2021-07-31 12:24] Tornaco commented on #292
Fixed.

[2021-07-31 12:24] #292 closed, assigned to nobody

[2021-07-31 12:26] Tornaco commented on #286
请按照Thanox-设置-反馈 中指定的反馈流程补充thanox相关日志。暂时close.

[2021-07-31 12:26] #286 closed, assigned to nobody

[2021-07-31 12:26] Tornaco commented on #281
@entr0pia IN PROGRESS.

[2021-08-01 05:43] VFool opened #293 "陀螺仪失效"
**Describe the bug（现象描述）**
陀螺仪在手机开机一段时间后就失效无法使用**Version（发现问题的版本）:**
 - OS：安卓10（miui12）
 - Version：v3.0alpha

**Additional context**（其他信息）
应用所需要的权限都给了，乖巧也尝试关闭了，隐秘也关了

** Logs**（日志文件）
[2021-08-01.log](https://github.com/Tornaco/Thanox/files/6912189/2021-08-01.log)
[thanox-core.log](https://github.com/Tornaco/Thanox/files/6912190/thanox-core.log)
[thanox-init.log](https://github.com/Tornaco/Thanox/f

[2021-08-01 06:06] VFool commented on #174
读取应用列表权限要给微信和QQ不然微x qx类的模块无法使用

[2021-08-05 13:43] entr0pia opened #294 "[FR] 全局变量更丰富的操作"
全局变量需要更多的数据类型, 如整型, 字符串, 布尔型等, 也需要对全局变量进行赋值等操作.

例如我想在```当Wifi状态改变, 且上一个ssid为XXXX时```才执行某种操作, 则需要设置一个全局变量来存储上一个ssid的信息

[2021-08-09 12:05] L-Ryland opened #295 "Icon not hided on OneUI 3.0"
**Describe the bug（现象描述）**
Icon not hided by default launcher on OneUI 3.0

**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
1. Go to Smart Freeze Function
2. Click on Settings
3. Enable the switch `Hide in Launcher`
4. Turn back to upper menu.
5. Click on NetEase Music to launch it swipe up  the home bar to go back to Launcher.
6. Open launcher drawer, NetEase music turns right up on

[2021-08-10 03:16] yuehun opened #296 "通知记录加一个搜索"
不然通知太多了，几千条，翻的手都断了。

[2021-08-10 09:03] Heronuoye opened #297 "请重新启动设备提示"
小米11 miui 12.5.9 捐赠版
系统通知不断重复出现请重新启动设备
![微信图片_20210810161226](https://user-images.githubusercontent.com/19256480/128839383-b71fb7ae-30fb-4d5c-bed8-bc52d9d4cbe9.jpg)

[2021-08-10 14:21] #297 closed, assigned to nobody

[2021-08-14 17:28] KanoCifer opened #298 "Alpha 2无模块"
3.0Alpha 2没有提供模块啊大大。。

[2021-08-15 06:30] KanoCifer opened #299 "运行管理显示bug"
运行管理内，休眠显示灰框

![Screenshot_20210815-142854.png](https://user-images.githubusercontent.com/57797351/129469408-0fa7c57d-486f-449c-82b4-4b95bd196bde.png)

）Android 11
）3.0-Alpha2

[2021-08-16 02:02] #298 closed, assigned to nobody

[2021-08-17 06:20] 253712 opened #300 "智能冻结显示图标"
智能冻结设置里面勾选了不显示图标打开后还是会出现图标，勾选系统桌面也不管用

[2021-08-17 12:13] Tornaco commented on #299
@KanoCifer Please try latest release alpha apk [thanox_3.0-alpha02-3-12b9d59-prc.apk](https://github.com/Tornaco/Thanox/releases/tag/v3.0-alpha02)

Close for now.

[2021-08-17 12:13] #299 closed, assigned to nobody

[2021-08-17 12:14] Tornaco commented on #300
Dup with #295

Close this one.

[2021-08-17 12:14] #300 closed, assigned to nobody

[2021-08-17 12:15] Tornaco commented on #291
@kaniwow Is it fix on latest release?

[2021-08-17 12:50] KanoCifer commented on #299
ok，解决了

[2021-08-17 14:18] Tornaco commented on #291
Close then.

[2021-08-17 14:18] #291 closed, assigned to Tornaco

[2021-08-18 08:54] Coconutat opened #301 "Edxposed勾选激活重启后依然显示未激活"
这里是EdXposed的log文件。
[EdXposed_log.zip](https://github.com/Tornaco/Thanox/files/7005903/EdXposed_log.zip)
机型是华为p10

[2021-08-18 11:11] Tornaco commented on #301
@Coconutat 请提供data/system/thanos/logging下的日志

[2021-08-19 00:21] Taxorz opened #302 "使用thanox会使kustom lwp动态壁纸卡顿"
安装thanox后即使不开启任何功能，每隔一段时间返回桌面后kustom lwp会卡顿1秒，强行停止kustom lwp再启用后会恢复正常，一段时间后又会卡顿，如此往复。卸载thanox后无此bug。

thanox版本为Googleplay商店最新版

[2021-08-19 02:39] Coconutat commented on #301
目录下没有thanos这个文件夹。

[2021-08-19 05:00] Coconutat commented on #301
大佬，有没有支持安卓8.0的Thanos v2.5.4的Magisk模块？我这个手机Magsik v20以上都无法支持，Xposed也只能刷EdXposed。

[2021-08-21 07:12] Hidarihitomi opened #304 "app ops功能部分失效"
xposed模式激活情况下，app ops功能部分失效，关闭了应用的toast通知还是会跳通知。关掉亮度权限的应用又正常，不会被app强制高亮，其他的没有发现。

[2021-08-21 08:28] qanyan opened #305 "权限管理"
thanox的权限管理能否按照始终允许——前台允许——拒绝这个顺序来排序，不然点进去的时候看着很混乱

[2021-08-21 09:35] Tornaco commented on #304
@Hidarihitomi Android版本？

[2021-08-21 10:17] Sfssup opened #306 "激活不了"
Android9；MIUI11 从3.0的第二个版本开始就激活不了

[2021-08-21 10:26] Hidarihitomi commented on #304
11，氧os。3.0之前的版本tosat也都正常可以修改，3.0之后才不行

[2021-08-21 12:15] Tornaco commented on #306
@EatmeIon 请补充详细信息：xposed还是magisk？ 日志？

[2021-08-21 12:52] Sfssup commented on #306
LSPosed1.5.1
Magisk23

日志的话不会弄..

[2021-08-21 13:47] cmddot commented on #294
支持。我也正需要这个功能。试了下
"globalVarOf$apps.add(\"9\")",
"ui.showShortToast(globalVarOf$apps);"
   前一句全局变量添加操作成功了,因为后一句的toast显示了添加后的结果。(thanox一般来说,一行代码执行不成功的话,就会中断导致后一句代码就不会执行),但是回去查看全局变量并没有添加成功。应该是没有保存或者写入吧

[2021-08-22 05:19] PuerNya opened #307 "关于桌面启动器后台的钩子坏了"
**Describe the bug（现象描述）**
riru 模式下开启后台模糊无效果

**To Reproduce**（如何复现）
不需要多余操作

**Expected behavior**（期望结果）
如题

**Screenshots**（截图）
null

**Version（发现问题的版本）:**
 - OS: Android 11 PEP
 - Version: alpha03

**Additional context**（其他信息）
null

** Logs**（日志文件）
null

[2021-08-22 05:23] LiAlH4qwq commented on #307
@kaniwow 你确定riru版本有这个功能？

[2021-08-22 05:27] PuerNya commented on #307
ui 没删除

[2021-08-22 05:42] LiAlH4qwq commented on #307
@kaniwow 我这边可以自动删除，你是不是同时激活了riru版和xposed版

[2021-08-24 00:45] raddyyt commented on #305
按名字排序有什么乱的，改成按状态排序的话，修改某个app的权限就会让他在列表里跳来跳去的岂不是更难找。

[2021-08-25 01:49] LiAlH4qwq opened #308 "riru module cause random soft reboot"
**Describe the bug（现象描述）**
A clear and concise description of what the bug is.（简洁的描述该bug的现象）
riru module cause random soft reboot. it seems that zygote crashes.
**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
1. Go to '...'（进入XXX）
2. Click on '....'（点击XXX）
3. Scroll down to '....'（下滑到XXX）
4. See error（发现错误XXX）
install riru module and wait for reproducing.
**Expected behavior**（期望结果）

[2021-08-26 13:59] Tornaco commented on #308
@Fe3O4-Git 你是在xposed和magisk里同时勾选了thanox相关模块？

[2021-08-26 15:08] LiAlH4qwq commented on #308
可能当时我没取消掉edxposed中的hook，我现在取消xp uook后再使用一段时间，如果没有问题就close issue

[2021-08-27 07:12] #308 closed, assigned to nobody

[2021-08-29 04:27] Tornaco commented on #306
Close since no log provided.

[2021-08-29 04:27] #306 closed, assigned to nobody

[2021-08-29 04:28] Tornaco commented on #307
Magisk补丁暂不支持任务模糊，App配置页面后续会隐藏该配置项，Close.

[2021-08-29 04:28] #307 closed, assigned to nobody

[2021-08-29 04:28] Tornaco commented on #296
DONE & RELEASED

[2021-08-29 04:28] #296 closed, assigned to Tornaco

[2021-08-29 04:29] Tornaco commented on #301
@Coconutat Magisk模块适配成本较高，暂不考虑低版本了~

[2021-08-29 04:29] Tornaco commented on #301
Close since no log provided.

[2021-08-29 04:29] #301 closed, assigned to nobody

[2021-08-29 04:30] Tornaco commented on #279
等12正式发布

[2021-08-29 06:05] SukiEva opened #309 "Magisk模块卡开机"
**Describe the bug（现象描述）**
最新Pre-Release刷入magisk后（未用xposed）卡开机动画

**To Reproduce**（如何复现）
刷入magisk zip

**Version（发现问题的版本）:**
 - OS: 安卓11 OxygenOS Oneplus 8T

** Logs**（日志文件）
我的log也很大，你忍一下
[all_2021-08-29_13-52-54.zip](https://github.com/Tornaco/Thanox/files/7072015/all_2021-08-29_13-52-54.zip)

[2021-08-29 10:50] jw8013 opened #310 "MIUI11 Android 9无法激活"
**Describe the bug**
无法激活

**To Reproduce**
卸载重新安装都没用！

**Expected behavior**
修复不能激活的问题

**Screenshots**
![Screenshot_2021-08-29-18-46-48-679_github tornaco android thanos pro](https://user-images.githubusercontent.com/10069562/131247734-d8e1b69b-7527-467e-a149-20f4f4c3561b.png)

**Version（发现问题的版本）:**
 - OS: Android 9 MIUI11
 - Version3.0

** Logs**（日志文件）
[LSPosed-2021-08-29.zip](https://github.co

[2021-08-31 15:06] Gluneklairo opened #311 "Magisk版导致Safety Net失效"
OnePlus 8T Pixel Experience 11
安装模块后Safety Net失效，卸载模块后正常

[2021-08-31 15:38] weGHub opened #312 "无法激活"
这个是lsp的日志：
Model: MI 6
Fingerprint: Xiaomi/sagit/sagit:7.1.1/NMF26X/V8.2.17.0.NCACNEC:user/release-keys
ROM description: sagit-user 7.1.1 NMF26X V8.2.17.0.NCACNEC release-keys
Architecture: arm64-v8a
Android build: 10
Android version: 10
Android sdk: 29
LSPosed version: v1.4.8 (5878)
Riru version: v26.0.5.r484.a8c93a12f8 (484)
Riru api: 26
Magisk: 7717f0a6-lite (23001)
1971-10-06 04:27:49.049 I/an

[2021-09-03 01:09] StephenSSR commented on #309
氢os安卓11也卡开机了，一加7

[2021-09-03 01:12] hanxin1997 commented on #309
miui开发版安卓11也卡开机 k20pro

[2021-09-04 14:01] Tornaco commented on #310
Mark.

[code]

[2021-09-04 14:38] Tornaco commented on #312
@weGHub 请提供完整日志，看日志片段只能初步判断是xp框架的hookMethod过程出错。

[2021-09-04 14:43] Tornaco commented on #309
Mark OOS Android11
[code]

[2021-09-04 19:47] 7starsseeker opened #313 "play商店付费版thanox pro 3.0alpha4无法在lsposed管理器中激活"
作者您好，我是购买的play商店付费版thanox pro，刚更新到3.0alpha4。手机为一加9p+氧os（11.2.8.8.LE15BA），xp框架用的lsposed（1.5.3（5984））。上个3.0alpha3版可以正常使用，但是更新alpha4版之后无论如何都无法激活，换用magisk方式后会直接卡开机。想回退版本却在play商店找不到该功能，而github和酷安上都是Thanox而不是Thanox pro，应用包名都不一样，装上之后还提示未激活……
lsposed日志导出后为一个zip压缩包，当中的内容我不确定哪个是有用的，所以把整个压缩包全部上传到网盘了，链接如下：
https://dr7s.cowtransfer.com/s/483f2b59d04341
取件码853558

[2021-09-05 00:17] StephenSSR commented on #313
同3.0alpha4无法在lsposed管理器中激活，另在氢os11上Magisk激活仍卡开机

[2021-09-05 00:58] SmartDevil-02 commented on #313
同3.0alpha4不能用lsposed激活，但是03可以激活，没有试magisk

[2021-09-05 01:37] Sfssup opened #314 "昨天发的仍然激活不了"
Android9；MIUI11；Magisk23；Riru2612；LSPosed153...

[2021-09-05 01:38] Tornaco commented on #314
@EatmeIon 麻烦发下log

[2021-09-05 01:43] jw8013 commented on #310
[LSPosed_2021-09-05T.zip](https://github.com/Tornaco/Thanox/files/7110751/LSPosed_2021-09-05T.zip)
Cannot load module: github.tornaco.android.thanos.pro

[2021-09-05 01:50] Sfssup commented on #314
日志文件咋上传

[2021-09-05 02:05] Tornaco commented on #314
@EatmeIon 收到，已经定位到问题，正在测试。

[2021-09-05 03:35] Sfssup commented on #314
新的已激活

[2021-09-05 03:47] Tornaco commented on #314
Nice

[2021-09-05 03:47] #314 closed, assigned to nobody

[2021-09-05 03:48] Tornaco commented on #313
How about 3.0-alpha05-row? Released a moment ago.

[2021-09-05 03:49] Tornaco commented on #310
How about 3.0-alpha05-row? Released a moment ago.

[2021-09-05 03:57] SmartDevil-02 commented on #313
我去试试

[2021-09-05 04:52] 7starsseeker commented on #313
It works via lsposed manager. Thanks.
在lsp里面能用了，谢谢！
magisk method is not tested.
magisk那边没有试。

[2021-09-05 05:02] SmartDevil-02 commented on #313
可以激活了

[2021-09-05 05:22] jw8013 commented on #310
这个版本正常了。

[2021-09-05 05:23] #310 closed, assigned to Tornaco

[2021-09-05 06:19] Tornaco commented on #313
Nice

[2021-09-05 06:19] #313 closed, assigned to Tornaco

[2021-09-05 06:19] Tornaco commented on #312
Close since no log provided.

[2021-09-05 06:19] #312 closed, assigned to Tornaco

[2021-09-05 14:00] Tornaco commented on #309
[thanox_3.0-alpha05-1-e189cc7-prc(3060128).apk.zip](https://github.com/Tornaco/Thanox/files/7111725/thanox_3.0-alpha05-1-e189cc7-prc.3060128.apk.zip)

@SukiEva @StephenSSR @hanxin1997 试试这个呢？

[2021-09-05 14:03] Tornaco commented on #271
请提供完整lsposed日志或者尝试最新thanox版本。

[2021-09-05 14:03] #271 closed, assigned to nobody

[2021-09-05 14:16] hanxin1997 commented on #309
我这里显示Copying zip to temp directory Unzip error，用的alpha面具。。

[2021-09-05 14:18] Tornaco commented on #274
@tommynok

Android 6 is too old OS version, anyway I will raise a quick fix in next version of thanox, please try then.

[2021-09-05 14:33] SukiEva commented on #309
刷入后正常开机，试了一下通知、情景、乖巧都正常运行❤️

[2021-09-05 14:34] hanxin1997 commented on #309
我也正常开机和激活了。

[2021-09-05 14:37] Tornaco commented on #309
1. 先解压，解压后是个apk
2. apk安装
3. apk改名为zip后masigk刷入

[2021-09-05 14:44] Tornaco commented on #309
OK，建议再等等下个版本，当前版本可能会有其他问题。

[2021-09-05 18:06] qiuyouxin opened #315 "NFC服务无限FC"
①BUG：NFC服务不断FC

②现象：梦境框架，激活重启后显示正常激活，但NFC服务一直弹窗FC。由于此现象全部功能暂未开启使用。

③希望作者能抽空查看并消灭此虫。由于lsp不支持安卓8.0，edxposed停止更新未适配riru25+，所以转入梦境框架，希望能适配
   下梦境框架。如是梦境框架问题，望大佬能联系下梦境作者，我们去联系估计理都不会理我们尴尬。

   （想问下作者：riru模块激活能否实现安卓8.0以上系统激活，哪怕简单的管理自启，划卡强退功能就行。因为注入xposed就会被检测到， 所以希望能通过riru-core实现。如果实现太困难，请无视此请求。）

④**Version（发现问题的版本）:**
 - OS: LG，安卓8.0.0
 - Version ：正在测试版本v3.0-alpha04-2。能激活thanos历史版本都有这问题，包括旧版 “应用管理xpos

[2021-09-06 07:25] jinbolin227 opened #316 "恢复备份后重启权限管理和移花接木被关闭，情景模式规则都读取不出来"
**Describe the bug（现象描述）**
A clear and concise description of what the bug is.（简洁的描述该bug的现象）
恢复备份后重启权限管理和移花接木被关闭，情景模式规则都读取不出来
**To Reproduce**（如何复现）
在一加8T氢OS系统上没问题换到氧OS系统上就会出现
Steps to reproduce the behavior:（复现步骤）
1. Go to '...'（进入XXX）
2. Click on '....'（点击XXX）
3. Scroll down to '....'（下滑到XXX）
4. See error（发现错误XXX）

**Expected behavior**（期望结果）
希望得以修复
A clear and concise description of what you ex

[2021-09-06 15:07] StrollStars opened #317 "建议权限管理新增通过运营商获取号码"
**Is your feature request related to a problem? Please describe.**
不相关

**Describe the solution you'd like**
一些APP可以通过运营商接口获取用户手机号，即使在连接WIFI的网络下，依旧可以通过SDK强制走移动流量去获取，例如[GitMind](https://play.google.com/store/apps/details?id=com.apowersoft.gitmind)。这个应该算是国内特色了，建议新增该权限的控制，以便应用访问时可以拦截。

**Describe alternatives you've considered**
无

**Additional context**
目前已知MIUI可支持，如下图：
![c167c4a72c649898](https://u

[2021-09-07 00:41] jinbolin227 commented on #283
不支持虚拟框架

[2021-09-11 13:45] Tornaco commented on #316
@jinbolin227 手动删除data/system/thanos文件夹，重启重新配置试试，可能是该文件夹的权限或mode被其他进程修改了。

[2021-09-11 14:39] Tornaco commented on #309
@SukiEva @StephenSSR @hanxin1997

Test apk arrive:

1. 先解压，解压后是个apk
2. apk安装
3. apk改名为zip后masigk刷入

[thanox_3.0-alpha05-14-1734c40-prc(3060128).apk.zip](https://github.com/Tornaco/Thanox/files/7148025/thanox_3.0-alpha05-14-1734c40-prc.3060128.apk.zip)

[2021-09-11 15:23] hanxin1997 commented on #309
刷成功了，也开机了，但是显示没有激活，面具里有模块

[2021-09-11 22:59] SukiEva commented on #309
同样正常开机显示未激活
开机日志如下：
[boot.zip](https://github.com/Tornaco/Thanox/files/7148634/boot.zip)

[2021-09-12 00:57] jinbolin227 commented on #316
我测试还是这样显示，都搞不明白这是为什么，氢就没事，氧就这样

[2021-09-12 01:06] Tornaco commented on #309
[thanox_3.0-alpha05-17-9f69ad5-prc(3060128).apk.zip](https://github.com/Tornaco/Thanox/files/7148806/thanox_3.0-alpha05-17-9f69ad5-prc.3060128.apk.zip)

@SukiEva @hanxin1997 Thanks，日志很有帮助。

又更新了一个版本，有时间可以再试试，操作步骤不变。

[2021-09-12 01:13] SukiEva commented on #309
可正常开机并激活

[2021-09-12 01:17] hanxin1997 commented on #309
正常开机并激活，暂时没发现没什么问题

[2021-09-12 01:34] Tornaco commented on #309
@SukiEva @hanxin1997 Nice~

[2021-09-12 13:18] jinbolin227 commented on #316
应该是不能用恢复，恢复就会这样，

[2021-09-12 14:32] jinbolin227 commented on #316
后台启动规则不能导入导出，移花接木导出规则后shi空的
![Screenshot_20210912-223205](https://user-images.githubusercontent.com/56496767/132991706-33430210-ae97-4426-8db4-3e52d3af0406.jpg)

[2021-09-13 02:13] jinbolin227 commented on #316
手动重新添加后，显示移花接木和权限管理打开了但实际没有效果，情景模式添加规则也是显示但不生效

[2021-09-14 06:05] 0honus0 commented on #316
同有这个问题

[2021-09-14 15:13] Gokou-Ruri opened #318 "“通知记录”无法记录Toast（吐司）"
**Describe the bug（现象描述）**
在通知记录列表中看不到任何程序的Toast记录（例如类原生系统删除截图以后“系统界面”弹出的Toast），只有通知记录。

**Screenshots**（截图）
![Screenshot_20210914-230856_Thanox_Pro](https://user-images.githubusercontent.com/26711804/133283826-fe7d7035-4544-4786-9fcb-322fde75fdc8.png)

**Version（发现问题的版本）:**
 - OS: [Android 11]
 - Version [3.0-alpha05]
 - LSPxposed [1.5.3-5984]

**Additional context**（其他信息）
在LSP中为Thanox勾选了“系统界面”、“

[2021-09-15 05:46] jinbolin227 commented on #318
退回03看看

[2021-09-15 08:28] Gokou-Ruri commented on #318
谢谢解答，03版之前也不能显示，我最初用2.x的时候就一直都不行，这个问题其实困扰我挺久了。

[2021-09-15 10:57] SukiEva commented on #318
magisk没这个问题，xposed需要把记录的应用加入作用域才行

[2021-09-17 08:41] ywyu opened #319 "thanox激活失败"
**Describe**
开始正常，后来莫名其妙不能用了，捣鼓过一次，重新安装edxposed && thanox可以重新激活，但是过一段时间又不能正常激活

**Additional context**（其他信息）
手机装了炼妖壶，卸载炼妖壶后也没恢复

** Logs**（日志文件）
[EdXposed_Modules_20210917_163205.txt](https://github.com/Tornaco/Thanox/files/7184059/EdXposed_Modules_20210917_163205.txt)

[2021-09-18 01:34] dqwfgzs opened #320 "微信代收插件卡死闪退"
**Describe the bug（现象描述）**
安装好代收插件后点击它即闪退

**To Reproduce**（如何复现）
正常安装插件、勾选启用后重启

**Expected behavior**（期望结果）

**Screenshots**（截图）
![Screenshot_20210918-093111](https://user-images.githubusercontent.com/34101212/133867765-3476a2f9-3214-45e2-a344-a04e6fd52a45.png)
![Screenshot_20210918-093115](https://user-images.githubusercontent.com/34101212/133867770-f5f4bb89-6555-4bad-a576-5d3142b5caf3.png)

**

[2021-09-18 11:19] 0honus0 commented on #316
手动修改文件夹权限解决了

[2021-09-18 23:26] Tornaco commented on #319
@ywyu 从日志看hook模块过程是不完整的(一直在重复加载)，建议尝试重新勾选thanox模块重启，或者排查xp框架。

[code]

[2021-09-18 23:28] Tornaco commented on #316
OK，感谢反馈，暂时还是这个解决方案，暂时关闭。

[2021-09-19 00:48] jinbolin227 commented on #316
你权限修改成了什么，我试试

[2021-09-20 01:38] SukiEva opened #323 "Magisk下情景模式部分失效"
**Describe the bug（现象描述）**
经过测试，发现Task remove和package kill均无法触发。不知道Thanox是否通过读取系统日志查看这些参数，刷入Magisk模块后Tasker也无法读取服务状态信息，xposed版无此问题。

**To Reproduce**（如何复现）
Magsik激活

**Expected behavior**（期望结果）
希望情景模式正常使用，除了部分bug，现在Magisk版比Xposed好用许多

**Version（发现问题的版本）:**
 - OS: Android 11 OxygenOS

**Additional context**（其他信息）
另外，貌似模块会导致无法通过SafetyNet（可以过银行检测）

**Logs**（日志文件）

[2021-09-22 00:39] jinbolin227 commented on #323
我xp里Task remove与package kill和gps与蓝牙冲突，会导致规则全部失效

[2021-09-22 05:41] Gokou-Ruri commented on #318
谢谢指导！

[2021-09-23 03:07] jinbolin227 opened #324 "移花接木，自启动规则，乖巧规则导入导出功能无效"
**Describe the bug（现象描述）**
移花接木，自启动规则，乖巧规则导入导出不可用

**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
1. 进移花接木，自启动，乖巧规则导出的文件是空白
2. 移花接木，自启动，乖巧规则导入也没有任何反应
3.THANOX备份恢复或权限管理，移花接木，情景模式也会每次开机关闭，情景模式读取不到规则
**Expected behavior**（期望结果）
希望可以修复，不然软件太多，认为刷机后不可用备份的话手动操作起来太耗时间
A clear and concise description of what you expected to happen.（描述一下期望的结果）
2.5.9版本权限管理没问题，3.0开始权限管理的摄像头不起作用

**Screenshots*

[2021-09-23 03:08] jinbolin227 commented on #324
修改data/system/thanoxs权限也没有效果

[2021-09-23 11:25] qszx opened #325 "清理任务"
划卡清理任务，跳过通知栏任务

[2021-09-23 11:29] qszx opened #326 "软件断网"
v2.5
Android11
乖巧模式关闭软件再打开软件断网

[2021-09-23 12:55] Tornaco commented on #326
@qszx 具体是什么软件？

暂时关闭，请将问题信息补充完善

[2021-09-23 12:56] Tornaco commented on #325
@qszx 暂时close。请将问题描述清楚。

[2021-09-23 12:57] Tornaco commented on #319
Close since no futher response.

[2021-09-23 13:44] qszx commented on #325
跳过有通知的任务

[2021-09-23 13:49] qszx commented on #326
所有软件
开启划卡清理任务就不会断网

[2021-09-23 13:59] Tornaco commented on #323
[thanox_3.0-alpha05-3-f1aea90-dirty-prc(3060129).apk.zip](https://github.com/Tornaco/Thanox/files/7218220/thanox_3.0-alpha05-3-f1aea90-dirty-prc.3060129.apk.zip)

试试这个版本，package kill是否可以触发？

1. 解压附件为apk
2. 安装apk
3. apk改名为zip后magisk manager刷入模块
4. 重启

@SukiEva

[2021-09-23 16:04] SukiEva commented on #323
试了一下，package kill可以了，task remove不行，另外用nfc和gps测试时，打开nfc可以，关闭不行，gps没有问题

[2021-09-23 23:30] #309 closed, assigned to Tornaco

[2021-09-24 14:10] Tornaco commented on #323
[thanox_3.0-alpha05-8-a29c2a0-dirty-prc(3060129).apk.zip](https://github.com/Tornaco/Thanox/files/7226183/thanox_3.0-alpha05-8-a29c2a0-dirty-prc.3060129.apk.zip)

@SukiEva Thanks. 再试试这个的 rask remove呢？

[2021-09-24 14:50] SukiEva commented on #323
都正常了

[2021-09-25 06:31] Tornaco commented on #324
@jinbolin227 2.5版本也有问题吗？

手动删除data/system/thanos重启试过么？

[2021-09-25 06:33] Tornaco commented on #315
@qiuyouxin Magisk模式适配成本高，8.0暂时不支持了。个人经历只能维护Android 10以后的版本。

你描述的问题我看下日志，不确定是否能找到原因，如果能找到原因我会继续回复。

[2021-09-25 06:43] Tornaco commented on #315
日志里看起来是nfc服务app的权限问题，具体为什么系统校验权限会失败，不得而知~

[code]

[2021-09-25 06:44] Tornaco commented on #290
@j0912H97  最新版有改进了吗？

[2021-09-25 10:30] jinbolin227 commented on #324
是的，删除重试还是老样子，我现在都搞崩溃了，不知道哪里问题，几天9008刷了10多次才确定

[2021-09-25 12:47] Tornaco commented on #324
我也有点懵。

[2021-09-25 12:47] Tornaco commented on #324
我也有点懵。

[2021-09-25 13:29] jinbolin227 commented on #324
我现在只有自己一点一点手动添加和设置才会生效（包括重启）备份可以用，但恢复不行（一加氢可以恢复），移花接木，乖巧规则的导入导出用不了，就是导出了也是空文件，自启规则干脆导入导出都没作用，2.5版本权限管理摄像头可以拦截，3.0以后就拦截不住了

[2021-09-26 16:40] SukiEva opened #327 "任务清理导致浏览器打开失败"
**Describe the bug（现象描述）**
任务清理加入浏览器后，如果有其他应用使用应用内打开将会导致浏览器闪退。推测是chrome tab之类调用后不会出现在最近任务里导致触发任务清理，从任务清理中移除可避免该问题

**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
1. 任务清理加入浏览器
2. 在其他应用中打开链接调起浏览器
3. 闪退

**Expected behavior**（期望结果）
浏览器既能调出，又能划卡即停

**Version（发现问题的版本）:**
 - OS:  Android 11 OxygenOS

**Additional context**（其他信息）
这该不会是Feature吧🤡

[2021-09-26 17:56] qiuyouxin commented on #315
@Tornaco Android8.0能用的edxposed和lsp框架都没有这个问题，唯独是梦境框架才有这个问题，但ed不更新，lsp不支持8.0。如需进一步解决问题，请告知我应该如何配合。
[boot.log](https://github.com/Tornaco/Thanox/files/7232077/boot.log)
激活后boot.log

[2021-09-27 00:16] dqwfgzs opened #328 "插件无法激活"
**Describe the bug（现象描述）**
A clear and concise description of what the bug is.（简洁的描述该bug的现象）
安装好微信代收插件、勾选启用并重启后仍然提示需要重启，无法激活
**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）

**Expected behavior**（期望结果）
A clear and concise description of what you expected to happen.（描述一下期望的结果）

**Screenshots**（截图）
If applicable, add screenshots to help explain your problem.（通过截图更好的解释你的问题）
![Screenshot

[2021-09-27 00:18] dqwfgzs commented on #320
已经可以使用但无法激活，详见#328

[2021-09-27 02:14] linmumudesti opened #329 "安卓12"
安卓12什么时候可以用lsp激活啊，面具激活的少了好多功能，不能装插件

[2021-09-27 02:55] Tornaco commented on #329
@linmumudesti 试试新版本 alpja06

[2021-09-27 13:16] Tornaco commented on #329
https://github.com/Tornaco/Thanox/releases/tag/v3.0-alpha06 @linmumudesti

[2021-09-27 13:17] Tornaco commented on #329
暂时关闭，如果测试有问题请重新open该issue。

[2021-09-27 13:20] Tornaco commented on #327
[code]

@SukiEva Chome存在多个任务，remove一个之后，触发了`任务清理`被杀死了。

计划折中处理一下：`任务清理`杀死app之前检测其是否有其他任务存在。

[2021-09-27 13:46] Tornaco commented on #320
Close. Track with #328

[2021-09-27 13:54] Tornaco commented on #328
@dqwfgzs 能用日誌工具抓個重新開機過程中的完整adb日誌嗎？thanox日誌記錄器沒記錄到加載的錯誤信息。

[2021-09-29 02:23] qanyan commented on #317
点赞

[2021-09-29 09:21] dqwfgzs commented on #328
我尝试一下，稍后给你详细的日志。这个插件安装之后直接勾选启用病重新启动了设备，但是重启后仍然处于不可用的状态

[2021-09-30 08:15] dqwfgzs commented on #328
试着抓了一下开机过程中的日志，您可以看一
[20210930161143log.txt](https://github.com/Tornaco/Thanox/files/7257864/20210930161143log.txt)
下

[2021-09-30 17:11] PuerNya opened #330 "Riru bridge 看起来又坏掉了呢"
**Describe the bug（现象描述）**
alpha06 似乎会导致很多软体的 crash 例如 DVGet/Alipay

**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
1. For Alipay
打开支付宝并进入健康码
2. For DVGet
打开 DVGet 并点击 + 按钮

**Expected behavior**（期望结果）
A clear and concise description of what you expected to happen.（描述一下期望的结果）
Crash

**Screenshots**（截图）
If applicable, add screenshots to help explain your problem.（通过截图更好的解释你的问题）
None

[2021-10-01 04:17] Tornaco commented on #330
@kaniwow 你的日志无法下载？打开是空白

[2021-10-01 04:22] Tornaco commented on #328
[thanox_3.0-alpha06-3-ed99968-dirty-prc(3060130).apk.zip](https://github.com/Tornaco/Thanox/files/7264078/thanox_3.0-alpha06-3-ed99968-dirty-prc.3060130.apk.zip)

@dqwfgzs 上面的日志很有帮助。试试这个版本呢？我加了更多日志，还是需要完整adb日志。

[2021-10-01 13:40] PuerNya commented on #330
1. For Alipay
[zfb.log](https://github.com/Tornaco/Thanox/files/7267603/zfb.log)

2. For DVGet
[zfb.log](https://github.com/Tornaco/Thanox/files/7267608/zfb.log)

太长了 notems 承载不住 Orz
直接 Upload 上来了 吞拿你再看看？

[2021-10-01 15:20] Tornaco commented on #330
@kaniwow 看到了，把`/data/system/thanos/sec_data/u/0/db/start.db`这个数据库手动删了重启管用吗？看日志报了一堆数据库错误，比较奇怪。

[2021-10-01 22:43] dqwfgzs commented on #328
刚才通过Play商店更新了最新的alpha7版本，可以正常激活该插件，可用性目前仍在观察

[2021-10-01 22:43] dqwfgzs commented on #328
暂时关闭该issue，如有问题将以新的issue代之

[2021-10-01 23:20] Tornaco commented on #328
@dqwfgzs 能再抓下日志吗？上次看你的日志有些错误。

[2021-10-02 00:02] dqwfgzs commented on #328
[20211002 75903log.txt](https://github.com/Tornaco/Thanox/files/7270602/20211002.75903log.txt)
这次使用的版本是新的play商店版本：3.0-alpha07-row

[2021-10-02 01:50] dqwfgzs commented on #328
现在有个新的问题，重置了app以后又无法激活该插件了，以下是adb l
[20211002 94805log.txt](https://github.com/Tornaco/Thanox/files/7270736/20211002.94805log.txt)
og

[2021-10-03 06:55] PuerNya commented on #330
@Tornaco doesnt work

[2021-10-04 03:23] xixiha5230 commented on #311
The same

[2021-10-05 14:25] M1sterXXL commented on #311
一样

[2021-10-05 14:27] M1sterXXL opened #331 "lsp+thanox satefynet过不了"

[2021-10-06 12:51] ajdgsu opened #332 "thanox无法100%获取应用图标"
**Describe the bug（现象描述）**
如图，应用的图标只有几个被显示出来了，目前还没找到规律，可以确定的是重启不会导致不显示的应用图标显示出来，亦或者是显示的图标不显示；不显示图标的应用既有用户应用又有系统应用

**Expected behavior**（期望结果）
正常显示应用图标

**Screenshots**（截图）

![Screenshot_20211006-203501_Thanox Pro](https://user-images.githubusercontent.com/45306865/136204980-664dfa62-3a6c-41aa-8a30-4015b637038e.jpg)

![Screenshot_20211006-203744_Thanox Pro](https://user-images.githubusercontent.co

[2021-10-08 08:01] HookCode opened #333 "Thanox 3.0 alpha08 权限管理失效"
**Version（发现问题的版本）:**
（系统版本，类原生安卓10、安卓11）
（软件版本，play版 3.0a08）
lsposed版本 1.6.0 6089 已卸载lspapk

问题详情：

手机系统权限里如果允许“相机权限”
Thanox里拒绝“相机权限”

app还是可以调用相机

[2021-10-08 13:55] Tornaco commented on #333
@HookCode  給下日誌？

[2021-10-08 13:57] HookCode commented on #333
试了两台手机都这样，你那边没复现吗？
测试app  支付宝 另一个是扫码app

[2021-10-08 14:27] Tornaco commented on #333
@HookCode 複見了剛剛 👌🏻

[2021-10-08 14:31] HookCode commented on #333
哈哈哈，那就不用上傳日誌了。

[2021-10-09 07:16] Tornaco commented on #333
[thanox_3.0-alpha08-1-223e449-dirty-prc(3060132).apk.zip](https://github.com/Tornaco/Thanox/files/7315141/thanox_3.0-alpha08-1-223e449-dirty-prc.3060132.apk.zip)

@HookCode Please try this one.

[2021-10-09 12:16] StrollStars opened #334 "建议增加“返回清理”功能"
**Is your feature request related to a problem? Please describe.**
不相关

**Describe the solution you'd like**
如题，建议增加原“应用管理”中的功能“返回清理”。

**Describe alternatives you've considered**
无

**Additional context**
现在想达到类似需求，得返回后再在“最近任务列表”中划掉对应应用才行，要多做一步。

[2021-10-09 13:30] HookCode commented on #333
The problem still exists

[2021-10-09 13:41] HookCode commented on #333
After installing this beta version, the play version pro's configuration was actually cleared

[2021-10-10 00:59] Tornaco commented on #333
@HookCode 数据清除是正常的，测试版修改了数据存储路径，pro版本找不到数据路径所以配置没了。

再次确认下相机权限是否还是有问题？我自测是OK的。

[2021-10-10 01:01] Tornaco commented on #333
@HookCode 新版数据路径加了随机字母后缀，格式为/data/system/thanos_xxxxxxxxxxx 你的数据在这个路径下。

测试完成后可以手动改为thanos，这样pro就能识别了。

[2021-10-10 04:11] HookCode commented on #333
昨天断网测试的无效，现在联网测试了一下有效果

网络原因也影响测试？

[2021-10-10 05:15] siyue666 commented on #334
![Screenshot_2021-10-10-13-13-12-79](https://user-images.githubusercontent.com/87256859/136683198-d0a0350c-1f3b-4da6-aab3-a438d305e78b.jpg)
情景模式有返回杀应用

[2021-10-10 13:10] Tornaco commented on #333
@HookCode 网络不影响，说不定是错觉。

试试 https://github.com/Tornaco/Thanox/releases/tag/v3.0-alpha09  a09吧？

[2021-10-10 13:10] Tornaco commented on #330
@kaniwow 试试 https://github.com/Tornaco/Thanox/releases/tag/v3.0-alpha09 a09吧？说不定就好了。

[2021-10-10 13:11] Tornaco commented on #327
Fixed & Close

[2021-10-10 13:11] Tornaco commented on #290
Fixed & Close

[2021-10-10 13:11] #290 closed, assigned to Tornaco

[2021-10-10 13:22] HookCode commented on #333
等play版

[2021-10-10 14:28] PuerNya commented on #330
我试试（

[2021-10-10 14:51] StrollStars commented on #334
@siyue666 这个是系统自带的功能吧？看了下我的设置中没有情景模式。

[2021-10-11 04:34] HookCode commented on #333
修复了

[2021-10-12 03:37] siyue666 commented on #334
情景模式就是thanox的功能啊，你是xp激活的吗，面具激活功能好像比较少

[2021-10-12 04:59] caliban511 opened #335 "升级到MIUI12.5安卓11后，改用lsp，Thanox的这个功能失效了？"
如题，如图。
就算在lsp里把所有应用包括所有系统应用都勾上也是无效。
这是Thanox的问题？
还是lsp的问题？
还是MIUI12.5的问题？
还是安卓11的问题？

![IMG_20211012_123112](https://user-images.githubusercontent.com/13557387/136893978-a95dbe0d-17e6-4f59-bb1e-966510cae485.jpg)

[2021-10-12 10:15] raddyyt opened #336 "任务清理功能对百度网盘无效"
勾选了百度网盘以后  在最近任务里划掉百度网盘 后台依然存在

[2021-10-12 10:23] StrollStars commented on #334
@siyue666 我是Magisk+LSPosed，是我搞混了，因为以前系统本身也有个情景模式。
我试了这个功能，但是发现没有效果。

[2021-10-12 12:37] Tornaco commented on #336
Close since no logs or any detailed desc.

[2021-10-12 12:38] Tornaco commented on #335
lsp作用域勾选你要加toast图标目标app了吗？没有的话勾上试试。 @caliban511

[2021-10-12 12:40] Tornaco commented on #332
@ajdgsu 日志发下吧。

[2021-10-12 14:05] caliban511 commented on #335
感谢大佬回复，不过我几乎全部都勾选了啊，，，
你那里正常吗？如果别的系统正常，那就可能是MIUI12.5的问题？

![Screenshot_2021-10-12-22-02-59-572_com android shell](https://user-images.githubusercontent.com/13557387/136971325-dc167d18-f23a-4d13-905d-5fd0a75721aa.jpg)

[2021-10-14 01:23] dqwfgzs commented on #328
目前最新版本可以正常使用，暂时关闭该Issue