[2022-08-28 15:33] Acker17 commented on #568
双开可屏蔽包名list：

com.google.android.apps.security.securityhub
com.google.android.apps.safetyhub
com.google.android.apps.recorder
com.google.android.apps.wellbeing
com.google.android.apps.restore
com.google.audio.hearing.visualization.accessibility.scribe
com.google.android.accessibility.soundamplifier
com.google.android.projection.gearhead
com.google.android.marvin.talkback
com.oneplus.camera
com.and

[2022-08-28 15:39] Acker17 commented on #568
作者大大，双开APP基本都是微信支付宝这些常用App，系统App了不起 设置,文件,play服务,Gboard这几个维持基本服务。多的除了占内存没一点用，能否设置双开APP自由黑白名单，这就屌炸天了！

[2022-08-29 23:51] PPKunOfficial opened #576 "麻烦开发者完善一下情景模式文档"
如题，需要完善情景模式文档
目前发现文档有部分地方是有很多的缺少的，希望开发者大大可以找时间将文档写一写
也可以在一些平台上（例如酷安）发布自愿补齐thanox文档项目

[2022-08-30 01:57] Tornaco commented on #568
@SunflowerThom OK 我看下怎么弄合适。

[2022-08-30 02:34] Tornaco commented on #576
@PPKunOfficial 能说下哪部分缺少了吗？我优先把这部分补充上。

[2022-08-30 08:27] FloraLunamia commented on #568
还是先排除一下系统应用吧，都在烦这件事

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年8月30日(星期二) 上午9:57
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [Tornaco/Thanox] 双开时非自主出现多个应用 (Issue #568)

@SunflowerThom OK 我看下怎么弄合适。

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you were mentioned.Message ID: ***@*

[2022-08-30 11:27] PPKunOfficial commented on #576
可以优先补充一下thanos api部分，还有全局变量里的一些用法
比如 `thanos.activityManager` 里的用法还有 `globalValOf$value.contains()`
这些都是示例里出现的，但是文档里没有或一笔带过的

[2022-08-31 03:32] Toedcreature opened #580 "使用lsposed激活失败"
thanox版本4.06
miui版本12.5
android11
lsposed版本1.8.3
无法使用lsposed激活 我换过几个thanox版本 都没法激活 手机已经重启几遍了 依旧无法激活
而且点进程管理以及其他功能 均会闪退
![Screenshot_2022-08-31-11-29-30-992_com miui home](https://user-images.githubusercontent.com/34999663/187586591-91c0b40b-b621-420c-a4fa-57a7ce5a6305.jpg)
[logging.zip](https://github.com/Tornaco/Thanox/files/9458195/logging.zip)

[2022-09-01 13:14] Tornaco commented on #568
@QAQ3254865169 @SunflowerThom 试试这个版本

https://app.circleci.com/pipelines/github/Tornaco/Thanox/467/workflows/b7efaac2-fbf9-4b07-844f-6aae6565da65/jobs/432/artifacts

[2022-09-01 13:14] #566 closed, assigned to nobody

[2022-09-01 13:21] Tornaco commented on #580
@Toedcreature 还装其他lsp模块了吗？

[2022-09-01 13:26] Toedcreature commented on #580
我在miui11 安卓10的时候能正常激活 前天升的miui12.5 所有模块都是和之前一样的 其他模块没有问题能正常运行 就是thanox无法激活

[2022-09-01 13:45] Tornaco commented on #580
@Toedcreature 用这个版本在抓个日志，注意不要再点开发者设置中的no-root了。

https://app.circleci.com/pipelines/github/Tornaco/Thanox/467/workflows/b7efaac2-fbf9-4b07-844f-6aae6565da65/jobs/432/artifacts

[2022-09-01 13:54] Toedcreature commented on #580
@Tornaco
[logging.zip](https://github.com/Tornaco/Thanox/files/9470424/logging.zip)
依旧同样的问题 无法激活 点击功能闪退

[2022-09-01 14:12] Tornaco commented on #580
@Toedcreature 不能与X-APM同时激活。

[2022-09-01 14:13] #580 closed, assigned to nobody

[2022-09-01 21:25] michaellx1057 opened #581 "类型转换异常导致产生大量日志 ClassCastException caused massive log"
**Describe the bug（现象描述）**
A clear and concise description of what the bug is.（简洁的描述该bug的现象）

在 LSPosed 日志中发现大量类型转换异常导致的错误日志。
Massive error log about ClassCastException appears in LSPosed.

**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）

1. Go to LSPosed Manager.（进入 LSPosed 管理器）
2. Switch to "Log" tab.（切换到“日志”）
3. See error（发现错误）

`09-02 04:52:23.248  1654  1996 E LSPosed-Bridge: ja

[2022-09-01 21:37] michaellx1057 commented on #581
并没有在源码中找到与报错堆栈信息所示的同名的类，以“beforeHookedMethod”为关键词搜索找到
android\plugins\plugin_push_message_delegate_server\src\main\java\github\tornaco\android\plugin\push\message\delegate\hooks\ActivityIntentResolverRegistry.java
android\plugins\plugin_toolbox\src\main\java\github\tornaco\android\plugin\toolbox\hooks\DialogRegistry.java
这两个类，其中在 ActivityIntentResolverRegistry 第 54 行中有
`int resultCode = (int) para

[2022-09-02 01:15] Tornaco commented on #581
@michaellx1057

/system/framework/services.jar 发一下看看。

[2022-09-02 01:25] magisk317 opened #582 "升级4.0.6之后有两个异常"
**Describe the bug（现象描述）**
A clear and concise description of what the bug is.（简洁的描述该bug的现象）
问题1，开发者选项统计不到应用内存占用，只有一个Android系统
问题2，长时间后，Android系统内存泄露，必须重启解决。
**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
1. 升级4.0.6
2. 正常使用一段时间（＞12小时）

**Expected behavior**（期望结果）
A clear and concise description of what you expected to happen.（描述一下期望的结果）
一切运行正常

**Screenshots**（截图）
If applicable, add

[2022-09-02 01:34] Tornaco commented on #582
从哪个版本升上来的，这种问题我只能对比下版本之间的代码差异，如果没有可疑的点就不太好分析了。

[2022-09-02 01:35] Tornaco commented on #582
@magisk317

[2022-09-02 01:38] #551 closed, assigned to Tornaco

[2022-09-02 01:39] Tornaco commented on #572
@entr0pia OK，我再想想。

[2022-09-02 01:42] magisk317 commented on #582
抱歉，我应该分开提的

这个问题，貌似是新版本才有的，从4.0.5升级上来，之前好像是正常的，在Android 13上使用过4.0.5和4.0.6两个版本，前者貌似是正常的，升级后才遇到

这个问题，好像一直都有，但是需要时间积累，上个版本是开机使用两三天（<72h）之后遇到，这个版本目前还没遇到

[2022-09-02 01:57] Tornaco commented on #582
@magisk317 问题1，这个我看了下代码差异，这次升级主要都是一些app层面的修改，对你这个显示造成影响的可能性不大，你可以试试取消激活thanox、恢复thanox默认数据，是否可以正常显示。

问题2，我自己观察一段时间看下，之前没注意。

[2022-09-02 07:08] michaellx1057 commented on #581
@Tornaco

LOG:
(/data/system/thanos_oBsynlEqMPyKtNcR/logging)
[thanos_oBsynlEqMPyKtNcR.zip](https://github.com/Tornaco/Thanox/files/9475715/thanos_oBsynlEqMPyKtNcR.zip)

services.jar
(/system/framework/services.jar)
[services.jar.zip](https://github.com/Tornaco/Thanox/files/9475739/services.jar.zip)

FYI~

[2022-09-02 09:32] #66 closed, assigned to nobody

[2022-09-02 09:34] #95 closed, assigned to Tornaco

[2022-09-03 14:25] Tornaco commented on #581
https://app.circleci.com/pipelines/github/Tornaco/Thanox/469/workflows/ec80ac2a-68c5-4e97-8bb0-0d0beb6ec621/jobs/433/artifacts

试试这个版本呢，日志记得也再传一下。@michaellx1057

[2022-09-03 14:27] anysoft commented on #78
java.lang.Thread.sleep(500);
或者直接Thread.sleep(500);

支持java代码的

[2022-09-03 15:13] myflavor commented on #78
Thread.sleep(500);
这个是支持的

[2022-09-03 18:44] michaellx1057 commented on #581
@Tornaco

安装了如上链接里的国内版后在 LSPosed 中把 Play 版取消了勾选，并勾选了新安装的国内版，然后重启（免费试用状态，没有激活），没有再发现之前的 ClassCaseException 报错了，只有零星的两次 Adding TV input service。详细日志如下：

Thanox：
[server_logging.zip](https://github.com/Tornaco/Thanox/files/9483194/server_logging.zip)

LSPosed：
[LSPosed_2022-09-04T02_33_52.292.zip](https://github.com/Tornaco/Thanox/files/9483195/LSPosed_2022-09-04T02_33_52.292.zip)

[2022-09-04 00:36] Tornaco commented on #78
java.lang.Thread.sleep(500); 就可以。

理论上所有jdk的方法都支持。

[2022-09-04 00:39] Tornaco commented on #581
看起来正常了，tv_input日志是诊断用的，正常。

下次推play版本。

[2022-09-04 01:05] anysoft commented on #78
请问下actions和conditions脚本解析环境是一样的吗？该环境是groovy？还是其他环境？

最后请问下定时任务啥时候推出？着急尝鲜下😬

[2022-09-04 01:15] Tornaco commented on #78
@anysoft 一样，运行在Android runtime，SystemServer进程，可以访问JDK、Android SDK，framework/services.jar里的方法。

什么时候出没法确定，有时间了就写一点。

[2022-09-04 01:32] anysoft opened #583 "使用情景模式几个功能建议"
我用情景模式主要做两个自动化，
1. 解锁屏幕后判断下是否启动过QQ，每天启动一次QQ并下拉滑动刷新一下，确保QQ每天登录一次，且下拉刷新确认网络正常。

2.  钉钉特定时间段解锁屏幕判断是否打过卡？(状态存变量或者文件)，没有的话启动钉钉打卡页面先去打卡，防止忘记打卡，一般来讲打卡时间段手机都会有解锁操作就是容易忘记。😂

**Is your feature request related to a problem? Please describe.**

1. ui的接口查找能只查找返回bool不点击么？
2. 按键点击模式，希望能新增滑动功能？比如能1s内在两个点之间滑动一下。
3. 情景模式全局变量建议可以提供接口新增/修改，有时候需要存一些状态值供conditions或者actions判断，目前我是读写文件实现的，觉得不太友好，也不太合理。而且涉及到io.read不是相对路径问

[2022-09-04 03:50] steve1145114 opened #584 "「功能请求」进程管理自动刷新"
在进程管理界面以一定的时间间隔间隔自动刷新进程的RAM占用率，手动下拉是在麻烦且不实时

[2022-09-04 05:47] sun2ot opened #585 "通知栏性能模式按钮失灵"
**Describe the bug（现象描述）**
- Thanox使用Lsposed方式激活后，会导致红米K50通知栏中的`性能模式`按钮失灵

**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
1. 在Lsposed中启用Thanox模块，默认勾选`系统框架`
2. 重启手机
3. 下滑通知栏菜单，点击`性能模式`
4. 系统无反应
    - 通过`手机管家`开启性能模式后，通知栏按钮状态无变化「即不变色」
    - 不通过手机管家，直接点击`性能模式`按钮，电池图标无变化「即未开启性能模式」

**Expected behavior**（期望结果）
- 下拉通知栏，点击按钮后，能正常开启性能模式

**Screenshots**（截图）
![Screenshot_2022-09-04-10-53-52-6

[2022-09-04 10:57] anysoft commented on #78
了解了🙏
那直接java代码可以做很多事情了。

[2022-09-04 13:12] QING23qin opened #586 "息屏状态下定时任务无法执行"
**Describe the bug（现象描述）**
息屏状态下定时任务无法执行，会被推迟到亮屏执行，并以这次执行的时间为起点，隔开设定时间间隔执行下一次的情景模式。

**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
1. 设定好固定时间间隔（我设置的15分钟）
2. 写好情景模式后等待，亮屏状态下正常执行，查看情景log也正常
3. 息屏状态下等待15分钟以上，发现亮屏后才执行
4. 查看情景模式log距离上次执行超过了15分钟，并且是在检测到screen on后才会执行

**Expected behavior**（期望结果）
息屏状态下也能执行定时任务

**Screenshots**（截图）
![Screenshot_2022-09-04-20-44-25-574_github tornaco androi

[2022-09-05 01:56] Tornaco commented on #586
确实存在这个问题，已经考虑重写这部分功能了，目前用Android.X workmanager实现，有各种限制。

[2022-09-05 05:47] Tornaco commented on #585
@zhihang-yi  恢复thanox到默认数据试试，要看是不是你的配置阻止了某些系统app的启动。也可以看下后台启动的启动记录。

[2022-09-05 06:00] sun2ot commented on #585
1. 已清楚Thanox全部数据后重启，问题仍存在
2. 已确认没有冻结任何三方App或系统组件
3. 关闭Thanox后功能正常

[2022-09-05 06:46] Tornaco commented on #585
你在再点击通知栏那个按钮复现一两次，随后到lsp里保存详细日志，我有空看下，不确定能否定位到原因。

[2022-09-05 06:47] Tornaco commented on #585
@zhihang-yi

[2022-09-05 13:27] Tornaco commented on #583
问题3，可能是情景模式的文档不够完善。其实所有thanox app页面上的操作，都可以通过thanos api来实现，thanos api可以获取到负责情景模式相关操作的ProfileManager，ProfileManager可以对全局变量进行查询修改操作：

https://github.com/Tornaco/Thanox/blob/master/android/android_framework/base/src/main/java/github/tornaco/android/thanos/core/profile/ProfileManager.java

[code]

情景模式中操作举例：

[code]

[2022-09-06 13:56] anysoft commented on #583
thanks.
我觉得下次有啥想法时候可以先去看下你的声明😀
按你的说法来看，情景模式通过编程能够获得很大的权限，能做很多事情，只是需要编程下。

[2022-09-07 01:21] Tornaco commented on #583
不需要反编译，你能用的到的代码都是开源的。

[2022-09-07 12:33] #585 closed, assigned to nobody

[2022-09-07 12:34] #573 closed, assigned to nobody

[2022-09-07 12:35] Tornaco commented on #574
@wubenefit 请按照反馈模板提供必要信息。建议先用lsp日志激活。

[2022-09-07 12:35] #574 closed, assigned to nobody

[2022-09-07 12:37] Tornaco commented on #571
@GSWXXN 晚点我看下，应该是规则检验的问题。

[2022-09-07 12:37] #559 closed, assigned to nobody

[2022-09-07 12:38] Tornaco commented on #556
@diweisong 用最新版问题还在吗？才看到这个issue。

[2022-09-08 12:53] hacamer opened #587 "希望应用管理 批量禁用 组件和活动"
如题
希望在应用管理
组件和活动里面
搜索完可以批量禁用
（全都/全不）
![Screenshot_20220908-205246_Lawnchair](https://user-images.githubusercontent.com/73057402/189126671-f01add6e-f416-4617-aace-51cb81bbdbb6.png)

[2022-09-08 13:14] Tornaco commented on #587
@hacamer 试试这个  https://app.circleci.com/pipelines/github/Tornaco/Thanox/472/workflows/b3f88d3e-0549-48b4-ac57-c832686afcf6/jobs/436/artifacts

如果还没出现apk的话，稍等，构建需要20分钟。

[2022-09-08 13:46] hacamer commented on #587
@Tornaco 感谢大佬 可以正常用了

[2022-09-08 13:46] #587 closed, assigned to nobody

[2022-09-09 08:25] uniking commented on #582
确实存在内存泄漏问题, 把第三方应用全部杀死, 内存占用竟然还是接近100%, swap也没空间, 重启后的状态是系统占用30%, swap占用是0, 但我不清楚是系统问题还是thanox问题, 之前用的4.0.5, 今天刚升4.0.6.
4.0.6刚用, 内存泄漏说的是4.0.5.

[2022-09-09 14:09] Tornaco commented on #582
@uniking @magisk317  关于内存泄露的诊断，请安装以下版本（或版本号高于这个版本的apk）
https://app.circleci.com/pipelines/github/Tornaco/Thanox/474/workflows/1235f5d2-e17a-4a8d-a542-cd53815ef2ff/jobs/438/artifacts

执行下列操作dump一份prof文件用于诊断内存使用情况：
1. 进入情景模式，右上角菜单，**Action console**
2. 输入：`thanos.activityManager.dumpHeap("android")`
3. 等待下方出现结果, 结果为true或false

如果结果为true，prof文件位于：`data/system/thanos_xxx/logging/server_logging/xxxx.pr

[2022-09-10 15:43] OnlyTomInSecond commented on #582
我也遇到了内存泄漏问题，系统是 `linegeos 19.1` ，安全补丁 `2022-09-05` ，进程 `org.lineageos.settings` 会在设置中点开 `thermal profiles` 后占用飙升，退出后无法回收内存。

`dumpsys meminfo` 后发现是native heap占用十分大（200/300），在as里看具体内存占用是bitmap 占用最大，且退出时无法回收，只有等触发gc后才会被回收

可能这个有一点帮助

[2022-09-11 04:28] diweisong opened #588 "闪退和卡登录"
唤醒锁点击批量管理会导致thanox闪退应用重启，4.0.7-prc没修复，上个版本也存在。
还有就是会导致起点读书无法登陆，上个正式版本也是。
点击获取验证码，会卡在滑块这个页面一直没反应，经我多次重启测试，就是激活thanox后就有了。而且我还取消了对起点读书的各种限制，就变成了什么都没动，也是激活模块后会卡在登录页面。
MIUI版本12.5.7，A11，灭霸版本4.0.7-prc
[logging.zip](https://github.com/Tornaco/Thanox/files/9541758/logging.zip)
![IMG_20220911_122122](https://user-images.githubusercontent.com/106238637/189512462-546bb855-c519-4976-9e19-5f8ea9ee6f29.jpg)

[2022-09-11 04:33] diweisong commented on #588
![IMG_20220911_123332](https://user-images.githubusercontent.com/106238637/189512586-368ed2a0-622c-4092-893f-866aeafcb677.jpg)

[2022-09-11 15:57] OnlyTomInSecond commented on #582
还有thanox可能会让 `google camera` 发生内存泄漏，体现在退出 `google camera` 后同样无法释放内存

[2022-09-12 05:28] Tornaco commented on #588
@diweisong

1. 唤醒锁闪退请应该版本测试后：
https://app.circleci.com/pipelines/github/Tornaco/Thanox/479/workflows/6fadab96-9903-40ec-b3e0-7a0867459983/jobs/442/artifacts

抓取日志贴上来。

2. 读书app的问题，试一下恢复thanox到默认配置试试，需要排除个人配置原因。我自测正常。

[2022-09-12 05:29] Tornaco commented on #582
这个我搞不懂。跟camera有半毛钱关系。

[2022-09-12 05:30] Tornaco commented on #582
dump出来的文件麻烦发出来看下吧，thanox在android进程基本用不到bitmap。

[2022-09-12 06:06] diweisong commented on #588
我试过了呀，把起点恢复默认没有对他动手还是卡登录，lsp取消thanox模块就好了不会卡登陆，不管是权限，后台管理，PM禁用都取消了还是卡登陆
![Stitch_20220912_140441](https://user-images.githubusercontent.com/106238637/189584385-a33334af-2a08-4424-81cf-c4eec71fdbdb.png)
![IMG_20220912_140337](https://user-images.githubusercontent.com/106238637/189584409-411a8412-7214-49bf-9043-c0bbf60cf762.jpg)
![IMG_20220912_140231](https://user-images.githubusercontent.com/106238

[2022-09-12 06:08] Tornaco commented on #588
@diweisong 起点读书会检测root，需要hide一下。

目前还没有其他人反馈起点读书问题。如果恢复默认配置都不行那我也无法修复了，抱歉。

[2022-09-12 06:09] Tornaco commented on #588
@diweisong 抓个lsp详细日志吧，我尽量看看能不能找到线索。

[2022-09-12 06:10] #581 closed, assigned to nobody

[2022-09-12 06:22] diweisong commented on #588
[Download.zip](https://github.com/Tornaco/Thanox/files/9545127/Download.zip)
模块日志和详细日志。

[2022-09-12 06:24] diweisong commented on #588
在我原生安卓10的老设备上，我对它做了那么多的限制，都不会影响登录，也不会卡登录。所以我认为是MIUI和thanox的兼容性问题，只要lsp取消thanox模块激活就不会卡登录，问题是激活前和激活后都没有对起点做任何管理，就很迷

[2022-09-12 06:51] Tornaco commented on #588
晚点我看日志。情景模式有用到吗？用到了的话关闭试试。

[2022-09-12 08:17] OnlyTomInSecond commented on #582
[Log_android.zip](https://github.com/Tornaco/Thanox/files/9546032/Log.zip)

`org.lineageos.settings` 这个无法在thanox里面dump（返回false，adb貌似也不行），所以只dump了android的。这个组件开源，可以去github上找到代码。

我的意思是，不是thanox用了bitmap，是thanox可能介入 了进程内存释放的过程（也可能不是thanox，可能是lsp，或者magisk，但可能只有thanox能触发）。

[2022-09-12 08:24] Tornaco commented on #582
这次heap对应的内存占用大概是多少？

[2022-09-12 08:38] OnlyTomInSecond commented on #582
没点开 `thermal profile` 时，`org.lineageos.settings` 是 `11m` 左右（正常也是这个），点开后占用 `290-310m` （无thanox时为 `159m` ），退出设置app（这个设置选项在设置里）后仍然占用 `290m` 以上（正常为 `68m` ），且只能gc后才能释放内存。

附上 `adb shell dumpsys meminfo ` 后的结果（不能与上面对应，因为thanox dump完android后我系统软重启了，不过由于可稳定触发，可参考）：

[code]

`android` 进程由于（貌似）超过400m就会触发gc，因此无法决定其是否内存泄漏。

[2022-09-12 08:48] diweisong commented on #588
没有针对起点的情景，刚刚把情景功能关了，也是卡登录。

[2022-09-12 10:16] Tornaco commented on #588
你贴的日志里full.log都是0B，是不是把logd关了。

[2022-09-12 10:17] Tornaco commented on #588
建议还是备份下thanox数据，然后到thanox设置，数据，恢复默认。用这种方式保证是默认数据，thanox能影响app的配置项太多了。

[2022-09-12 10:19] Tornaco commented on #572
@entr0pia 试试最新4.0.7版本呢？

[2022-09-12 10:23] Tornaco commented on #564
@hanxin1997 麻烦再补充以下几个信息：
1. 小米推送是MIUI系统自带还是基于AOSP自己安装？
2. lsp详细日志（提供push测试的时间，例如：2022-09-11-下午1:32）
3.  `复现是Thanox激活后不做任何配置然后米推也不行，我激活后什么都没有打开也是不推送。` 如果不激活可以推送吗？

[2022-09-12 10:26] Tornaco commented on #558
@Magic1578 关闭情景模式---引擎----UiAutomation引擎试试呢。

[2022-09-12 12:25] entr0pia commented on #572
4.0.7可以正常杀掉应用

[2022-09-12 13:09] diweisong commented on #588
没有啊，我看了一下都打开的

[2022-09-12 13:15] diweisong commented on #588
试了一下，恢复默认重启之后就能登陆了，但是恢复备份后就又不行了。最主要的是根本没有对起点动手，太烦了

[2022-09-13 10:28] Tornaco commented on #588
你打开情景模式——右上角—ActionConsole
村长  18:15:53
依次执行这三个命令

thanox.activityManager.setBlockAllProvider("com.qidian.QDReader", false)
村长  18:16:47
thanox.activityManager.setBlockAllService("com.qidian.QDReader", false)
村长  18:16:53
thanox.activityManager.setBlockAllReceiver("com.qidian.QDReader", false)

---

后续我会增加一个UI提示在组件列表，不然可能不知道之前用的情景模式对这个应用做了干涉

[2022-09-13 10:47] diweisong commented on #588
全部已恢复。

[2022-09-13 13:11] diweisong opened #589 "再次复现唤醒锁闪退"
唤醒锁批量选择再次复现应用崩溃闪退，版本4.0.8-prc，a11，MIUI12.5.7
[logging.zip](https://github.com/Tornaco/Thanox/files/9557361/logging.zip)
[LSPosed_2022-09-13T21_03_26.414.zip](https://github.com/Tornaco/Thanox/files/9557365/LSPosed_2022-09-13T21_03_26.414.zip)
[Uploading LSPosed_2022-09-13T21_03_28.716.zip…]()
![Uploading Video_20220913_090757_561.gif…]()

[2022-09-13 13:11] diweisong commented on #589
![Video_20220913_090757_561](https://user-images.githubusercontent.com/106238637/189909985-535a5db0-f3b5-4966-841c-9a5402e713fa.gif)

[2022-09-13 15:11] AraafRoyall opened #590 "Backup/Restore App component state"
Hi developer,
please make an option to backup and restore app components per app basis .
hope you understand

[2022-09-13 15:12] #530 closed, assigned to Tornaco

[2022-09-14 10:16] simplerick-simplefun opened #591 "[功能请求]隐匿功能添加对OAID的支持。隐匿模板各项目添加随机值的支持。"
1.目前绝大部分国产app都使用OAID来跟踪用户，希望能添加对OAID的支持。
相关信息：https://mtj.baidu.com/static/userguide/book/android/oaid.html

2.由于很多国产app会强制索要用户设备信息，甚至返回的信息为空时会不工作，希望能够达成为每个套用模板的应用生成一套特定的随机设备信息的结果。这样也可以让有安全需求的应用不至于因为设备信息变化而无法进行登录等操作。
具体可以在模板的每一项添加一个“随机”选项。应用模板于某个应用时，对每个“随机”数值进行一次随机生成，之后固定不变。
这样对于不同的应用也可以套用相同的设有随机值的模板。而每一个应用都有自己的一套与别的应用不同的设备值，完美达成隐匿身份防止追踪的同时还不会影响应用的正常使用。

[2022-09-16 01:10] Mubai-meng opened #593 "[功能请求]加入wifi信号低断开连接的条件"
希望情景模式可以加入当前连接的wifi信号过低自动断开当前wifi连接的条件

[2022-09-16 01:12] 849506054 commented on #593
@Mubai-meng 现在手机不是会在连接低质量wifi的时候同时使用流量上网么

[2022-09-16 03:21] Mubai-meng commented on #593
我是想让他自动切换信号好的wifi，不要用流量

[2022-09-16 03:22] 849506054 commented on #593
@Mubai-meng

[2022-09-16 07:10] Mubai-meng commented on #593
我说的跟我的需求不一样啊，我是想wifi信号不好时自动切换到信号好的，因为我经常移动

[2022-09-16 07:12] 849506054 commented on #593
![Screenshot_20220916-112229](https://user-images.githubusercontent.com/25845909/190578554-a6011086-0cd1-42a2-b307-151731c350a9.jpg)
应该都有这个功能吧

[2022-09-16 08:36] Mubai-meng commented on #593
我的三星没有，哭😭

[2022-09-17 05:49] AraafRoyall opened #594 "No background functionality for work profile app like Island"
Hi developer please make no apps background functionality for work profile app like island

[2022-09-17 10:45] diweisong opened #595 "情景模式重启一次不生效"
在使用的手机重启一次情景模式会变成不生效，需要重启第二次才生效。
比如开启应用开启gps情景，墓碑情景之类的，重启一次会全部失效，需要重启第二次才生效，下面是两个不生效不同时期的日志
[logging情景模式不生效.zip](https://github.com/Tornaco/Thanox/files/9591471/logging.zip)
[LSPosed_2022-09-17T18_36_59.325.zip](https://github.com/Tornaco/Thanox/files/9591472/LSPosed_2022-09-17T18_36_59.325.zip)
[LSPosed_2022-09-17T18_37_02.101.zip](https://github.com/Tornaco/Thanox/files/9591473/LSPosed_2022-09-1

[2022-09-19 08:57] Acker17 opened #596 "使用灭霸双开后莫奈取色不工作了😂"
类原生AOSP12.1

xposed

双开后莫奈取色不工作，关闭双开后正常工作

🈚

🈚

日志没啥问题，是不是需要双开什么组件

[2022-09-19 08:59] Acker17 commented on #596
差点忘了 Thanox版本为play版4.0.8

[2022-09-19 09:01] Tornaco commented on #596
莫奈取色app给个链接，没玩过这个，我下来试试。

[2022-09-19 09:03] Tornaco commented on #595
[code]

修改后可以正常工作。close。

[2022-09-19 09:03] #595 closed, assigned to nobody

[2022-09-19 09:03] Tornaco commented on #594
Workring on it.

[2022-09-19 09:04] #588 closed, assigned to nobody

[2022-09-19 09:04] Tornaco commented on #588
Dup with #589

[2022-09-19 12:24] xjw1229 opened #597 "希望加入自定义su"
手机是安卓10 iqooz1
vivo的魔改内核导致su被屏蔽只能改su命令导致thanox无法被授权，部分需要su的情景模式不生效
希望能加入类似mt管理器的自定义su

[2022-09-19 12:24] xjw1229 opened #598 "希望加入自定义su"
手机是安卓10 iqooz1
vivo的魔改内核导致su被屏蔽只能改su命令导致thanox无法被授权，部分需要su的情景模式不生效
希望能加入类似mt管理器的自定义su

[2022-09-22 10:58] AraafRoyall commented on #594
Ok thanx , we are waiting.

[2022-09-23 01:04] #281 closed, assigned to Tornaco

[2022-09-23 01:05] #572 closed, assigned to nobody

[2022-09-23 01:10] entr0pia opened #599 "[FR] Android 12+ 定位权限区分"大致位置"和"确切位置""
Android 12特性: [大致位置 | Android 12 | Android Developers](https://developer.android.com/about/versions/12/approximate-location?hl=zh-cn)

[2022-09-23 05:36] Acker17 commented on #596
Android系统的没查到 https://repainter.app/ 这个是第三方的

[2022-09-23 17:02] AraafRoyall opened #600 "Need Internet Access blocker"
Hi, developer can you add an option to disable internet access for apps with power of xposed , i mean the disable permission will be set as long as we do. And without requirement of any extra background service to block internet access.
Hope you understand .

[2022-09-25 20:49] StarLeet opened #602 "情景模式 sh指令不能生效"
**Describe the bug（现象描述）**
单独开始测试用例

[code]
以下是我还尝试过的其他指令`su.exe(\"echo ps > /storage/emulated/0/a.txt\");`

**Screenshots**（截图）
![Screenshot_20220926-043707_Thanox~2.png](https://user-images.githubusercontent.com/89691566/192164919-6edec3a2-4f4b-40d4-905f-b7e6fa142192.png)

**Version（发现问题的版本）:**
 - OS: Android 12.1  Arrow
 - Version 4.0.9

补丁方式Xposed
---------

[2022-09-26 14:04] Tornaco commented on #442
后续会集成LibChecker规则。

[2022-09-28 05:25] HookCode opened #603 "功能建议 移花接木模块增加单独子开关、记录器可以排除指定软件通知"
一、
移花接木模块增加像情景模式那样的单独开关
二、
记录器可以排除/关闭指定软件的通知记录

[2022-09-28 14:10] lynnzzzzz opened #604 "进程管理里不显示内存占用(类原生安卓12 thanox4.0.9 xposed)"
**进程管理里不显示内存占用**

![微信图片_20220928215840](https://user-images.githubusercontent.com/16395199/192798788-e80533eb-f920-4b59-9c0d-9f94b4c4e9f0.jpg)

**Version（发现问题的版本）: thanox 4.0.9 xposed激活**
 - OS: crdroid 8.8 安卓12

** Logs**（日志文件）

[2022-09-28 15:14] #604 closed, assigned to nobody

[2022-09-28 15:46] 849506054 opened #605 "乖巧模式未正常跳过有通知的应用"
**Describe the bug（现象描述）**
已在乖巧模式设置中开启【跳过有通知的】，但未正常跳过有通知应用，

**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
1. 使用dvget下载文件进行测试，dvget在下载文件时会在通知栏显示一条通知展示下载进度
2. 将dvget切换到后台
3. 大约2秒左右下载进度停滞，下载进度通知消失，dvget被乖巧
4. 取消乖巧dvget可正常后台下载

**Expected behavior**（期望结果）
可以正确跳过有通知的应用

**Screenshots**（截图）
If applicable, add screenshots to help explain your problem.（通过截图更好的解释你的问题）
![Screenshot_20220928

[2022-09-29 07:25] Tornaco commented on #605
@849506054 https://app.circleci.com/pipelines/github/Tornaco/Thanox/511/workflows/f1dadb0a-3420-414f-b018-0b1268ceb9c8/jobs/471/artifacts

Test this version pls.

[2022-09-29 07:31] 849506054 commented on #605
@Tornaco 测试了几款app，都可以正常跳过了有通知的后台应用了，感谢

[2022-09-29 07:33] 849506054 commented on #605
@Tornaco 顺带也同时修复了弹幕通知不显示的问题，nice！

[2022-09-29 07:58] 849506054 opened #606 "[功能请求]乖巧模式增加开关跳过有悬浮窗的应用"
希望在乖巧模式中增加跳过正在显示悬浮窗的应用，一些视频软件在播放视频的时候可以以悬浮窗的模式显示在其他应用上层，希望乖巧模式可以对此状态进行判断，并且在乖巧模式设置中提供开关（类似于“跳过有通知的”）

不同的安卓版本可能对于此权限和功能的描述不一样，截图为安卓10
![Screenshot_20220929-155519](https://user-images.githubusercontent.com/25845909/192974026-eba619ce-9596-4db7-9190-1eea337e5aca.jpg)
![Screenshot_20220929-155720](https://user-images.githubusercontent.com/25845909/192974379-3a8eabbe-6cc6-4bc2-9c99-7c0120940bd0.jpg)

[2022-09-30 14:11] Tornaco commented on #598
Talked to you on QQ let's close this FR.

[2022-09-30 14:11] #598 closed, assigned to nobody

[2022-09-30 14:11] Tornaco commented on #597
Talked to you on QQ let's close this FR.

[2022-09-30 14:11] #597 closed, assigned to nobody

[2022-10-01 18:05] Gluneklairo opened #607 "Magisk版缺少system/framework/thanox-bridge.jar"
**Describe the bug（现象描述）**
自从4.0.9.6版本缺少system/framework/thanox-bridge.jar，Magisk模块无法使用

**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
1. 导出并刷入模块
2. 报错system/framework/thanox-bridge.jar不存在

**Expected behavior**（期望结果）
刷入并工作

**Screenshots**（截图）
If applicable, add screenshots to help explain your problem.（通过截图更好的解释你的问题）
![Screenshot_20221002-015845](https://user-images.githubusercon

[2022-10-07 06:22] #602 closed, assigned to nobody

[2022-10-07 06:23] StarLeet commented on #602
用了mt管理器的终端，发现执行也不生效。估计就是语句执行成功，但是没有生效吧。

[2022-10-08 02:58] #605 closed, assigned to nobody

[2022-10-08 03:00] Tornaco commented on #606
@849506054 麻烦进入情景模式，右上角，action console输入如下代码执行，看下有悬浮窗和无悬浮窗的情况下，结果是否一样

[code]

如果结果不一样的话，下个版本我会增加这个设置项。

[2022-10-08 03:08] 849506054 commented on #606
![Screenshot_20221008-110533](https://user-images.githubusercontent.com/25845909/194685171-8ca257b0-702a-4437-ae75-4f10acb0adf7.jpg)
![Screenshot_20221008-110525](https://user-images.githubusercontent.com/25845909/194685174-dc4b6e96-4780-43d8-a803-8a80d284c49e.jpg)

有无悬浮窗都是false，测试应用为哔哩哔哩7.0

[2022-10-09 04:44] Acker17 opened #608 "【功能建议】情景模式也对双开应用生效"
这个功能针对最大的毒瘤微信！主微信可以通过情景模式裁剪到几百M，但是双开微信还是我行我素1个多G，看着非常难受，建议作者大大调整下🙏🙏🙏

[2022-10-09 05:52] Tornaco commented on #608
@SunflowerThom 你用的哪个情景模式，代码发一下。

[2022-10-09 05:53] Tornaco commented on #606
@849506054 OK 那可能要多花些时间搞了。

[2022-10-09 05:54] Acker17 commented on #608
[
{
"name": "后台瘦身",
"description": "销毁除变量外的所有子进程，可搭配乖巧模式一起使用。需要两个全局变量[pkgNameForTrim | 作用的包名] [noTrimProcess | 需要保留的进程名(从内存管理处直接添加即可)]",
"priority": 1,
"condition": "frontPkgChanged || batteryChanged",
"actions": [
"if(thanos.getProfileManager().isGlobalRuleVarByNameExists(\"pkgNameForTrim\")&&thanos.getProfileManager().isGlobalRuleVarByNameExists(\"noTrimProcess\")){if(globalVarOf$pkgNameForTrim.

[2022-10-09 05:55] Acker17 commented on #608
by CoolApk 诗里沧海怨怼

[2022-10-09 05:57] Tornaco commented on #606
[code]

你再用这个执行一下呢。

[2022-10-09 05:59] 849506054 commented on #606
有区别了，无悬浮窗口false，有悬浮窗口true
![Screenshot_20221009-135843](https://user-images.githubusercontent.com/25845909/194740592-f34ce6f1-fd32-40ec-acfb-bef6eee4b4ff.jpg)
![Screenshot_20221009-135900](https://user-images.githubusercontent.com/25845909/194740597-c80bf2a8-3451-4933-8efa-21f4f75d6cf4.jpg)

[2022-10-09 08:57] Tornaco commented on #606
https://app.circleci.com/pipelines/github/Tornaco/Thanox/520/workflows/9c55e575-bb39-42b9-bc84-0e53cd88d0be/jobs/473/artifacts

@849506054 加了开关，测试下？

[2022-10-09 09:03] 849506054 commented on #606
测试完毕，测试了几款app都达到预期效果了
打开开关可以正常跳过有悬浮窗的应用，关闭开关也可以正常处理有悬浮窗的应用
感谢老大！

[2022-10-10 02:39] Tornaco commented on #606
OK Nice.

[2022-10-10 16:19] recycle007 commented on #553
我用了在线情景模式的forceidle，只要打开关闭后台运行的app开关就会自动打开

[2022-10-11 01:22] NewBody-LC opened #609 "更新到4.0.6以上，重启激活会卡死"
[logging.zip](https://github.com/Tornaco/Thanox/files/9750166/logging.zip)
日志时间为10月5号，更新最新的V4.1.0抓取的

[2022-10-11 13:02] Tornaco commented on #609
@NewBody-LC 再抓个lsp日志吧

[2022-10-11 15:58] #607 closed, assigned to nobody

[2022-10-12 01:00] NewBody-LC commented on #609
LSP日志被我关了，是要更新后和更新前一起的吗？我找个时间搞一下

[2022-10-13 03:14] countrysideboy commented on #553
墓碑是基于后台保持的进程冻结状态，如果不允许后台留存，那么墓碑就失去意义了。因此，我在脚本里做了配置，只要打开墓碑，则允许后台运行

[2022-10-14 01:44] Tornaco commented on #609
更新后的就可以，重启问题出现后，再次开机抓以下。

[2022-10-14 14:54] player5201314 opened #610 "面具方法刷入灭霸(所有版本），进不了系统桌面"
机型k30s 安卓12 los

[2022-10-14 14:58] player5201314 opened #611 "lsp载入灭霸，导致失去浏览器功能"
最新前3版本，lsp刷入灭霸，导致没有webview运行，关闭lsp和灭霸没效果，需要重刷系统，没在继续刷新一些的版本
安卓12 los19.1  k30s

[2022-10-15 09:14] Web-Cooler commented on #608
我也是微信双开用户 今天还想着呢 情景模式用的保活 是不是把双开也给保活了 我的想法跟提议者相反，我是不想让他运用于双开上 双开我一般会智能冻结

[2022-10-15 09:18] Web-Cooler opened #612 "【功能请求】情景模式能实现屏幕方向控制"
看了指南没有找到情景模式能控制屏幕方向的动作，请求作者大大出个动作

[2022-10-16 09:56] xuchaoxin1375 opened #613 "add `'` charactor in the profile json picker board;(with the single quotation mark,the inner string no longer need escap(like this\")"
- this is my suggestion:
add `'` charactor in the profile json picker board;(with the single quotation mark,the inner string no longer need escap(like this\")

[2022-10-17 02:38] recycle007 opened #614 "app休眠后再切换到前台解除休眠不及时"
最新版thanox，一加安卓10，目标app哔哩哔哩，在返回退出哔哩哔哩进入休眠状态一会儿后再打开，随机会出现无网络首页空白或者加载很慢才加载出视频的情况

[2022-10-20 01:48] Tornaco commented on #614
@recycle007 没明白你用的什么功能？麻烦按照反馈提示提供一下截图，日志。

暂时关闭，请提供必要信息后open该issue。

[2022-10-20 01:48] #614 closed, assigned to nobody

[2022-10-20 01:50] Tornaco commented on #611
关闭thanox后如果还有问题的话，那就不是thanox的问题了，你是不是禁用了什么系统组件，或者导入了其他人的备份？

暂时关闭，请提供必要信息后open该issue。

[2022-10-20 01:50] #611 closed, assigned to nobody

[2022-10-20 01:51] Tornaco commented on #610
magisk处于实验阶段，此为已知问题。

[2022-10-20 01:51] #610 closed, assigned to nobody

[2022-10-20 01:51] Tornaco commented on #609
暂时关闭，请提供必要信息后open该issue。

[2022-10-20 01:52] #606 closed, assigned to nobody

[2022-10-20 01:53] Tornaco commented on #613
@xuchaoxin1375 Pls provide some screenshot and some example?

[2022-10-20 02:07] xuchaoxin1375 commented on #613
- 我是指,在下面的小键盘上加上一个单引号,这样打印字符串就比较方便,再加一个加号也是极好的,这比输入法上输入方便- 如果能在加个撤销(比如将代码片段粘贴错地方,可以像电脑的ctrl+z撤销掉刚才的操作

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年10月20日(星期四) 上午9:53
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [Tornaco/Thanox] add `&#39;` charactor in the profile json picker board;(with the single quotation mark,the inner string no

[2022-10-20 02:51] recycle007 commented on #614
乖巧模式设置里打开休眠应用选项，会随机出现这种现象

[2022-10-20 03:10] Tornaco commented on #612
https://app.circleci.com/pipelines/github/Tornaco/Thanox/531/workflows/b922e1ac-b843-479e-abaa-008f6423680b/jobs/483/artifacts

[code]

@Web-Cooler 试下行不。

[2022-10-20 09:21] NewBody-LC commented on #609
[LSPosed_2022-10-20T16_30_13.012.zip](https://github.com/Tornaco/Thanox/files/9828289/LSPosed_2022-10-20T16_30_13.012.zip)
@Tornaco
现在的情况是：我中午更新到4.1.1了，今天重启，但是没卡死，使用也挺流畅的，但是我睡个午觉起来，又开始死机了，后面还触发了自动救砖，
然后下午我删除了自动救砖模块，重新试了一下，偶尔会死机，偶尔又很流畅，我现在回退到4.0.6就没出现过死机的问题

[2022-10-20 10:08] Tornaco commented on #609
OK @NewBody-LC 回头看下你的日志，粗略看了下确实有系统失去响应的记录。

[2022-10-20 17:26] Gluneklairo opened #615 "Magisk版弹出指纹认证时软重启"
**Describe the bug（现象描述）**
Magisk版激活后，任何app将要弹出指纹认证界面时软重启

**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
1. 打开任何弹出指纹认证的界面如Telegram密码锁
2. 软重启

**Expected behavior**（期望结果）
正常弹出指纹认证界面

**Screenshots**（截图）
无

**Version（发现问题的版本）:**
 - OS: Android 13
 - Version v4.1.1-9-48e0184-row

**Additional context**（其他信息）
稳定复现且已知多人存在此问题，LSP 激活无问题

** Logs**（日志文件）
软重启的log不知道怎么抓…

---------

[2022-10-21 05:27] Web-Cooler commented on #612
貌似不行，我是直接在示例代码中替换测试的😅
[
  {
    "name": "竖屏",
    "description": "打开微信时，打开蓝牙（仅做示例，请自行优化）",
    "priority": 2,
    "condition": "frontPkgChanged == true && to == \"air.com.adobe.pstouchphone\"",
    "actions": [
      "ui.requestScreenOrientation(2)"
    ]
  }
]

[2022-10-21 05:34] Tornaco commented on #612
@Web-Cooler 不行是啥意思，最好说下你的期望结果和实际结果。

看了你的代码，你想要横屏还是竖屏？2是自动。

[2022-10-21 05:37] Web-Cooler commented on #612
我想要强制竖屏，代码里面的1，2，3我都试了，没办法完成目标应用强制横屏，目标软件（PS Touch)不受系统屏幕方向锁定控制

[2022-10-21 05:40] Web-Cooler commented on #612
之前scene情景模式有个方向控制功能可以实现，但上手thanox后 就不想用了，所以想请求作者帮忙实现一下，scene能实现，我感觉问题也不大😘😘😘

[2022-10-21 05:40] Tornaco commented on #612
@Web-Cooler 横屏是0，上面注释里写了。

如果0也不行，你打开情景模式--右上角--日志，开关打开，抓个日志给我，data/system/thanos下的日志都发下。

[2022-10-21 05:41] Tornaco commented on #609
@NewBody-LC 看日志大概率定位到问题了，你可以试试这个版本：

https://app.circleci.com/pipelines/github/Tornaco/Thanox/533/workflows/e546157c-24f3-44f6-9885-68d32c5c32cb/jobs/485/artifacts

[2022-10-21 05:44] Tornaco commented on #612
或者用su也行

0           # Protrait
1           # Landscape
2           # Protrait Reversed
3           # Landscape Reversed

[code]

[2022-10-21 05:45] Web-Cooler commented on #612
https://wwm.lanzouv.com/iq3ln0ealf9a

[2022-10-21 05:50] Tornaco commented on #612
@Web-Cooler 日志里确实报错了，你是不是没更新我上面链接里的apk。。。如果没更新的话要更新下，或者不更新可以用上面的su命令。

[2022-10-21 05:59] Web-Cooler commented on #612
就这样尝试的对任何APP都不生效，Thanox版本4.1.1
你给的
su.exe("settings put system user_rotation 3")
不会用[尴尬]

[
  {
    "name": "强制竖屏",
    "description": "指定竖屏运行",
    "priority": 2,
    "condition": "frontPkgChanged == true && to == \"com.miui.gallery\"",
    "actions": [
      "ui.requestScreenOrientation(0) "
    ]
  }
]

[2022-10-21 06:06] Tornaco commented on #612
@Web-Cooler  https://app.circleci.com/pipelines/github/Tornaco/Thanox/531/workflows/b922e1ac-b843-479e-abaa-008f6423680b/jobs/483/artifacts   用这个apk啊

[2022-10-21 06:09] Tornaco commented on #612
[code]

[2022-10-21 06:12] NewBody-LC commented on #609
OK，我试试

[2022-10-21 06:12] Web-Cooler commented on #612
![Screenshot_2022-10-21-14-11-57-068_github.tornaco.android.thanos.jpg](https://user-images.githubusercontent.com/83525153/197125073-902cb0e7-9cad-4b5b-819b-f8c80335b134.jpg)

[2022-10-21 06:14] Tornaco commented on #612
@Web-Cooler 引号中的引号需要加右斜杠转义

[code]

[2022-10-21 06:14] Tornaco commented on #612
建议看下已有的示例。

[2022-10-21 06:20] Web-Cooler commented on #612
我下去再瞅瞅示例 但这个还没解决问题
![Screenshot_2022-10-21-14-20-09-618_github.tornaco.android.thanos.png](https://user-images.githubusercontent.com/83525153/197126385-27aa30c4-55fe-4733-93b6-1030554a143a.png)
log
https://wwm.lanzouv.com/ikvqQ0eanqxc

[2022-10-21 06:25] Tornaco commented on #612
@Web-Cooler su 引擎开启了吗？

[2022-10-21 06:26] Web-Cooler commented on #612
![Screenshot_2022-10-21-14-26-22-184_github.tornaco.android.thanos.jpg](https://user-images.githubusercontent.com/83525153/197127536-22275424-4a8c-4133-889d-cc5cbd80d2ab.jpg)

[2022-10-21 06:29] Web-Cooler commented on #612
https://wwm.lanzouv.com/iCMMT0eaoash

[2022-10-21 06:40] Tornaco commented on #612
@Web-Cooler 我上传了一个在线情景，你打开情景模式右上角，在线情景，导入试试。

还有，我一开是给你的链接里的apk你更新了吗？这个apk是测试版，可以支持`ui.requestOri....`这个操作。

[2022-10-21 06:48] Web-Cooler commented on #612
还是不行，拿常规的相册做了测试
![Screenshot_2022-10-21-14-47-18-391_github.tornaco.android.thanos.png](https://user-images.githubusercontent.com/83525153/197131030-8a4bbb39-6abf-4076-a04e-7d7177db4b0d.png)![Screenshot_2022-10-21-14-47-26-809_github.tornaco.android.thanos.png](https://user-images.githubusercontent.com/83525153/197131059-5e3b22b0-e04b-4ded-bc88-4d950a96e9db.png)![Screenshot_2022-10-21-14-47-34-814

[2022-10-21 06:56] Tornaco commented on #612
@Web-Cooler 把action换成 ui.requestScreenOrientation(0) 试试呢？

如果都不行，再把/sdcard/Android/data/github.tor..../logging下的日志发我

[2022-10-21 07:00] Tornaco commented on #612
目前看有可能是你的su命令没执行成功，可以打开右上角Action Console，输入 `su.exe("settings put system user_rotation 1")
` 然后点击右上角的执行按钮，测试下su是否正常工作：

![Screenshot_1666335514](https://user-images.githubusercontent.com/23255526/197132982-0f041501-bd05-4979-833c-1d594307566e.png)

[2022-10-21 07:00] Web-Cooler commented on #612
换回ui.requestScreenOrientation(0)屏幕方向可以受控制了，反对我那大哥（pstouch）软件不管用

[2022-10-21 07:02] Web-Cooler commented on #612
![Screenshot_2022-10-21-15-01-55-382_github.tornaco.android.thanos.png](https://user-images.githubusercontent.com/83525153/197133390-59ad2aac-6fba-477a-a0f2-7e10f3713922.png)

[2022-10-21 07:05] Tornaco commented on #612
@Web-Cooler 用了`ui.requestScr...`现在PS Touch还是不行吗？理论上只要不是悬浮窗都能受控。如果不行的话，你把/data/system/thanos/xxx 下的日志再发我看下。

[2022-10-21 07:09] Web-Cooler commented on #612
对 Pstouch 之前用过好几个屏幕方向控制都不行，但scene可以强制竖屏
log3
https://wwm.lanzouv.com/ilCeS0earg3g

[2022-10-21 07:30] Tornaco commented on #612
@Web-Cooler PS Touch app 下载链接发下我试试

[2022-10-21 07:33] Web-Cooler commented on #612
https://wwm.lanzouv.com/itkcA0eatu5e Android12

[2022-10-21 07:42] NewBody-LC commented on #609
目前成功激活，没有什么问题，具体使用情况得用两天才知道。到时候有问题，我在反馈
@Tornaco

[2022-10-21 08:19] Tornaco commented on #612
我试了下这个应用，用下面这个模式是可以横屏的。不过这个应用比较古老，转不流畅。

[code]

[2022-10-21 08:31] Web-Cooler commented on #612
那就再不做测试了 这个软件好像都是爱好者们从An4.4维护上来的 也很正常 谢谢作者了

[2022-10-26 00:23] funianshengsheng opened #616 "更新后提示不兼容"
thanox版本:4.1.1-22-fd16024-row
系统:Android9
日志文件:https://mczka.lanzouv.com/i7Vzi0ekflsj

[2022-10-27 06:59] Tornaco commented on #616
@funianshengsheng 又推了新版，麻烦再观察下。

[2022-10-27 07:03] funianshengsheng commented on #616
新版不提示了，爱了大大

[2022-10-27 07:04] Tornaco commented on #616
好的感谢。

[2022-10-27 07:04] #616 closed, assigned to nobody

[2022-10-27 07:43] zhengzavan opened #617 "设置多开后开机进入恢复模式"
**Describe the bug（现象描述）**
A clear and concise description of what the bug is.（简洁的描述该bug的现象）

**To Reproduce**（如何复现）
Steps to reproduce the behavior:（复现步骤）
1. Go to '...'（进入XXX）
2. Click on '....'（点击XXX）
3. Scroll down to '....'（下滑到XXX）
4. See error（发现错误XXX）

**Expected behavior**（期望结果）
A clear and concise description of what you expected to happen.（描述一下期望的结果）

**Screenshots**（截图）
If applicable, a

[2022-11-01 04:36] diweisong opened #618 "锁屏清理延时偶发性不生效"
锁屏清理延时偶发性不生效， QQ锁定之后好像有几次没杀掉前台，已经打开了开关。4.11最新版 安卓11 MIUI12.5.7
[LSPosed_2022-11-01T08_35_38.727.zip](https://github.com/Tornaco/Thanox/files/9906863/LSPosed_2022-11-01T08_35_38.727.zip)
[LSPosed_2022-11-01T08_35_35.027.zip](https://github.com/Tornaco/Thanox/files/9906865/LSPosed_2022-11-01T08_35_35.027.zip)
[logging.zip](https://github.com/Tornaco/Thanox/files/9906866/logging.zip)

[2022-11-03 01:43] Chameng opened #619 "唤醒锁闪退"
![Screenshot_2022-11-03-09-34-02-143_com android settings](https://user-images.githubusercontent.com/89916476/199632652-7f0875b6-a1fc-4433-bbc5-77b1b89a8261.jpg)

[2022-11-04 01:20] Tornaco commented on #619
@Chameng  这个问题有其他人也报过，还没分析出原因，我先标记下，找时间一起看。

[2022-11-04 01:23] Chameng commented on #619
收到

[2022-11-04 01:23] #619 closed, assigned to Tornaco

[2022-11-08 14:34] PoseidonWake commented on #285
请问自启动权限是在打开后台启动吗？我开了后台启动，fcm日志里显示successful broadcast，应用也在出现在缓存里了，但是通知栏没消息

[2022-11-10 11:56] PoseidonWake commented on #571
请问这个问题修复了嘛

[2022-11-13 02:36] PoseidonWake commented on #479
请问你最终找到问题源头了吗？我这也出现了这个现象，像是随机出现，但确实是在装了thanox后才发生的，而我并未对Gboard做任何配置。
刚发现输入法振动失效后微信发语音消息也录不进去

[2022-11-13 14:09] StarLeet opened #620 "开放检测正在播放音频的接口"
![Screenshot_20221113-133109_Thanox~2.png](https://user-images.githubusercontent.com/89691566/201526075-31167487-8acc-4e24-be21-7d2bde03508a.png)

可以将图示功能的判断接口抽象开放出来吗？很多情况要在情景模式里用到这个接口

[2022-11-13 17:23] ZMEMORY opened #621 "开机后一段时间后会导致无法录音"
**（现象描述）**
开机后一段时间后会导致无法录音

开机一段时间后(不确定多久，不规律)微信，qq，输入法等除了正常打电话之外都不能用麦克风录音，有时候还会提示录音权限丢失
（简洁的描述该bug的现象）

我开机后就会这样，我也不知道如何算复现（如何复现）
Steps to reproduce the behavior:（复现步骤）
1. Go to '...'（进入XXX）
2. Click on '....'（点击XXX）
3. Scroll down to '....'（下滑到XXX）
4. See error（发现错误XXX）

**Expected behavior**（期望结果）
A clear and concise description of what you expected to happen.（描述一下期望的结果）

**Screenshots**（截图）
If

[2022-11-13 17:44] ZMEMORY commented on #621
对了，我没有开乖巧和情景模式，只用来做后台管理

[2022-11-13 17:45] ZMEMORY commented on #621
不激活thanox的情况下，我目前的使用习惯里没出现过类似的现象(我手机基本一天会重启一次)

[2022-11-15 04:48] xuchaoxin1375 commented on #576
文档完善程度确实不太够

[2022-11-17 16:29] n374 opened #622 "求问对于PM suspend的应用如何通过命令行resume"
Hi, 我当前使用LMT Launcher来运行`am start`命令快速打开支付宝的扫码页面，在使用thanox将支付宝Freeze(PM suspend)后，`am start`会有"Action not allowed. If you have questions, contact your IT admin"报错
![telegram-cloud-photo-size-1-5742344092360222653-y](https://user-images.githubusercontent.com/4954114/202493033-6db2ba08-f4ac-4868-9e27-eb8c56921e50.jpg)
推测是因为当前应用处于suspend状态中无法直接`am start`，所以尝试在`am start`前用`pm unsuspend`命令先恢复

使用root用户

[2022-11-18 07:49] Tornaco commented on #622
@n374 原因未知，猜测可能跟调用方身份有关，我会暴露一个解冻的shell命令，直接用shell命令调用thanox解冻应该可以解决这类问题。

[2022-11-20 11:38] n374 commented on #622
我今天把系统刷成了基于Android 13的EvolutionX 7.3，同时从Magisk Zygisk模式切换到了LSPosed，随后发现`am start`不再需要`pm unsuspend`就能正常执行了🤡，不确定之前的现象是Android版本的问题还是OOS有调整过什么

[2022-11-21 01:51] Tornaco commented on #622
如果需要的话，可以使用下面的命令解冻：
`adb shell dumpsys tv_input unfreeze [pkg name] [userId]`

举例：
`adb shell dumpsys tv_input unfreeze com.tencent.mm 0`

[2022-11-21 01:51] #622 closed, assigned to nobody

[2022-11-21 01:52] Tornaco commented on #620
`thanos.audioManager.hasAudioFocus("com.tencent.mm")`

[2022-11-21 01:53] Tornaco commented on #620
https://github.com/Tornaco/Thanox/blob/master/android/android_framework/base/src/main/java/github/tornaco/android/thanos/core/audio/AudioManager.java

[2022-11-21 04:15] StarLeet commented on #620
了解到了。

[2022-11-21 04:16] #620 closed, assigned to nobody

[2022-11-21 16:43] PoseidonWake commented on #415
喵喵喵

[2022-11-22 06:43] Tornaco commented on #617
@zhengzavan  https://output.circle-artifacts.com/output/job/79c04c4e-666c-4da7-8d41-0e6924037357/artifacts/0/android/out/app/outputs/apk/prc/release/thanox_4.1.2-2-e8510df-prc%283070481%29.apk

试试这个，注意，更新后先重启，再双开。

[2022-11-23 04:55] zzkeier commented on #615
@Tornaco 使用4.1.2 面临同样的问题，附logcat：https://pastebin.mozilla.org/vZvqFcAJ

[2022-11-23 05:42] Tornaco commented on #615
@zzkeier 先mark下错误  : *** FATAL EXCEPTION IN SYSTEM PROCESS: main
11-23 12:47:36.256 E/AndroidRuntime(21168): java.lang.RuntimeException: Not implemented. Must override in a subclass.
11-23 12:47:36.256 E/AndroidRuntime(21168):  at android.content.Context.getAssociatedDisplayId(Context.java:7115)
11-23 12:47:36.256 E/AndroidRuntime(21168):  at com.android.server.biometrics.PreAuthInfo.create(PreAut

[2022-11-25 02:33] ziyou2 opened #623 "语法错误...."
[code]

_Originally posted by @myflavor in https://github.com/Tornaco/Thanox/issues/455#issuecomment-1147050021_

[2022-11-26 10:51] PoseidonWake commented on #621
我也是，之前出现过一次微信无法录音的现象，提示没权限，重启好了，不过之后似乎再没复现过，但我这儿用一段时间必然会出现输入法振动失效的问题，这个时间看起来是随机的，有时候刚开机，有时是好几天，而我对输入法没做任何配置，情景模式里也没有任何涉及输入法的配置

[2022-11-26 21:47] user1121114685 opened #624 "tiktok使用 thanox 教程"
1,伪装你的Sim卡信息，你也可以直接关闭Sim卡读取权限
2.关闭tiktok激活VPN权限，居然是靠判断有无VPN来识别是否大陆用户。
![Screenshot_2022-11-27-05-42-00-608_github tornaco android thanos pro](https://user-images.githubusercontent.com/28774851/204110122-2099f32e-c0e8-44ce-a286-247ac452193a.jpg)

牛了个逼，为了不让中国人看费尽了苦心。

[2022-11-26 21:55] user1121114685 commented on #624
![Screenshot_2022-11-27-05-55-07-853-edit_github tornaco android thanos pro](https://user-images.githubusercontent.com/28774851/204110368-6b59adb9-9493-4871-8b34-8ed5cb4861ac.jpg)
sim卡伪装信息

[2022-11-26 23:14] user1121114685 commented on #624
代理域名信息

`tiktokv.com,tiktokcdn.com,tiktokcdn-us.com,isnssdk.com,appsflyer.com,byteoversea.com`

[2022-11-28 09:25] aidenmx opened #625 "[功能请求] 希望情景模式能加入"充电状态变化"条件"
目前下面的指令会在未充电的时候不停的被调用, 和预期的行为不符.

[code]